[2020-04-09 16:29] cwhitten commented on #2097
The R9 commitment was addressed. We'll close this and tackle the larger effort in a separate work item.

[2020-04-09 16:29] #2097 closed

[2020-04-09 20:46] statickx666 opened #2128 "Can't sign in to Azure"
When trying to sign in to Azure, the login window just appears, says Page not found, automatically closes and then the error message of Something went wrong appears.

![image](https://user-images.githubusercontent.com/31363842/78933238-9ef3f200-7a6e-11ea-96cc-07b675ce1e26.png)

[2020-04-10 23:42] dmvtech commented on #2128
Can you try selecting 'clear state' from the `File` menu and then trying again please?

[2020-04-11 01:30] statickx666 commented on #2128
I did the clear state, at first it loaded the sign in screen correctly, once i finished entering my credentials y crashed and sent me to the Something went wrong screen.

[2020-04-13 16:21] tonyanziano commented on #2128
Can you try using a network traffic sniffer, [like Fiddler](https://www.telerik.com/download/fiddler), to capture network traffic while trying to sign in? Then we might be able to see at what point in the auth flow something is failing.

[2020-04-13 18:10] axelsrz commented on #2123
Closing due to inactivity

[2020-04-13 18:10] #2123 closed

[2020-04-14 14:31] jbeltranluna commented on #1821
Hello, any update on this? Or at least, how can we change the account that is signed-in? Once you access with an account you cannot switch to another one

Thank you!

[2020-04-14 16:10] tonyanziano commented on #1821
Hi @jbeltranluna ,

The "Clear state" menu item is currently the only workaround for this issue at the moment.

[2020-04-15 11:16] manutero commented on #414
I've ended up here with exactly the same problem. Sad to see this was just discarded

[2020-04-16 10:21] JeganBas opened #2130 "Clicking "Sign In" on an OAuth Card opens the file explorer"
In the recent version 4.8.1 of Emulator,
I'm running the Authentication sample Bot, in that while Signing in , the emulator is not redirecting to a browser window to generate the token, instead it is opening the explorer window.

Is there any fix or workaround for this issue.

because of this issue I'm unable to debug my project, also this issue is not there in the previous version,

[2020-04-16 18:09] axelsrz commented on #2130
Hey @dmvtech could you take a look at this one? Thanks

[2020-04-16 18:14] dmvtech commented on #2130
@JeganBas If not already done, can you confirm this reproduces after selecting `Clear state` from the `File` menu?

If so, can you please grab a fiddler trace. You can send to me at v-danava@microsoft.com

[2020-04-16 21:55] tonyanziano commented on #414
Hi @manutero ,

I'm sorry that you are not satisfied with the state of this issue.

It is very difficult for us to ensure that the Emulator works for every possible network configuration that our users may be behind especially when including unknowns like corporate firewalls and proxies.

We have logic in the Emulator that checks the `HTTPS_PROXY` and `NO_PROXY` environment variables before sendin

[2020-04-17 17:14] carlosscastro commented on #1940
Given priorities on composer and dependencies on emulator being aware about skills, seems like we'll tackle this one in R10.

[2020-04-17 19:57] gustavoalv commented on #2120
So it mean I can not work with Bot Emulator on Mac?

[2020-04-17 20:22] srinaath commented on #2120
@gustavoalv We can work with Bot Emulator on Mac. It just has to be tagged as safe to open in the "Security and Privacy" section like this. The first time you open Emulator it would have queued up this warning in the Privacy section. Once marked safe you can continue using and you wont be prompted in the future.

![SecurityAndPrivacy](https://user-images.githubusercontent.com/13004779/79610913-4c3

[2020-04-20 06:23] JeganBas commented on #2130
Even after clearing the state it's the same results,  the emulator keep opening the explorer window instead of browser while signing in.  I'm unable to use fiddler here. Suggest me a different solution please

[2020-04-20 14:12] marvoh opened #2131 "Getting 401 error after deployment and swapping to production version"
Hi,

I don't understand whether is is a token renewal issue or something else.

All channels return 401 issue after swapping deployment slots.

Any pointers would be appreciated

[2020-04-20 14:37] statickx666 commented on #2128
Hi, sorry for the late response. I tried ussing fiddler as you asked, when i tried to sign in, it tunneled to aadcdn.msftauth.net:443, then after setting user/pass, it redirected to autologon.microsoftazuread-sso.com/443, and instantly sent the error message again.

![image](https://user-images.githubusercontent.com/31363842/79764108-885d5e80-82ea-11ea-9d5d-f6159f1e16e1.png)

[2020-04-20 23:43] cwhitten commented on #1646
@MJ422 we're going to close this as "working as designed". Accessibility requirements don't allow us to short circuit expected focus behavior when interacting with actionable buttons.

[2020-04-20 23:43] #1646 closed

[2020-04-21 17:38] q00u commented on #1986
Sorry for slow reply, I'm only just now getting back to MS Bot Framework projects at work.

So, new work computer, fresh download of 4.8.1, and...

It still doesn't remember me when I re-open the Bot Framework Emulator. :-(

[2020-04-21 18:23] anusharavindrar commented on #2131
@marvoh can you please elaborate on the steps(if possible with screenshots) so that I can repro on my end? Was the bot working as expected before swapping to production version?

[2020-04-22 02:49] dmvtech commented on #2130
I am able to reproduce. To clarify; it is opening File Explorer (explorer.exe).

[2020-04-22 02:55] dmvtech commented on #2130
Looks like a regression #1397

@tonyanziano

[2020-04-22 08:42] JeganBas commented on #2130
@dmvtech  yes  , its opening the File explorer only, what could be the fix for this ?

[2020-04-22 16:19] tonyanziano commented on #2130
Thanks for looking into this @dmvtech .

I'll dig around a bit once I get an auth sample working. It's possible that something changed inside Web Chat and that's the cause, but that's just a hunch at the moment.

[2020-04-22 16:20] tonyanziano commented on #2128
@statickx666 in your fiddler trace did you see a request that returned the 404 you are seeing in the sign-in dialog?

[2020-04-22 16:35] statickx666 commented on #2128
No, just 443, then the crash, actually the window with the 404 no longer appears, it lasted for less than a second before, but now it goes straight to the error window.
The crash always happens after the Stay signed in option. I will try with a different account.

[2020-04-22 21:43] tonyanziano commented on #2130
I tried to reproduce it, but I can't on my end 🤔

![image](https://user-images.githubusercontent.com/3452012/80036805-4e858700-84a7-11ea-94b7-8d48526be5c9.png)

This is on v4.8.1.

@JeganBas if you downgrade to a previous version, like 4.8.0 or 4.7, do you still experience this issue? If we could narrow it down to a certain version then we can look at the delta in the past commits and see if there

[2020-04-23 04:17] clue2 opened #2132 "Command line switch - Silent install for all users"
Deploying Bot Framework Emulator using the command line install switch /S installs silently to a users profile.
Running the installer manually allows an option to install for all users (to Program Files X86), and set the install location.
It would be good if you could choose a silent install for all users via a command line switch.

[2020-04-23 10:18] benedikt-mayer commented on #1667
This is still an issue with Version 4.8.0 --> 4.8.1
I get a similar behaviour as in #2096, only for me after this step:
![image](https://user-images.githubusercontent.com/42207135/80087899-0ffdd400-855c-11ea-90c0-9f88f1470bb8.png)
closing / reopening, clicking on Check for updates --> Updates downloading --> notification, clicking Restart this pops up:
![image](https://user-images.githubuserconten

[2020-04-23 16:30] tonyanziano commented on #2132
Hi @clue2 ,

Just to clarify:

- You are saying that running the `BotFramework-Emulator-windows-setup.exe` from the command line with the added switch `/S` will silently install the Emulator for the current user
- You would like the ability to add a second switch that would silently install the Emulator but for all users on the user's machine

[2020-04-23 22:25] clue2 commented on #2132
Hi @tonyanziano ,

That is correct

[2020-04-24 17:41] tonyanziano commented on #2132
Hey @clue2 ,

This is not something we plan to fix, because we don't create or modify the NSH installer script that is run when you install the Emulator on Windows. It is actually the default script included by the [external packaging tool we use called Electron Builder.](https://www.electron.build/)

However, that being said, I dug around in some of the electron-builder NSIS installer source / do

[2020-04-24 17:41] #2132 closed

[2020-04-24 18:38] pankajsurti opened #2133 ""The bot's Microsoft App ID or Microsoft App Password is incorrect." For Azure for US Gov"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.8.1

## Describe the bug
I am using the Azure for US Government. The Echo Bot works fine locally without the APPID and Secret. Once I add the correct A

[2020-04-27 03:55] anusharavindrar commented on #2131
@marvoh are you still working on this? Do you still need help?

[2020-04-27 04:41] JeganBas commented on #2130
Hi @tonyanziano , I've downgarded to Emulator 4.7 and now i can able to sign In, so the problem is only in 4.8.1

[2020-04-27 16:23] 4ININ commented on #1639
If you try to test your bot with Bot Framework Emulator, try to connect like a http://localhost:<your port>/api/messages without https!!!

[2020-04-27 16:32] tonyanziano commented on #2130
Thanks for testing that out @JeganBas ,

We can take a look at what changed between 4.7 and 4.8.1 and see if there are any obvious commits that might have caused this behavior.

[2020-04-28 16:30] hcyang commented on #2133
Hi @dmvtech, can you quickly inspect this issue and update the status? Thanks.

[2020-04-28 16:55] Jay-study-nildana opened #2134 "Google Sign In Wont Work With Bot Browser"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What version of the Emulator are you using.

4.8.1

## Describe the bug
Give a clear and concise description of what the bug is.

I am working with Googl

[2020-04-28 17:13] Jay-study-nildana commented on #2134
Quick Update

I configured GitHub and that seems to work just fine. So, we are good with that. Its something to do with Google and the way it treats browsers.

[2020-04-28 17:20] anusharavindrar commented on #2131
Closing the issue. Please feel free to re-open if issue persists.

[2020-04-28 17:20] #2131 closed

[2020-04-28 17:42] tonyanziano commented on #2134
Hi @Jay-study-nildana ,

Thanks for reporting and testing out the GitHub auth provider as well.

I did a little bit of research just now and it sounds like it might have something to do with one or both of the following:

 - the User Agent string that Electron attaches to all outgoing requests
 - the version of Chrome we are running (69)

![image](https://user-images.githubusercontent.com/3452012/

[2020-04-28 21:43] dmvtech commented on #2133
Hi @pankajsurti When you are testing in Emulator against the deployed bot in Azure, you are supplying the appid/password in emulator and using the `*.azurewebsites.net` endpoint url, correct?

For the application, are you using the appid/password from within the `appsettings.json` or within `configuration` settings of the app service?

[2020-04-28 23:48] #2120 closed

[2020-04-29 08:40] Jay-study-nildana commented on #2134
I agree with your assessment that this is some google thing. If this will take a while to fix, it is cool, because, I have discussed with my customers and they are okay with no google support as of now.

Further, yes, the auth system works fine with other providers (as proved with my GitHub working system). So, worst case scenario, our client is okay with simply building our own generic oauth prov

[2020-04-29 13:37] wellbread opened #2136 "Adaptive Card Action.Submit does not fire"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.8.1

## Describe the bug
If an Adaptive Card (ver. 1.0, 1.1, 1.2) has any input elements, an ActionSet element, Action.Submit action with "data" proper

[2020-04-29 16:33] tonyanziano commented on #2134
We'll keep it open for tracking.

[2020-04-29 16:37] v-kydela commented on #2136
Hello @wellbread

This is working as expected/designed. As you've discovered on your own, a string submit action can only work when the card has no inputs. This is because the card tries to combine the inputs with the action data by adding properties to it, and you cannot add properties to a string. This is all explained in my blog post: https://blog.botframework.com/2019/07/02/using-adaptive-card

[2020-04-29 16:37] #2136 closed

[2020-05-01 16:59] lauren-mills commented on #2133
Adding to this, I'm seeing the same thing as well. I cannot connect to my Azure Gov bot locally through the emulator despite verifying the endpoint, appId, and password match what is in the Azure portal.

[2020-05-01 17:11] lauren-mills commented on #2133
Update: this is definitely a bug in the emulator. I downloaded version 4.6.0 and was able to successfully connect to my gov bot.

[2020-05-01 17:18] dmvtech commented on #2133
Thanks @lauren-mills I don't have a way to test gov myself.

Adding @tonyanziano for visibility.

[2020-05-01 17:25] tonyanziano commented on #2133
Just spoke with @lauren-mills offline. I will debug this using her gov bot once I get some cycles. Currently swamped at the moment.

[2020-05-04 12:12] jelmuei commented on #2119
@cwhitten
I've just changed my **system time** to a date before the timestamp of the transcript files and this results in the Bot Emulator to successfully load old Transcript files.

None of these official sample transcript files are working without this work around.
https://microsoft.github.io/botframework-solutions/skills/samples/transcripts/

Would be good if this bug could be fixed as we are u

[2020-05-04 16:21] tonyanziano commented on #2119
Hi @jelmuei ,

I'm glad to hear you found a workaround.

We are still waiting for this to be fixed in Web Chat (https://github.com/microsoft/BotFramework-WebChat/issues/3039), and can't fix the issue in the Emulator until that is done.

[2020-05-04 17:49] cleemullins commented on #2128
@statickx666 Were you able to resolve this?

[2020-05-04 18:22] hailiu2586 opened #2137 "Not rendering reply when using bfemulator://livechat?botUrl=http://localhost:3978/api/messages"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.8.1

## Describe the bug
Reply from bot not rendered in the chat window when emulator launched through bfemulator://livechat... protocol

## To Reprodu

[2020-05-07 09:11] geo-msft commented on #2130
hi, if you set the path to ngrok in the emulator settings, the Oauth Card will show the expected result: the prompt to login:

![image](https://user-images.githubusercontent.com/57954688/81276538-d351d280-905b-11ea-8a51-a1b95e593334.png)

After multiple tests, I noticed the issue happens when the path is empty.

[2020-05-07 14:32] msalemor opened #2138 "Botframework - OAuth mixed scope settings (MSGraph and Azure Devops)"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.8

## Describe the bug

Following the directions on this document:

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=

[2020-05-07 23:26] v-rampul commented on #1848
#HCL-BotFrameworkEmulator; #Emulator-Win; #A11yMAS; #HCL; #MAS4.2.1

[2020-05-07 23:27] v-rampul commented on #1847
#HCL-BotFrameworkEmulator; #Emulator-Win; #A11yMAS; #HCL; #MAS4.2.1; #A11ySev3

[2020-05-07 23:27] v-rampul commented on #1764
#HCL-BotFrameworkEmulator; #Emulator-Win; #A11yMAS; #HCL; #MAS3.2.1; #A11ySev3

[2020-05-07 23:37] v-rampul commented on #2055
#HCL-BotFrameworkEmulator; #Emulator-MAC; #A11yMAS; #HCL; #MAS3.3.2; #A11ySev3

[2020-05-07 23:41] v-rampul commented on #2053
#HCL-BotFrameworkEmulator; #Emulator-MAC; #A11yMAS; #HCL; #MAS4.2.12; #A11ySev4

[2020-05-07 23:41] v-rampul commented on #2051
#HCL-BotFrameworkEmulator; #Emulator-MAC; #A11yMAS; #HCL; #MAS4.2.1; #A11ySev4

[2020-05-07 23:43] richross opened #2139 "Enable Speech - Render error in Emulator"
/clients-and-channels/tutorials/enable-speech/4-integrate-speech-channel/

I'm trying to enable speech in Virtual Agent.  I did the following steps.
**Create the VA**
Ran through the install of the VA tools and projects
Created a new bot VA project in VS 2019
Deployed the Azure components via the PS script
Got the bot working in the emulator.

**Tutorial - Enable Speech**
Followed the Enable Speec

[2020-05-07 23:45] v-rampul commented on #2050
#HCL-BotFrameworkEmulator; #Emulator-MAC; #A11yMAS; #HCL; #MAS4.2.1; #A11ySev2

[2020-05-08 05:52] jayadrathamondal commented on #1123
Any news on this feature? We need this feature badly.

[2020-05-08 16:47] tonyanziano commented on #1123
As far as I know, the status last given by the Direct Line service still stands:

Since this feature relies on changes in the service, and then in Web Chat, it is not currently on our radar until that work is done.

[2020-05-08 17:29] v-rampul commented on #2046
#HCL-BotFrameworkEmulator; #Emulator-MAC; #HCL; #A11ySev4;

[2020-05-08 17:29] v-rampul commented on #2054
#HCL-BotFrameworkEmulator; #Emulator-MAC; #A11yMAS; #HCL; #MAS4.2.1; #A11ySev4;

[2020-05-11 12:39] hansmbakker opened #2141 "When using a manually specified user id, bot emulator switches to user id r_[somenumber] after initial messages"
## Version
4.8.1

## Describe the bug
I set the emulator to use a custom user ID. It starts the conversation using that ID but after the initial messages from the bot it changes the user id to something like `r_[somenumber]`.

## To Reproduce
Steps to reproduce the behavior:
1. Go to emulator settings
2. Enable "Use your own user ID to communicate with the bot
2. Copy `dl_e9360b03-412d-4597-8046-b

[2020-05-11 15:45] tonyanziano commented on #2141
This bug appeared in a previous release and it was due to the ID from the Emulator side not being passed properly to the Web Chat control, which results in Web Chat generating a random id -- `r_<guid>` -- for the activities.

I'll have to take a look and see if I can repro the issue.

[2020-05-11 23:23] statickx666 commented on #2128
Hi, no I couldn't, i think it has something to be with my account status. I'm marked as a contributor, but cannot see some services in Azure. I asked others to download the application and try to sign in, and they didn't have the errors i had.
So i'll keep checking from that side. Thx.

[2020-05-13 17:22] srinaath opened #2143 "4.9 Release Checklist"
The following need to be signed-off on before the Emulator can publish a new stable build.

### NOTE: Make sure to do a clean install before attempting to go through the checklist: Clear out `@bfemulator` folder in app data (`%APPDATA%` on Windows, `~/Library/Application Support` on Mac`~/.config` on Linux)

## Platform: Windows

### .bot files
- [x] create a new .bot file with keys encrypted
- [x

[2020-05-13 18:09] cleemullins commented on #2141
@tonyanziano Any update?

[2020-05-13 18:10] cleemullins commented on #2138
@EricDahlvang  Can you take a look at this?

[2020-05-13 18:11] cleemullins commented on #2133
@tonyanziano This has been baking for 12 days. Any update?

[2020-05-13 20:45] EricDahlvang commented on #2138
I've been able to repeat this, and noticed if the devops `user_impersonation` scope is in the beginning, it is the only thing returned in the token claims scopes:

`https://app.vssps.visualstudio.com/user_impersonation email Mail.Read Mail.Send openid profile User.Read User.ReadBasic.All`

![image](https://user-images.githubusercontent.com/11055362/81862742-00502a80-951f-11ea-9e78-31f609dc87d3.png

[2020-05-13 21:17] tonyanziano commented on #2133
Still haven't gotten around to investigating this due to being busy with Composer work.

I'll check it out when I get some downtime, most likely Friday or early next week.

[2020-05-13 21:23] tonyanziano commented on #2141
@hansmbakker after looking at your repro steps, my understanding is that you:

1. already have a conversation with the bot started
2. go into settings and set your custom user ID
3. go back to the started conversation and restart it

If the above are true, this is by design and not a bug. The custom user ID is only set for the initial conversation with the bot.

When you hit the "Restart conversat

[2020-05-14 00:55] Stevenic opened #2144 "Opening emulator via deep link causes chat to hang."
## Version
4.8.1

## Describe the bug
Pressing the "Test In Emulator" button in the 0.0.3 preview version of composer will successfully launch the emulator but the chat session will hang. If you manually launch the emulator everything works fine. This issue seems to reproduce fairly reliably on Windows but looks like it may be ok on Mac's.

[bug]

[2020-05-14 01:10] tonyanziano commented on #2141
I just thought about this some more, and although what I said above is still true, you should still not be seeing a GUID with the pattern `r_<guid>`.

I was unable to reproduce that behavior.

[2020-05-14 06:47] leekc87 opened #2145 "korean issue"
hi all.

i made a simple bot
so i run to bot framework emulator,

but korean is broken.

i think my visual studio problem, but setting is already done

what should i do?

thank you for read

[2020-05-14 12:58] hansmbakker commented on #2141
Hi @tonyanziano,
- the pattern I saw was not `r_<guid>` but `r_<integer>` (you can see it in the json marked as "question containing issue"
- I did `restart conversation - new user id`
- I did not try changing the user id of an existing conversation. The issue is, that the emulator seemed to change the users id from `<custom id>` to `r_<integer>` after a few messages in the conversation

[2020-05-14 17:59] tonyanziano commented on #2141
So the ID changed midway through the conversation?

Example:

1. Activity 1 - userId = customId
2. Activity 2 - userId = customId
3. Activity 3 - userId = r_12345
4. .... Activities 4+
5. Activity n - userId = r_12345

[2020-05-14 20:22] anusharavindrar commented on #2145
@leekc87, can you elaborate more on what you are trying to test? Did you follow any particular sample? If you could attach a few screenshots of what error you are running into along with the steps to repro, that would be helpful.

[2020-05-14 20:52] hansmbakker commented on #2141
Yes, I believe so

[2020-05-14 21:13] tonyanziano commented on #2141
Ok I'll try to investigate a little further and see if I can see anything weird going on.

[2020-05-14 22:42] tonyanziano commented on #2144
Fixed in #2146, and this will be available in 4.9.0

[2020-05-14 22:42] #2144 closed

[2020-05-15 01:46] leekc87 commented on #2145
Thank you for your attention

i made corebot by bot framework  at visual studio,
i change little code welcomecard.json
i just tried to test if korean is printed, but it is broken

here is my screen shot

![한글 테스트 json](https://user-images.githubusercontent.com/65332030/82002638-45986780-9699-11ea-9fda-4e2d43c2c467.png)
![환영메세지](https://user-images.githubusercontent.com/65332030/82002648-4c26df00-9

[2020-05-15 02:43] #2143 closed

[2020-05-15 07:37] vaibhav1408 commented on #34
Can we pass this user-id runtime by using python code?

[2020-05-15 14:58] cwhitten commented on #2137
this should be addressed in https://github.com/microsoft/BotFramework-Emulator/pull/2146 and in 4.9.0

[2020-05-15 14:58] #2137 closed

[2020-05-18 20:55] tonyanziano commented on #2141
Hey @hansmbakker ,

We just released a new version -- [v4.9.0](https://github.com/microsoft/BotFramework-Emulator/releases/tag/v4.9.0) -- of the Emulator on Thursday. Can you try this scenario out with the newest version and see if you still run into this issue?

If so, is there any way you can provide me with a minimalized version of your bot code that reproduces this issue? That way I could debu

[2020-05-18 22:06] tonyanziano commented on #2133
Just got access to a gov bot, so I'm looking into this.

[2020-05-19 17:28] anusharavindrar commented on #2145
@leekc87, I tried the [CoreBot C# sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/13.core-bot) and made changes to the text, and the changes are getting reflected when I test on the emulator.

- Changes to the welcomeCard.json
![image](https://user-images.githubusercontent.com/48731427/82358149-f4e77e00-99ba-11ea-9db3-91a9f4ced2b3.png)

- Changes refle

[2020-05-19 17:35] tonyanziano commented on #2133
Hi @pankajsurti ,

I can't reproduce this issue on the latest version of the Emulator.

When connecting to the bot, are you checking the following box in the Open Bot dialog?

![image](https://user-images.githubusercontent.com/3452012/82358792-df268880-99bb-11ea-89b5-29d297ffd3b1.png)

This box is required to get the right token to communicate with the bot.

[2020-05-19 17:47] tonyanziano commented on #2139
Hi @richross ,

Can you reproduce this issue and open the Emulator Dev Tools window so that we can see the error in the console?

Click the following menu item to open the Dev tools:

![image](https://user-images.githubusercontent.com/3452012/82360150-cd45e500-99bd-11ea-8745-b4f6fe106f55.png)

Then click the "Console" tab, and there should be a red error message in there somewhere.

![image](https

[2020-05-19 23:54] #2084 closed

[2020-05-20 23:29] v-kydela opened #2151 "Postback messages create empty space"
## Version
4.9.0

## Describe the bug

When the user sends a textless message (as when clicking on a postBack button) the Emulator pads the transcript with an invisible element. This is especially noticeable when the bot does not reply to that textless mesage, so the invisible elements can accumulate.

## To Reproduce

1. Start a conversation with a bot that uses postBack buttons
2. Click on a pos

[2020-05-21 00:01] turbozapekanka opened #2152 "[LUIS] Access denied error when clicking on a trace in emulator"
#### What project is affected?
VA

#### What language is this in?
C#

#### What happens?
[LUIS] Access denied error shown when clicking on a trace in emulator

#### What are the steps to reproduce this issue?
1) Deploy the bot using proveded script
./Deployment/Scripts/deploy.ps1 -name "MyAssistant1" -location "southcentralus" -appPassword "XXX" -luisAuthoringKey "XXX" -luisAuthoringRegion "westus

[2020-05-21 00:17] tonyanziano commented on #2151
I think this also happens for conversation updates.

[2020-05-21 07:03] darrenj commented on #2152
Would be great if the Emulator could provide some initial guidance on this error and how to resolve within the Emulator?

[2020-05-21 18:30] benbrown commented on #2152
@turbozapekanka did that resolve the issue for you?

[2020-05-21 18:57] turbozapekanka commented on #2152
Sort of.
I had to manually provide the keys though
I signed in and then clicked + to add luis services but it didn't automatically find the luis models for some reason:
![image](https://user-images.githubusercontent.com/20775323/82595270-f0fa5e00-9b6a-11ea-8086-352b8a0e73b0.png)

After I added one luis model manually it worked (for all models, which is strange.)

[2020-05-21 19:01] turbozapekanka commented on #2152
I'd just remove that red error from the emulator and instead show a hint in the top right part (where intent is shown) saying "sign in for reassigning the intent" (I guess this all it does, right?)
That red thing just scares people.

[2020-05-22 15:28] alatas commented on #2123
I have the same problem. When I was starting the project with the IISExpress it seems to use localhost address, but it was starting to listen only on `::1` ipv6 address, not `127.0.0.1` ipv4 address.

When the emulator tries to connect to `localhost:3978`, emulatore resolves localhost to `127.0.0.1` ipv4 address, and then emulator gets ECONNREFUSED error. Because there is no listening application

[2020-05-25 16:14] anusharavindrar commented on #2145
@leekc87 any update on this? do you still need help?

[2020-05-26 03:03] leekc1030 commented on #2145
Thank you for your [attention]

i use  CoreBot C# sample and made changes to the text, but still korean is broken.
i think my local setting have some problem, so I formatted my computer, but still broken.
so here is my emulater setting

thank you for read

[2020-05-26 18:27] gabog commented on #2128
Ok, thanks, we'll close the issue for now, feel free to reopen it if you still need assistance.

[2020-05-26 18:27] #2128 closed

[2020-05-26 20:26] cwhitten commented on #2152
@turbozapekanka what version of the Emulator are you using?

[2020-05-26 20:30] anusharavindrar commented on #2145
@leekc87, I tried using the same setting as yours and it still works for me. I am using the Emulator v4.9.0. Can you attach the link to the sample you followed? Also, what version of the emulator you are on?

[2020-05-26 21:33] turbozapekanka commented on #2152
4.9.0

[2020-05-26 21:37] cwhitten commented on #2152
Thanks. The heuristic used that is causing this behavior is that you are using a .bot file to connect to the bot. Can you confirm?

In the above scenario, the assumption is that the appropriate LUIS credentials are also serialized into that .bot file.

[2020-05-26 21:48] turbozapekanka commented on #2152
Yes I do use a .bot file

[2020-05-27 01:31] leekc1030 commented on #2145
Thank you for your attention
i am using the eulator v4.9.0 too.

and here is sample card link

[http://adaptivecards.io/schemas/adaptive-card.json](url)

thank you for read

[2020-05-27 07:07] srinaath commented on #2152
@cwhitten As a part of this PR we https://github.com/microsoft/BotFramework-Emulator/pull/2074 we had addressed this scary message from not showing up when connecting to a bot through a URL whereas when connected through a bot file we do show the missing credentials error message. We might need a a design update to make sure a visual friendly message.

[2020-05-27 19:50] #1974 closed

[2020-05-28 19:41] anusharavindrar commented on #2145
@leekc87, can you try using the [Core Bot sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/13.core-bot) and see if it works for you?

[2020-05-28 19:47] RenanCarso commented on #1700
Waiting for this feature...

[2020-05-28 23:45] tonyanziano commented on #1700
Sorry @RenanCarso ,

This was scheduled to be in our 4.9.0 release, but we had to re-prioritize the issue due to resources being needed on another project.

It's possible that this gets scheduled as a work item for our 4.10.0 (R10) release. However we have not yet held the planning meeting for R10 that will dictate the R10 work items.

We understand that this is a pretty sought-after feature, and

[2020-05-29 18:16] gabog commented on #2141
Assuming this has been addressed in 4.9.0, closing this issue due to lack of activity.

[2020-05-29 18:16] #2141 closed

[2020-05-29 18:17] gabog commented on #2133
Closing due to inactivity.

[2020-05-29 18:17] #2133 closed

[2020-05-29 23:08] chrimc62 opened #2154 "Emulator does not render valid adaptive card in an activity"
Version of emulator: 4.9.1

The below activity has a valid adaptive card that renders properly in adaptivecards.io.  In emulator it looks like the below.  It seems related to having a curly bracest in the string value.  If I change it to obj= and remove the trailing curly brace it works fine.

In emulator (wrong):
![image](https://user-images.githubusercontent.com/17637681/83312085-14a25180-a1c6-1

[2020-05-29 23:16] tonyanziano commented on #2154
We should test this in Web Chat.

[2020-06-01 15:47] stevkan commented on #2154
Possibly related to Web Chat bug [#3165](https://github.com/microsoft/BotFramework-WebChat/issues/3165)

[2020-06-03 18:19] anusharavindrar commented on #2145
@leekc87, did you get a chance to test the [Core Bot Sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/13.core-bot)?

[2020-06-04 01:18] leekc1030 commented on #2145
Sorry for the late reply
The problem was solved with a new Corebot example.
Thank you

[2020-06-04 17:02] anusharavindrar commented on #2145
@leekc1030, glad to hear your issue got resolved. Closing the issue.

[2020-06-05 19:35] tonyanziano commented on #2130
I'm now able to reproduce this reliably.

[Video for reference](https://recordit.co/qJH4zTGVpA)

This is indeed a bug in the sense that clicking the sign-in link should not open the file explorer, however, that being said, the following still remains true:

- When reproducing this bug, as you can see in the video I posted, as soon as the sign-in card is generated, an error message is printed out i

[2020-06-06 17:56] sharadnair opened #2156 "500: No such host is known"
Hello there,
I am new to bot development and after spending couple of days I managed to get a bot up and running using the emulator. Everything was working fine locally with the emulator and I went about deploying it to azure. I configured ngrok on the emulator following the documentation to debug the cloud hosted version and since then I have not been able to get the emulator working even for loc

[2020-06-08 18:04] tonyanziano commented on #2156
Hi @sharadnair

This sounds like some sort of configuration issue on your end (DNS resolution failure) and not necessarily an issue with the Emulator.

When exactly are you getting this error? Is it when you start the conversation with the bot in the Emulator or is it when you try to send the first message?

Try running your bot locally, and using a client like Postman or even the cURL command lin

[2020-06-09 09:36] sharadnair commented on #2156
Hi @tonyanziano ,
Thank your for your response. The issue is happening locally with a new Echo bot project running locally in VS. I am able to start new conversation from emulator and debug into VS and everything works until it hits the
` await turnContext.SendActivityAsync(MessageFactory.Text(welcomeText, welcomeText), cancellationToken);`
which is sending response back to the bot. This is when I

[2020-06-09 17:23] #2130 closed

[2020-06-09 17:24] tonyanziano commented on #2130
This fix will be in the next nightly build (usually gets published around 11 PM PST).

[2020-06-10 00:16] tonyanziano commented on #2156
So once it hits that line in your bot code is when you get the 500? That means it errors out when trying to send a message back to the channel / user.

Given that the above is true, if you take out all instances of `SendActivityAsync()`, then you should be able to send messages from the Emulator to your bot without any errors.

So maybe there is some sort of issue with the service URL being sent o

[2020-06-12 17:39] vijaysaimutyala commented on #1647
@ebmtz How do I set this variable. I tried the below and it did not seem to work. I set the internet options to "Automatically detect settings" like below

![image](https://user-images.githubusercontent.com/7084628/84531083-a3a08500-ad01-11ea-9448-e4bde4380a57.png)

and before running my bot, I did the below which did not work. Am I right here ?

`set NO_PROXY=localhost`

[2020-06-12 17:55] ebmtz commented on #1647
I never had to mess with my LAN settings. I had simply defined the values for `HTTP_PROXY`, `HTTPS_PROXY` and `NO_PROXY`. After defining those, things were working okay. Sorry if this doesn't help much, but that's all I did.

[2020-06-12 22:56] srinaath commented on #2152
The design update we will be making is showing the error message with the amber font color to make it less blaring for now.

[2020-06-13 16:12] vijaysaimutyala commented on #1647
Thanks @ebmtz I'll try it out.

[2020-06-16 04:02] JeganBas commented on #2130
@tonyanziano thanks for updating, i will  validate the new build and update you

[2020-06-19 06:42] sayak1711 commented on #171
Can't find the "Test in Emulator" option in the AppImage in Ubuntu(PopOS)

[2020-06-20 19:42] michaeldera opened #2158 "Input Field not showing on Emulator"
## Version
4.9.0

## Describe the bug
The emulator does not show an input dialog to send the response to the bot.

## To Reproduce
Steps to reproduce the behavior: (This happens in debug mode)
1. I downloaded the Emulator on the releases page of this repository
2. Was prompted to update the Emulator and updated it.
3. Add the local ngrok settings and enabled Authentication.
4. Started debugging a

[2020-06-22 12:56] hraz-msft commented on #416
@eanders-MS but how can we get the conversation ID from the emulator?

[2020-06-22 16:17] tonyanziano commented on #416
@hraz-msft you can get the conversation ID of the current conversation in the Emulator by clicking on any activity in the conversation pane or log panel.

The conversation ID will be under the `conversation` property in the JSON inspector.

![image](https://user-images.githubusercontent.com/3452012/85310687-2b586300-b469-11ea-9f50-1590e2cf88b4.png)

[2020-06-22 16:21] tonyanziano commented on #2158
Hi @michaeldera ,

This is by design and not a bug.

It looks like in the second screenshot with the missing input field, you have checked the "Open in debug mode" option in the Open Bot dialog.

![image](https://user-images.githubusercontent.com/3452012/85310924-796d6680-b469-11ea-9e7a-37f9a0ca241f.png)

If you check this option when connecting to a bot, the Emulator no longer acts as the client

[2020-06-22 19:35] michaeldera commented on #2158
Alright thank you. That clears it up

[2020-06-22 19:35] #2158 closed

[2020-06-23 07:49] neethumoltp opened #2159 "The bot is remote, but the service URL is localhost. Without tunneling software you will not receive replies."
[03:40:47]Error: The bot is remote, but the service URL is localhost. Without tunneling software you will not receive replies.
[03:40:47]Connecting to bots hosted remotely
[03:40:47]Configure ngrok
[03:40:47]<- messageYou said 'hi'
[03:40:47]POST200conversations/<conversationId>/activities/<activityId>
[03:40:47]POST201directline/conversations/<conversationId>/activities

Im running the bot on IIS

[2020-06-23 16:04] tonyanziano commented on #2159
Hi @neethumoltp ,

Can you please provide more information like the URL of the bot you are trying to access?

From your description, it sounds like the outgoing path to your bot is:

`localhost (your machine) ---> https://<your dns name>.com (reverse proxy) ---> <actual server somewhere>`

It looks like you are trying to chat with a bot -- or at least your reverse proxy -- at a remote URL not on y

[2020-06-23 17:15] jelmuei commented on #2119
Is there any update? Essentially the whole transcript functionality is completely broken now. We have a big collection of transcript files of conversations from our beta testers but we do not have a way to use them to make our bot better..

Is there another way to read transcripts files in some form of a GUI based tool and render them so our product people can review them?

[2020-06-23 17:42] tonyanziano commented on #2119
Hi @jelmuei ,

The Emulator & Web Chat teams are spread pretty thin at the moment due to some other pressing tasks in our pipeline, so unfortunately I can't give you an update on when this will be fixed.

As a workaround, you can download an older version of the Emulator [(I tried v4.5.2 and it worked)](https://github.com/microsoft/BotFramework-Emulator/releases/tag/v4.5.2), and the transcripts wi

[2020-06-23 19:50] tonyanziano commented on #2159
@neethumoltp

Where are you running the Emulator from? A VM or your local machine?

Either way, if your bot is running on a hosted Azure VM, and the Emulator is not running on the same machine, you need to configure ngrok in the Emulator's application settings page so that the bot can reply back to the Emulator.

![image](https://user-images.githubusercontent.com/3452012/85452814-1acee800-b550-11e

[2020-06-23 20:09] neethumoltp commented on #2159
I tried running the emulator in the same VM where bot is running. Also tried on another VM. I hope in this scenario it should work on local emulator.

I want host this bot on MS teams using app studio. So I would need ngrok configuration to access it on teams?

[2020-06-23 20:22] tonyanziano commented on #2159
Ok let's break it into two scenarios then:

1. Both your bot **and** the Emulator are running on a hosted Azure VM. This means everything is on the same machine.

2. Your bot is running on VM A, and the Emulator is running on VM B

Scenario # 2 will not work without configuring ngrok, so let's ignore that.

If we look at scenario # 1, the path from the Emulator to the bot looks like this:

`Emulat

[2020-06-24 07:13] Shreyank14 commented on #2159
Hi @tonyanziano, thank you for clarifying the above.
@neethumoltp and I are trying to host the bot without ngrok and on the cloud since our organisation blocks ngrok or other tunneling services. We have hosted on bot on azure VM using IIS. Scenario #1 you mentioned is working. We are able to run the emulator locally on the VM and the bot responds.

We however want to test the connectivity of the b

[2020-06-24 14:20] gabog commented on #1940
I think this one has been addressed, closing

[2020-06-24 14:20] #1940 closed

[2020-06-24 16:06] tonyanziano commented on #2159
Hi @Shreyank14 ,

In scenario 2, since the Emulator is running on a separate machine than the bot, the Node web server running inside of the Emulator must be visible to the network and machine that the bot is running on. If this web server can't be contacted by the bot, then the replies from the bot will never be able to get back to the Emulator and back into the GUI.

Currently, the only way to a

[2020-06-24 17:21] #2152 closed

[2020-06-25 09:56] neethumoltp commented on #2159
@tonyanziano 1) If we make our bot url public , is it possible to access on emulator running on a remote Machine? is there any alternative to ngrok as we are not allowed to use any tunnelling softwares?
2)Do we need to configure ngrok to connect to the bot through AppStudio as well? Can we access the bot on Teams if the url is public?

[2020-06-25 16:09] tonyanziano commented on #2159
@neethumoltp

1) Since the Emulator acts as the channel in the normal Bot Framework Communication flow (`User -> Channel -> Bot  AND Bot -> Channel -> User`), the Emulator (channel) cannot receive a POST request from the bot unless there is tunneling software exposing the Emulator's locally running web server to the Internet.

Unfortunately, there are no alternatives to tunneling software that I c

[2020-07-06 18:21] cleemullins commented on #2159
Closing due to inactivity and resolution from Tony.

[2020-07-06 18:21] #2159 closed

[2020-07-16 10:02] GitDruid opened #2162 "QnAMaker Trace not working"
In Bot Framework Emulator (4.9.0) I have LUIS trace working but QnA trace don't.
Is the following sentence from @tonyanziano still valid?

"Currently, the LUIS & QnA inspectors (spawned when clicking a LUIS or QnA trace) still require a .bot file with a corresponding service entry in order to work. They cannot be used with a bot that's connected solely via endpoint."

If so, is it possible to have

[2020-07-16 11:03] rvinothrajendran opened #2164 "ReceiptCard is displaying the ReceiptItem -> quantity item."
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.9.0

## Describe the bug
When using the ReceiptCard , Emulator is not displaying the ReceiptItem -> quantity field.

## To Reproduce
Steps to reproduce

[2020-07-16 16:52] tonyanziano commented on #2162
Hi @GitDruid ,

Yes, the behavior is still the same. The QnA inspector still needs a .bot file to function properly.

Your .bot file would need to have an entry in the `services` property that looks similar to this:

[code]

[2020-07-17 13:50] GitDruid commented on #2162
Thank you very much @tonyanziano . It works (the inspector looks al little stretched to be honest, but it works).

Alessandro.

[2020-07-17 16:18] #2162 closed

[2020-07-20 20:50] JonathanFingold opened #2166 "Add a Health Check feature to the Emulator"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to perform a bot health check from the Emulator.

**Describe the solution you'd like**
Add to the **Open a bot** dialog a **Check health** button, next to the **Cancel** and **Connect** buttons.

**Describe alternatives you've considered**
- Update the BF CLI tools to include a health check feature? (Tools issue

[2020-07-21 11:50] himpatel opened #2167 "Emulator 4.9 version infinite software update"
Every time I open the application, it is always stuck in a infinite update loop even after updating the emulator several times.

![image](https://user-images.githubusercontent.com/15386655/88051520-6045fb80-cb76-11ea-80e4-bf6ae57bcf2a.png)

[2020-07-21 18:50] anusharavindrar commented on #2167
@himpatel, can you try to uninstall and reinstall the latest version and see if you still encounter the same issue?

[2020-07-21 21:12] Stevenic opened #2169 "AdaptiveCards: Input.Text strips linebreaks"
## Version
4.9.0

## Describe the bug
Adaptive Cards with `Input.Text` controls strip line-breaks when `multiline = true`.  I've verified that both the designer at adaptivecards.io and Teams preserve the line-breaks.

## To Reproduce
Create a simple adaptive card with a multiline input control and use emulator to send your bot the text. The line-breaks are missing.

[bug]

[2020-07-22 11:48] QE8547 opened #2170 "Consecutive Adaptive card won't get displayed"
Consecutive Adaptive card won't get displayed in emulator V4.9.0

[2020-07-22 22:43] v-kydela commented on #2170
Thank you for the report, @QE8547. I need some more information from you in order to investigate this.

1. Please provide steps to reproduce the problem
1. Please provide sample code to reproduce the problem
1. Please provide screenshots of the problem
1. Please link to any documentation you've been following

[2020-07-23 05:31] QE8547 commented on #2170
Steps to reproduce:
Have a conversation that has a consecutive reply as adaptive cards. Only for the first time the adaptive card will get rendered in emulator while the following message to if it is a adaptive that doesn't get rendered.
![adaptive card issue](https://user-images.githubusercontent.com/68645303/88254673-a49ade00-ccd3-11ea-858d-d22bfb8b65ac.png)

![image](https://user-images.githubu

[2020-07-23 18:07] tomlm opened #2171 "Suggested Actions don't get displayed on 2nd card when suggested actions are used to get the card."
## Version
What version of the Emulator are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. create bot which sends cards with suggested actions for every response
2. interact with it.

## Expected behavior
When the first card comes back it has suggested actions.  When I click on the suggested actions the

[2020-07-23 18:10] #2171 closed

[2020-07-23 18:10] tomlm commented on #2171
my mistake

[2020-07-23 21:23] v-kydela commented on #2170
@QE8547 - I'm afraid I cannot reproduce the issue. Consecutive Adaptive Cards work fine for me in Emulator, so you'll have to provide the information I asked for. Please provide sample code to reproduce the problem and please link to any documentation you've been following. The sample code is particularly important. Please make sure to include the bot code and the Adaptive Card JSON if you're usin

[2020-07-27 15:15] neethumoltp opened #2172 ""request to http://localhost:8000/api/messages failed, reason: connect ECONNREFUSED 127.0.0.1:8000""
Hi,

Im running a python echo bot using docker container and getting error ""request to http://localhost:8000/api/messages failed, reason: connect ECONNREFUSED 127.0.0.1:8000""

#docker run daqbot
======== Running on http://127.0.0.1:8000 ========
(Press CTRL+C to quit)

Content of requirements.txt
botbuilder-core>=4.7.0
aiohttp

Docker file:

FROM python:3
ADD app.py /
COPY requirements.txt /tmp/

[2020-07-27 15:50] anusharavindrar commented on #2167
@himpatel, did you get a chance to reinstall the latest version and test?

[2020-07-27 18:24] himpatel commented on #2167
@anusharavindrar Hey, reinstalling the application solved the issue. Thank you so much!

On a side note I also had Emulator 4.7 also installed. I uninstalled both and reinstalled 4.9.

[2020-07-27 18:24] #2167 closed

[2020-07-28 15:55] jwiley84 commented on #2172
Hi @neethumoltp

Were there any issues deploying your bot?
What method did you use to deploy?

[2020-07-28 16:40] neethumoltp commented on #2172
I’m running it on my local machine with docker container.

[2020-07-28 16:54] bradrlaw opened #2173 "On OS X Catalina, the emulator must already be open for Test In Emulator to work"
When using the Test in Emulator option, if the emulator is not already open, the conversation will not be started in the emulator.  The emulator will be opened, but it will sit at the welcome screen.

If the emulator is open, then the Live Chat session is opened to the bot as expected and you can test the bot.

## Version

Bot Framework Composer

                Version:  1.0.2
                Ele

[2020-07-28 16:56] cwhitten commented on #2173
Investigating for R11. We want to keep the experience consistent across Windows & Mac. What we're seeing is:

On Mac as @bradrlaw mentions the Emulator needs to be open to start the conversation.
On Windows, Test in Emulator will always spawn an entirely new instance of the Emulator.

Ideally Test in Emulator will start the Emulator if it is not open, and not create a new instance of the applicati

[2020-07-29 16:57] jwiley84 commented on #2172
Thank you. I'm tracking a couple of docker issues I believe to be related, and should have an answer for you shortly

[2020-07-29 23:29] v-kydela commented on #2170
@QE8547 - Are you still working on this?

[2020-07-30 18:47] jwiley84 commented on #2172
@neethumoltp what OS are you using?

[2020-07-30 18:56] neethumoltp commented on #2172
MAC OS.

[2020-07-31 19:26] chrimc62 opened #2174 "Be able to send arbitrary event/invoke with a JSON Payload"
# Problem
There is no way to send arbitrary events or invoke using the emulator.  We need to support these to enable transcript-based testing as well as to allow triggering custom events.  One issue is that some events might need to be before or instead of the event sent on restart conversation.  For example, SetTestOptions event sets a random seed and that needs to have the conversation id sent b

[2020-07-31 19:49] v-kydela commented on #2170
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-07-31 19:49] #2170 closed

[2020-08-03 17:55] jwiley84 commented on #2172
@neethumoltp your docker file doesn't seem to be exposing any ports. Can you add `EXPOSE 8000`  to the end, and then run your bot using `docker run -p 8000:8000 daqbot`

[2020-08-04 09:37] joe-tossell-mando commented on #2174
I have had exactly this problem recently when trying to emulate the webchat/join event specified in the microsoft documentation and referenced in this issue:
https://github.com/microsoft/BotFramework-WebChat/issues/2120#issuecomment-516056614

I've had to emulate using a razor page and a bot registration routing to an ngrok endpoint in order to reliably test this. We're using the webchat/join even

[2020-08-04 21:14] cwhitten commented on #1986
Closing as being unable to reproduce.

[2020-08-04 21:14] #1986 closed

[2020-08-06 23:56] JonathanFingold commented on #1568
I just hit this issue in Bot Framework Emulator version 4.9.0.

[2020-08-10 17:12] tonyanziano commented on #1568
I'm unable to reproduce this issue on v4.9.0 @JonathanFingold .

If I set a breakpoint in the root of my bot, start a conversation with it from the Emulator, and select `conversationUpdate` from the menu in your screenshot, my breakpoint gets hit and the `turnContext.activity` points to the activity object for the conversation update:

![image](https://user-images.githubusercontent.com/3452012/898

[2020-08-11 19:53] JonathanFingold commented on #1568
This comes up after the conversation is already started, and I'm trying to add a "new" user to the conversation. Here are some screenshots:

When I try to add a new user, I see this in the Emulator:

![image](https://user-images.githubusercontent.com/35047199/89942433-66595600-dbd1-11ea-965c-ea438e8376fe.png)

But the breakpoint in my bot isn't hit:

![image](https://user-images.githubusercontent.

[2020-08-11 23:41] tonyanziano commented on #1568
Can you send me your bot code or a simplified version of it that I can debug with? My alias is toanzian.

[2020-08-12 21:34] JonathanFingold commented on #1568
Sent a copy via email.

[2020-08-12 22:48] tonyanziano commented on #1568
Thanks @JonathanFingold . I can repro this with your code, and I think I know where the error is coming from.

**Note to fixer:** Mimic the behavior [as seen here in `chatSagas.ts`](https://github.com/microsoft/BotFramework-Emulator/blob/master/packages/app/client/src/state/sagas/chatSagas.ts#L657), and [hook up to `appMenuBuilder.ts` here.](https://github.com/microsoft/BotFramework-Emulator/blob/

[2020-08-12 22:53] tonyanziano opened #2175 "Conversation menu item "Send system activity -> conversationUpdate( userAdded )" isn't working properly"
## Version
v4.9.0

## Describe the bug
For more context, [see this comment thread.](https://github.com/microsoft/BotFramework-Emulator/issues/1568#issuecomment-670247589)

## To Reproduce
Steps to reproduce the behavior:
1. Open a conversation with a bot
2. Select "Conversation" -> "Send System Activity -> conversationUpdate" menu item
3. Malformed / no conversation update gets sent to bot

## Exp

[2020-08-14 06:38] irinapskov opened #2176 "error when trying to connect to the emulator: value: ""Error: getaddrinfo ENOTFOUND westeurope.api.cognitive.microsoft.com"""
I run my bot locally. from the VS Code:
npm run start

I got:
restify listening to http://[::]:3980
Get the Emulator: https://aka.ms/botframework-emulator
To talk to your bot, open your '.bot' file in the Emulator
ApplicationInsights:CorrelationIdManager [
  Error: getaddrinfo ENOTFOUND dc.services.visualstudio.com
      at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:64:26) {
    errno: 'E

[2020-08-14 18:20] peterinnesmsft commented on #2172
@neethumoltp just checking in to see if there is any update from your side?

[2020-08-14 19:53] peterinnesmsft commented on #2176
@irinapskov, thank you for opening this issue. The issue you are describing appears to be unrelated to the emulator, and more likely a network issue on your end, as evidenced in errors attempting to resolve endpoint 'dc.services.visualstudio.com', which is outside of our domain of support.

If you have any product behavior, how-to, or general understanding questions, please use StackOverflow: http

[2020-08-14 19:53] #2176 closed

[2020-08-17 15:59] mdrichardson commented on #2172
Closing on behalf of @jwiley84

[2020-08-17 15:59] #2172 closed

[2020-08-18 14:57] mayankt11 commented on #644
How do I change the port from 3979 to 3978

[2020-08-20 16:27] srinaath opened #2178 "R10 Release checklist"
The following need to be signed-off on before the Emulator can publish a new stable build.

### NOTE: Make sure to do a clean install before attempting to go through the checklist: Clear out `@bfemulator` folder in app data (`%APPDATA%` on Windows, `~/Library/Application Support` on Mac`~/.config` on Linux)

## Platform: Windows

### .bot files
- [x] create a new .bot file with keys encrypted
- [x

[2020-08-24 17:01] chrimc62 opened #2181 "Support using transcripts to generate tests"
# Problem
A convenient way to generate a test is to generate a transcript using the emulator and then turn that transcript into a test script.  The issue is that randomness in bots makes it impossible to replay a transcript.  In order to fix this, the SDK has:
1) Defined middle ware in Adaptive.Testing to pick up a SetTestOptions custom event and copy the payload into conversation.testOptions.  We

[2020-08-25 00:47] chrimc62 opened #2182 "Emulator trace preview does not support $instance and hierarchical entities"
# Problem
In the attached image, you can see how a hierarchical entity with $instance data looks in the emulator.
![image](https://user-images.githubusercontent.com/17637681/91110057-9c66f300-e631-11ea-8b83-ecce6bddddac.png)

# Solution
First the summary should handle structured objects.  It would also be nice to be able to collapse/expand nodes in the JSON at left, in particular $instance.
[bug]

[2020-08-26 23:39] #2178 closed

[2020-09-02 04:56] spd3344 opened #2187 "on Turn trace error due to status code 400 in http request"
bot is working fine upto 30 messages per conservation, after 30 messages bot is throwing Turn trace error.
I have observed in terminal that due to "put method HTTP/1.1" 400 None " response bot is throwing error, By changing what setting I can increase the messages per conservation limit
I am using cosmos db

[2020-09-02 16:32] dmvtech commented on #2187
Hi @spd3344

- What setting are you changing?
- Are you using any specific sample to reproduce this with?
- Are you using cosmosdb in the cloud or with local Azure storage emulator?
- Does it reproduce with memory state instead of cosmos?

[2020-09-02 16:43] spd3344 commented on #2187
I didn't change any setting, I am using cosmosdb with local storage emulator.
I have observed that some etag in bot source code(cosmosstoragedb.py) is getting triggered For some concurrency control.
It is getting triggered after 30 messages, how to fix this?

[2020-09-04 01:13] chrimc62 commented on #2154
This is still an issue.  This:
![image](https://user-images.githubusercontent.com/17637681/92188263-f8d7c880-ee10-11ea-8413-ebbca8cf3f0f.png)
Renders as this:
![image](https://user-images.githubusercontent.com/17637681/92188277-02613080-ee11-11ea-9bf1-3bdabe5ef081.png)

[2020-09-04 21:07] dmvtech commented on #2187
Hi @spd3344 I'm not sure on to fix. I will try and reproduce it first. Do I need a/your specific bot to reproduce, or will any work? (as long as using cosmosdb and 30 messages). For example, will this reproduce with a simple Python Echo bot?

[2020-09-07 15:11] guy-microsoft opened #2188 "Extra "$schema" attribute in adaptive card message object compared to directline"
## Version
4.10.0

## Describe the bug
When an adaptive card is received from a bot, the attribute `"$schema": "https://adaptivecards.io/schemas/adaptive-card.json"` is added to attachments->content.

## To Reproduce
Steps to reproduce the behavior:
1. Have a conversation with a bot, that includes an adaptive card during the conversation.
2. Click on 'Save transcript'.
3. Look for the adaptive car

[2020-09-07 15:19] #2188 closed

[2020-09-08 21:41] tonyanziano commented on #2154
I just tested this with the latest Web Chat and the bug is still present in 4.10.0.

The issue (https://github.com/microsoft/BotFramework-WebChat/issues/3165) has been labeled for R11 and can be tracked there.

[2020-09-09 22:57] tonyanziano commented on #1568
I looked at the original issue which is / was supposedly caused by a special network configuration (company proxy / firewall), however, similar behavior was also mentioned in #2011 which was resolved and closed.

So I'm going to close this issue, please reopen this @martinoss if you are still encountering this behavior.

---

Regarding the separate bug opened by @JonathanFingold, also dealing with

[2020-09-09 22:57] #1568 closed

[2020-09-11 17:07] tomlm opened #2189 "TraceActivity should not show raw activity."
Trace activity should show custom view like it does for LuisV3 traces.

It should show
   Name
   Label
   ValueType
   Value

[2020-09-15 17:59] tsuwandy commented on #2187
@dmvtech, any update on this?

[2020-09-17 14:47] dmvtech commented on #2187
I tested with a C# bot and didn't have the issue. I will test with Python. @spd3344 can you answer my questions above? Do you have a reproduction sample?

[2020-09-17 21:09] dmvtech commented on #2187
@spd3344 I need more info. I assume it's not just 30 messages, but 30 messages that save state to cosmosDB. I'm kind of shooting at the dark here; if you can provide a reproduction and share it in a github repository (sanitized of PII), that would be _great_. Or if you can give me the exact steps to reproduce this. Thanks.

[2020-09-18 16:28] srinaath opened #2190 "Disabling Auto Updates"
**Is your feature request related to a problem? Please describe.**
Need an solution to disable auto updates on Emulator when it is deployed in controlled environments

**Describe the solution you'd like**
Support for disabling auto updates through a command line flag

[enhancement]

[2020-09-22 02:37] Danieladu opened #2192 "Rendering error occurs when text contains pair of curly braces"
## Describe the bug
When the text of Activity contains `{}`, Emulator would render into an  empty text.
For example, the text is "{abc}",
![image](https://user-images.githubusercontent.com/7289268/93839432-82b3dc80-fcbf-11ea-8015-cedd093f1be9.png)

the emulator result is:
![image](https://user-images.githubusercontent.com/7289268/93839405-729bfd00-fcbf-11ea-9bf1-5b21ec6a568e.png)

[bug]

[2020-09-22 17:57] dmvtech commented on #2187
hi @spd3344 Just checking in. Are you able to share a sanitized reproduction and steps with me?

[2020-09-23 10:22] johnzan0743 commented on #2162
Thank you for the help, I can successfully connect to my qna service now. But for some reason, I can only inspect the confidence score by testing it online, not locally on the emulator.

[2020-09-23 18:19] tonyanziano commented on #2162
Hi @johnzan0743,

When you are talking to your bot locally using the Emulator, and leveraging QnA, do you see any entries in the Log Panel of the Emulator that are labeled "QnA Trace?"

[2020-09-23 18:44] tomlm opened #2193 "Live chat tab should have name of the endpoint instead of "Live Chat""
When I have multiple endpoints because I'm working with skills I have can't tell what endpoint a live chat is assocaited with because they are all labeled "Live Chat".
![image](https://user-images.githubusercontent.com/17789481/94055609-11912980-fd92-11ea-87ff-85b40a5f6ef6.png)

Expected: The name of the tab should be the name of the endpoint.

[2020-09-24 02:43] johnzan0743 commented on #2162
Interesting things happened, now I can see the confidence score, (I guess I need to restart to make it happen), but only when the confidence score is higher than the threshold. If it were below the threshold, nothing can be traced but only suggesting me to manually add the question and answer, good enough though.

[2020-09-24 16:37] tonyanziano commented on #1700
Suggestion from an email thread:

It would also be great if on top of this feature, we could build a sort of "collections" system that would allow users to save previous payloads or organized lists of payloads so that they could easily send them again.

This would be similar to the "Collections" feature in Postman.

[2020-09-24 22:52] dmvtech commented on #2187
Hi @spd3344 I'm closing this one as I haven't heard from you in some time and we still need further information to proceed. Please reopen or let us know if you are still having issues and need assistance.

[2020-09-24 22:54] #2187 closed

[2020-10-02 18:57] v-kydela opened #2195 "Dark and high contrast themes don't render hyperlinks or card text correctly"
## Version
4.10.0

## Describe the bug
The text for hyperlinks and cards is unreadable when using the dark theme or high contrast theme.

## To Reproduce
Steps to reproduce the behavior:
1. Have a bot send a hyperlink
2. Have a bot send a card with text outside of buttons
3. Switch to dark theme or high contrast theme
4. Observe that the text is unreadable

## Expected behavior
All themes should u

[2020-10-23 17:35] stevengum opened #2196 "AuthEndpoints Gov issuers needs to be updated"
## Version
`main`

## Describe the bug
The Emulator is unable to communicate with newly provisioned Fairfax bots. The original issue was reported in https://github.com/microsoft/botbuilder-dotnet/issues/4729 for the SDK, but this affects the emulator as well.

The required issuers are listed in the [above issue](https://github.com/microsoft/botbuilder-dotnet/issues/4729#issuecomment-713068007).

#

[2020-10-28 05:02] deeepss opened #2197 "Ngrok not getting detected"
ngrok.io is whitelisted in my network but still Microsoft Bot Emulator is not able to start the ngrok. Where can I find the logs atleast ?
![ngrok](https://user-images.githubusercontent.com/2598330/97392870-2e65d300-18e3-11eb-9401-bcd14e3c0b38.png)

[2020-10-28 16:30] dmvtech commented on #2197
Hi @deeepss Can you share what your Emulator settings looks like (sanitized of personal/sensitive information). Also, what version of Emulator are you running?

[2020-10-28 16:37] dmvtech commented on #2197
Also, can you confirm the version of ngrok (`ngrok.exe -v`) and if it is running currently (`ps -name ngrok` in PowerShell)?

[2020-10-29 11:44] deeepss commented on #2197
I am using ngrok version 2.3.35

[2020-10-30 00:13] dmvtech commented on #2197
Have you configured the path to ngrok and selected `Run ngrok when the Emulator starts up` ? You must also restart Emulator after selecting this option.

![image](https://user-images.githubusercontent.com/43397658/97645326-dc6b9d00-1a09-11eb-9ba9-da09370689fc.png)

[2020-11-02 13:09] deeepss commented on #2197
![Capture](https://user-images.githubusercontent.com/2598330/97871566-fd3b3780-1d14-11eb-8874-1013c78f45e4.PNG)

Its the same here as well.

[2020-11-02 22:32] dmvtech commented on #2197
Interesting. Are you able to get to _either_ of the following urls (when emulator is running and you have a bot opened):

[code]

[2020-11-02 22:36] dmvtech commented on #2197
And just to confirm; you have **closed and restarted** Emulator after saving the settings?

[2020-11-03 05:13] deeepss commented on #2197
Yes. I have even restarted my VM just to be on safer side

[2020-11-03 05:22] deeepss commented on #2197
Hello, yeah this works. Only when the bot is opened the ngrok is actually getting active. When I reopen the emulator without the Bot being launched, I run into the same issue. So, my conclusion is, unless the bot is in running/debugging mode, ngrok may not be active.
Please correct me, if I am wrong.

[2020-11-03 15:20] AkumaTen opened #2198 "Bot Framework Emulator doesn't show activities timestamp and typing message"
Hi!
I'm testing the [ActivityTypes.Typing](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-send-messages?view=azure-bot-service-4.0&tabs=javascript#send-a-typing-indicator) in a simple Echo Bot and I notice that Bot Framework Emulator doesn't show activities timestamp and "typing" message.
![image](https://user-images.githubusercontent.com/38658826/98004064-c5ed8900-1def-11eb-

[2020-11-03 20:18] anusharavindrar opened #2199 "Bot Framework Emulator does not show activities timestamp"
## Version
4.10.0

## Describe the bug
The current version 4.10.0 of the Emulator does not show timestamps for the activities.

## Screenshots
![image](https://user-images.githubusercontent.com/48731427/98035645-b2312b00-1dcd-11eb-9a12-970b1d6a1511.png)

## Additional context
Add any other context about the problem here.

[bug]

[2020-11-03 20:23] anusharavindrar commented on #2198
@AkumaTen, for the typing message, we currently do not support it and are not actively working on to fix. For the timestamp issue, I am able to repro it on my end and have filed for the bug #2199, where you can track the progress.

[2020-11-03 20:23] #2198 closed

[2020-11-03 21:53] dmvtech commented on #2197
Yeah, looks like you actually have to have a bot open in Emulator for it to work. The bot endpoint doesn't actually have to be running/available, but in Emulator you do need to have one opened.

Since this seems resolved, I will close this. Please let us know if you have any other issues.

[2020-11-03 21:53] #2197 closed

[2020-11-04 15:08] peterbozso commented on #1700
I am looking forward to this feature very much.

To others who are stumbling into this issue in the meanwhile, I created [this Postman package](https://github.com/BotBuilderCommunity/botbuilder-community-tools/blob/master/directline-postman/README.md) that you can use instead of the Emulator to test custom events through the Direct Line.

[2020-11-05 19:53] srinaath opened #2200 "R11 Release checklist"
The following need to be signed-off on before the Emulator can publish a new stable build.

### NOTE: Make sure to do a clean install before attempting to go through the checklist: Clear out `@bfemulator` folder in app data (`%APPDATA%` on Windows, `~/Library/Application Support` on Mac`~/.config` on Linux)

## Steps
- Create a release branch
- Upgrade Webchat versions in client package
- Upgrade

[2020-11-06 08:33] srinaath opened #2201 "Support the new middleware contract for Webchat"
### Description
https://github.com/microsoft/BotFramework-WebChat/blob/master/CHANGELOG.md#change-in-general-middleware-design

1. Support the new activity middleware contract provided by Webchat.
2. core-js shims required by Webchat

[2020-11-09 12:03] frankbass3 opened #2203 "DeserializationError: Cannot deserialize content-type: text/html"
I did download the samples and i try to run the Multi-Turn-Prompt the python version.
The project start fine and create me the url: http://localhost:3978
I open it in the bot framework Emulator http://localhost:3978/api/messages
And it crash:

[on_turn_error]: Cannot deserialize content-type: text/html
Traceback (most recent call last):
  File "C:\Users\Francesco.tangari\Documents\Projects\Bots\bo

[2020-11-09 18:52] tonyanziano commented on #2199
@anusharavindrar Please try to repro this bug with version 4.11.0. It will be released by EOD today.

![image](https://user-images.githubusercontent.com/3452012/98583680-9b7d4f00-2279-11eb-95b7-eae28ccad5cf.png)

[2020-11-09 19:14] tonyanziano commented on #2201
Closed via #2202

[2020-11-09 19:14] #2201 closed

[2020-11-09 20:52] v-kydela commented on #2203
Thank you for the report, @frankbass3. I can see that your error message mentions HTML and your comments seem to confirm that you are expecting HTML to be used in some way. What HTML are you talking about? Also, please provide the following:

1. A link to the sample you're talking about
1. Screenshots of the problem
1. Repro steps

[2020-11-10 08:54] frankbass3 commented on #2203
Yes

- The sample is the mulit-turn-prompt   link:https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/05.multi-turn-prompt
- Screenshoot attached
- steps was simple just open the project run the app.py, go in emulator put the url.

![image](https://user-images.githubusercontent.com/375789/98651541-b19f1400-233a-11eb-855d-8f919caf3206.png)

[2020-11-10 18:59] anusharavindrar commented on #2199
@tonyanziano, version 4.11.0 of the Emulator shows the activities timestamp correctly. Closing the issue as resolved.

[2020-11-10 18:59] #2199 closed

[2020-11-10 19:27] srinaath commented on #2200
Release completed

[2020-11-10 19:27] #2200 closed

[2020-11-12 19:07] mrivera-ms commented on #2203
@v-kydela, could you please look at the reply? Thank you.

[2020-11-12 19:22] v-kydela commented on #2203
@mrivera-ms - Don't worry, this is on my list

[2020-11-13 21:49] v-kydela commented on #2203
@frankbass3 - I'm sorry but I cannot reproduce the problem. When I debug Python sample 5 in Visual Studio Code without any app ID or password or virtual environment, the sample works in Emulator without issue:

![image](https://user-images.githubusercontent.com/41968495/99123257-afe08500-25b4-11eb-9e93-38bf9bf9dd44.png)

We will need to figure out what makes your situation different from mine. I w

[2020-11-15 18:09] frankbass3 commented on #2203
Magically today appear an update pop-up on the Emulator and i could update it to the version v4 and now it works.
Thank you.

[2020-11-15 18:09] #2203 closed

[2020-11-16 04:05] EricDahlvang opened #2206 "The Delay Activity type does not work as expected"
#Version
latest

## Describe the bug
Sending an Activity with Text, then  the Delay activity type, then a 2nd text, will result in a delayed 2nd message showing up for the user.  However, the Emulator does not show the 1st response until the 2nd text arrives.

## To Reproduce
Steps to reproduce the behavior:
1. Create an Echo bot
2. Send an Echo response, a delay of three seconds, then another res

[2020-11-25 17:27] JonathanFingold opened #2207 "Bug in Markdown numbered list rendering"
## Version
What version of the Emulator are you using. 4.11.0

## Describe the bug
Markdown messages such as "2. blah" or "2) blah" should render as:

2. blah

However, they render as

1. blah

## To Reproduce
Steps to reproduce the behavior:
1. Create a bot that includes this logic:
[code]
1. Run the bot and attach to it in the Emulator
1. See error: See that the lists start at 1 instead of at 2.

[2020-11-25 21:07] alevinetx commented on #197
Is this correct in that this is still an open issue, with no way to emulate multiple users within the same conversation?

[2020-11-30 16:56] tonyanziano commented on #197
Hello @alevinetx ,

Yes, this is still currently unsupported in the Emulator.

[2020-12-01 14:16] rprecioso opened #2208 "Compliance Policy for Graph API Hindering Use of Emulator"
## Version
Version 4.11.0

## Describe the bug
When Graph API Permission is enabled for Files.ReadAll, the company specific policy for sensitive data is hindering the SSO login to continue. The authentication does continue anymore because it doesn't treat the emulator as a proper browser. Regardless if I remove the API permission in the Azure App Registration, the issue does not resolve it. Intern

[2020-12-01 21:51] tonyanziano commented on #2181
P0:
- [ ] Add UI to "Open bot dialog" to allow user to additionally specify values for `randomSeed` & `randomValue` properties
- [ ] Before conversation updates are sent to a conversation, send a custom event activity with the name `SetTestOptions` with an `eventValue` property containing the `randomSeed` & `randomValue` properties **if the above properties were set**

P1:
- [ ] Implement ability

[2020-12-01 21:59] tonyanziano commented on #2208
Hi @rprecioso ,

This is due to a security policy change within certain Microsoft tenants.

We recently faced the same issue over in the [Bot Framework Composer](https://github.com/microsoft/BotFramework-Composer), and had to fix it by doing a complete overhaul of the way auth works and using a native Node library that actually leverages certain OS-level authentication & security APIs.

I assume w

[2020-12-01 22:36] tonyanziano commented on #2208
If you are able to deploy your bot so that you can test it in a web context (outside of Electron), then it should work properly, however, I do not expect authentication within the Emulator to work currently.

Were you trying to sign in to an @microsoft.com account? Or do you happen to know if it was a personal / school account?

[2020-12-02 01:36] rprecioso commented on #2208
Thank you for this. I hope I can contribute on this as well.

It's an organization account that I am using in our company. Weird thing is, if I remove the scope in API permission  that is having an issue it doesn't resolve the issue. Would you know if it's cached somewhere?

[2020-12-03 21:38] tonyanziano commented on #2181
P0 requirements have been met in #2209. Expect to see these changes in tonight's nightly build 👍

[2020-12-04 18:09] tonyanziano commented on #2208
Do you mean that previously, if you tried to sign in without specifying a scope you were not getting this error?

As far as I know, it is not cached anywhere.

[2020-12-05 00:32] scheyal opened #2210 "Javascript error: Status in undefined"
It started after about an hour of use.

![image](https://user-images.githubusercontent.com/8867670/101227793-0427d380-364e-11eb-8a33-e9440de33d90.png)

Repro:
1. Create a bot using latest bugbash Composer build
2. Start emulator, use for a while, no issues
3. Restart conversation. Boom.

Version: 4.11.0 (prod)

[2020-12-10 14:50] ChandraSannamuri commented on #1388
Anyone got any solution for this. we are also facing the same issue

[2020-12-14 18:55] kashyap-aditya commented on #172
Please implement this.

[2020-12-15 19:18] taicchoumsft commented on #2208
@rprecioso , do you have an update for @tonyanziano's question?

[2020-12-21 05:13] EricDahlvang commented on #2206
another reference:

https://github.com/microsoft/BotFramework-Emulator/issues/2206

[2020-12-30 22:14] #2174 closed

[2020-12-30 22:19] tonyanziano commented on #2174
This feature will be available in tonight's nightly build. Check out #2213 for details

[2020-12-30 22:19] tonyanziano commented on #1700
This feature will be available in tonight's nightly build. Check out #2213 for details

[2020-12-31 17:47] tonyanziano commented on #2174
There is currently an issue with the nightly pipeline that we are working to fix. Stay tuned

[2021-01-04 19:26] gabog commented on #2208
Hi @rprecioso, closing this one due to inactivity, feel free to reopen it if you need further assistance.

[2021-01-04 19:26] #2208 closed

[2021-01-06 05:43] tonyanziano commented on #2174
The latest nightly here includes this feature: https://github.com/microsoft/botframework-emulator-nightlies/releases/tag/v4.11.0-199884

[2021-01-06 05:43] tonyanziano commented on #1700
The latest nightly here includes this feature: https://github.com/microsoft/botframework-emulator-nightlies/releases/tag/v4.11.0-199884

[2021-01-08 08:18] sunilus opened #2216 "Emulator not working properly"
Every time if any code change if need to test that in emulator not working so for that need to restart/shutdown my system.

[2021-01-08 22:04] stevkan commented on #2216
Hi @sunilus, a few questions to start:

- Which code are you referring to when making changes? Bot code? Or, did you clone the Emulator repo and are trying to make changes to Emulator's code? Or, something else?
- Can you post the code you are making changes to? This will help in investigating/attempting a repro.
- Which version of Emulator are you running?
- Which OS are you running?
- Are you re

[2021-01-20 02:44] daleym64 opened #2217 "Silent installation"
Working for a large company we need to deploy Bot Framework Emulator to a lot of computers.
It's super frustrating that there is no silent or unattended switches or any switches for the installer

[2021-01-21 01:34] stevkan commented on #2216
Closing due to inactivity.

[2021-01-21 01:34] #2216 closed

[2021-01-21 19:32] arman-g opened #2218 "Consider adding Conversation ID"
It would be good to add a user provided conversation ID under settings that will allow testing multi user conversation.

[2021-01-29 01:54] tomlm opened #2221 "I can't view qnamaker recognizer traces"
## Version
What version of the Emulator are you using.
![image](https://user-images.githubusercontent.com/17789481/106221063-b92fc580-6191-11eb-995b-9158395763b8.png)

## Describe the bug
I should be **always** be able to view the json of a trace statement, regardless if I have qnmaker hooked up or not.

## To Reproduce

1. configure qnamakerrecogznier
2. look at trace

## Expected behavior
to be

[2021-01-29 01:58] tomlm opened #2222 "I can't add qnamaker service to bot file because it hangs enumerating resources."
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What version of the Emulator are you using.

## Describe the bug
Give a clear and concise description of what the bug is.
![image](https://user-images.gi

[2021-01-29 01:59] tomlm opened #2223 "Add service from azure should NOT enumerate all services"
## Version
What version of the Emulator are you using.

## Describe the bug

## To Reproduce
It taks > 5 minutes to enuemrate all resources and then I have to scroll across 130 subscriptions work of data.

## Expected behavior
It should have a drop down
1. tenant
2. subscription
3. service type
4. service

## Screenshots
If applicable, add screenshots to help explain your problem.

## Additional c

[2021-01-29 02:04] tomlm opened #2224 "qnamaker tool view doesn't fit window"
# expected
it shouldn't be so narrow, it should fit the width of the window so I can read the text.

[bug]
![image](https://user-images.githubusercontent.com/17789481/106221796-1e37eb00-6193-11eb-89e1-96b0af22e40d.png)

[2021-01-29 02:04] tomlm opened #2225 "qnamaker tool view doesn't let me view the json of the recognizer result"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What version of the Emulator are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to repro

[2021-02-01 14:20] umerazeemalgo commented on #107
its 2021 , now any way to provide custom call back URL in bot emulator?

[2021-02-01 18:58] chrimc62 opened #2227 "Tabs should be titled with the endpoint rather than "Live chat""
**Is your feature request related to a problem? Please describe.**
When you are working with multiple bot endpoints there is no easy way in the UI to identify which tab is talking to which endpoint.  The only way to tell is either by conversation or by looking at the start of the log which is a slow way to find the tab you want.

**Describe the solution you'd like**
Tabs should include the endpoin

[2021-02-04 00:25] Slapbox commented on #135
If anyone else comes across this issue, if you're missing the `dist/electron.exe` folder, delete

- `node_modules/electron`

and if you're using `yarn` then run `yarn --check-files`

[2021-02-04 20:07] stevkan commented on #2217
@daleym64, Emulator is built using [Electron](https://www.electronjs.org/). As such, silent installation, and other installation features, are managed by Electron and not, specifically, as part of the application being built.

The discussion in this issue, [silent install parameter for windows installer](https://github.com/electron/electron-packager/issues/549#issuecomment-270459819), suggests a p

[2021-02-04 20:07] #2217 closed

[2021-02-04 20:41] srinaath commented on #2218
Thanks @arman-g. will take this suggestion and add this to our backlog.

[2021-02-07 00:14] Stevenic opened #2229 "Add static people list for new Adaptive Card People Picker"
The Adaptive Card team is adding a new "People Picker" control which will allow the selection of users within a given scope that the card is displayed in (current conversation, org, etc.)  To properly test this within the emulator we should add a new setting that lets the developer configure a static list of users that will be searched over when testing the people picker within the emulator.

The

[2021-02-10 06:40] hatpick opened #2231 "[Mac] Microphone icon is not doing anything when clicked"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.11.0

## Describe the bug
I want to use speech capabilities of the emulator on my mac but I can't because microphone is disabled.

## To Reproduce

1.

[2021-02-10 21:55] hatpick commented on #2231
After talking to @tonyanziano and creating a new microsoft app id and password. It worked and asked for mic permission automatically.

[2021-02-10 21:55] #2231 closed

[2021-02-12 02:22] tomlm opened #2232 "latest build doesn't show json"
## Version
What version of the Emulator are you using.
![image](https://user-images.githubusercontent.com/17789481/107723422-edc57600-6c95-11eb-9648-deda7ad9b7ba.png)

## Describe the bug
I updated to latest preview and it stopped display json.  I rebooted, still not display json.  I installed 4.11.0 and it started working again.

## To Reproduce
Install 4.11 212215

## Expected behavior
To be abl

[2021-02-12 17:45] tonyanziano commented on #2232
I can repro this in dev. Looking into a fix.

[2021-02-12 18:04] tonyanziano commented on #2232
There was a breaking change in Electron that flew under the radar when I bumped up the version. `<webview>` tags are now disabled by default, and need to be explicitly enabled in the code. All the inspectors are hosted within these `<webview>` tags.

I have a PR up that re-enables them: #2233

[2021-02-12 18:25] #2232 closed

[2021-02-18 23:46] chrimc62 opened #2234 "Input box disappears when content scrolls out of view port"
## Version
4.11.0.213768

## Describe the bug
When the transcript window firsts scrolls out of view the input box disappears.  It is still there, but you have to click on the bottom of the screen and type to get it back.

## Screenshots
![image](https://user-images.githubusercontent.com/17637681/108436476-5bc2ed80-7200-11eb-8cd2-39f102bec686.png)
![image](https://user-images.githubusercontent.com/

[2021-02-19 00:17] tonyanziano commented on #2227
I messed around with the HTML in dev tools and made a quick mockup of what the desired UI is:

![image](https://user-images.githubusercontent.com/3452012/108438761-c7a75500-7204-11eb-856f-e0d342e7eb97.png)

This is what you are asking for, correct?

[2021-02-20 09:29] xiaoyunwei opened #2235 "Bot Framework Emulator failed to run when an existing NODE_OPTIONS environment variable"
## Version
BotFramework-Emulator-4.11.0-windows and also some early versions.

## Describe the bug
Cannot run the emulator after installation. No error message is displayed.

## To Reproduce
Steps to reproduce the behavior:
1. Just double click the icon to start
2. Nothing happens

## Workaround
Delete the 'NODE_OPTIONS' environment variable and the emulator starts working.

## Screenshots
No erro

[2021-02-23 18:05] cwhitten commented on #2235
@tonyanziano can you take a look at this?

[2021-02-23 18:07] tonyanziano commented on #2235
Sure, will do

[2021-02-25 21:06] congysu commented on #2235
@tonyanziano could you please take a look at this item?  Thanks.

[2021-02-25 23:21] cwhitten commented on #197
Hello. We'll close this issue as we have no plans to support multi-user on our 6-12 month roadmap.

[2021-02-25 23:21] #197 closed

[2021-02-25 23:24] cwhitten commented on #172
This issue is on our backlog and is not currently prioritized into an upcoming milestone.

[2021-02-25 23:33] cwhitten commented on #107
Greetings. We'll take this as a backlog item to prioritize, however we cannot provide an ETA when this will be possible. We would happily accept a community contribution enabling this functionallity.

[2021-02-25 23:35] #1185 closed

[2021-02-25 23:47] #695 closed

[2021-02-25 23:47] #568 closed

[2021-02-25 23:47] #558 closed

[2021-02-25 23:47] #537 closed

[2021-02-25 23:47] #524 closed

[2021-02-25 23:47] #520 closed

[2021-02-25 23:48] #519 closed

[2021-02-25 23:48] #518 closed

[2021-02-25 23:48] #516 closed

[2021-02-25 23:48] #514 closed

[2021-02-25 23:48] #502 closed

[2021-02-25 23:49] cwhitten commented on #429
Hello. We have provided this functionality through the use of the Direct Line Speech channel, where you can provide your speech credentials to connect to the service. Closing.

[2021-02-25 23:49] #429 closed

[2021-02-25 23:52] cwhitten commented on #415
We'll keep this on our long-term backlog. No ETA, but we would happily accept a community contribution.

[2021-02-25 23:58] cwhitten commented on #1854
Update: still no ETA to support this issue -- community contributions accepted!

[2021-02-26 00:26] cwhitten commented on #1814
Simple housing keeping update: we'll close this issue and track it here: https://github.com/microsoft/BotFramework-Emulator/issues/1814 Thanks!

[2021-02-26 00:26] #1814 closed

[2021-02-26 00:35] #1626 closed

[2021-02-26 00:38] cwhitten commented on #1462
Closing as a duplicate of https://github.com/microsoft/BotFramework-Emulator/issues/1821

[2021-02-26 00:38] #1462 closed

[2021-02-26 00:40] cwhitten commented on #1405
Closing as fixed!

[2021-02-26 00:40] #1405 closed

[2021-02-26 00:46] cwhitten commented on #1388
Hello @ChandraSannamuri. Do you still see the issue when using the "Clear State" menu option?

<img width="428" alt="Screen Shot 2021-02-25 at 4 46 04 PM" src="https://user-images.githubusercontent.com/1156704/109238779-0438fa80-7789-11eb-9467-5241c050cea9.png">

[2021-02-26 00:57] cwhitten commented on #1332
Hello @krajniak - we have deprecated using .bot files and will not be adding new functionality that utilizes it.

I like your idea of a blob to .transcript converter, but I don't see it being part of the Emulator. The Bot Framework CLI would be a tool to consider such functionality. Please open a feature request there for continued discussion: https://github.com/microsoft/botframework-cli

[2021-02-26 00:57] #1332 closed

[2021-02-26 01:03] cwhitten commented on #1253
Hello @martinoss - this is indeed an issue, however we have no ETA on when we would see this addressed in the Emulator. We would happily accept a community contribution.

[2021-02-26 01:07] cwhitten commented on #1246
Thank you @martinoss for the workaround. Closing this issue as we do not have plans to bring this functionality into the Emulator.

[2021-02-26 01:07] #1246 closed

[2021-03-01 19:07] tonyanziano commented on #2235
I can't seem to reproduce this. I have tried setting the `NODE_OPTIONS` variable and starting Emulator but it starts without any issues.

![image](https://user-images.githubusercontent.com/3452012/109545761-1c0cc900-7a7e-11eb-9201-a8e206871287.png)

If I set the `--max-http-header-size` option to have an empty value, electron will tell me that it needs an argument, so I know it is parsing the opti

[2021-03-02 02:59] xiaoyunwei commented on #2235
The version on my laptop is "v10.16.3". The one on my desktop is "14.16.0 LTS". Both had the same issue and it is OK now after removing the environment variable.

[2021-03-02 23:23] tonyanziano commented on #2235
Thanks for the info.

I tried using version 4.11.0 of the Emulator (Electron 4.x) and was not able to reproduce this. I also tried it on the newer version of Emulator (Electron 11.x) and was unsuccessful as well.

@xiaoyunwei is there any chance you could show me what your `NODE_OPTIONS` environment variable looks like when you experience this issue?

You can run the following command:

`echo %NOD

[2021-03-03 00:31] #2234 closed

[2021-03-03 01:27] xiaoyunwei commented on #2235
![image](https://user-images.githubusercontent.com/20653516/109738209-6028d680-7c02-11eb-8f23-8b68e2166056.png)

This is on a Windows 10 VM in Azure. I didn't install node.js separately on this VM.

[2021-03-03 01:29] xiaoyunwei commented on #2235
Can you just try deleting this variable? If it's not set, it uses the default value for max-http-header-size.

[2021-03-04 22:37] tonyanziano commented on #2235
Interesting, I thought the missing double quotes would be the issue, but I was still unable to reproduce this:

![image](https://user-images.githubusercontent.com/3452012/110040126-1f5eb980-7cf7-11eb-8b41-d2d957dc4050.png)

I don't think we can just delete the variable inside of the code because it looks like electron is throwing the error before the app code is even loaded.

[2021-03-06 16:47] upendra1588 opened #2241 "MS Chatbot is not open chat conversation window in emulator on VM , getting 403 error with port 55415"
Hi Team,

Chatbot is not open chat conversation window in emulator 4.11. It is working in local machine but same thing is not working from client network VM, getting below error. Ngrok is working on same vm also having admin right. Bot configuration is also fine.

![image](https://user-images.githubusercontent.com/14072701/110214227-a8c5e580-7ec9-11eb-896a-401e5322a2e8.png)

[2021-03-09 00:30] anusharavindrar commented on #2241
@upendra1588, a few clarifying questions to help understand the issue better:

- Is the chat window not opening for the this specific bot or it is the case for all the bots you are trying to open in the Emulator on the VM?
-  Is your bot and the Emulator both running on the same VM?

[2021-03-09 03:12] upendra1588 commented on #2241
Hi @stevkan Please find below comments.
1. Chat window is not opening for all bots and Yes, I am trying it from VM only.
2. Yes. Emulator and Bot  code both on same VM.

Thanks

[2021-03-09 15:27] cfreksen opened #2243 "The emulator does not render adaptive cards with isRequired"
## Version
4.12.0

## Describe the bug
When a bot responds with a card with an input element with `"isRequired": true`, the emulator displays an empty grey box rather than a grey box with the card.

This is independent of setting schema version to 1.2 or 1.3.

The card renders correctly in emulator version 4.11.0

## To Reproduce
Send the following message to the emulator (`attachments` is the int

[2021-03-09 18:46] corinagum commented on #2243
This is an edge case in the event that 1.3 schema properties on the Adaptive Card were used incorrectly. Previously, these properties were ignored by Web Chat due to not supporting 1.3. With the 4.12.0 bump, Web Chat honors Adaptive Card 1.3 errors and does not render cards with validation errors in production mode.

Please see link for more details. A new property `adaptiveCardsParserMaxVersion`

[2021-03-09 18:46] #2243 closed

[2021-03-12 19:36] daveta commented on #1689
Closing per @EricDahlvang.

[2021-03-12 19:36] #1689 closed

[2021-03-15 23:41] anusharavindrar commented on #2241
@upendra1588, thanks for the above info. I have a few more questions:

- Can you elaborate more on what VM are you running?

- Can you try installing Postman on the VM and try to send a similar HTTP request to that same URL that is returning the 403 ?

[2021-03-16 01:16] chrimc62 commented on #2154
This was not fixed in R11 or R12.  Is it ever going to be fixed?

[2021-03-16 13:01] upendra1588 commented on #2241
@anusharavindrar We have a simple VM which is running on client network and we are able to access it from our JUMP server.

The problem is :

I have installed BOT emulator in VM and trying to open chat conversation window. I did all configuration like below

url: http://localhot:3978/api/messages
MS AppId: *********
MS App  password : ***************

but conversation window is not opening.  I hop

[2021-03-16 15:26] tonyanziano commented on #2154
@chrimc62 this is a Web Chat bug so it will be present in Emulator until it is fixed in Web Chat. If you look at https://github.com/microsoft/BotFramework-WebChat/issues/3165 you can see that it was moved into the R13 milestone last week.

[2021-03-16 17:25] corinagum commented on #2192
Duplicate of #4154

[2021-03-16 17:25] #2192 closed

[2021-03-16 17:26] corinagum commented on #2154
In progress now - sorry @chrimc62 for the wait. Low on manpower haha.

[2021-03-16 17:45] JonathanFingold opened #2246 "Throttling issue when testing Composer root and skill bots locally with the Emulator"
## Version

version: 4.12.0

## Describe the bug

I get a HTTP 500 status error due to ngrok tunneling limits after a short amount of time.

## To Reproduce
Steps to reproduce the behavior:
1. Create root and skill bots in Composer.
1. Start the bots from Composer.
1. Test the root bot in the Emulator (only instance of it or ngrok running)
1. Interact with the root and the skill.
1. Error: In 6-10

[2021-03-16 21:45] tonyanziano commented on #2235
For now the workaround is to delete the `NODE_OPTIONS` environment variable if you encounter this issue.

I will try and repro this on a WIndows 10 VM in Azure

[2021-03-16 22:14] tonyanziano commented on #2235
I tried reproducing this on a freshly created Windows 10 VM in Azure (Windows 10 Pro version 2004) and was unsuccessful:

![image](https://user-images.githubusercontent.com/3452012/111386824-0e546780-866a-11eb-989e-1b7655ef18db.png)

I'm going to close this issue for now as I am unable to reproduce this, and there appears to be a reliable workaround in which you delete the `NODE_OPTIONS` environme

[2021-03-16 22:14] #2235 closed

[2021-03-17 19:51] anusharavindrar commented on #2241
@upendra1588, can you try installing Postman on the VM and try to send a similar HTTP request to the same URL that is returning the 403 ?

[2021-03-21 10:10] dguerin opened #2247 "Page not found after Azure Account Sign in"
## Version
Just installed 4.12.0

## Describe the bug
Page not found on embedded window after Sign in to Azure, via the emulator under "My Bots"

## To Reproduce
Steps to reproduce the behavior:
1. Update to 4.12.0
2. Load Emulator
3. Click "Sign in with your Azure Account"
4. Authenticate with Azure (I'm using 2-FA with the Microsoft Auth App)
5. After successful login, embedded window page chang

[2021-03-22 03:22] ciph3rwoman commented on #2247
Yeah - same issue for MSFT Employees as well.

[2021-03-22 17:49] tonyanziano commented on #2247
I can reproduce this issue locally and I am looking into it.

[2021-03-22 18:18] carlosscastro commented on #2241
@upendra1588 could you please provide the information @anusharavindrar requested so we can troubleshoot further? Thanks!

[2021-03-22 19:00] tonyanziano commented on #2247
This appears to only be a bug in version 4.12 (and some of the most-recent nightly versions), and it does not appear in 4.11.

I'd advise downgrading to version 4.11 in the meantime if the Azure sign-in flow is important to your work flow.

In the interim, we will work on fixing the issue in 4.12 and getting out a new build.

[2021-03-22 19:15] carlosscastro commented on #2247
Here is the 4.11 release link for folks that are blocked by this: https://github.com/Microsoft/BotFramework-Emulator/releases/tag/v4.11.0

As @tonyanziano mentioned above, we're investigating but while we do, 4.11 fully supports azure login.

[2021-03-22 23:27] #2247 closed

[2021-03-23 00:38] tonyanziano commented on #2247
This issue is fixed and should be available in tonight's nightly build.

[2021-03-23 04:29] ciph3rwoman commented on #2247
Thanks @tonyanziano much appreciated.

[2021-03-23 04:44] upendra1588 commented on #2241
HI Microsoft/Botframework-Emulator,

I have resolved the issue, It was related to VM outbound rules which were
blocking traffic and the conversation window was not open. Thanks for your
cooperation.

Thanks

On Mon, Mar 22, 2021 at 11:48 PM Carlos Castro ***@***.***>
wrote:

[2021-03-23 17:30] corinagum commented on #2241
@upendra1588 thank you for the update. Closing this issue as resolved. :)

[2021-03-24 15:07] jrpavoncello opened #2249 "Custom Activity Editor Sends Placeholder Data When Reopened"
## Version
4.12.0

## Describe the bug
About the custom activity editor introduced in [this PR](https://github.com/microsoft/BotFramework-Emulator/pull/2213), if you close and reopen the dialog it visually saves the text that was entered, but if you send the event without changing the event data it will send the placeholder "Hello world!" event

## To Reproduce
Steps to reproduce the behavior:
1.

[2021-03-24 15:09] jrpavoncello commented on #2249
#2213 is the original PR that introduced this new functionality (which is great)

[2021-03-24 18:53] saiteja21 opened #2250 "Bot Framework Emulator v4.12.0 cannot play YouTube video link from videoCard, It works fine in Emulator v4.11.0"
## Version
What version of the Emulator are you using.
Bot Framework Emulator v4.12.0

## Describe the bug
Cannot play YouTube video from videocard
![image](https://user-images.githubusercontent.com/11377131/112366110-cb6c4280-8cae-11eb-8df1-c466379f83ce.png)
![image](https://user-images.githubusercontent.com/11377131/112366129-d1622380-8cae-11eb-8de3-888992842a71.png)

## To Reproduce
Steps to re

[2021-03-25 18:07] carlosscastro commented on #2250
@tonyanziano could this be related to the electron update?

[2021-03-25 18:58] tonyanziano commented on #2250
I believe so, and I think it's related to a similar issue we are seeing in Composer where we cannot play certain audio formats within the new Web Chat control.

I think this has something to do with the internal version of Electron we are using. Certain codecs that ship with the public version of Electron are stripped from the internal version, and to use a build with all the standard codecs we ha

[2021-03-26 16:44] cwhitten commented on #2246
@JonathanFingold did you follow the instructions to get a paid ngrok account? It is ngrok that is throttling you. Closing

[2021-03-26 16:44] #2246 closed

[2021-03-26 17:36] carlosscastro commented on #2249
Thanks for reporting and for the detailed description @jrpavoncello. I think this is a bug so instead of routing to the support team, I'll route to the dev team for analysis. Next steps include have the dev team analyze the problem, its priority, and then assign a release if / when it makes the priority bar. We will update once the team investigates further.

[2021-03-26 17:38] carlosscastro commented on #2250
Thanks @tonyanziano. Please let us know the results of your investigation.

[2021-03-26 18:11] tonyanziano opened #2251 "Add Saved "Collections" to Custom Activity Editor"
It would be a great feature to allow users to save custom activities to a "collection" much like Postman allows users to save and organize sent requests.

Sometimes the custom activities that are sent via the editor are quite large or intricate, and being able to repopulate them from the UI without copy/pasting the JSON would improve this work flow.

[2021-03-30 17:35] tonyanziano commented on #2250
I did some testing and here are the results:

**With the original Vimeo.mp4 link:**

![image](https://user-images.githubusercontent.com/3452012/113030425-6eefa400-9142-11eb-9ba8-c971d8d2a5d5.png)

**With the YouTube link you posted in the production build:**

![image](https://user-images.githubusercontent.com/3452012/113030852-e1f91a80-9142-11eb-9d67-0ba3bd4d380c.png)

**With the YouTube link you

[2021-04-09 17:23] mahathota opened #2253 "Sign in Error in Emulator"
Request Id: 0a4a2a1f-bded-4014-be5e-01694f622600
Correlation Id: c66a3377-3589-44eb-9e26-52e53b31aab7
Timestamp: 2021-04-09T17:21:41.550Z
App name: iris-webbot-ppe
App id: c98b4c80-5de7-4cc5-8b8d-f76b16e121da
IP address: 67.160.99.221
Device identifier: Not available
Device platform: Windows 10
Device state: Unregistered

[2021-04-12 16:32] dmvtech commented on #2253
Hi @mahathota Can you please share more information about what you were attempting to do when you received the error? What are you signing in to? Is this using [a sample](https://github.com/microsoft/BotBuilder-Samples), or your own bot?

We need more information to determine what is going on.

[2021-04-12 16:39] lauren-mills commented on #2250
@tonyanziano - should this be added to the backlog?

[2021-04-12 18:42] kzuenkler-avanade opened #2254 "Luis Trace cannot be viewed in message analyzer box"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.12

## Describe the bug
The top right window which contained the LUIS trace in previous versions stays empty, when you click on a trace LUIS Trace mess

[2021-04-12 19:35] tonyanziano commented on #2249
I just succeeded in reproducing this.

We are starting to prep the new Emulator release this week, so I'm going to see if this will be a quick fix and if so we can get it into the next release.

[2021-04-12 20:25] tonyanziano commented on #2249
The fix turned out to be incredibly simple, so I've opened #2255 to fix it.

[2021-04-12 20:48] #2249 closed

[2021-04-12 22:18] kaerm opened #2256 "Action.execute (AC 1.4) support"
Add support for the Action.Execute command and various flows, including the action/execute invoke and auth flows.

OBI spec is here: microsoft/botframework-obi#128

Hacked up webchat that can do AC 1.4 cards: https://github.com/clearab/CateringDemo

## Tracking status

- [ ] PR
- [ ] Merged

[2021-04-12 23:08] axelsrz opened #2257 "QnAMaker trace can't be shown in Bot Emulator."
## Version
4.11.0

## Describe the bug
Using Python bot with QnAMaker service, the QnAMaker trace can't be shown in Bot Emulator.
However using DotNetCore bot with QnAMaker service, the QnAMaker trace can be shown in Bot Emulator.

## To Reproduce
When using the Python QnAMaker sample bot, the QnAMaker trace encountered the error in Bot Emulator.
![image](https://user-images.githubusercontent.com/

[2021-04-13 17:28] tonyanziano commented on #2254
Investigating

[2021-04-13 17:41] tonyanziano commented on #2254
@kzuenkler-avanade can you retry this scenario using [the latest nightly release of the Emulator?](https://github.com/microsoft/botframework-emulator-nightlies/releases/tag/v4.12.0-226638)

I am able to see the complete LUIS inspector when displaying a transcript containing LUIS traces:

![image](https://user-images.githubusercontent.com/3452012/114596583-aa12cc80-9c44-11eb-9f83-57b2e6406eb5.png)

[2021-04-14 05:44] kzuenkler-avanade commented on #2254
Hi Tony,

I still do not see the trace. Could that be related with LUIS v2 vs. v3 API used by the bot?

Here one sample message:

  {
    "type": "trace",
    "valueType": https://www.luis.ai/schemas/trace,
    "name": "LuisRecognizer",
    "label": "Luis Trace",
    "value": {
      "recognizerResult": {
        "text": "Search for jan",
        "intents": {
          "waSearchSkill": {

[2021-04-14 13:42] jamalsia commented on #2253
same here.
run the bot composer , then open the emulator
then click on sign in.
![image](https://user-images.githubusercontent.com/25248608/114720166-b031a780-9d2f-11eb-9a8f-745cf146ee1f.png)

[2021-04-14 15:52] tonyanziano commented on #2254
@kzuenkler-avanade The shape is a little bit different, but the fact that you say the same transcript works in 4.11 is intriguing to me. We have made no significant changes to the LUIS extension code in over 2 years.

Are you sure the sample trace you sent me is from one of your transcripts? I don't see a timestamp or an ID on the trace, so it won't and shouldn't ever load in the Emulator.

You ca

[2021-04-14 17:28] kzuenkler-avanade commented on #2254
Hi Tony,

I treid to reproduce now with weird results.
At least I could see some of the LUIS traces, but see a lot of TypeErrors in Debug window:

***@***.***D7315F.EF212560]

I am not really sure if the problem was with 4.11.0 also because I updated multiple times recently.
The short trace shows the error messages but also with a delay the LUIS results.
With the full file I can click on messages

[2021-04-14 17:58] tonyanziano commented on #2254
@kzuenkler-avanade I cannot see any of the images you posted -- I'm guessing because you replied via email.

Since you can't post one of your transcripts, here is what one of my working transcripts looks like:

[code]

===

This transcript was created within the Emulator after I created a new LUIS bot inside of [Bot Framework Composer](https://github.com/microsoft/BotFramework-Composer) and starte

[2021-04-14 20:55] jrpavoncello commented on #2249
Awesome, thanks!

[2021-04-14 21:25] dmvtech commented on #2253
@jamalsia Newest version, I assume you're using 4.12.0 (4.13.0 released today). Not reproducing for me on either 4.12 or 4.13 on Windows. I don't have a Mac to test on. I'll investigate possible causes.

@mahathota What version of Emulator are you running?

[2021-04-15 01:38] tonyanziano commented on #2253
The failed to load `69.js` is not relevant to auth, it is part of the Monaco editor that we use to display the custom activity editor.

It is very possible that this scenario is broken due to a company wide policy change that also affected Composer in late 2020.

[2021-04-15 06:27] kzuenkler-avanade commented on #2254
I did not know, that attachments are not processed via email. Also transcript files are not accepted here.
I tried your file and get the same errors in debug window, although there is no problem to view the LUIS trace. One difference is that your transcript uses LUIS v3, mine has V2 in it. I paste a short anonymized snippet here below and added a screenshot of the errors I see with your transcript

[2021-04-15 08:04] jamalsia commented on #2253
hi @dmvtech . So Ive upgraded to 4.13.0 and it worked from the first login.
@tonyanziano , the js was not an issue as you said.

so i guess might be related to some caching. if you try to login the first time and the login fails then it will keep calling this page
https://dev.botframework.com/cb%7D
which returns the 404
i am not sure why this is so.

[2021-04-15 15:02] tonyanziano commented on #2253
Now that you mention the `/cb` URL, it sounds like this could be related to ##2247, and #2248

[2021-04-15 21:16] tonyanziano commented on #2253
Please try this auth flow in our newest build: [v4.13.0](https://github.com/microsoft/BotFramework-Emulator/releases/tag/v4.13.0)

This contains PR #2248 which should have fixed this.

[2021-04-15 21:22] jamalsia commented on #2253
@tonyanziano yes, thanks loads. Ive upgraded to 4.13.0 and it worked from the first login.

[2021-04-15 21:34] tonyanziano commented on #2253
Glad to hear it! Going to close this.

[2021-04-15 22:23] mahathota commented on #2253
Getting same error after upgrade.

![image](https://user-images.githubusercontent.com/29116466/114945592-7da2b000-9dfe-11eb-8faf-7830c809b842.png)

[2021-04-15 22:34] tonyanziano commented on #2253
@mahathota That error looks very similar to the error we were seeing in Composer before integrating a new authentication library (https://github.com/microsoft/BotFramework-Composer/pull/4677).

Do you have a personal account (non @microsoft.com) you can try to sign-in with?

[2021-04-16 00:08] tonyanziano commented on #2254
Those errors actually don't have anything to do with rendering the LUIS traces, they are a minor bug that are a side effect of us updating to the latest Web Chat in our 4.12.0 release. This happens when chatting with any bot aside from looking at transcripts.

I took your transcript, with v2 LUIS traces and was able to render the traces in the inspector just fine:

![image](https://user-images.git

[2021-04-20 23:49] dmvtech commented on #2253
Hi @mahathota Just checking to see if you have a personal account to test with per @tonyanziano

[2021-04-23 08:58] NereaCabiedasMoreno commented on #414
I have made a bot with Node.js locally, then in the Azure platform I have created a bot channel registration and in the messaging endpoint I have put the address of the server where I have uploaded and the bot is executed (https: // ___ : 3978 / api / messages), with this address the bot in the bot framework emulator works for me, on the other hand, in the channel registration bot I have created a

[2021-04-23 16:35] tonyanziano commented on #414
Hi @NereaCabiedasMoreno ,

Can you clarify a few things for me just so I understand your issue?

1. Is your bot running locally on your machine or is it running on an exposed VM / server somewhere?
2. You said you were able to talk to the bot from the Emulator. Was the URL you entered into the Emulator a `localhost` URL or some public web URL?

[2021-04-23 23:18] v-kydela opened #2262 "Emulator displays all of a turn's messages at the same time"
## Version

4.12.0

## Describe the bug

When Emulator sends a request to the bot, it waits for an HTTP response before it updates the UI with all the messages the bot sent to the Emulator

## To Reproduce

1. Run a bot that sends multiple messages in one turn with a delay between them
2. Connect to the bot in Emulator
3. Observe that the messages are all displayed at the same time

Here is some P

[2021-04-23 23:51] dmvtech commented on #2253
Closing for now. @mahathota If you still having this when testing with a personal account, please comment and let us know.

[2021-04-26 14:41] kzuenkler-avanade commented on #2254
Sorry for responding so late.
I could now triage the problem to a performance issue. It may take 10 mins for longer files until the LUIS trace is shown. It is working with LUIS v2 as well, but needs a lot of patience. It is not a matter of structure, which is find and compatible.
I have one 8 MB file, which is really hard to work with. Bot emulator would need a preprocessing to provide small excer

[2021-05-03 17:49] tonyanziano commented on #2254
Thanks for confirming that the traces in the inspector _do_ eventually show up. It's unfortunate that the performance is so bad when loading large transcripts and not something we intended.

My initial hunch echoes your last sentence: I think that this might take a heavy time investment to assess and fix. Currently, we do not have any dev resources allocated to improving the emulator's LUIS inspec

[2021-05-06 14:21] EricDahlvang commented on #2262
Related https://github.com/microsoft/BotFramework-Emulator/issues/2206

[2021-05-13 19:11] namanimsft commented on #2253
@tonyanziano, I work with @mahathota and we are still having the issue with Sign In.  Could you please help us?

[2021-05-13 19:13] namanimsft opened #2265 "Sign in Error in BotFramework Emulator"
@tonyanziano, I work with @mahathota and we are still having the issue with Sign In.  Could you please help us?

_Originally posted by @namanimsft in https://github.com/microsoft/BotFramework-Emulator/issues/2253#issuecomment-840772933_

[2021-05-13 21:14] tonyanziano commented on #2265
Hi @namanimsft , please do not open up a duplicate issue if you are experiencing the same issue as in #2253.

You can comment in the closed issue and I will reopen it.

[2021-05-13 21:14] #2265 closed

[2021-05-13 21:14] tonyanziano commented on #2253
Hi @namanimsft ,

As I asked @mahathota , do you have a personal account (non @microsoft.com) you can try to sign-in with?

[2021-05-13 21:19] namanimsft commented on #2253
@tonyanziano, Nope, I don't have one.

[2021-05-13 21:25] tonyanziano commented on #2253
@namanimsft are you trying to use an OAuth sign-in card from your bot?

[2021-05-13 21:26] namanimsft commented on #2253
@tonyanziano Yes, we are using OAuth sign-in card in our bot

[2021-05-13 21:54] tonyanziano commented on #2253
I will try to reproduce this on my end with an OAuth bot.

[2021-05-13 22:24] tonyanziano commented on #2253
I have verified and reproduced the issue with my Microsoft work account (@microsoft.com), however I can bypass the issue using a personal account (@gmail.com).

This appears to be the same issue that we faced in Composer, and it is not trivial to fix. It involves leveraging an internal authentication library -- which involves major changes to our build pipeline -- and rewriting the way we handle O

[2021-05-13 22:45] namanimsft commented on #2253
@tonyanziano, Thanks for the update. Out bot is for internal microsoft employees who works for microsoft customers at the fields. We've a integration with various internal microsoft services including graph API, office api's, inhouse built APIs and all of them relying on AAD with MS employee profile. So, we heavily rely on @microsoft.com account

[2021-05-13 23:06] tonyanziano commented on #2253
@namanimsft I see. Sorry for the inconvenience!

The other alternative would be to deploy your bot and test it via [Web Chat](https://github.com/microsoft/BotFramework-WebChat). The work flow is not as fast as locally developing and testing in Emulator, but at least Web Chat would allow you to test the OAuth sign-in scenarios.

[2021-05-14 16:56] namanimsft commented on #2253
@tonyanziano, Is there an ETA for this bug please? From our org, 5 teams got impacted because of this bug. We built our Bot as platform with one parent bot and multiple skills. Each skill owned by separate team. All of them struggling with dev & test work locally. Would be great, if you or your team could expedite fixing this bug. thanks!

[2021-05-14 20:46] tonyanziano commented on #2253
@namanimsft Unfortunately, implementing this fix would take at least a month, and could potentially break existing auth scenarios on other platforms like Linux, where the new auth library is not yet supported.

Our team is currently focused on porting over Emulator functionality into our comprehensive bot-building tool, [Bot Framework Composer](https://github.com/microsoft/BotFramework-Composer).

[2021-05-14 20:58] namanimsft commented on #2253
@tonyanziano, we are using BotFramework SDK v4 for .Net and its hard to move to composer for sure. We've started our journey from SDK v4-preview to its latest version now.  Can I know why authentication got broken in emulator? Have not considered Microsoft tenant & @microsoft accounts while upgrading the authentication feature in Emulator? Practically breaking some feature which was already workin

[2021-05-14 21:18] tonyanziano commented on #2253
@namanimsft It was not something we implemented that broke authentication for work accounts. It was an all-up Microsoft AAD tenant-wide policy update that basically enforces all members of that tenant (@microsoft.com users) to log in from compliant environments.

We do not control the Microsoft tenant, the company does.

What this means for our users, and Microsoft employees in general, is that yo

[2021-05-21 06:14] namanimsft commented on #2253
@tonyanziano, First sorry for the late reply and thanks for the detailed information behind this bug. Please see if you or your team can consider this as one of the top priority bug to help us unblocked. I'm sure this would've impacted many teams with in Microsoft. Also keep this bug open until this is sorted out. Thanks!

[2021-05-21 17:18] barnabaskim95 opened #2266 "Activity not getting displayed on emulator"
Activity sent by bot service isn't showing up on emulator (4.12/ 4.13) on my machine. Am able to log into bot.

[2021-05-24 16:38] anusharavindrar commented on #2266
@barnabaskim95, can you elaborate more on what you are trying to do? If you can follow the below bug template and add all the details, it would be really helpful:

## Version
What version of the Emulator are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '

[2021-05-25 16:53] tonyanziano commented on #2253
@namanimsft I will bring this up in our next planning meeting

[2021-05-31 16:06] anusharavindrar commented on #2266
Closing the issue. Please feel free to reopen if the issue persists.

[2021-05-31 16:07] #2266 closed

[2021-06-04 19:37] dmvtech opened #2268 "Enable setting locale per open bot/tab"
When testing multiple bots at the same time that use different locales, it is somewhat cumbersome to do. First, you must open a bot in Emulator with first (default) locale, then open a second instance of Emulator, go into settings and change the locale, then open the bot.

**Describe the solution you'd like**
I would like to be able to set locale per opened bot. Ideally, on the Open Bot dialog. Th

[2021-06-04 19:49] dmvtech opened #2269 "Be able to name open bot tabs"
Every open bot has a tab titled 'Live Chat'. This doesn't help when you have multiple tabs open; causes hunting around between tabs for the right bot cumbersome.

**Describe the solution you'd like**
Would love to be able to be able to name/rename a tab of a bot. From the Open Bot dialog, or maybe the main menu.
Related: https://github.com/microsoft/BotFramework-Emulator/issues/2227

### Additiona

[2021-06-08 23:06] #415 closed

[2021-06-09 07:33] andy952 commented on #172
Any reason why this was just close? It still hasn't been implemented

[2021-06-15 23:27] ianbroad opened #2270 "Sign in with your Azure account - Page not found"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.13.0

## Describe the bug
Click 'Sign in with your Azure account' and then click the 'Sign in with Azure' button, and then it opens a blue 'Bot Framewo

[2021-06-15 23:38] ianbroad commented on #2270
I noticed that when I go to File it shows me as signed in, so I signed out and repeated the above steps and it no longer said 'Page not found' and I was able to login.

[2021-06-15 23:38] #2270 closed

[2021-06-20 14:25] rprecioso commented on #1388
I am having the same issue. The clear state does not help.

[2021-06-21 20:40] tonyanziano commented on #1388
@rprecioso can you describe the scenario in which you are experiencing this error?

[2021-06-23 09:03] Ayoub555555 opened #2271 "Opening a pop up inside Bot Framework Emulator is closed automatically"
## Version
4.13.0

## Describe the bug
Impossible to have the OAUTH flow on emulator

## To Reproduce
Steps to reproduce the behavior:
1- Follow a tutorial like : [this one](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=aadv2%2Cjava)
2- when you are here :
![image](https://user-images.githubusercontent.com/56740280/123067806-98eaf680-

[2021-06-24 23:09] anusharavindrar commented on #2271
@Ayoub555555, I tried the Authentication sample on my end and it works as expected on Emulator 4.13.0. The pop-up opens and  remains until the successful sign-in. Can you share a screenshot of your emulator settings? Also, where is your bot hosted and are you behind a firewall?

[2021-06-25 07:24] Ayoub555555 commented on #2271
@anusharavindrar Hi, my bot is hosted in Azure Web Services. I am only behind basic Windows firewall.

[2021-06-25 18:21] Stevenic opened #2455 ""https://aka.ms/bot-framework-F5-download-emulator" points to old version of emulator"
This link needs to be updated to point to latest. It currently points to v4.5.2

![image](https://user-images.githubusercontent.com/698939/123469016-5f4bf400-d5a7-11eb-9804-c24d115eb2e2.png)

[2021-06-25 19:53] managedcoder opened #2272 "Message input field disabled when"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What version of the Emulator are you using.
I am using version 4.12

## Describe the bug
Give a clear and concise description of what the bug is.
If you

[2021-06-30 23:09] stevkan opened #2273 "activity.channelId values shows 'webchat' instead of 'emulator' in JSON Inspector for outgoing messages"
## Version
4.13.0

## Describe the bug
The `activity.channelId` for outgoing user-to-bot messages list a value of 'webchat' instead of 'emulator'.

## To Reproduce
Steps to reproduce the behavior:
1. Start a conversation with a bot
2. Click on `POST` in the Inspector pane on outgoing user-to-bot messages
3. Observe the `channelId` property value shows 'webchat'

## Expected behavior
As all activit

[2021-07-01 17:33] anusharavindrar commented on #2271
@Ayoub555555, can you try and see if the issue persists after clearing the state (select `Clear state` on the `File` menu)? Also, can you make use of [Fiddler](https://www.telerik.com/download/fiddler) to capture the network traffic while trying to sign in and attach the trace here?

[2021-07-05 11:57] worldwidemartin opened #2274 "AdaptiveCard does not display"
I have an adaptiveCard template and data set which renders correctly in the Designer, but not in the emulator.
[code]
Any ideas?
Thanks

[2021-07-07 22:10] anusharavindrar commented on #2274
@worldwidemartin, can you attach screenshots of how the card is rendering in Designer and on the Emulator? Also, are you making use of any specific sample or implementing your own code? Let me try the above template on my end. What version of the Emulator are you testing this on?

[2021-07-08 08:45] worldwidemartin commented on #2274
Hi,

Thanks for getting back to me!

I figured out the issue – the IDs of some of my Input.Toggle elements were being serialised as integers, not strings. It seems the designer can handle this but the emulator cannot…

Bizzare…

Many thanks
Martin

From: anusharavindrar ***@***.***>
Sent: 07 July 2021 23:11
To: microsoft/BotFramework-Emulator ***@***.***>
Cc: worldwidemartin ***@***.***>; Mention

[2021-07-08 18:07] axelsrz commented on #2274
I'm clodsing due per last comment on this thread. If problem persist open a new issue.

[2021-07-08 18:07] #2274 closed

[2021-07-08 18:16] anusharavindrar commented on #2271
Closing due to inactivity.

[2021-07-08 18:19] #2271 closed

[2021-07-19 10:41] ramzzzay opened #2277 "Apple Silicon support"
**Is your feature request related to a problem? Please describe.**
Bot Framework emulator run through Rosetta 2 on M1 Mac , it's not efficient.

**Describe the solution you'd like**
Electron.js have Apple Silicon version. VS Code already use it, so, for Bot Framework Emulator solution is the same as for VS Code.

[2021-07-19 18:28] tonyanziano commented on #2277
Hi @ramzzzay ,

Thank you for the suggestion. We are aware of the Apple M1 support starting in Electron 11 and it is something we have considered and would eventually like to implement.

To do this, we would need to update our packaging process to also release an `arm64` Mac executable, which might also require some additional changes in how we deploy application updates.

We will keep this on our

[2021-07-19 18:32] ramzzzay commented on #2277
@tonyanziano thank!

[2021-07-21 08:33] xieofxie opened #2285 "add China (Mooncake) Emulator support"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?q=is%3Aissue+is%3Aopen++label%3Afeature-request+) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Emulator does not support China (Mooncake)

**Describe the solution you'd like**
Add ValidIssuers

**Describe alternatives you've considered**
Load dynamicall

[2021-07-21 08:59] xieofxie opened #2278 "inconsistent setting for Azure Government"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What version of the Emulator are you using.

Current main

## Describe the bug
Give a clear and concise description of what the bug is.

When creating a

[2021-07-21 09:14] xieofxie opened #2279 "Add support for China (Mooncake) Azure"
### Use this [query](https://github.com/Microsoft/botframework-emulator/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Add support for China (Mooncake) Azure

**Describe the solution you'd like**
Add support for China (Mooncake) Azure like Government

**Describe

[2021-07-24 05:01] SupriyaBhogi commented on #94
Hi everyone, I am facing an issue with the bot framework emulator.I created one basic bot using composer while starting the bot, I am able to get the messages in webchat but I am able to get the messages in the emulator I getting the error like Response status code does not indicate success: 403 (Forbidden).
can anyone suggest?

[2021-07-30 23:15] nisha-s-patel commented on #2253
Hi @tonyanziano, do you have any updates on this issue? My team has been having this same error ("you can't get there from here") and we too rely on the corp @microsoft.com accounts for use with all of our customers.
We were directed here by the Microsoft Help Desk. If there's any additional information I can provide, please let me know.

[2021-08-02 01:41] #2279 closed

[2021-08-02 23:55] tonyanziano commented on #2253
Hi @nisha-s-patel ,

Unfortunately, this issue has not been included in our list of planned work items for the upcoming release cycle.

As of right now, I can only refer you to [the proposed workaround above](https://github.com/microsoft/BotFramework-Emulator/issues/2253#issuecomment-841495266):

[2021-08-03 04:45] aishwaryaumachandran opened #2280 "Emulator does not clear the state - v4.14.0"
I have been trying to debug an authenticated skill and I have two different logins to test it out. How ever, it looks like the emulator picks up the credentials I logged in previously without prompting me to authenticate. I have tried clearing the state multiple times. I have noticed the same behavior with v4.13.X as well. I use the mac version. Any leads would be appreciated, thanks!

[2021-08-04 00:16] anusharr commented on #2280
Let me attempt a repro on my Mac and update the thread with my findings. Also, when you state that you have tried clearing the state multiple times, you used the `File > Clear state` menu option? Can you try using [Fiddler](https://www.telerik.com/download/fiddler) to capture the network traffic while attempting to sign in and attach the trace here?

[2021-08-05 16:51] dmvtech commented on #2268
We should also allow launching Emulator from Composer to apply the locale currently running/selected (or every locale?) in Composer (from the Emulator protocol).

[2021-08-10 17:18] #2280 closed

[2021-08-11 22:19] namanimsft commented on #2253
Hi @tonyanziano, Would be great if you or your team consider this one of the priority bug. Let me know if you need any information or justification from our end would help you to push this bug in the priority please. Thanks!

[2021-08-13 16:26] zachgoz commented on #2247
Any updates on this? I'm experiencing the same issue.

[2021-08-16 17:27] TheBluLion opened #2283 "aka.ms/botemulator link is broken in right hand nav pane"
Clicking on link goes to https://www.bing.com/?ref=aka&shorturl=botemulator

[2021-08-17 18:04] joshgummersall commented on #2283
@TheBluLion where did you find this link?

[2021-08-17 18:14] TheBluLion commented on #2283
microsoft/BotFramework-Emulator: A desktop application that allows users to locally test and debug chat bots built with the Bot Framework SDK. (github.com)<https://github.com/Microsoft/BotFramework-Emulator>

[A screenshot of a computer  Description automatically generated with medium confidence]

From: Josh Gummersall ***@***.***>
Sent: Tuesday, August 17, 2021 1:05 PM
To: microsoft/BotFramework-

[2021-08-17 19:01] joshgummersall commented on #2283
Fixed! Thanks for reporting.

[2021-08-17 19:01] #2283 closed

[2021-08-18 23:14] praveenvavilla commented on #2253
hi @tonyanziano we also facing the same issue and our chat bot is only for Microsoft internal employees, it would be nice if this considered as high priority . Thanks

[2021-08-23 10:02] aishwaryaumachandran commented on #1384
I am having a similar issue. I have seen the issue on Emulator 4.13.0 and 4.14.0 and it is on Mac. Even thought I have cleared the state on my browser and logged out completely, the emulator picks up the old credentials and never prompts me for a sign in.

[2021-08-24 12:41] ncastagno-tgv opened #2284 "Error: Unauthorized Access"
Siguiendo el readme del ejemplo **javascript_nodejs\14.nlp-with-orchestrator**, al abrir el bot en la URL http://localhost:3978/api/messages recibo este error

"Error: Unauthorized Access. Request is not authorized
    at Object.<anonymous> (C:\BACKUP\cNestor\_All Techs\2021\Bot\BotBuilder-Samples-main\samples\javascript_nodejs\14.nlp-with-orchestrator\node_modules\botframework-connector\lib\auth\

[2021-08-24 15:59] jwiley84 commented on #2284
Is this related to https://github.com/microsoft/BotBuilder-Samples/issues/3424 ?

[2021-08-24 16:25] ncastagno-tgv commented on #2284
Yes, it's the same
Then I opened it in BotBuilder / samples because it was not an Emulator bug

Saludos

Mgr. Néstor Castagno
I+D Manager
TGV - Excelencia en Soluciones Informáticas
• +54 11 4341-7800 (6041)
6 +54 11 3422-3487
• www.tgv.com.ar<http://www.tgv.com.ar/>

De: Jessica Wailes ***@***.***>
Enviado el: martes, 24 de agosto de 2021 12:59
Para: microsoft/BotFramework-Emulator ***@***.***>
C

[2021-09-23 20:57] matias-defrederike commented on #1068
Thanks @hansmbakker, worked smoothly here

[2021-10-01 11:11] MaximDmitrievich opened #2295 "Ngrok doesn't work with Emulator"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.14

## Describe the bug
After upping the application and providing request through ngrok, ngrok falls down and give an exception

__"Oops.. Your ngrok

[2021-10-05 10:19] MaximDmitrievich commented on #2295
[code]

The last logs from bot emulator ngrok

[2021-10-05 16:57] stevkan commented on #2295
@MaximDmitrievich, just verifying that you have added the path to your ngrok executable in Emulator's settings?

If so, how many total instances of ngrok do you have running simultaneously? ngrok only supports two simultaneous instances regardless of your tier as a customer.

[2021-10-05 18:50] MaximDmitrievich commented on #2295
Yep, I added the path to ngrok. In other ways - it wasn't started and
didn't create the tunnel. On the ngrok dashboard I can see the tunnels, but
when I want to check the status of it - it returns the page with an error
"resource doesn't exist".

Total instances - two tunnels. One with http and one with https. With the
same ID.

[image: image.png]

вт, 5 окт. 2021 г. в 19:57, Steven Kanberg ***@**

[2021-10-06 16:02] miguelhughes opened #2298 "windows installer crashes if using a shared network drive"
When installing from a shared drive, I'm not able to install the emulator on Windows 7 64 bits. This is a VM running in parallels under osx.

This seems to be caused by installing from the shared folder with the host mac environment, which is a network drive.
If I copy it to a local folder the installer runs properly

<img width="351" alt="Screen Shot 2021-10-06 at 12 57 44" src="https://user-imag

[2021-10-08 11:29] rliberoff-encamina commented on #2295
I have exactly the very same issue!

[2021-10-14 07:22] Victor-Yao opened #2314 "Does Bot Emulator support to play video in Adaptive Card?"
### Use this [query](https://github.com/Microsoft/botframework-emulator/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Does Bot Emulator support playing video in Adaptive Card? I tested it in Emulator 4.14, the card can be rendered, but the video cannot be played

[2021-10-16 00:51] tswordsmith commented on #2295
I have the same issue and report the same as all the above. Any resolution coming?

[2021-10-22 17:46] cwhitten opened #2315 "Add eslint-plugin-security to static analysis config"
Needed for SDL tasks: https://www.npmjs.com/package/eslint-plugin-security

[2021-10-28 18:08] #2298 closed, assigned to tonyanziano

[2021-11-01 17:44] tonyanziano commented on #2295
Hey all,

Sorry for jumping into this so late. I just reproduced this locally trying to talk to a remote bot.

I will look into it this week and see if I can figure out what is causing the error. I think @stevkan is right in the sense that something in the ngrok service might have changed, because we haven't changed any of this code in a very long time.

[2021-11-01 20:12] tonyanziano commented on #2295
It appears that what @achmedzhanov stated earlier about the certificate seems to be the actual problem here.

After doing some digging, I found [this Stack Overflow answer](https://stackoverflow.com/a/69403683/2280887) basically mentioning that NodeJS has certain certificates hard-coded into its source. One of these certs is the Let's Encrypt cert, which [just happened to expire on September 30th

[2021-11-01 20:55] tonyanziano commented on #2295
I managed to implement a fix on a local build of the Emulator that enabled me to talk to a bot with a remote URL:

![image](https://user-images.githubusercontent.com/3452012/139740688-32c7cec0-f8a8-4d34-b477-6f18d331ba77.png)

For now, I at least know that the method that I tried works, but I might have to take some more time to evaluate the fix and make sure that it is production ready.

I plan t

[2021-11-02 18:55] tonyanziano commented on #2295
So it looks like the better approach is to just update Electron. A fix for the expired cert was merged into Electron and backported to versions 12 and up.

I'm currently testing Emulator locally on version 13.6.1 of Electron, and it seems to have fixed the issue. We will need to test all 3 platforms with a packaged version of the Emulator before a new release, but things look good for now.

[2021-11-04 16:51] tonyanziano commented on #2295
Hey all, another update:

We've tested the build and confirmed the fix, and are updating our build pipelines to accommodate the new Electron version. Mac and Linux are building, but we are having some trouble with the external service that signs our Windows .exe.

I've reached out to the team that runs the service and hope to have a resolution soon so we can get a new build out and unblock those w

[2021-11-08 21:23] tonyanziano commented on #2295
It turns out that there is something wrong with the underlying format of the Windows .exe that gets produced during our build process, and that is preventing it from being properly signed.

I'm currently looking into it.

[2021-11-10 00:41] chrimc62 opened #2319 "Trace activities require a recipient property in order to replay a transcript"
According to the spec recipient is optional and should be dropped when an activity is not sent to a specific recipient.  If you remove the `recipient` field in the trace activity below and save the transcript you will not see anything if you open it in the emulator.  If you remove the trace `from` field the transcript will still work--even though the from is required.
[code]

[2021-11-10 02:15] tonyanziano commented on #2295
Hello all,

We've figured out the problem with the Windows build. It turns out that the special internal build of Electron that we use just recently started shipping pre-signed, so we were trying to re-sign a binary that was already signed which was causing the error.

Our plan is to modify our build pipeline to unsign the binary before re-signing it, and then hopefully it should word like normal.

[2021-11-11 17:08] tonyanziano commented on #2295
The builds have been fixed, and we just merged my change in. I will kick off a nightly build and update this thread when it is out.

We will most likely release a stable patch as well (4.14.1).

[2021-11-11 19:27] tonyanziano commented on #2295
The new nightly is out, but there are two new issues that just sprang up due to the Electron / NodeJS upgrade:

1. Node's `http` module is now throwing an error when POSTing activities to the bot that weren't being thrown

  **FIXED**: I have a fix for this in my branch

2.   The JSON inspector is not showing anything when you click something in the log panel

  I'm currently investigating this on

[2021-11-11 22:29] tonyanziano commented on #2295
Hello all, the new nightly build is finally out with the fix to Ngrok:

https://github.com/microsoft/botframework-emulator-nightlies/releases/tag/v4.14.0-277368

Thank you for your patience! Keep an eye out for a stable release of Emulator as well if you don't want to switch to the nightly for now.

[2021-11-11 22:29] #2295 closed

[2021-11-12 13:56] dpraul commented on #2295
@tonyanziano thank you for investigating this issue, and for being so transparent of your steps to resolve it 😃

[2021-11-12 20:11] tonyanziano commented on #2295
[Stable version 4.14.1](https://github.com/microsoft/BotFramework-Emulator/releases/tag/v4.14.1) is now available as well.

[2021-11-17 23:29] stevkan commented on #2295
Closing this as resolved.

[2021-11-19 09:26] syedjalal12 opened #2337 "I cant see my adaptive card on the Bot builder emulator, it appears as blank."
I'm using Python Bot Builder framework and I'm testing it on the emulator.
Now I know that my adaptive card JSON file is perfect because it show's all the data as I desired on both VisualStudio Code and https://adaptivecards.io/designer/.
However when I run the emulator my adaptive is completely blank.

Now the code I'm using for my adaptive card is:

        `def adaptive_flight_card_attachment(s

[2021-11-23 08:12] syedjalal12 commented on #2337
@compulim @mrivera-ms my deployment is due by today midnight (Pakistan Standard Time). Can I please know the solution to this issue?

[2021-11-24 07:53] syedjalal12 commented on #2337
This is my generated Adaptive card JSOn file

{
    "type": "AdaptiveCard",
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "version": "1.5",
    "body": [
        {
            "type": "Container",
            "items": [
                {
                    "type": "TextBlock",
                    "text": "Departing DETAILS",
                    "wrap": true,

[2021-11-24 13:15] rvinothrajendran commented on #2337
Issue in the json file , fix this issue and check again

![image](https://user-images.githubusercontent.com/16264167/143245136-38bcb08a-21e7-4a63-ac73-7b7cc6e53368.png)

[2021-11-24 14:33] syedjalal12 commented on #2337
Issue resolver.
Thank you @rvinothrajendran

[2021-11-24 14:33] #2337 closed

[2021-11-24 15:32] pscompa commented on #2251
I agree with you!

[2021-11-30 18:54] mattsmall1972 opened #2345 "Emulator 4.14.1 does not prompt for user properly after having logged out"
## Version
4.14.1

## Describe the bug
I am testing the BotAuthenitcationMSGraph sample.  I have it working and need to change the user for other testing.  I have restarted the sample as well as the emulator.  I have also logged out of the Bot using the emulator. However, the first user's credentials are cached in the emulator's Login Page and I am not asked to change to a different user.

## To R

[2021-11-30 20:12] mattsmall1972 opened #2346 "Bot Emulator not trusted by Microsoft"
## Version
4.14.1

## Describe the bug
I am developing a Microsoft-internal bot using the Microsoft tenant with authentication.  When signing in using the Emulator, a message appears that says:

You can't get there from here
This application contains sensitive information and can only be accessed from:
Devices or client applications that meet Microsoft management compliance policy.
The current bro

[2021-12-01 19:13] axelsrz commented on #2346
Hello @tonyanziano, could you take a look at this?

[2021-12-01 19:25] #1700 closed

[2021-12-01 19:28] tonyanziano commented on #2346
This is a dupe of #2346 and you can find the explanation for the error [here](https://github.com/microsoft/BotFramework-Emulator/issues/2253#issuecomment-841508903).

In short, sign-in was broken via a company-wide policy change and fixing it requires the implementation of an internal authentication library that the Emulator currently does not have the dev funding for.

[2021-12-01 19:28] #2346 closed

[2021-12-01 21:07] mattsmall1972 commented on #2346
Thanks Tony.  I'd seen that but didn't scroll down far enough to realize that it was the same one.

[2021-12-02 16:54] dmvtech commented on #2345
Hi @mattsmall1972 I will attempt to reproduce and see if I get the same.

Can you try a quick test by setting the `Use a sign-in verification code for OAuthCards` setting in Emulator? I'm assuming doing that will allow logout without issue, but I want to be sure.

[2021-12-02 18:00] mattsmall1972 commented on #2345
When I enable the sign-in verification code the same behavior occurs except with a code instead of silent authentication.  The emulator automatically logs me in using current credentials and does not give me the option to change credentials.

[2021-12-03 08:09] JordyGit opened #2347 "Update never finishes downloading"
## Version
V4.14.0
![image](https://user-images.githubusercontent.com/33500507/144566840-7ba51b1c-f536-4f02-8423-4c0d3c18554e.png)

## Describe the bug
On startup the emulator asks me to update and gives me 3 options where I selected the option to download/install the new version now. The window with "Downloading..." and a Dismiss button appears. There is no more feedback about the download (no do

[2021-12-03 18:07] dmvtech commented on #2347
Not sure if related, but when I select `Check for update...`, I get no response from UI at all. Currently running `4.14.0`.

[2021-12-03 18:28] anishprasad01 commented on #2347
The same issue occurred for me as well when attempting to upgrade from `4.14.0`. I ended up uninstalling it, downloading the installer for the latest version, and reinstalling to get to `4.14.1`.

[2021-12-03 19:04] axelsrz commented on #2347
Hello @tonyanziano could you take a look at this?

[2021-12-06 19:05] benbrown commented on #2347
@JordyGit We are taking a look into this today.

[2021-12-06 19:18] tonyanziano commented on #2347
I've repro'd this on my end, and I found the following error message which seems to be the culprit:

`An error occurred in the updater's "update-available" event handler: Error: There was an error while trying to download the latest update: Error: ENOENT: no such file or directory, open 'C:\Users\tonya\AppData\Local\Programs\Bot Framework Emulator\resources\app-update.yml'`

I'm unclear on why thi

[2021-12-06 20:09] tonyanziano commented on #2347
As a workaround for now, you can go to your Emulator installation directory, and create a file called `app-update.yml` at the path:

`<Emulator-install-dir>/resources/app-update.yml`

with the content:

[code]

I just tested an update after adding this file, and it seems to have unblocked the update and everything worked as expected.

[2021-12-06 20:11] tonyanziano commented on #2347
Note to fixer: We need to have this file generated as part of our build pipeline. Either by manually copying it in or by getting `electron-builder` to generate it again.

[2021-12-07 22:50] dmvtech commented on #2345
Hi @mattsmall1972 I am able to reproduce similar. Do you see any errors in Emulator such as:

`[14:48:50]Failed to generate an actual sign-in link: Error: Failed to connect to ngrok instance for OAuth postback URL: FetchError: request to http://127.0.0.1:4041/api/tunnels failed, reason: connect ECONNREFUSED 127.0.0.1:4041`
OR
`[14:48:50]Falling back to emulated OAuth token.`

[2021-12-08 16:04] mattsmall1972 commented on #2345
I have not seen any error like that in the Emulator.

[2021-12-10 08:48] Brankec opened #2351 "Separating the directline feature into a standalone service"
**Is your feature request related to a problem? Please describe.**
Our client wants to run the Bot onprem and use their own custom web chat to communicate to the Bot.

**Describe the solution you'd like**
We would like the feature in Emulator, that opens a directline port, to be separated in a standalone service that is open source, just like the Bot Framework Emulator, with an example on how to s

[2021-12-10 19:21] gabog commented on #2351
Thanks for the suggestion, we currently don't have plans to implement this feature. You could fork the emulator project and direct line clients for dotnet or JS and customize them to fit your needs.

[2021-12-10 19:21] #2351 closed

[2021-12-14 14:25] sjjharrington opened #2352 "Activity Id displayed in emulator is not the Id which is returned in the context.activity object"
## Version
Version 4.14.0 (4.14.0.259165)

## Describe the bug
I am creating an activity and posting it into my bot. Unfortunately it looks like the activity Id that is displayed in the Emulator does not match the activity Id returned from the Emulator

## To Reproduce
Steps to reproduce the behavior:
1. Create an activity within the Emulator
2. Verify the activity id
3. Action on the Activity
4.

[2021-12-15 19:19] gabog commented on #2352
Hi, are you manually assigning the activitId before sending it out by any chance? The channel will set the activity ID for you (and override any values you provide), so to get the actual activity id you will need to look at the resource response that came back from the SendActivityAsync call, something like:

[code]

[2021-12-15 20:18] sjjharrington commented on #2352
@gabog We are letting the 'system' generate the id.

So our logic is as follows:

1. Send the activity using the following where adaptiveCard is generated content
` const activity = await context.sendActivity({
        attachments: [CardFactory.adaptiveCard(adaptiveCard)]
  })
  `

2. Store the id returned on the activity object (i.e. activity.id) to a database - with some additional information n

[2021-12-16 23:44] dmvtech commented on #2345
Thanks @mattsmall1972 Do you see _any_ errors or anything in the Emulator logging/tracing pane? Does this reproduce in WebChat ([using ngrok](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-debug-channel-ngrok?view=azure-bot-service-4.0) if needed)?

[2021-12-28 21:40] dmvtech commented on #2345
Closing due to lack of reply and ability to reproduce exact error. If you still need assistance with this issue, please comment or reopen and we will continue.

[2021-12-28 21:40] #2345 closed

[2022-01-02 13:28] deelobase opened #2362 "Deploy your app for free 🚀"
Hey @microsoft, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://de

[2022-01-18 22:03] sunamc1 opened #2365 "Ability to add values to the channel data"
**Is your feature request related to a problem? Please describe.**
For local testing at Nationwide, we need the ability to send security values on the channelData that are populated in the higher environments

**Describe the solution you'd like**
The ability to add to the bot configuration or to the settings, values that should be consistently populated in the channelData

**Describe alternatives

[2022-01-24 18:52] carlosscastro commented on #2352
@gabog could you follow up on this issue please?

[2022-01-27 07:02] divyeshg94 opened #2367 "AAD V2 Sign in - No reply address is registered for the application"
I have cloned the sample repo and used Team. Auth project in the emulator. I have created an AAD application and configured the AAD V2 service provider connection string.

in the AAD application, I have configured the below reply URLs
1. https://token.botframework.com/.auth/web/redirect
2. http://localhost:3978/api/messages
3. http://localhost:3978/api/OAuthCallback

But I'm getting No reply addre

[2022-01-27 10:06] #2367 closed

[2022-01-28 21:57] stevkan commented on #2365
@sunamc1, Emulator has the option to send a custom activity where you can define properties to be included in `channelData`. You can find this in the menu under Conversation => Custom activity (new).

![image](https://user-images.githubusercontent.com/18403946/151609506-53566d44-8e8d-4461-bfde-ba4ad8626d17.png)

![image](https://user-images.githubusercontent.com/18403946/151609512-873647ef-7260-45

[2022-02-01 20:30] sunamc1 commented on #2365
Thanks that's very helpful!

[2022-02-01 20:30] #2365 closed

[2022-02-03 16:48] #2315 closed

[2022-02-10 21:36] dmvtech commented on #2352
Hi @sjjharrington

Each activity will have it's own ID. So, the activity from the bot (the card) has one (`e57e...329f`), and the user replying back to the bot has one (`e57ef7e0...329f`). This is expected and by design.

You are able to correctly store the ID of the activity sent from the bot but are not able to couple/tie that to the response activity from the user. Is that correct?

[2022-02-17 19:11] rickymarley commented on #135
Just go to your electron project and run : npm install electron

[2022-02-19 19:48] Slapbox commented on #135
@rickymarley that doesn't work for most people hitting issues like this.

The actual solution is to go to the `node_modules/electron` folder and then run `npm postinstall` - which will move the missing Electron executable file into `node_modules/electron/dist`.

[2022-02-21 22:54] dmvtech commented on #2352
Closing due to inactivity. If you need further assistance please comment and we can reopen to continue.

[2022-02-21 22:54] #2352 closed

[2022-03-23 21:39] compulim opened #2375 "Bump Web Chat to 4.15.1"
Recently, [Web Chat released 4.15.1](https://github.com/microsoft/BotFramework-WebChat/blob/main/CHANGELOG.md#4151---2022-03-04). Most of the fixes are for accessibility issues.

I hand-picked a few PRs that Emulator team may want to look at:

- https://github.com/microsoft/BotFramework-WebChat/pull/4143
   - For OAuth card, the sign-in URL must be either `http:` or `https:`
- https://github.com/m

[2022-03-29 11:03] rliberoff opened #2377 "Cannot connect to bot type "UserAssignedMSI""
## Version
Version 4.14.1

## Describe the bug
It is not possible to connect to a bot created in Azure as "UserAssignedMSI" (User-Assigned Managed Identity). Every time, no matter the configuration I get an error when connecting that says "The bot's Microsoft App ID or Microsoft App Password is incorrect." with HTTP status code 401

## To Reproduce
Steps to reproduce the behavior:
1 - Try to conne

[2022-03-29 15:31] #2377 closed

[2022-03-30 19:16] #2375 closed

[2022-05-13 14:15] johnborges opened #2382 "Can't sign into Azure"
## Version
macOS 12.2.1
Bot Framework Emulator 4.14.1 (4.14.1.277373)

## Describe the bug
I'm unable to sign in to Azure from the Emulator. I get prompted for my id, hit enter, then presented with a blank white screen.

## To Reproduce
Steps to reproduce the behavior:
1. Click on 'Sign in with Azure' link on Welcome page
2. Click Sign in with Azure
3. Enter email and hit next
4. Shows loading scr

[2022-05-16 17:33] ramfattah commented on #2382
investigating.

[2022-05-16 20:40] ramfattah commented on #2382
Hi @johnborges ,

Could you please try clearing the Emulator cache from:
`View > Toggle Developer tools > Application > Storage > Clear site data`

<img src="https://i.imgur.com/f1VHP1B.png" width="500"/>

[2022-05-31 11:15] ridasaleem0 opened #2383 "Add Custom Commands application as a skill in Bot framework composer application"
The documentation (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-integrate-remote-skills) gives an idea about how to export the Custom Commands application as a skill, however, there is no skills tab available in the Speech studio under Custom commands settings.

Is there a way to export our commands app as a skill inside the bot framework applicat

[2022-05-31 18:03] stevkan commented on #2383
Closing as duplicate of https://github.com/microsoft/BotFramework-Composer/issues/9212.

[2022-06-13 09:22] amazingYolk commented on #2154
Still not fixed in version  4.14.1 of emulator, how's it going?

[2022-06-13 09:24] amazingYolk commented on #2154
![image](https://user-images.githubusercontent.com/42231796/173322884-41d5a89b-dc78-456e-baf3-9cd84210d117.png)

[2022-06-17 22:12] mgateno opened #2389 "Failed to spawn ngrok"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What version of the Emulator are you using.
4.14.1-302259

## Describe the bug
Give a clear and concise description of what the bug is.
ngrok is not spaw

[2022-06-17 22:34] mgateno commented on #2389
Update

Changed path to ngrok to '/snap/bin/ngrok'

Now I can go into http://127.0.0.1:4040/status and see that ngrok is running but the tunnel is not active. Same error in the log. I can otherwise run ngrok manually and it works fine.

ngrok.yml is

authtoken: 25qpWK--------------------------------------------------------
version: "2"
region: us

Ran 'ngrok config check' and comes back as valid.

[2022-06-20 23:02] anishprasad01 commented on #2389
Hi @mgateno,

Thanks for the report. I am able to reproduce this behavior in Ubuntu 20.04. I can also confirm that this issue does *not* occur in Windows. I will investigate further to see if I can determine a resolution.

[2022-06-27 14:30] anishprasad01 commented on #2389
Still investigating

[2022-06-28 18:06] anishprasad01 commented on #2389
We're still looking into this. As a workaround in the meantime, you can launch ngrok from the terminal and use it that way.

[2022-06-28 21:43] mgateno commented on #2389
I have tried that but maybe I'm not doing it correctly. I spawn ngrok to
listen to the same port where BFE is listening? I doesn't seem to find it.
Can you please comment on the proper ngrok configuration?

On Tue, Jun 28, 2022 at 1:06 PM Anish Prasad ***@***.***>
wrote:

--
Marco Gateño Ch.

[2022-06-28 21:55] anishprasad01 commented on #2389
Ah, I deleted that because it's primarily for the reverse. You want to communicate with a hosted bot on the local Emulator. The CLI method is for communication with a local bot from a remote client.

[2022-06-28 21:56] mgateno commented on #2389
Ok, thanks for the clarification.

On Tue, Jun 28, 2022 at 4:55 PM Anish Prasad ***@***.***>
wrote:

--
Marco Gateño Ch.

[2022-07-05 19:48] anishprasad01 commented on #2389
@anishprasad01

It looks like the issue is potentially being caused by breaking changes in ngrok agent v3. For the time being, you can work around this by downloading the latest v2 version instead.

We will continue to investigate why this poses an issue on Ubuntu alone, but this workaround should get you up and running for now.

[2022-07-07 18:01] ivorb commented on #2347
@JordyGit understood, that works or reinstalling with newer version works, but not a good experience for our learners doing labs. Is the idea that future versions won't hit this, and this issue for 4.14.0 is a won't fix?

[2022-07-11 11:32] noahra opened #2392 "POST 400 directline/conversations//activities"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What version of the Emulator are you using.
4.14.1

## Describe the bug
Give a clear and concise description of what the bug is.

When trying to write to

[2022-07-12 07:37] noahra commented on #2392
Hi, @anishprasad01 thanks for your reply. If you copy and paste the link in your web browser it will redirect you.. for some reason the link is broken here.

-  How can I check the bot config? I do not remember adding references there but maybe they could have been added automatically?
- The messaging endpoint is still the same - "**http://localhost:3978/api/messages**"
-  I didn't have to supply

[2022-07-12 15:52] anishprasad01 commented on #2392
- Have you ever connected this bot to Azure before?
- Did you use ngrok to connect a bot to Azure for testing, or for some other application?
- Have you put anything in the `appsettings.json` file?
- Does the bot work on another machine or in a VM?

Additionally, you said `Like the error referenced here for example.`. What error are you referring to?

[2022-07-15 02:21] mgateno commented on #2389
Thanks for the workaround. I will be looking out for a more permanent fix

[2022-07-15 15:35] anishprasad01 commented on #2389
I'm still working on it. I think I may have identified a potential fix, but it requires further testing to ensure it does not cause regressions or introduce new bugs.

[2022-07-18 16:22] anishprasad01 commented on #2392
You can go to the Chocolatey folders on your machine and wipe the stray files. If the issue cannot be reproduced outside your native environment, then the issue is likely a configuration issue specific to your environment.

Closing this issue due to inactivity. If you still require assistance, please comment and we can reopen the issue.

[2022-07-18 16:22] #2392 closed

[2022-07-19 17:41] dinobrago commented on #2389
I am having this exact same issue, same error message on Windows 10. Should I open a separate issue?

Windows 10
ngrok 3.0.5

[2022-07-19 17:44] anishprasad01 commented on #2389
No need. The incompatibility between Ngrok 3.x and Emulator affects all platforms. Until we release a fix, the workaround is to use Ngrok 2.x.

[2022-07-19 19:51] dinobrago opened #2393 "Sign in with Azure - Page Not Found"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Emulator 4.14.1
Platform: Windows 10

## Describe the bug
Attempting to login to Azure to access various services for a bot configuration file

## To Rep

[2022-07-20 17:04] anishprasad01 commented on #2393
Hi @dinobrago,

Could you try clearing the Emulator state (File -> Clear state) and try signing in again? I was able to sign-in to Azure on version 4.14.1 on Windows.

[2022-07-20 17:13] dinobrago commented on #2393
Yes, I tried that and it did not work. Tried it again per your request with no effect. Same “Page not found” result.

From: Anish Prasad ***@***.***>
Sent: Wednesday, July 20, 2022 10:04 AM
To: microsoft/BotFramework-Emulator ***@***.***>
Cc: Dean Goddette ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/BotFramework-Emulator] Sign in with Azure - Page Not Found (Issue #2393)

Hi @dinobr

[2022-07-20 20:16] anishprasad01 commented on #2393
Strange. We're unable to reproduce this scenario. Could you check the dev console when you try to sign in and show us what errors appear there?

[2022-07-20 20:23] dinobrago commented on #2393
When I open the console, I see the attached image. When I attempt to log in to Azure, I do not see any additional entries in the console.
![image](https://user-images.githubusercontent.com/41213271/180074690-5d772937-2220-41d5-a970-03795d08e850.png)

[2022-07-20 22:12] dinobrago commented on #2393
I installed the emulator on another machine (a vm on the same machine actually) and I can log into Azure fine.

[2022-07-21 16:08] dinobrago commented on #2393
I understand. Any documentation on how to do a complete wipe?

[2022-07-21 17:20] dinobrago commented on #2393
To finish up:
1. I tried uninstalling and doing a deep clean of all emulator references. Reinstalled, same problem.

Finally some success:
2. Uninstalled 4.14. Downloaded 4.8 (picked a random). With this version, I can login to azure.

I may spend some time working up through different versions but is that of any value?

[2022-07-21 17:49] #2393 closed

[2022-08-02 16:37] abhaycashikar commented on #2256
Is this still being considered? My team would love to have access to the capabilities that Action.Execute provides.

[2022-08-10 17:25] tbrodbeck opened #2394 "Ngrok fails to spawn - no matter what (macOS)"
## Version
Version 4.14.1 (4.14.1.277373)

## Describe the bug
ngrok does not connect

## To Reproduce
Example steps to reproduce the behavior:
1. Open the Bot Framework Emulator bot endpoint configuration

## Expected behavior
I would expect the ngrok connection to work.

## Screenshots
<img width="1712" alt="Screen Shot 2022-08-10 at 19 16 38" src="https://user-images.githubusercontent.com/24418

[2022-08-11 10:40] tbrodbeck commented on #2394
After hours of debugging I found a workaround. Using ngrok version 2: https://dl.equinox.io/ngrok/ngrok/stable/archive

[2022-08-11 16:41] dmvtech commented on #2394
Possibly related to: https://github.com/microsoft/BotFramework-Emulator/issues/2389

[2022-08-22 18:23] axelsrz commented on #2394
Closing due to issue fixed.

[2022-08-22 18:23] #2394 closed

[2022-08-29 19:25] drmason13 opened #2397 "Emulator v4 not sending valid ConversationAccount object"
## Version
4.14.1

## Describe the bug
According to the [botframework protocol](https://github.com/microsoft/botframework-sdk/blob/main/schemas/protocol/botframework.json), ConversationAccount requires the following fields:

"conversationType",
"id",
"isGroup",
"name"

but in a message activity received from the emulator (the emulated user channel) only the id field was provided:
[code]
I think th

[2022-09-07 17:52] tracyboehrer commented on #2397
@johnataylor Update on this John?

[2022-09-08 08:05] graemefoster opened #2398 "Support Bots that use Single Tenant AAD Applications"
### Use this [query](https://github.com/Microsoft/botframework-emulator/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
Bot Emulator does not support single tenant authorisation

**Describe the solution you'd like**
Ability to enter a Tenant Id to support the scen

[2022-09-08 14:23] libardolara commented on #2394
Was it fixed? I still gave the same issue. I see that #2389 is still open.

[2022-09-08 15:05] anishprasad01 commented on #2394
@libardolara

No, the issue with Ngrok 3 has not been fixed due to other priorities. For the time being, the workaround is to use Ngrok 2. I hope to have this fixed in the near future.

[2022-09-10 13:29] drmason13 commented on #2397
I've just spotted some comments in a [markdown specification of Activity](
https://github.com/microsoft/botframework-sdk/blob/main/specs/botframework-activity/botframework-activity.md#conversation) for the `Activity.conversation` field:

So it looks like the emulator _is_ behaving according to this written interpretation of the protocol, and I think that means the JSON schema is wrong - it doesn't

[2022-09-10 13:29] #2397 closed

[2022-09-13 22:55] anishprasad01 commented on #2394
Should be fixed once #2399 is merged.

[2022-09-21 13:10] crismogram opened #2400 "The reader's maxDepth of 64 has been exceeded"
This is using Bot Composer V2.1.2 using a couple of dialogs. Main > Adaptive Card > Adaptive Card > HTTP Request > CancelDialog
I used the Message received activity to receive the dropdown selection from the cards and retrieve a list of objects using HTTP.
I am also deleting the Result Property and other properties afterwards.

Also tried reinstalling Bot Composer and deleting the binaries but non

[2022-11-10 16:34] therahulparmar commented on #2250
Hii,

Can you please fix this issue for the latest version of Bot Emulator (4.14.1)

[2022-11-10 17:03] therahulparmar commented on #2250
Hii,

Can you please fix this issue for the latest version of Bot Framework Emulator (4.14.1)

[2022-11-14 09:05] funnysekhar2014 commented on #2123
I am getting the same error "**request to https://localhost:3978/api/messages failed, reason: connect ECONNREFUSED 127.0.0.1:3978**". But didnt understand the above solution provide by @alatas.
can someone help me in getting this resolved in step by step.

{
  "error": {
    "code": "ServiceError",
    "message": "request to https://localhost:3978/api/messages failed, reason: connect ECONNREFUSED

[2022-11-14 09:06] funnysekhar2014 commented on #2123
![image](https://user-images.githubusercontent.com/118168352/201619576-a940063b-02c1-4e39-9d34-e13fef04c2c8.png)