[2018-09-14 19:46] jameslew commented on #881
Repro:

1) Load your bot to talk to
2) Conversation menu
3) Send System Activity
4) ConversationUpdate (remove user)

[2018-09-14 19:53] tonyanziano commented on #865
Fixed in #880

[2018-09-14 19:53] #865 closed

[2018-09-14 20:05] carlosscastro commented on #874
@vishwacsena We fixed the file to identify the issue so we don't have it ready. Vishwac and I just talked in person, we are going to try to repro creating a bot in ibiza.

[2018-09-14 20:26] justinwilaby commented on #853
This is probably not that common and if it is the case, we should direct users to use the channel property instead.

[2018-09-14 20:52] tonyanziano commented on #866
The work is done, just waiting for the version bump on the `msbot` side.

[2018-09-14 20:53] tonyanziano commented on #728
Fixed in #864

[2018-09-14 20:53] #728 closed

[2018-09-14 20:54] compulim commented on #693
@ktanpatel31, the issue is fixed and verified in the latest nightly build.

The speech feature is in private preview, so it is not available for anyone yet. But if you do see it before, you should see it right now.

[2018-09-14 20:54] #693 closed

[2018-09-14 21:08] mewa1024 commented on #873
Agree. This should say the file name. Tabs should have a max width of 200px, at which the file name truncates with ellipses. Full document path should appear on hover.

[2018-09-14 21:09] corinagum commented on #741
Reassigned to @compulim since this is a change that needs to be started in WebChat

[2018-09-14 21:28] willportnoy commented on #877
@vishwacsena are there secrets in my bot file?

[2018-09-14 21:32] #742 closed

[2018-09-14 21:32] #747 closed

[2018-09-14 21:42] mewa1024 commented on #873
Updated specs on Invision to illustrate the truncation behavior.
Complete Emulator style guide is here: hhttps://microsoft-fuse-design.invisionapp.com/d/main#/projects/prototypes/14907902
Look in the "Tabs" section.

[2018-09-14 22:14] sgellock commented on #87
Let's update this ticket to include the protocol and then we can close it.

[2018-09-14 22:29] sgellock commented on #738
PR for a fix has been merged into v4 branch

[2018-09-14 22:32] sgellock commented on #778
won't fix.

[2018-09-14 22:32] #778 closed

[2018-09-14 22:41] mewa1024 commented on #871
Let's say "Generate new key".

[2018-09-14 22:46] mewa1024 commented on #870
Change to "Generate new key". Adding this to bug #832.

[2018-09-14 22:54] sgellock commented on #870
comment to change wording added to #832

[2018-09-14 22:54] #870 closed

[2018-09-14 22:56] mewa1024 commented on #832
Also, please don't use ellipsis so users can select into the overflow text to view it.

[2018-09-15 00:11] mewa1024 commented on #872
@vishwacsena Do we need to make that text change? We use "bot configuration" in the UI of the "New bot configuration" flow: the text on the Welcome page, File  > New Bot Configuration, and the "New Bot Configuration" modal title. Is it confusing in this case not to specify that it's a file because encryption is involved?

[2018-09-15 01:08] vishwacsena commented on #872
@mewa1024 sure. That makes sense

[2018-09-15 01:09] mewa1024 commented on #868
Use aka.ms/bot-framework-bot-file-encryption as the link.

[2018-09-15 01:19] mewa1024 commented on #872
Updated the comp to show the change in wording from "Reset" to "Generate new key" and two make the key field shorter.

Encryption off: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/15183213/315673917/preview](url)
Encryption on: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/15183213/320119845/preview](url)

[2018-09-15 01:37] mewa1024 commented on #871
Use "Learn more" link to link to aka.ms/bot-framework-bot-file-encryption, which link to bot file readme to the section about encryption.

Design for the Bot Settings modal:
Encryption off: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/15183213/315673917/preview](url)
Encryption on: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/15183213/320119845/preview](url)

[2018-09-15 01:40] mewa1024 commented on #832
Updated designs for the Bot Settings modal:
Encryption off: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/15183213/315673917/preview](https://microsoft-fuse-design.invisionapp.com/d/main#/console/15183213/315673917/preview)
Encryption on: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/15183213/320119845/preview](https://microsoft-fuse-design.invisionapp.com/d/main#

[2018-09-15 01:45] mewa1024 commented on #871
Related to #832, #870, and #872.

[2018-09-15 02:01] mewa1024 commented on #867
@vishwacsena "Close tab" should close the active tab. If no tabs are open, it should be disabled.
There is no "Close bot"--do we need it?

Related question: should we add "New Window" and "Close Window" to the File menu to allow users to test different bots side-by-side? Seems useful for comparing production versus test bots that are different in more ways than just a local and remote endpoint. Th

[2018-09-16 14:25] sgellock opened #883 "Update Emulator to react to DCR: Change secretKey to padlock"
Both the C# and NodeJS code has been updated.  We'll need the emulator to adjust as well.
Please reference:

Microsoft/botbuilder-tools#476

[2018-09-16 18:01] vishwacsena opened #884 "Speech support in emulator for all bots"

[2018-09-16 19:18] sgellock commented on #853
I wouldn't block on this.  if there's a .chat file that has default-user it's a simple search and replace, once we teach the customer where we store that value.

[2018-09-16 21:51] vishwacsena commented on #810
@justinwilaby - Emulator V4 preview we shipped at //BUILD 2018 had a progress spinner for train and publish as well. See [here](https://www.youtube.com/watch?time_continue=2004&v=MfBPmonJExk)

[2018-09-16 21:52] #722 closed

[2018-09-17 06:08] shaum09 opened #885 "Getting POST Response code 500 (Internal Server Error) on Bot Framework Emulator"
I am running it locally and giving the right credentials of Microsoft Account,
please help me how to debug it ? I have tried both Emulator version v3.5.36 and v4.0.0 but nothing worked.

[2018-09-17 12:18] giorigor commented on #765
Thanks @dkonyayev! Now it works.
I also didn't knew about this "Developer Mode" (pretty much the chrome F12 overlay), so thanks again!

Now related to the issue: is this _"All inputs must have a unique Id"_ restriction valid only for the Emulator? I mean, the cards were rendering on Teams and Slack without this change.
Should they display the card, even with the missing Ids? Or is the Emulator's _

[2018-09-17 16:39] vishwacsena opened #886 "Emulator notifications panel should show a message when there are no notifications to display"
Right now, we show a blank panel.

can we finalize the copy and hand over to Tony for implementation?

[2018-09-17 16:44] vishwacsena opened #887 "Add support for all service types enumerable through .bot file"
Missing -
App insights
Blob storage
Cosmos DB
Generic service
File

[2018-09-17 18:27] sgellock commented on #876
requested information shows up in the live chat tab.  this behavior is by design.

[2018-09-17 18:27] #876 closed

[2018-09-17 18:35] mewa1024 commented on #879
Design for the "New bot configuration" modal are on Invision.
Complete flow: [https://microsoft-fuse-design.invisionapp.com/d/main/#/projects/prototypes/15183213](url)

[2018-09-17 18:44] compulim commented on #884
Talked to @vishwacsena offline. The behavior is correct:

- Flighted bots
   - Emulator (connected to bots with app ID and password)
   - Embed (which include "Test in Web Chat" blade)
   - ~CDN~
   - ~NPM~
- Provide your own Cognitive Services Speech key
   - ~Emulator~ (no way to provide key)
   - ~Embed~ (no way to provide key)
   - CDN
   - NPM

Post-Ignite, we will create a better story about

[2018-09-17 18:44] #884 closed

[2018-09-17 18:53] vishwacsena commented on #877
@justinwilaby; @tonyanziano I have a repro for this. Will email you the .bot file.

[2018-09-17 19:04] corinagum commented on #885
If you're having trouble with debugging, the [Stack Overflow botframework tag](http://stackoverflow.com/search?q=%23botframework) is a good place to ask **how to** questions and get support from the community.

[2018-09-17 19:04] #885 closed

[2018-09-17 19:15] mewa1024 commented on #868
@vishwacsena What about these?
![new bot config modal](https://user-images.githubusercontent.com/39317542/45644679-2932ca80-ba73-11e8-8665-b14888e2a308.png)
![new bot config modal2](https://user-images.githubusercontent.com/39317542/45644704-3485f600-ba73-11e8-8f2a-628072b6dad0.png)
![new bot config modal3](https://user-images.githubusercontent.com/39317542/45644715-38197d00-ba73-11e8-80a8-7fcd86f

[2018-09-17 19:29] mewa1024 opened #888 "EMULATOR: Remove "Toggle Developer Tools" items from the "Help" menu"
There are two items and the second one doesn't seem to do anything.

Screenshot from Mac build 4.0.316-alpha2, (but this also appears in Windows 4.0.474-nightly):
![image](https://user-images.githubusercontent.com/39317542/45645084-46b46400-ba74-11e8-8b47-f5d1c2576017.png)

[2018-09-17 19:41] mewa1024 commented on #867
Ignore my comment above for now and just change the behavior: With no tabs open, the "Close Tab" should be disabled.

[2018-09-17 19:50] vishwacsena commented on #874
The flow through ABS portal worked for me with the latest emulator.

For the generic issue with invalid bot file, let's look at adding it to bot configuration library so emulator can rely on that.

[2018-09-17 19:51] vishwacsena commented on #867
Moving to backlog based on design assessment.

[2018-09-17 20:01] justinwilaby commented on #888
The inspector dev tools toggle is used when an inspector is present in the extensions panel.

[2018-09-17 20:56] mewa1024 commented on #868
New flow is on Invision: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/15183213/315673905/preview](url)

[2018-09-17 21:48] mewa1024 commented on #886
"No new notifications." Design in Invision: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/14909104/320419756/preview](https://microsoft-fuse-design.invisionapp.com/d/main#/console/14909104/320419756/preview)

[2018-09-17 23:18] vishwacsena commented on #868
People are hitting this often and has come up in the bug bash as well. Bumping up to P0.

[2018-09-18 00:05] vishwacsena opened #891 "Docs for V4"
- Clean up home page. aka.ms link for latest download bits - windows, mac, linux
- Docs on new V4 concepts

[2018-09-18 00:41] vishwacsena opened #892 "Emulator strings/ style scrub"
* The development and production "buttons" don't look like buttons and their icon should be a + because they create a new tab. On first coming into the tool it looks like you switch between the two environments.
* "You have not saved any Services apps to this bot"... what does that mean.
* Start Over and Save Transcript As are buttons (do something when you click them) but they look like text. In

[2018-09-18 00:44] vishwacsena opened #893 "Emulator, add service link sometimes doesn't work"
See attached video. I clicked around doing things for a while. Then clicked the "add qna" link, closed it, then tried clicking add service again and nothing happen. Did not fix itself.

I've also noticed this when you click the + to add a new service, choose one of the service types and then cancel the modal dialog without adding a service..

[Untitled.zip](https://github.com/Microsoft/BotFramewor

[2018-09-18 00:51] vishwacsena commented on #893
Might be related to #738 ?

[2018-09-18 00:52] vishwacsena commented on #811
One is used for inspectors if you have them - like LUIS/ QnA

[2018-09-18 00:52] #811 closed

[2018-09-18 01:14] tonyanziano commented on #866
Update:

I've integrated the newest version of `botframework-config` into the emulator and there seems to be an issue inside of the library when calling the node `crypto` module.

When I call `botConfig.validateSecret()`, it will fail inside of the call to `encrypt.encryptString(uuid(), secret)` on this line (https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botframework-config/src/

[2018-09-18 01:19] sgellock commented on #866
@tomlm any ideas?

On Sep 17, 2018, at 6:15 PM, Tony Anziano <notifications@github.com<mailto:notifications@github.com>> wrote:

Update:

I've integrated the newest version of botframework-config into the emulator and there seems to be an issue inside of the library when calling the node crypto module.

When I call botConfig.validateSecret(), it will fail inside of the call to encrypt.encryptStrin

[2018-09-18 01:24] #883 closed, assigned to justinwilaby

[2018-09-18 02:31] sgellock commented on #866
This is on the node side?

From: Scott Gellock
Sent: Monday, September 17, 2018 6:19 PM
To: Microsoft/BotFramework-Emulator <reply@reply.github.com>; Tom Laird-McConnell <Tom.Laird-McConnell@microsoft.com>
Cc: Scott Gellock <Scott.Gellock@microsoft.com>
Subject: Re: [Microsoft/BotFramework-Emulator] React to Tools DCR DCR: Change secretKey to something else (#866)

@tomlm any ideas?

On Sep 17, 20

[2018-09-18 02:41] tonyanziano commented on #866
Yeah it's on the node side.

So I modified the botframework-config library directly to test some possible solutions and I was able to get it to encrypt properly if I used a 32 byte (256 bit) key generated using

crypto.randomBytes(32)

which is the required key length for the aes-256 algorithm being used for encryption.

So I'm not sure how that problem is being avoided on the cli side, but I'm no

[2018-09-18 02:44] sgellock commented on #866
Are you working with an old bot file?  We had a different key before and there is logic which catches the exception and uses the legacy decryption.

Is it possible you are catching the exception before the fallback logic can process it?
-Tom

From: Scott Gellock
Sent: Monday, September 17, 2018 6:19 PM
To: Microsoft/BotFramework-Emulator <reply@reply.github.com>; Tom Laird-McConnell <Tom.Laird-McC

[2018-09-18 02:46] tonyanziano commented on #866
No I'm using a brand new bot file being created via the new bot flow in the emulator. So there is no secretKey property.

I'm stepping into calls made while calling config.validateSecret() and it throws the error right when it tries to create the cipher for the first time unless I pass it a 32 byte secret.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Scot

[2018-09-18 16:38] mewa1024 commented on #892
@vishwacsena I'm splitting this bug. These two items are reasonable to fix for Ignite:

- "You have not saved any Services apps to this bot"... what does that mean."
 should look like this:

<img width="363" alt="screen shot 2018-09-18 at 9 33 43 am" src="https://user-images.githubusercontent.com/39317542/45702236-2644e200-bb26-11e8-9f57-0cd6ea2c5c05.png">

- "Missing border between chat window an

[2018-09-18 16:45] mewa1024 opened #895 "Emulator: design polish"
**Version**
 Mac: Emulator_OSX_v4.0.0-preview.40025_40380

Issues:
- **Start Over** and **Save Transcript As...** should be buttons (moved from #892)
- Fuzzy icons (moved from #892 )
- for high contrast, in the sidebars, the borders should be between groups, not below the group name. screenshot:
![image](https://user-images.githubusercontent.com/39317542/46313959-1a253f80-c57e-11e8-8f15-016cb976f6

[2018-09-18 16:51] mewa1024 commented on #812
@vishwacsena I agree. This is dupe of #863.

[2018-09-18 16:52] mewa1024 commented on #812
Closing since it's a dupe of #863.

[2018-09-18 16:52] mewa1024 commented on #812
Closing since it's a dupe of #863.

[2018-09-18 17:01] mewa1024 commented on #888
@vishwacsena @justinwilaby Can we reopen this and move to backlog? (1) It's not obvious what it does, so it seems like an advanced feature, and (2) having to navigate back to the Help menu isn't the greatest UI for a toggle. If it is a useful feature that is used frequently, a keyboard shortcut would be better.

[2018-09-18 17:03] mewa1024 commented on #814
We had this design for Build but it didn't make it into the preview release. Looks basically like this:
<img width="240" alt="image" src="https://user-images.githubusercontent.com/39317542/45703735-044d5e80-bb2a-11e8-9379-afb4c3888eb7.png">

[2018-09-18 18:17] sgellock commented on #853
PR merged into v4 branch.

[2018-09-18 18:17] #853 closed

[2018-09-18 18:37] mewa1024 commented on #892
links:
"Language Understanding (LUIS)" - aka.ms/bot-framework-emulator-LUIS-docs-home
"QnA Maker" - aka.ms/bot-framework-emulator-qna-docs-home
"Dispatch" - aka.ms/bot-framework-emulator-create-dispatch

"Learn more about using services" - aka.ms/bot-framework-emulator-services

[2018-09-18 20:40] diberry opened #897 "Replacing JSON quotes with slanted quotes"
The bot emulator 4.0.501-nightly version.

If I print something out via dc.context.sendActitive({"text":"author of hrf-546234?"}), the bot emulator replaces the quotes with slanted quotes {“text”:“author of hrf-546234?”}

Is there a setting to turn this replacement off?

[2018-09-18 20:55] mecampbellsoup opened #899 "Unable to npm install dependencies"
[npm-debug.log](https://github.com/Microsoft/BotFramework-Emulator/files/2394466/npm-debug.log)

I've included the full debug log with this issue, but here's the summary:

[code]

I tried with multiple node versions all with the same results 😢

[2018-09-18 21:14] justinwilaby commented on #738
Fixed with #896

[2018-09-19 00:38] justinwilaby commented on #899
Please reference the [README.md](https://github.com/Microsoft/BotFramework-Emulator/blob/v4/README.md) for installing dependencies. Also, make sure you have permissions to delete files and those files references in the error are not being used by another process

[2018-09-19 00:57] tonyanziano commented on #879
Addressed in #898

[2018-09-19 00:57] tonyanziano commented on #866
Addressed in #898

[2018-09-19 00:57] #866 closed

[2018-09-19 01:37] #893 closed

[2018-09-19 01:38] #810 closed

[2018-09-19 15:59] MarekLani opened #900 "Transcript Explorer is locking whole directory"
When emulator is started it is locking whole directory tree based on where .bot config file is stored. That means if it is in project directory, it is unable to do anything with node_modules because they are locked by emulator!

[2018-09-19 18:03] justinwilaby commented on #900
This is expected behavior. Each directory is being watched for changes and thus is locked by the OS. It's always best not to have transcripts or the bot file in a project directory

[2018-09-19 18:03] #900 closed

[2018-09-19 18:15] compulim commented on #897
Markdown-It engine in Web Chat will automatically convert standard quotes in smart quotes.

https://github.com/Microsoft/BotFramework-WebChat/issues/1102

To skip the Markdown engine, when you send the activity, set `textFormat` to `plain`. More information can be found in this article, https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azur

[2018-09-19 18:15] #897 closed

[2018-09-19 19:02] diberry commented on #900
@justinwilaby Is the idea that anything you need to edit should be done through emulator?

[2018-09-19 21:01] #741 closed

[2018-09-19 22:12] #899 closed

[2018-09-19 22:13] tonyanziano commented on #825
So this ended up being a much tougher fix than I expected. I have a fix in my branch that works, but that I'm not entirely satisfied with. I would like to revisit this in the future and polish up the splitter-side logic so that it is more flexible.

[2018-09-19 23:03] #877 closed

[2018-09-19 23:45] #892 closed

[2018-09-20 01:33] mewa1024 commented on #879
@tonyanziano A couple things:
- When unchecked, the "Encrypt keys stored in your bot configuration..." check box should not hide the content below, but it should be grayed out with the placeholder text changed to "Your keys are not encrypted". That should also be changed for the Bot Settings modal.
- I think @justinwilaby implemented the URL field so that the warning was not always present: only c

[2018-09-20 06:01] mewa1024 opened #906 "Emulator: Transcripts not saved in "transcripts" folder do not appear in side nav"
Build: 4.0.0-preview-2.39744

Saving a conversation to a transcript does not appear in the Resources tab unless you save it to a folder named "transcripts". Saving transcripts to "transcripts" folder should be the default. Also, the Resources Settings icon is hidden. Should be a gear on the Resources tab.

Repro:
(1) open bot conversation.
(2) click "Save Transcript As". File browser appears:
![im

[2018-09-20 14:55] justinwilaby commented on #906
@mewa1024  - Great catch and AWESOME repro steps!

[2018-09-20 16:15] mewa1024 commented on #873
Changing the name of this issue from **"Transcript tabs should show the file name instead of the generic 'Transcript'"** to  **"Tabs should show the name of the endpoint (for conversations) or filename (for transcripts and scripts) instead of the generic "Transcript" or "Live Chat"**, since this effects transcripts, conversations, and script/.chats.

[2018-09-20 16:29] mewa1024 opened #908 "Emulator polish: minor text edits to bot secret modal"
Text in the modal does not  quite match design.

Changes:
- Make "Your bot file is encrypted" the title, not a header. (Please remove "Bot secret required")
- remove extra space from "Azure  portal"
- add space before the link "Learn more about MsBot."

![image](https://user-images.githubusercontent.com/39317542/45833083-95ead680-bcb8-11e8-84e8-c0e66f88097a.png)

Design comp: [https://microsoft-fu

[2018-09-20 16:50] mewa1024 commented on #868
"Submit" button is stuck in disabled state. Repro:
(1) open encrypted .bot file
(2) modal opens
(3) enter secret into the field
(4) "Submit" button stays disabled (tried clicking out of the field, hitting Enter, and toggling Show/Hide--nothing enabled the button)

![image](https://user-images.githubusercontent.com/39317542/45833821-8076ac00-bcba-11e8-897c-bab6257a0a93.png)

(There also polish chan

[2018-09-20 16:54] mewa1024 commented on #738
Version windows 4.0.0-preview-.39773

The "Edit configuation" modal is appearing blank:

![image](https://user-images.githubusercontent.com/39317542/45834065-1e6a7680-bcbb-11e8-9e86-4581bb2224d8.png)

[2018-09-20 17:12] mewa1024 commented on #832
Updated comp to change the field label of "Key" to "Secret" and "Generate new key" to "Generate new password".

[2018-09-20 17:41] vishwacsena commented on #868
all the downloadable versions at https://github.com/Microsoft/BotFramework-Emulator/releases <https://github.com/Microsoft/BotFramework-Emulator/releases>   (up to 4.0.0-preview-2.39744 <https://github.com/Microsoft/BotFramework-Emulator/releases/tag/v4.0.0-preview-2.39744>

[2018-09-20 18:45] tonyanziano commented on #825
De-prioritizing due to workaround #910

However this should still be fixed because the same issue happens when splitting an active livechat tab to a new tab group.

[2018-09-20 19:48] mewa1024 opened #911 "Emulator: "Sign in with Azure" sign in flow does not appear with File > Sign in"
**Windows build 4.0.0-preview-.39773**

Attempting to sign with Azure with **File > Sign in** or the link on the Welcome page opens the intro modal screen (that tells you about signing in) but not the subsequent modals for actually signing in to Azure. However, signing in via adding a service from the services pane does open the sign in flow.

**Repro steps for File > Sign in (or using the link th

[2018-09-20 20:51] justinwilaby commented on #868
Fixed with #909

[2018-09-20 20:51] #868 closed

[2018-09-20 20:58] justinwilaby commented on #911
#913  fixes this as well [here](https://github.com/Microsoft/BotFramework-Emulator/pull/913/files#diff-5277a5288b57ac6ba87e0d94f7cdba05)

[2018-09-20 21:03] tonyanziano commented on #832
This is done.

[2018-09-20 21:03] #832 closed

[2018-09-20 21:05] #879 closed

[2018-09-20 21:38] tonyanziano commented on #797
Couldn't repro

[2018-09-20 21:40] tonyanziano commented on #834
Addressed in #915

[2018-09-20 21:40] #834 closed

[2018-09-20 22:33] justinwilaby commented on #911
fixed with #913

[2018-09-20 22:33] #911 closed

[2018-09-20 22:33] justinwilaby commented on #906
Fixed with #913

[2018-09-20 22:33] #906 closed

[2018-09-20 22:55] #845 closed

[2018-09-20 23:04] tonyanziano commented on #872
Fixed in #916

[2018-09-20 23:04] #872 closed

[2018-09-20 23:20] tonyanziano commented on #87
The protocol to start a livechat session inside of the emulator with a specified endpoint is as follows:

**Protocol:**

`bfemulator://domain.action[?param_n[&param_n+1]*]`

**NOTE:** Parameters **must be** URL encoded.

- **domain:** `livechat`
- **action:** `open`
- **params:** any combination of the following endpoint properties:
  - **endpoint:** URL to use for your bot's endpoint
  - **appId:

[2018-09-20 23:20] #87 closed

[2018-09-21 00:01] justinwilaby commented on #837
@vishwacsena  - PR #901 looks like it fixed this problem. Can your confirm and close?

[2018-09-21 00:25] mewa1024 opened #920 "Emulator: LUIS inspector, TRAIN spinner doesn't stop and PUBLISH stays disabled"
**version botframework-emulator-setup-4.0.577-nightly**
Related bug: #810?

When you reassign a user message to a different intent, it is unclear when the model has been updated because:

1. The log message "[LUIS] Intent reassigned successfully" appears right after you select an intent from the "Reassign Intent" dropdown but before you hit the Train button
2. When you hit the Train button, it nev

[2018-09-21 02:05] #869 closed

[2018-09-21 03:05] justinwilaby commented on #920
The reassignment of the intent when the dropdown is changed is by design. If the spinner stays after successfully training, there could be a problem with how the response is processed or possibly with the API itself. This warrants investigation.

[2018-09-21 16:40] mewa1024 commented on #920
Ah, I see--so "[LUIS] Intent reassigned successfully" is technically correct in that the API call has been made. While technically correct, the message implies that the user doesn't need to do anything else, when in fact they need to train their model for the reassignment to make a difference to the model. I'll file revisiting the LUIS messages as a separate, future, issue and edit name of this bu

[2018-09-21 16:47] tonyanziano commented on #895
Adding to this:

I noticed if the Emulator window is very small, flexbox styling on our `<GenericDocument>` component (template for Welcome Page and App Settings Page) causes some strange content "scrunching".

![image](https://user-images.githubusercontent.com/3452012/45894476-4fae7980-bd83-11e8-8dbe-c1c8d113e71c.png)

[2018-09-21 16:58] tonyanziano commented on #881
Yes we are sending a DELETE. This is the exact same functionality that V3 had for removing a user.

[2018-09-21 18:05] sgellock commented on #920
pushing out post ignite

[2018-09-21 18:09] #738 closed

[2018-09-21 18:10] #891 closed

[2018-09-22 12:25] muges01 opened #922 "Couldn't open a transcript file from the file menu"
Hi guys,

I'm getting the following error when i try to open a transcript file using the File > Open Transcript..

However, the same transcript file is loaded correctly if i open directly from the transcript folder by double clicking on it.

My Bot Framework Emulator version: **4.0.0-preview.39916**

Please advice me, if this is a bug or I'm doing something wrong.

[2018-09-22 12:32] muges01 opened #923 "The carousel is not rendering the left and right button for scroll to next image"
Hi guys,

When i try to load the script file which contains image attachments as carousel, but the carousel is not rendering the left and right button to scroll.

The following is the out that i get

![carousel-01](https://user-images.githubusercontent.com/22563887/45917293-bb6c1180-be6b-11e8-810c-d6526fa91547.PNG)

[2018-09-23 15:51] mikepugh commented on #861
I'm running into this problem as well - yes my account requires two factor auth.

[2018-09-24 08:13] dsghi commented on #861
This should be a higher priority to fix. MFA is considered a best practice for Azure admin accounts, and it's pushed hard by the Advisor and Security Center features if it's not in use.

[2018-09-24 16:13] corinagum commented on #923
Hi @muges01, could you share your json script that you are using? Thanks!

[2018-09-24 20:42] mikepugh commented on #861
Looks like there's already an active PR for this #924

[2018-09-24 21:38] habuso commented on #861
I am running into the same issue and my account doesn't have tfa.

[2018-09-24 22:57] muges01 commented on #923
Hi @corinagum
This was the test *.chat file data

`user=muges
bot=testbot

user: I want a new watch

bot: I can help you with that!, Let me see what i can find.
bot: Here's what i found.
bot:
[AttachmentLayout=carousel]
[Attachment=images\845061.jpg]
[Attachment=images\1089572.jpg]
[Attachment=images\1092951.jpg]
[Attachment=images\1092955.jpg]

bot:
[AttachmentLayout=carousel]
[Attachment=https:/

[2018-09-25 00:19] tonyanziano commented on #653
@nlw0 I believe that error is just from our Auto-Updater polling GitHub for the latest version of the emulator, and then coming back with a 404. Errors from the Auto-Updater shouldn't prevent the emulator from starting. So I would just ignore that message for now.

If you're emulator isn't starting then there is some other error that's occurring during startup.

We have just published an updated L

[2018-09-25 19:53] tonyanziano commented on #922
Hey @muges01 ,

Is there any way you could share the transcript with us so that we can try to reproduce the issue and diagnose what's going on?

[2018-09-25 20:10] muges01 commented on #922
Hi

This is the transcript.

`[
  {
    "conversation": {
      "id": "g0WFa33GqGxS5CyOmO4SJ6FuVSQ="
    },
    "id": "1",
    "recipient": {
      "id": "2q+DFNKOqsqky+3VlYQ22QBSUfw=",
      "name": "testbot",
      "role": "bot"
    },
    "from": {
      "id": "g0WFa33GqGxS5CyOmO4SJ6FuVSQ="
    },
    "timestamp": "2018-09-22T11:28:04.100Z",
    "type": "conversationUpdate",
    "channelId": "c

[2018-09-25 20:28] tonyanziano commented on #552
This appears to be fixed on Centos, however, the System Tray icon is still blank.

![image](https://user-images.githubusercontent.com/3452012/46041064-d090ac80-c0c6-11e8-9750-b86f56001ecc.png)

[2018-09-25 23:33] justinwilaby commented on #922
This error is likely due to the presence of a BOM in the json you're trying to open. This happens when the json is created using a powershell terminal which is the default terminal in VSCode and Visual Studio. Removing the BOM should do the trick.

[2018-09-26 14:27] Toemsel commented on #428
Greate, same issue

[2018-09-26 14:32] justinwilaby commented on #888
@mewa1024 - debugging the emulator internals is probably not something that is necessary often. When it is necessary, there are other ways to connect a debugger which does't involve explicit menu options. I vote to remove both menu items entirely.

[2018-09-26 15:58] justinwilaby commented on #920
This can be reprod when the api call to the luis service fails. The `catch` block fails to set the state of the button back to default which causes the spinner to remain.

[2018-09-26 16:02] justinwilaby commented on #920
Fixed by #929

[2018-09-26 16:04] justinwilaby commented on #696
Fixed by #921

[2018-09-26 16:04] #696 closed

[2018-09-26 16:44] #920 closed

[2018-09-26 16:49] justinwilaby commented on #922
Using the above transcript, I am unable to repro this error. Adding a BOM to the file *does* repro this error. The fix is to remove the BOM from the json

[2018-09-26 16:49] #922 closed

[2018-09-26 18:48] tonyanziano commented on #653
Just tried the newest version **(v4.0.0-preview-2-linux)** on **Ubuntu 16.04.5 LTS** and it is working.

![image](https://user-images.githubusercontent.com/3452012/46101870-dd260b00-c181-11e8-8944-897522422b3d.png)

You will still get that same error within the terminal, but it should not stop the Emulator from starting.

[2018-09-26 18:50] corinagum commented on #715
Reopening - I noticed that on latest that the Close tabs button (x) are no longer keyboard accessible.

[2018-09-26 19:36] justinwilaby commented on #809
Fixed with #924

[2018-09-26 19:36] #809 closed

[2018-09-26 19:37] justinwilaby commented on #878
We should look into using https://www.npmjs.com/package/ngrok so users do not have the currently required step of downloading and configuring ngrok manually

[2018-09-26 19:39] justinwilaby commented on #861
Fixed with #924

[2018-09-26 19:39] #861 closed

[2018-09-26 20:10] tonyanziano commented on #653
Just tried it on **Ubuntu 14.04.5 LTS** as well and it also works.

![image](https://user-images.githubusercontent.com/3452012/46106433-7f97bb80-c18d-11e8-9f15-ee6acd091970.png)

[2018-09-26 20:10] #653 closed

[2018-09-27 02:09] #715 closed

[2018-09-27 03:07] NKZ82 opened #931 "Cannot read property 'role' of undefined"
I used chatdown **v1.0.9-20** to convert a very simple .chat file into a .transcript file.

I got the following error when I open the .transcript file in Bot Framework Emulator (**4.0.0-preview.40025**)
_Error creating a new conversation in transcript mode: Error: Error while feeding transcript on disk to conversation: Cannot read property 'role' of undefined_

I don't know if it's related to **ch

[2018-09-27 06:51] GillesBodart commented on #861
Hello, I'm using Okta as a tfa but the fix doesn't seem to work for me
![image](https://user-images.githubusercontent.com/10420055/46127940-685ed980-c232-11e8-84f0-3ac933a7fb08.png)
![image](https://user-images.githubusercontent.com/10420055/46127965-77458c00-c232-11e8-835a-647b8d90aa0b.png)

[2018-09-27 09:38] habuso commented on #861
I also tried to fix it, but still experiencing the same issue as well.

[2018-09-27 16:19] justinwilaby commented on #931
This is a known issue with chatdown. Updating to 1.0.10 fixes this problem. As a workaround, the emulator uses this version under the hood and can convert .chat files into transcripts and feed them into the chat window automatically. To do this:

1. open a bot file in the emulator
2. click on the resources icon
![image](https://user-images.githubusercontent.com/2652885/46159781-fab4ac80-c235-11e8-

[2018-09-27 16:19] #931 closed

[2018-09-27 16:34] corinagum commented on #704
#931

[2018-09-27 17:21] justinwilaby commented on #797
Can this be closed?

[2018-09-27 17:27] justinwilaby commented on #881
HTTP DELETE is correct for removing users since we follow RESTful best practices.

[2018-09-27 21:17] #547 closed

[2018-09-27 21:24] #552 closed, assigned to sgellock

[2018-09-27 21:39] vishwacsena opened #933 "Emulator - support for enumerating, adding ABS service endpoint information through login flow"
Bot file supports the ability to store ABS endpoint configuration.

Emulator today does not provide a way to automatically retrieve bot apps (once logged in).

[2018-09-27 21:40] vishwacsena opened #934 "Emulator - add support for enumerating/ adding blob, cosmos db storage providers"
Bot file supports keeping track of blob and cosmos db storage providers are service configurations.

Emulator does not support this today - both through the Login flow as well as the non-login manual mode.

Filing this ticket to track the work to add support in emulator for storage providers.

[2018-09-27 21:41] vishwacsena opened #935 "Emulator - add support for app insights service configuration"
Bot file supports keeping track of app insights service configuration.

Emulator does not provide any affordance at all to manage this today (both through the azure login flow as well as through manual mode).

Filing this ticket to track the work for emulator to support app insights service configuration.

[2018-09-27 21:42] vishwacsena opened #936 "Emulator - add support for generic service configuration"
Bot file supports keeping track of a generic service that the bot depends on.

Emulator today does not support adding/ managing generic service type.

Filing this ticket to track the work to add this capability to Emulator.

[2018-09-27 21:44] #887 closed

[2018-09-27 21:48] vishwacsena opened #937 "Webchat theming support"
Webchat in the emulator is not themed to match Emulator's current theme setting.

Filing this work item to track support for theming webchat based on Emulator's theme setting.

[2018-09-27 21:52] #765 closed

[2018-09-27 21:55] vishwacsena commented on #652
Given Emulator is so core to testing your bot, you often repeat the same set of messages to your bot while you are testing/ debugging.

Tagging this as approved so we can consider adding support for this in the next release.

[2018-09-27 21:57] vishwacsena commented on #609
@thebillkidy - we've made considerable investments on both these pieces of feedback in the latest emulator release -
1 - you can now very easily create a new bot configuration and connect to your bot. You can also easily open saved bot configurations via the MRU list in the Welcome page as well as via File -> open menu.
2. We've also added hint text for /api/messages in the new bot configuration d

[2018-09-27 21:57] #609 closed

[2018-09-27 23:56] tonyanziano commented on #797
I was finally able to repro it with the latest. Addressed in #939

[2018-09-28 00:10] #804 closed

[2018-09-28 17:09] tonyanziano commented on #115
I believe this was fixed / addressed by PR #367. Can we close this?

[2018-09-28 17:16] tonyanziano commented on #133
This could have also been fixed by #367. (referenced in #115)

Can we close this?

[2018-09-28 21:18] muges01 commented on #922
How do i remove the BOM from the json.

This json file was generated using

[2018-09-30 17:17] tomlm opened #941 "Emulator doesn't show deep link for ABS service"
## Version
![image](https://user-images.githubusercontent.com/17789481/46260262-87f73b80-c498-11e8-883d-fc682a8dd62a.png)

## Describe the bug
My bot file has an ABS record, and the services panel is not showing the ABS record and is not creating a deep link to the portal.

## To Reproduce
Steps to reproduce the behavior:
1. msbot connect bot …
2. load bot file
3. Services section doesn't show Bot

[2018-09-30 17:20] tomlm opened #942 "Service entries are too hard to interpret- Should have unique icons to help visually understand what they are"
When I look at this it is very hard to visually process the type of the record
![image](https://user-images.githubusercontent.com/17789481/46260404-3b146480-c49a-11e8-88b0-61648bfa1fea.png)
Also the identifying text is gray and cropped, so I can't see it without expanding the panel.

**Describe the solution you'd like**
I would like to have clear icons on the left hand side which identify the serv

[2018-09-30 17:22] tomlm opened #943 "Add Service is missing a bunch of services"
## Version
What version of the Emulator are you using.

## Describe the bug
When I click Add Service, it shows this:
![image](https://user-images.githubusercontent.com/17789481/46260437-b544e900-c49a-11e8-9800-a8756184bacb.png)

## Expected behavior
I expected this list:
* appinsights  connect to Azure AppInsights
* blob         connect to Azure Blob storage
* bot          connect to Azure Bot Ser

[2018-10-01 17:01] mewa1024 commented on #906
Behavior as fixed:
1. User opens a bot file and connects to endpoint.
2. User hits "Save transcript...", which opens the file browser to the local folder. User saves .transcript file here.
3. User opens "Transcript" pane and it is blank.
4. User has to click on the settings (gear icon) to change the transcript folder location for the transcript they just saved to appear in this pane.

I think we'd

[2018-10-01 17:11] mewa1024 opened #944 "Emulator: Transcripts not saved in "transcripts" folder do not automatically appear in side nav"
### Moved from #906 "Emulator: Transcripts not saved in "transcripts" folder do not appear in side nav"

**Version**
Mac: Emulator_OSX_v4.0.0-preview.40025_40380

Behavior as fixed is still a little confusing, as user has to change Resource settings for transcript to appear in sidebar.

**Changes:**
- empty state for transcripts: "No transcripts were found in **transcripts\*<default location for t

[2018-10-01 17:50] stofte commented on #809
I'm on 4.0.0-preview.40052 and I'm not able to login with either of my accounts (one is a "Personal" and the other "Work").

Using personal account:

Request Id: 86b6d78f-3930-4041-9031-9aa72e822001
Correlation Id: 8e070b79-16ea-406f-aa43-06682a5bf812
Timestamp: 2018-10-01T17:42:57Z
Message: AADSTS50020: User account 'blah' from identity provider 'live.com' does not exist in tenant 'Microsoft' and

[2018-10-01 17:57] mewa1024 opened #945 "Emulator: sidebar has no way of scrolling"
There doesn't seem to be any control for scrolling.

** Version
Mac: Emulator_OSX_v4.0.0-preview.40025_40380

## Screenshots
Resources pane, with list that extends beyond bottom edge of the window. Scrollbar is missing:

![screen shot 2018-10-01 at 10 52 14 am](https://user-images.githubusercontent.com/39317542/46306295-b3e1f200-c568-11e8-9ea2-331b3a4af42a.png)

[2018-10-01 18:39] mewa1024 opened #946 "Emulator: LUIS inspector is blank"
## Version
Mac: Emulator_OSX_v4.0.0-preview.40025_40380

## Describe the bug
LUIS inspector is not appearing.

## To Reproduce
Steps to reproduce the behavior:
1. Open a bot that is connected to LUIS.
2. Say something to the bot.
3. Click on the LUIS trace log item.
4. The LUIS inspector is blank, except for the Train and Publish buttons.

The deep link to the LUIS app from the sidebar is working,

[2018-10-01 20:16] mewa1024 commented on #814
Comps of the conversation editor have been updated to show all themes.

Light theme: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/14907902/322684766/preview](url)
Dark theme: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/14907902/322684765/preview](url)
High contrast: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/14907902/322684764/preview](url)

[2018-10-01 20:44] mewa1024 commented on #892
Update:
- The development and production "buttons" don't look like buttons and their icon should be a + because they create a new tab. On first coming into the tool it looks like you switch between the two environments. **Moved to #895 **
-    "You have not saved any Services apps to this bot"... what does that mean. **Fixed.**
-    Start Over and Save Transcript As are buttons (do something when

[2018-10-01 20:54] mewa1024 opened #947 "Emulator: on Mac, opening a .bot file with the Emulator from OS launches Emulator but does not open .bot file"
## Version
 Mac: Emulator_OSX_v4.0.0-preview.40025_40380

## Describe the bug
From file browser, opening a .bot file by double-clicking or contextual menu launches the Emulator but does not open the .bot file. The Emulator shows the Welcome tab.

## To Reproduce
Steps to reproduce the behavior:
1. In Finder, go to your bot folder.
2. Right-click .bot file, and select Emulator (or double-click).
3.

[2018-10-01 21:11] mewa1024 opened #948 "Emulator: when deep link to LUIS hangs due to missing info, no message appears"
## Version
Mac: Emulator_OSX_v4.0.0-preview.40025_40380

## Describe the bug
Deep links to LUIS can fail if no version number is given. When this happens, there is no feedback in the Emulator that the deep link is failing or why. Although there is validation in Emulator that a version is supplied, if you create/edit the .bot file elsewhere, it's possible that the LUIS version might be missing.

Re

[2018-10-01 22:45] justinwilaby commented on #948
Is this a request somehow check the result of opening an external link to a web page opened in another process, e.g. a separate chrome or Edge browser? If so, this isn't necessarily possible out of the box since after the handoff, the Emulator will not have access to the external browser process, nor to the contents of a web page opened in it. If this is important to implement, we can hit the LUIS

[2018-10-02 03:05] tsukkee commented on #750
I have same issue on v4(4.0.0-preview.40025).
`messageBack` does not work on the emulator althouigh it looks work well on Teams.
I'd like to use `messageBack` to send richer information than `imback` but this issue makes my debugging difficult.

[2018-10-02 16:06] mewa1024 opened #949 "Emulator: modal design pass"
## Version
Mac: Emulator_OSX_v4.0.0-preview.40025_40380

## Describe the bug
Some modals do not follow design. For example the "New bot configuration" modal does not have the correct padding. Should be 24px on the left, top, and right, and 32px on the bottom. The space above the buttons should be 48px.
**Design specs:** [https://microsoft-fuse-design.invisionapp.com/d/main#/console/14907902/322428

[2018-10-02 16:21] mewa1024 opened #950 "Emulator - Edit > Select All menu item should be removed"
## Describe the bug
Moved from [VSO bug 24807](https://fuselabs.visualstudio.com/BotFramework/_workitems/edit/24807)
"Select all" seems to select everything on the screen but otherwise does nothing. Let's remove the menu item.
Updated design spec: [https://microsoft-fuse-design.invisionapp.com/d/main#/console/14907902/315600750/preview](https://microsoft-fuse-design.invisionapp.com/d/main#/console

[2018-10-02 19:46] mewa1024 commented on #948
Hmm. I don’t quite understand the suggestion below, but the problem from the user POV is that deep links to the LUIS model created by the Basic Bot template in Ibiza fail without explanation (or rather, in LUIS.ai users will see a progress bar that will never ever ever ever ever end).

Could we do a simple solution for now? something like

  1.  User clicks the deep link to LUIS from Services list

[2018-10-03 07:15] christopherromero opened #955 "Resources Settings Inaccessible"
I am unable to select the Resources Settings (cogwheel) to add transcript locations. It has a 'no symbol' when I hover over it.

[2018-10-03 07:18] #955 closed

[2018-10-03 17:33] vishwacsena commented on #943
Remaining services are tracked via #934 #935 #936

[2018-10-03 17:33] #943 closed

[2018-10-03 18:30] corinagum commented on #937
@mewa1024 Can we sync on this one? :)

[2018-10-04 23:29] justinwilaby commented on #949
This defect will also involve removing ui-fabrics Dialog component in favor of our own so we have more control over the design.

[2018-10-05 13:29] dragonraelms opened #958 "Emulator: "Sign in with Azure" not working"
## Version
Version 4.0.0-preview.40025

## Describe the bug
When using the "Sign in with Azure" option a window opens titled "Sign in to your account" but it remains white. You're also unable to close the window without using the taskbar in windows 10

## To Reproduce
Steps to reproduce the behaviour:
1. open the emulator
2. open the "welcome tab
3. click "sign in with your Azure Account
4.  in th

[2018-10-05 18:11] habuso commented on #958
Hi, yes I still have the same issue and a similar case was suddenly closed:
https://github.com/Microsoft/BotFramework-Emulator/issues/861

The error appears also without using TFA.

[2018-10-05 20:38] corinagum commented on #955
Hey @christopherromero has your issue been resolved?

[2018-10-06 21:58] darrenj opened #960 "Locale changes in the emulator aren't set on messages sent to Bot"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.0.0-preview.40025

## Describe the bug
The Emulator has a Locale setting in Emulator Settings. It seems to default system locale which is fine but sett

[2018-10-07 15:13] dividor commented on #958
Sign in with Azure doesn't work for me either. In my case, I am using MFA and get the attached error on confirming the code texted to me (works for all other services, just not in bot emulator).

<img width="247" alt="screen shot 2018-10-07 at 11 10 50 am" src="https://user-images.githubusercontent.com/8402586/46583267-fc465780-ca21-11e8-9ee7-1ba70734c8aa.png">

[2018-10-08 18:37] justinwilaby commented on #960
Thank you for the submission. I do see a problem related to this defect and am working on a fix.

[2018-10-08 19:46] justinwilaby commented on #958
This is a know issue and has been fixed with #924. MFA should work once nightly builds are re-established.

[2018-10-08 19:46] #958 closed

[2018-10-08 22:21] Andrea-Orimoto opened #962 ""Scripts" in Emulator should be called "Chats" or at the very least indicate that "Scripts" mean .chat files"
## Version
4.0.0-preview.40025

## Describe the bug
The emulator UX references Scripts and Transcripts in the Resources tab, but while the term "Transcripts" is consistent, the term "Scripts" is not. It is not clear that "Scripts" refers to .chat files.

Please make it clear by either renaming it, or by providing a hint about .chat files

## To Reproduce
Steps to reproduce the behavior:
1. open th

[2018-10-09 00:06] carlosscastro opened #963 "2FA with Pin not working"
In the nightly build, all kinds of multi factor FA are working fine except for PIN. This is because chromium does not natively support the certificate selection process.

MsTeams already solved this problem. I'm working with MsTeams to learn from them, and work on a solution. The solution is non-trivial and includes potentially the creation of custom visual components for certificate selection.

[2018-10-09 15:34] sgellock commented on #881
v4 matches v3 behavior.

[2018-10-09 15:34] #881 closed

[2018-10-09 15:36] sgellock commented on #874
Only known remaining issue is the LUIS version info, which is being tracked with a separate issue

[2018-10-09 15:36] #874 closed

[2018-10-09 15:39] sgellock commented on #871
Let's remove this functionality from the 4.1 release and revisit it in the 4.2 release.  Customers can change their secret by using msbot, which will display the new key to the user.

[2018-10-09 15:41] vishwacsena opened #964 "Remove 'reset' secret from emulator for 4.1"
See #871

For 4.1, let's just drop the ability to be able to reset/ renew the secret from the emulator. Customers can be pointed to and use msbot cli.

[2018-10-09 15:44] sgellock commented on #836
we were not able to repo this.  please reactivate if you are able to repo in the currently released build

[2018-10-09 15:44] #836 closed

[2018-10-09 15:54] sgellock commented on #771
Let's consider adding an "Install Commandline Tools" menu option to install the CLI tools.  We can also see if we can then leverage autoupdate for CLI as well as the core emulator

[2018-10-09 15:58] sgellock opened #1130 "Download link opens Windows Store and fails to download"
_From @paulio on August 8, 2018 15:19_

Create an embedded text document launches the Windows Store rather than download the file
[code]

_Copied from original issue: Microsoft/BotFramework-Emulator#752_

[2018-10-09 15:58] sgellock commented on #752
This issue was moved to Microsoft/BotFramework-WebChat#1196

[2018-10-09 15:58] #752 closed

[2018-10-09 18:39] justinwilaby commented on #960
Fixed with #960

[2018-10-09 18:39] #960 closed

[2018-10-09 18:39] justinwilaby commented on #949
This is ready for design review

[2018-10-09 18:39] #949 closed

[2018-10-09 19:50] justinwilaby commented on #963
It seems this may not be the case for all platforms and/or installations. (Then entry)[https://www.chromium.org/administrators/policy-list-3#AutoSelectCertificateForUrls] in the admin policy list for chrome states:

It might be worthwhile to test this on Mac and linux installations to see if they are equally affected.

Also,  #961 updated electron to 2.0.9 which includes a later version of chrome

[2018-10-09 22:51] tonyanziano commented on #886
Addressed in #967

[2018-10-09 22:51] #886 closed

[2018-10-10 00:04] justinwilaby commented on #947
I was able to repro this and did see a problem. I'm working on a fix for this now.

[2018-10-10 17:41] justinwilaby commented on #946
fixed with #965

[2018-10-10 17:41] #946 closed

[2018-10-10 18:13] justinwilaby commented on #863
Fixed with #968

[2018-10-10 18:13] #863 closed

[2018-10-10 19:47] justinwilaby commented on #950
Fixed by #966

[2018-10-10 19:47] #950 closed

[2018-10-10 19:47] justinwilaby commented on #947
Fixed by #970

[2018-10-10 22:16] carlosscastro commented on #963
Yes, trying the updated version now. The solution can be very simple, simply subscribing to the 'select-client-certificate' event of the app or browser window and let the user choose their cert. Teams went with a MUCH more complicated solution that is not open source-ready, so likely not an option. But they did struggle with some special certs like dongles or physical smart cards. Definitely need

[2018-10-10 22:22] mewa1024 opened #973 "Emulator: deep link to LUIS app after sign-in is inconsistent"
## Version
4.0.0-preview.40025

## Describe the bug
When I'm signed out of LUIS, a deep link to a LUIS app behaves differently. It lands on the home page, and after I sign in, it sometimes goes to My Apps or the Welcome page instead of the LUIS app.

## To Reproduce
1. Go to https://www.luis.ai/home.
2. Click on Sign in. Follow Sign in flow.
3. Sign out, but don't close browser.
4. Open Emulator.

[2018-10-10 22:22] justinwilaby commented on #941
#972 addresses the ABS listing in the services explorer. Since this service is connected to an endpoint, the ability to edit this service from the context menu has beed disabled.

[2018-10-10 23:03] justinwilaby commented on #973
This is a known luis.ai issue. The emulator does not change the link structure based on the user's login. The luis portal handles the redirects and does not forward the user to the proper page after a successful login. This is why the user lands on the home page after logging in.

[2018-10-10 23:05] justinwilaby commented on #973
To summarize, luis.ai is broken which requires the user to have logged in previously before the emulator links will work. There is nothing we can do on our end to workaround this issue and a defect should probably be raised on the luis side.

[2018-10-10 23:06] corinagum commented on #895
@mewa1024 Can I clarify with you which icons are fuzzy? To me it looks like we're talking about the NavBar (far left) icons, but I want to make sure I'm not missing any.

[2018-10-10 23:08] #814 closed

[2018-10-10 23:48] mewa1024 commented on #895
@corinagum @vishwacsena Vishwac, which icons were fuzzy for you? Were they the file type icons or the nav bar? (The fuzzy icon comment was from the original bug #892)

[2018-10-11 01:34] vishwacsena commented on #435
By default emulator creates a .bot file that needs a home. There are no default location for them since you typically want to keep the .bot file with the rest of your bot code.

[2018-10-11 01:34] #435 closed

[2018-10-11 01:36] vishwacsena commented on #497
This has been addressed in the latest emulator release. https://github.com/Microsoft/BotFramework-Emulator/releases/tag/v4.0.0-preview.40025

[2018-10-11 01:36] #497 closed

[2018-10-11 01:36] vishwacsena commented on #503
No longer repro this.

[2018-10-11 01:36] #503 closed

[2018-10-11 01:39] vishwacsena commented on #525
No plans to support this.

[2018-10-11 01:39] #525 closed

[2018-10-11 01:40] vishwacsena commented on #536
Addressed in current v4 release.

[2018-10-11 01:40] #536 closed

[2018-10-11 01:43] vishwacsena opened #974 "Emulator appears to be using ngrok for bots running locally"
## Version
Latest V4

## Describe the bug
Talking to a locally running bot, I noticed that I'm running into ngrok limits. For bots running locally, I dont know why we need to use ngrok at all.

[code]
## To Reproduce
Steps to reproduce the behavior:
1. Start with any bot (Echo bot should suffice). Run it locally.
2. Try sending > 20 messages to the bot within a minute

## Expected behavior
There s

[2018-10-11 19:20] carlosscastro opened #975 "Auth: closing the Emulator application blocks on Azure sign out"
Steps:

- Sign in to azure
- Close emulator using the window's cross
- You'll get a popup from auth saying something like "its a good idea to close all browser windows"
- At this point, you can ONLY exit emulator if you wait 10 seconds without touching anything
- If I close the auth popup (which is my reflex when I want to close and get out) emulator doesn't close at all!

I should't need to wait

[2018-10-11 19:25] carlosscastro opened #976 "Sign out should sign me out and not remember me if I don't explicitly ask to be remembered"
Steps:

- Sign in to Azure
- Do NOT choose "keep me signed in"
- Sign out
- Sign in again: my credentials are remembered and I'm automatically signed in, which I don't want.

The "keep me signed in" checkbox is ignored and assumed always true perhaps?

[2018-10-11 20:45] justinwilaby commented on #975
This is by design. There is no way to know programmatically when Azure has completed the sign out so it is on a 5 second timeout once the first redirect is detected. I would like to implement the removal of the cookies and session data that remembers a previous login when the emulator is closed but this could have an impact on other areas of the app since session data and cookies are individually

[2018-10-11 20:58] carlosscastro commented on #975
I don;t think it is a great user experience. Let's talk through it on the Friday standup and figure out what we can do :)

[2018-10-11 21:08] justinwilaby commented on #976
Thank for opening this discussion.

The purpose of remember me is not to control whether or not the user is prompted for credentials the login tool. Its purpose is to prevent the user from having to login again if the emulator is closed and reopened at a later time. To implement what you describe, we would need two checkboxes, one to remember credentials in the sign in tool and another to remember

[2018-10-11 21:12] carlosscastro commented on #976
The current state doesn't feel right because if I sign in with my work account by mistake, then I sign out with the intention of signing in with my personal account, I cannot - the emulator simply chooses to sign me in to an account that i did not ask to be remembered and I don't want to sign in to.

I got frustrated because of this and I imagined our users might feel equally frustrated. Whether i

[2018-10-11 21:16] carlosscastro commented on #976
If we leave the checkboxes as they are, but sign out reprompts for which account you want to sign in, I would be fine with that. That is a correct behavior, and seems easy enough to fix.

[2018-10-11 21:18] carlosscastro commented on #975
To get started, we could investigate a bit on some event that is more precise on when the azure sign out was completed than the  current 5 second timeout + 'page-title-updated' handling.

[2018-10-11 21:19] justinwilaby commented on #976
Yes, setting the `prompt=consent` seems to work. I can implement this

[2018-10-11 21:32] carlosscastro commented on #976
@justinwilaby Sure! However when I find these things, I can help fix them too, no need for you to jump in, we can help :) I file it as issue so we get to discuss what the right thing is 👍

[2018-10-11 21:37] justinwilaby commented on #975
Normally, a redirect to a `localhost` address occurs when logout completes but this was found to be unreliable so a 5 second timeout was a good failsafe measure and became the only reliable way to ensure this logout window would not hang around longer than it should. I tried several approaches and none were 100% reliable so I stuck with the timeout. The easiest way to fix this would be to remove t

[2018-10-11 21:40] carlosscastro commented on #975
Yes, deleting the cookie entirely does not seem like the best choice. Also, this issue is P2 or P3 so a long investigation at this point is probably not worth!

I might timebox 2 hours of my time and see if I can get it working and otherwise add to backlog. Let's discuss in standup, but I don't think this is our highest priority.

[2018-10-11 21:48] justinwilaby commented on #974
I believe we should remove ngrok and allow the user the flexibility to choose and manage their own implementation. Making it a requirement to use the emulator for even a simple bot is like making all gloves with 6 fingers with the off chance someone with Polydactyly will want to buy them.

[2018-10-11 22:05] tonyanziano commented on #736
Narrator does not work within Electron. I just tested this with NVDA, and all the inputs within the New Bot Configuration modal are labeled and will read out their labels when focused.

[2018-10-11 22:05] #736 closed

[2018-10-11 23:16] justinwilaby commented on #976
Fixed with #977

[2018-10-11 23:39] corinagum commented on #895
@mewa1024 Hi Melanie, I noticed in the old bug (#892) there's a comment saying 'In the lower "Log" section the text looks like links (ie POST and 202) but they aren't links/buttons. Moved to #895'

Should I fix the Log 'links' in appearance? I believe there aren't specs for the log section, please let me know if I'm wrong!

[2018-10-12 01:25] #662 closed, assigned to vishwacsena

[2018-10-12 06:20] paulio commented on #752
Not sure why this has moved to Web Chat, the problem is only seen in the emulator.

[2018-10-12 15:58] #534 closed

[2018-10-12 15:59] vishwacsena commented on #554
Done

[2018-10-12 15:59] #554 closed

[2018-10-12 16:02] vishwacsena commented on #562
Current implementation matches this specification.

[2018-10-12 16:02] #562 closed

[2018-10-12 16:03] #563 closed

[2018-10-12 16:06] vishwacsena commented on #480
@compulim - what's the ETA for this fix in Emulator?

[2018-10-12 16:37] justinwilaby commented on #941
on hold pending design.

[2018-10-12 18:51] compulim commented on #480
Checked today with @vishwacsena, Markdown is working in latest Emulator.

We are using [`markdown-it@8.3.1`](https://www.npmjs.com/package/markdown-it).

Easiest way to check if Markdown is working or not. Write this sentence, `My name is "bot"`. If you see the double-quote become smart quotes (curly double-quote, like `My name is “bot”`), the Markdown-It engine is running.

[2018-10-12 18:51] #480 closed

[2018-10-13 02:46] darrenj opened #980 "Emulator doesn't set locale on conversationUpdate event"
## Version
4.0.41221

## Describe the bug
the conversationUpdate message event sent by the Emulator doesn't set the Locale property. This then means any introduction message logic defaults to English rather than the desired language (set in the emulator)

## To Reproduce
Steps to reproduce the behavior:
1. Change locale in emulator to say zh-cn
2. Start a conversation with the Bot and observe that

[2018-10-13 02:53] mewa1024 commented on #947
@justinwilaby I'm still having this problem on the Mac build from October 12: 4.0.0-preview-one-off.
Double-clicking .bot file launches Emulator, but no .bot file is open:

<img width="1680" alt="screen shot 2018-10-12 at 7 52 23 pm 2" src="https://user-images.githubusercontent.com/39317542/46900528-6e6ed000-ce58-11e8-9864-23d6f80fde62.png">
<img width="1680" alt="screen shot 2018-10-12 at 7 52 41

[2018-10-13 02:58] mewa1024 commented on #973
@justinwilaby Is this being tracked in the LUIS teams VSO?

[2018-10-13 03:06] mewa1024 commented on #941
@tomlm @vishwacsena For the design of the pane, we decided not to separate the ABS service from the endpoint because it seemed redundant and potentially confusing:
![317169756](https://user-images.githubusercontent.com/39317542/46900628-f3a6b480-ce59-11e8-97a8-ff79def73a71.png)

Would this be sufficient?

The complete flow is on Invision: [https://microsoft-fuse-design.invisionapp.com/d/main#/proj

[2018-10-13 03:27] mewa1024 opened #981 "Emulator: Services pane should show help text whether or not services exist"
## Version
Mac - 4.0.0-preview-one-off
Windows: - 4.0.41221

## Describe the bug
Help text below the list of services should appear when services exist (not just when there are no services.)

## To Reproduce
Steps to reproduce the behavior:
1. Open a bot file.
2. Open the Services pane.
3. If your bot file has services, it will look like this:
<img width="339" alt="image" src="https://user-images.

[2018-10-13 03:29] mewa1024 commented on #888
@vishwacsena v4.2?

[2018-10-13 03:33] mewa1024 commented on #908
@corinagum The styling looks off again and a space is missing before "Learn more about MsBot"--regression? I'm looking at the Mac version 4.0.0-preview-one-off:

![image](https://user-images.githubusercontent.com/39317542/46900830-f1465980-ce5d-11e8-8d3a-04d516315b4d.png)

[2018-10-13 03:49] mewa1024 opened #982 "Emulator - service context menu, change wording from "Remove this service" to "Disconnect this service""
## Describe the bug
We should change the wording of the context menu to remove a service from "Forget this service" to "Disconnect this service" to match the MsBot CLI command.

## To Reproduce
Steps to reproduce the behavior:
1. Open a bot
2. Open a service pane
3. Right-click on a service:
![image](https://user-images.githubusercontent.com/39317542/46900993-2f447d00-ce60-11e8-9c0c-70ce94e42634.p

[2018-10-13 03:57] mewa1024 commented on #982
@vishwacsena 4.1? "Forget" kind of implies that we're remembering your service out of convenience rather than because your bot depends on it. This wording is leftover from the Build version where the bot was not dependent on the .bot file.

[2018-10-15 17:29] Jeffders opened #985 "Emulator still using ngrok on local requests; overloads ngrok quickly"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.0.323-nightly

## Describe the bug
I am using the emulator to connect to a bot hosted on localhost. The bot has an appid and password. I have an ngrok

[2018-10-15 17:58] mewa1024 commented on #944
@vishwacsena change to 4.1? (I'll create new designs)

[2018-10-15 18:19] sgellock commented on #753
Doc a pre-preq for Linux

[2018-10-15 18:21] #549 closed, assigned to sgellock

[2018-10-15 19:16] mewa1024 opened #986 "Emulator: Welcome screen, "My Bots" list needs a context menu"
## Describe the bug
The "My Bots" list on the Welcome page needs a context menu to allow users to move the file, open the file location, and forget the bot. (#505 Migrate v3 endpoints to v4 bots needs this feature--when we create .bot files for every v3 endpoint, we will be saving them in one location, so users will need to be able to find them and move them.)

## Screenshot of context menu
<img w

[2018-10-15 19:17] mewa1024 commented on #505
@tonyanziano Comps of the entire flow are on Invision here: [https://microsoft-fuse-design.invisionapp.com/d/main#/projects/prototypes/15122715](https://microsoft-fuse-design.invisionapp.com/d/main#/projects/prototypes/15122715)

Sorry--I thought I'd linked to them earlier. I opened a new ticket to add the context menus to the Welcome page: #986

[2018-10-15 19:29] mewa1024 commented on #986
@justinwilaby Can we open the file browser similar to a "Save As..." but with the text "Move to" instead?

[2018-10-15 19:42] justinwilaby commented on #986
@mewa1024 - I can, yes. This will be the directory chooser used in the resources settings dialog with the text "Move to" in place of "Open"

[2018-10-15 19:53] vishwacsena opened #989 "v4.1 Emulator docs"
We will add new docs under the Emulator Wiki section for the following topics -
- V3 to V4 migration
	- One bot file per V3 bot configuration
	- Move created bot files to desired location
- Chat files and transcripts
	- What they are
	- Entry points
	- Settings
	- Save as transcript
- Azure login flow
	- Login + stay signed in
	- Logout
	- Listing/ adding connected services through Azure login
- S

[2018-10-15 20:29] justinwilaby commented on #980
Fixed by #987

[2018-10-15 20:29] #980 closed

[2018-10-15 20:50] mewa1024 commented on #944
@vishwacsena Changing the flow as we discussed:
- empty state: "No chat files/transcripts were found in <default location, starting with location of .bot file>." plus text below that says "Choose a different location".
- not empty state: the chat/transcripts are listed, and the text "Choose a different location" always appears.
- user clicks "Choose a different location" and "Resource settings" mo

[2018-10-15 20:51] mewa1024 commented on #962
Addressed in #944

[2018-10-15 20:53] mewa1024 commented on #944
@vishwacsena Is the wording "Choose a different location" for the chat files acceptable? We're actually searching multiple /resource folders...

[2018-10-15 20:59] vishwacsena commented on #944
@mewa1024 this looks good to me. I like "Choose a different location" works.

[2018-10-15 23:49] johnataylor opened #990 "Emulator gets confused when multiple endpoints in a bot file are given the same id"
## Version
Bot Framework Emulator (V4 PREVIEW) version: 4.0.0-preview.40025

## Describe the bug
If you have the same id for multiple endpoints in the bot file the emulator simply uses the last one in the array in the JSON when it makes calls however it displays the distinct endpoint uri and name.

Of course there is a user bug is in the bot file, however, the behavior of the tool makes this very

[2018-10-15 23:54] johnataylor opened #991 "Sending Conversation/conversationUpdate (user added) appears to make multiple calls."
## Version
Bot Framework Emulator (V4 PREVIEW)
version: 4.0.0-preview.4025

## Describe the bug
Using the send activity ConversationUpdate add member seems to make 8 calls.
Remove member seems to make no calls. Same for other activity types.

Sending these activities would be very useful for bot developers.

## To Reproduce
1) got to top menu "Conversation"
2) sub menu "conversationUpdate" "user a

[2018-10-16 00:41] justinwilaby commented on #991
I saw this today while testing other bits and it seems there is an issue with a middleware in the emulator or possibly with webchat somewhere. I'll investigate and determine risk and impact.

[2018-10-16 00:47] justinwilaby commented on #990
I have been in discussion with the team regarding BotFile validation and it seems we all agree this is the responsibility of the MSBot utility since all save/load/patch operations are piped through it.

This is a case-and-point example of the rationale I presented when discussing this. The Emulator cannot know all the ways a BotFile can fail without a schema to validate against. We need a validati

[2018-10-16 01:31] justinwilaby commented on #981
Fixed with #984

[2018-10-16 01:31] #981 closed

[2018-10-16 01:32] justinwilaby commented on #982
Fixed with #984

[2018-10-16 01:32] #982 closed

[2018-10-16 21:49] mewa1024 opened #993 "Emulator - Tabs and command bar are using the wrong font and styles"
## Version
4.0.41504 - Windows

## Describe the bug
The tabs are using Arial instead of Segoe UI.

## To Reproduce
Steps to reproduce the behavior:
1. open a bot, look at the tab for an endpoint.
2. Click on a LUIS trace message. The Train and Publish buttons in the LUIS inspector are also using the wrong font.

## Expected behavior
Should be Segoe UI.
Design specs are on Invision:
[Light theme](h

[2018-10-17 00:10] d0ggyRul3z commented on #768
hi there @sgellock , it appears to me that v4.0.41504 is not allowing OAuthPrompt to trigger.
Perhaps we can reopen this item?

[2018-10-17 00:18] d0ggyRul3z opened #995 "OAuthPrompt for ADAL is retriggering"
## Version
v4.0.41504

## Describe the bug
When you click on the OAuthPrompt, it will retrigger the prompt and does not open up the Azure ADAL auth sign-in window.

## To Reproduce
Steps to reproduce the behavior:
1. Get https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/18.bot-authentication
2. Follow guide here - https://docs.microsoft.com/en-us/azure/bot-servi

[2018-10-17 17:34] tonyanziano commented on #546
Addressed in #996

[2018-10-17 17:34] #546 closed

[2018-10-17 18:09] compulim opened #997 "UI for 2FA"
@mewa1024 has the design ready
@corinagum is going to implement
@justinwilaby is also coming to help for pair programming

[2018-10-17 18:20] compulim opened #998 "Remove <button> in <button> for selectable activity"
This issue is required to fix in order to repro #750.

React is giving warning on "`<button>` nested inside `<button>`" is not a good DOM.

We need to revert the accessibility fix (that converted `<div onClick>` to `<button>`), and then use `tabIndex={ 0 }` instead.

After this one is fixed, we will look at #750.

Our long term plan is to redo the UX for select activity, so it don't have "`onClick

[2018-10-17 18:31] mewa1024 opened #999 "Emulator - wrong font is appearing where Segoe UI Semibold used to be"
## Version
version: 4.0.50000 - screens below are from Mac

## Describe the bug
With the latest version, it looks like the semibold font is being replaced by a serif font, and sometimes also appears at the wrong size.

## Screenshots
![image](https://user-images.githubusercontent.com/39317542/47107827-30c6ca00-d1ff-11e8-9d51-14e2b281ddbd.png)

## Additional context
Design specs are on Invision:
[W

[2018-10-17 18:36] compulim commented on #998
Tracking bug at Microsoft/BotFramework-WebChat#1205.

[2018-10-17 18:38] justinwilaby commented on #999
This is fixed with #994

[2018-10-17 18:38] #999 closed

[2018-10-17 18:44] mewa1024 commented on #997
[Spec for the "Select a certificate" modal:](https://microsoft-fuse-design.invisionapp.com/d/main#/console/14863139/325383796/preview)
[Flow is here (look for the 2FA section](https://microsoft-fuse-design.invisionapp.com/d/main#/projects/prototypes/14863139)

[2018-10-17 18:51] justinwilaby commented on #947
I have confirmed this is fixed on `4.0.50000`

[2018-10-17 18:51] #947 closed

[2018-10-17 18:55] justinwilaby commented on #973
@mewa1024 - Not that I'm aware of. Do we have access to that project?

[2018-10-17 19:12] justinwilaby commented on #986
fixed with #992

[2018-10-17 19:12] #986 closed

[2018-10-17 19:14] #973 closed

[2018-10-17 19:52] corinagum commented on #998
in progress

[2018-10-18 00:18] compulim commented on #998
Fixed in Microsoft/BotFramework-WebChat#1215.

[2018-10-18 02:49] sgellock commented on #768
Yes.  Let’s do that.  Can you re-open the ticket please?

From: Zac <notifications@github.com>
Reply-To: Microsoft/BotFramework-Emulator <reply@reply.github.com>
Date: Tuesday, October 16, 2018 at 5:10 PM
To: Microsoft/BotFramework-Emulator <BotFramework-Emulator@noreply.github.com>
Cc: Scott Gellock <Scott.Gellock@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/BotFra

[2018-10-18 15:43] tonyanziano commented on #993
I've been looking into this. It looks like the relative paths to the `woff2` font files aren't being processed properly by our Webpack loaders. Instead of producing some data url like:

`src: url(data:application/woff-2;[SOME-HASH].woff2);`

it's trying to load `localhost:3000/[SOME-HASH].woff2` which doesn't exist in the packaged version because localhost:3000 is our webpack-dev-server and isn't

[2018-10-18 19:24] johnataylor opened #1004 "Clicking on name under Endpoint open new view rather than selecting existing view"
## Version
4.0.0-preview.40025

## Describe the bug
To the left of the UI is a Bot Explorer pane. In here is a section for Endpoints. Clicking on an endpoint opens a new view every time rather than selecting the corresponding view if it is already open. The net effect is that a large number of views (seen as tabs in the right hand pane.) Expected behavior would be to select an already open view.

[2018-10-18 20:14] #895 closed

[2018-10-18 20:14] #998 closed

[2018-10-18 20:53] corinagum commented on #964
In progress

[2018-10-18 20:56] mewa1024 commented on #964
@vishwacsena This change effects the [Getting Started](https://github.com/Microsoft/BotFramework-Emulator/wiki/Getting-Started) doc too. We should remove:

Choose 'Encrypt keys stored in Bot Configuration' if you would like your .bot file to be encrypted. This is recommended especially if you have keys and other sensitive information in your bot file. CAUTION: If you choose this option, Emulator w

[2018-10-18 20:57] mewa1024 commented on #989
Also edit Getting Started section since we are removing the encryption UI from the Emulator (#964 )

[2018-10-18 22:31] corinagum commented on #964
Clarification after discussion with Vishwac: We are only removing the single button that says "Generate new secret key" from the bot creating dialog and settings editor.

[2018-10-19 05:57] carlosscastro commented on #976
Reopening since our fix for this unfortunately was not what we need. We need to figure out what to do (probably will take a bit) and do it (probably a few lines of code, jsut hard to know which!).

[2018-10-19 05:59] carlosscastro commented on #976
after we make ours a first party app, we may be able to have consent work and re-apply

[2018-10-19 10:14] darrenj opened #1006 "oAuthPrompt has an invalid value/link"
## Version
4.0.41704 and 4.0.55-one-off

## Describe the bug

When an OAuthPrompt is returned in Emulator Build 4.0.0-preview.40025 it has this attachment (and works)
[code]

However in 4.0.41704 and 4.0.55-one-off it returns this, you can see the moniker (oauth://) is incorrect versus oauthlink above and the URL is completely malformed.
[code]

This then results in a malformed tokens/response eve

[2018-10-21 00:39] vishwacsena opened #1012 "Wired text in welcome page"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Latest - 4.0.41930

## Describe the bug
There is a wired glyph/ text in welcome screen.

## To Reproduce
Steps to reproduce the behavior:
1. Have some MR

[2018-10-21 14:33] punitganshani commented on #995
Facing same issue. Added details [here](https://stackoverflow.com/questions/52914704/oauthprompt-is-never-invoked-in-botframework-v4)

[2018-10-22 14:29] justinwilaby commented on #1006
Fixed with #1008

[2018-10-22 14:29] #1006 closed

[2018-10-22 14:33] justinwilaby commented on #995
This is likely fixed with #1008. Please try this again with [this build](https://github.com/Microsoft/BotFramework-Emulator/releases/tag/untagged-419fb9ba0d297567e176) and let me know if the problem is fixed.

[2018-10-22 14:45] justinwilaby commented on #993
Webpack is not setup to generate data urls for anything over 8k. We can increase this limit or just use a file path for production builds.

[2018-10-22 18:14] sgellock commented on #995
moving to 4.2 as we believe this is fixed in 4.1, but want to give the community time to verify with the above state build.

[2018-10-22 18:14] #944 closed

[2018-10-22 18:40] #908 closed

[2018-10-22 18:40] #964 closed

[2018-10-22 18:45] #993 closed

[2018-10-22 20:54] #750 closed

[2018-10-23 01:30] d0ggyRul3z commented on #995
@justinwilaby , I'll give it a go and let you know

[2018-10-23 16:19] JeevaJose opened #1016 "Azure login is not working"
Emulator version : 4.0.41423

Request Id: XXXXXXXXXX-41bf-a07d-XXXXX
Correlation Id: XXXXXXXXd4d0-xx-x-xxxxxxxxxxxx
Timestamp: 2018-10-23T16:18:02Z
Message: AADSTS50020: User account 'xxxxx' from identity provider 'live.com' does not exist in tenant 'Microsoft' and cannot access the application xxxx6b7f-xx-axxe-xxin that tenant. The account needs to be added as an external user in the tenant first

[2018-10-23 22:03] corinagum opened #1019 "Change 'invisible' scrollbars to ones that appear on hover"
Currently the emulator intentionally has invisible scrollbars, which can create a sizing issue where the container of a scrolling section appears to have unexplained white-space on the right, where the invisible scrollbar is sitting.

For discussion: What if we instead implemented a more elegant solution where the scrollbar is invisible until a mouseover or scroll occurs over that part of the app?

[2018-10-24 00:29] vishwacsena commented on #974
Bringing this back into 4.1 release. This has caused confusion and issues with the recent user study as well.

We need to (re)evaluate why we need to use ngrok to connect to bots running locally? If we really need this, then we need to update the first run UX as well as the settings UI to call out that this is a hard required.

[2018-10-24 15:12] justinwilaby opened #1022 "Update Electron to 2.0.12"
Electron 2.0.12 was released with a security fix. We should update to this version

[2018-10-24 15:30] justinwilaby commented on #1016
Thank you for the submission. This is a known issue with AAD for accounts that are not part of the Microsoft tenant and we're working on a resolution.

[2018-10-24 15:34] justinwilaby commented on #995
@d0ggyRul3z - I updated the comment and link to point to the releases section. You can grab the latest build there. 👍

[2018-10-24 15:42] vishwacsena opened #1023 "Cannot connect to local or remote bots"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Latest V4 build - 4.1.0-preview-bugbash

## Describe the bug
Cannot connect to local or remote bots

## To Reproduce
Steps to reproduce the behavior:
1.

[2018-10-24 16:34] justinwilaby commented on #1023
I'm unable to repro this on a Mac.

[2018-10-24 17:31] tonyanziano commented on #1023
Can't repro on Windows either in version 4.1.0-preview-bugbash

[2018-10-24 18:35] tonyanziano commented on #1023
We figured out the issue. When using a localhost endpoint prefixed with `https` protocol (`https://localhost:3000/api/messages`) then the outgoing message hangs and eventually returns with I/O Socket error. We believe this is due to ngrok being confused about an https message without an ssl cert.

`request to https://localhost:3978/api/messages failed, reason: socket hang up`

Closing this issue,

[2018-10-24 18:35] #1023 closed

[2018-10-24 19:20] mewa1024 commented on #974
Screenshot from the user study. User was using the most recent Mac version available morning of 10.19 (either Mac version 4.0.41930 or 4.0.41704.)

<img width="762" alt="ngrok-error" src="https://user-images.githubusercontent.com/39317542/47455098-d640e700-d785-11e8-97dd-2c909c1f7991.png">

And from 10.18 (Mac version 4.0.41704):

![screenshot 122](https://user-images.githubusercontent.com/3931754

[2018-10-24 19:35] justinwilaby commented on #974
It looks like this could be a regression. I'm seeing [code that conditionally uses the ngrok service URL](https://github.com/Microsoft/BotFramework-Emulator/blob/v4/packages/app/main/src/ngrokService.ts#L66) for requests. I'll investigate this.

[2018-10-24 20:10] #974 closed

[2018-10-25 17:45] tonyanziano opened #1026 "[Feature Request] More Control Over Auto Update"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4+

## Describe the bug
Now that we have nightly builds going and auto update functioning, we need to consider adding UI that gives the user more control

[2018-10-25 18:34] tonyanziano commented on #753
@spanicho-bnet Can I ask what version / distro of Linux you were running? I just tried to build the source locally on Ubuntu 16.0.5 LTS and didn't run into this issue. Maybe that version comes with the package already installed natively?

[2018-10-25 18:48] lauren-mills opened #1027 "The "sign out" link on the bottom of the Welcome page does not log out of Azure"
## Version
4.0.0-preview-bugbash

## Describe the bug
When logged in to Azure, the "sign out" link on the Welcome page does not log out of Azure.

## To Reproduce
Steps to reproduce the behavior:
1. Sign in to azure
2. Click "sign out" link on Welcome page
3. Close emulator
4. Reopen, and see that you're still logged in

[bug]

[2018-10-25 19:01] daveta opened #1029 "Centos 7: About box no dismiss button"
## Version
What version of the Emulator are you using.  4.0.0-preview-bugbash

## Describe the bug
Help->About gives a dialog, but there's no button to dismiss. (Escape dismisses)
<img width="867" alt="about-no-dismiss" src="https://user-images.githubusercontent.com/6182197/47523711-83cafd80-d84d-11e8-8bb6-6645eed82d31.PNG">

## To Reproduce
On Centos7, Help->About

[bug]

[2018-10-25 19:01] vishwacsena commented on #1012
Do not repro this anymore.

[2018-10-25 19:01] #1012 closed

[2018-10-25 19:06] daveta opened #1030 "Centos 7: Check for Updates 404"
## Version
What version of the Emulator are you using. 4.0.0-preview-bugbash

## Describe the bug
Give a clear and concise description of what the bug is.
Help -> Check for updates

In the Console window, here's what you get:
{ HttpError: 404 Not Found
"method: undefined url: https://github.com/Microsoft/BotFramework-Emulator/releases/download/v4.0.42244/latest-linux.yml\n\nPlease double check tha

[2018-10-25 19:12] daveta opened #1031 "Centos 7: 'User added' sends tons of messages"
## Version
What version of the Emulator are you using. 4.0.0-preview-bugbash

## Describe the bug
`Conversation -> Send System Activity -> Conversation Update (User added event)` sends a ton of events

## Screenshots
If applicable, add screenshots to help explain your problem.
<img width="767" alt="user-added" src="https://user-images.githubusercontent.com/6182197/47524236-e83a8c80-d84e-11e8-896a-

[2018-10-25 19:15] tonyanziano commented on #1030
I can have this done today. Just need to modify the v4 build to generate `latest-linux.yml`

[2018-10-25 19:16] sgellock opened #1032 "Publish nightly Emulator builds to myGet"
To be consistent with other SDK assets, we should publish our nightly Emulator builds to our myGet feed.

[enhancement]

[2018-10-25 19:18] sgellock commented on #1022
let's do this for the 4.2 release, unless we need to go out sooner.

[2018-10-25 19:28] justinwilaby commented on #1031
related to #991

[2018-10-25 19:45] vishwacsena opened #1033 "Drop 'PREVIEW' from V4 emulator"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Latest

## Describe the bug
We should drop 'PREVIEW' from the product name.
The new name should consistently be 'Bot Framework Emulator'.

[bug]

[2018-10-25 20:15] v-kydela opened #1034 "Error occurs when I try to sign in with Azure"
## Version
4.0.42244

## Describe the bug
I tried signing in with Azure and encountered this error:

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Open Bot Framework Emulator V4
2. Click on File > Sign in with Azure
3. Click on Sign in with Azure in the dialog box
4. Enter a microsoft.com email address and press Next
5. See error

## Screenshots
[![Screenshot][1]][1]

  [1]: https://

[2018-10-25 20:56] vishwacsena commented on #1031
Resolved as dupe of #991

[2018-10-25 20:56] #1031 closed

[2018-10-25 21:11] tonyanziano commented on #753
Addressed in #1028

[2018-10-25 21:11] #753 closed

[2018-10-25 21:14] mewa1024 opened #1035 "Emulator - Welcome screen is no longer centered"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.0.0-preview-bugbash

## Describe the bug
"Welcome tab" is looks no longer vertically centered.

## Expected behavior
Should look more like this:
[Scree

[2018-10-25 21:22] mewa1024 opened #1036 "Emulator - Help drop down has "Search box" appearing off the left"
## Version
4.0.0-preview-bugbash

## Describe the bug
When you open the Help menu, sometimes the Search item appears way off to the left of the screen, covering over the taskbar. This a few times, but not consistently.

## Expected behavior
It should appear below the Help menu.

## Screenshots
This is what it did:
<img width="1680" alt="screen shot 2018-10-25 at 12 19 15 pm" src="https://user-imag

[2018-10-25 21:35] tonyanziano commented on #1029
This is specific to the distro of Linux:

On Ubuntu:

![image](https://user-images.githubusercontent.com/3452012/47531692-3194d700-d863-11e8-91a5-460692da417f.png)

[2018-10-25 21:42] corinagum commented on #1019
@mewa1024 I believe we are aiming for a temporary fix where scrollbars are **visible** when a panel or section have overflow. Can I use the specs for all three themes on these slides? https://microsoft-fuse-design.invisionapp.com/d/#/console/14907902/310024730/preview (The one linked, and the two previous slides for the other themes)

Just temporarily I turned all the scrollbars magenta to show wh

[2018-10-25 21:52] tonyanziano commented on #1026
I just totally realized that I used the wrong template for this. 🤦‍♂️

[2018-10-25 21:54] tonyanziano opened #1037 "Get rid of Gulp & Simplify v4 packaging process"
We don't need to use gulp anymore, and we can move to pure npm / node scripts. We should also try to simplify the packaging config for all platforms like in v3.

[2018-10-26 01:21] mewa1024 opened #1040 "Emulator - Azure sign in does not let me sign in under a new tenant"
## Version
4.0.0-preview

## Describe the bug
I signed in the Emulator with my Microsoft org id, signed out, then closed the Emulator. When I reopen the Emulator again and sign in as a different, non-Microsoft id, I get an error.

## To Reproduce
Steps to reproduce the behavior:
1. Sign in to Emulator with a Microsoft id.
2. Sign out.
3. Close Emulator.
4. Open Emulator and sign in with a differen

[2018-10-26 01:31] mewa1024 opened #1041 "Emulator - top of the Azure sign in window is mssing on Mac"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.0.0-preview

## Describe the bug
Window menu is missing a background color, so the close, minimize, and full-screen buttons look like they are floating

[2018-10-26 01:41] mewa1024 commented on #1019
@corinagum Can we turn off the horizontal scrolling in the sidebar? The content is supposed to truncate, like this screenshot from VS Code:

<img width="432" alt="image" src="https://user-images.githubusercontent.com/39317542/47539473-77629700-d885-11e8-9db8-55d67e5b0688.png">

sorry that wasn't included in the specs.

[2018-10-26 01:42] mewa1024 commented on #1019
@corinagum oh but it's fine to show the other scrollbars (the ones that aren't in the sidebar).

[2018-10-26 15:12] tonyanziano commented on #505
Improved by #1020 #1021

[2018-10-26 15:12] #505 closed

[2018-10-26 16:52] mewa1024 opened #1043 "Emulator - can't Quit Emulator when signed in"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.0.0-preview for Mac
(Did not test on Windows)

## Describe the bug
When I have signed in to Azure, quitting the Emulator (with cmd-Q, File > Quit, and

[2018-10-26 18:04] tonyanziano commented on #1033
Addressed in #1039

[2018-10-26 18:14] tonyanziano commented on #1029
Addressed in #1042. Can change text if necessary

[2018-10-26 18:14] #1029 closed

[2018-10-26 20:55] compulim commented on #1037
Do it! 💪

I think it's hard, but also think about using Webpack as little as possible. It is because Electron doesn't quite need bundling as web browser do, there are no network traffic. And it could make the app launch faster (less things to parse/interpret at boot time).

[2018-10-26 21:05] justinwilaby commented on #1033
reopening this ticket as we still see some areas displaying PREVIEW

[2018-10-26 21:57] #991 closed

[2018-10-26 21:57] #1033 closed

[2018-10-28 13:30] daltskin opened #1046 "Manage Service - LUIS url incorrect for westeurope & australiaeast"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
v4

## Describe the bug
When using LUIS service hosted outside the US, the incorrect luis URL is being built and sent to the browser.  The URL includes t

[2018-10-28 16:29] JuanKRod commented on #699
Having the same Issue:

Have tried multiple options but nothing seems to solve problem.

LOGS :
[18:23:04]Emulator listening on http://localhost:49207
[18:23:04]ngrok not configured (only needed when connecting to remotely hosted bots)
[18:23:04]Connecting to bots hosted remotely
[18:23:04]Edit ngrok settings
[18:23:04]POST201directline.startConversation
[18:23:08]->bot
[18:23:08]POST404directline

[2018-10-29 10:31] cbtham opened #1048 ""Choose a different location" links are enabled even when a bot file is not open"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.1.0

## Describe the bug
Clicking "choose a different location" does not open windows path picker

## To Reproduce
Steps to reproduce the behavior:
1.

[2018-10-29 11:36] dalvirsaini opened #1049 "Commands to Run Bot Framework Emulator"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]
Hi,

I want to know that which commands need to run to run this bot framework emulator,
I tried with **npm start** in Vs studio code but its not getting started.

So what commands i need to follow to run this emulator.

[2018-10-29 12:07] #1049 closed

[2018-10-29 15:03] justinwilaby commented on #1048
The "Choose a different location" links should present a modal with current path info and an option to "browse" for a new location. Are you not seeing the modal with path info or are you not able to browse after the modal is presented?

![image](https://user-images.githubusercontent.com/2652885/47658915-153db680-db51-11e8-8f0e-5bb81a7404ac.png)

[2018-10-29 15:24] justinwilaby commented on #1043
@mewa1024 - are you closing the "You've signed out" window manually? If so, this will cause a problem since the emulator relies on events from that window to verify the sign out has completed. Closing this window manually will prevent those events from being received.

[2018-10-29 17:21] justinwilaby commented on #1048
@cbtham - A bot file must be open in order to change the resource locations since these locations are associated with a bot file.

This defect should be "Choose a different location" links are enabled even when a bot file is not open

[2018-10-29 18:02] #1041 closed

[2018-10-30 00:00] tonyanziano commented on #1035
Addressed in #1054

[2018-10-30 00:34] #1035 closed

[2018-10-30 09:31] jasonchuah4 opened #1055 "Unable to authenticate bot framework credentials in Emulator"
Hi,

I have Microsoft AppId and Password assigned in web.config. When I started my bot project locally, and try to connect through Emulator, it would spawn this error message: `request to https://login.microsoftonline.com/botframework.com/oauth2/v2.0/token failed, reason: write EPROTO 0:error:14077419:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert access denied:c:\projects\electron-39ng6\vendor\n

[2018-10-30 13:44] AchrafChalabi opened #1056 "Link redirecting to a wrong page"
Version 4.1
The "Dispatch" Link in the Bot Emulator Homepage redirects to Microsoft Homepage.
Repro Steps: Click on "Dispatch" Link from the Homepage of the emulator

![img1](https://user-images.githubusercontent.com/10290673/47722186-74d3b900-dc5a-11e8-891f-472d92e88c37.jpg)
![img2](https://user-images.githubusercontent.com/10290673/47722187-756c4f80-dc5a-11e8-8bc2-ff1f5bcf09fb.jpg)

[2018-10-30 14:52] Fed29 opened #1057 "Proxy support"
## Version

**OS**: Windows 10 version 1607

**Bot Framework Emulator**: v4.1.0

**Node**: v10.9.0

**node-fetch**: node-fetch@2.2.0

## Describe the bug
I work behind a company proxy and when I start a new conversation the BotFramework Emulator is not able to connect to the **login.microsoftonline.com API**, in order to obtain the access_token, as explained in [your documentation](https://docs.mi

[2018-10-30 17:07] tonyanziano opened #1058 "Missing input box outlines in V3 Endpoint UI"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
3.5.36

## Describe the bug
App Id and Locale boxes are missing outlines

![image](https://user-images.githubusercontent.com/3452012/47736267-95384f00-dc

[2018-10-30 17:14] tonyanziano commented on #1058
Addressed in #1059

[2018-10-30 17:20] #1046 closed

[2018-10-30 17:30] Jeffders opened #1060 "Emulator Does not Work for UsGov Targets"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What version of the Emulator are you using.
3 and 4

## Describe the bug
Can't make a bot that targets UsGov (with the ChannelService property set) that

[2018-10-30 18:34] #820 closed

[2018-10-30 18:49] vishwacsena commented on #989
Updated doc content is posted to the wiki - https://github.com/Microsoft/BotFramework-Emulator/wiki

[2018-10-30 18:49] #989 closed

[2018-10-30 20:09] #1058 closed

[2018-10-30 20:47] #976 closed

[2018-10-30 20:47] #1027 closed

[2018-10-30 20:47] #1043 closed

[2018-10-30 20:47] #975 closed

[2018-10-30 20:51] justinwilaby commented on #1056
This is a temporary placeholder URL until we have a dispatch site up. Leaving this open as a reminder to revisit this.

[2018-10-30 21:38] #962 closed

[2018-10-30 21:39] justinwilaby commented on #995
fixed with #1008

[2018-10-30 21:39] #995 closed

[2018-10-31 10:36] ben-webantic opened #1064 "Unable to install deb"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
 BotFramework-Emulator-4.1.0-linux.deb

## Describe the bug
Unable to install the deb
[code]

## To Reproduce
Download the deb...
`sudo dpkg --install Bo

[2018-10-31 10:38] ben-webantic commented on #1064
Package name is set to `@bfemulator/main` should be `bfemulator/main`

[2018-10-31 15:38] britishbadger opened #1065 "BotFramework-Emulator-4.1.0-linux.AppImage doesn't work on Ubuntu 18.04"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
BotFramework-Emulator-4.1.0-linux.AppImage

## Describe the bug

When executing
./BotFramework-Emulator-4.1.0-linux.AppImage

I get the following error
[

[2018-10-31 17:57] vishwacsena commented on #1056
I believe we should have this directed to https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Dispatch.

@mewa1024 ?

[2018-10-31 18:03] #1048 closed

[2018-10-31 18:08] justinwilaby commented on #1057
@Fed29 - We are accepting contributions from the community! Please feel free to take a crack at this fix. I'm happy to help with this if you need it.

[2018-10-31 18:13] #941 closed

[2018-10-31 18:50] sgellock commented on #821
dup of #298

[2018-10-31 18:50] #821 closed

[2018-10-31 18:58] sgellock commented on #937
this would have us pickup the v4 GA version of WebChat and allow us to prove theming works well

[2018-10-31 19:03] sgellock commented on #1019
closing won't fix.  if customers raise the issue we can reconsider

[2018-10-31 19:03] #1019 closed

[2018-10-31 19:04] sgellock commented on #1032
dup of #1026

[2018-10-31 19:04] #1032 closed

[2018-10-31 19:06] sgellock commented on #1036
this appears to only happen on first launch

[2018-10-31 19:06] #1036 closed

[2018-10-31 19:50] tonyanziano commented on #1065
I was able to repro this as well. I think this is due to our current AppImage version only being 32-bit. I'll see if I can produce a 64-bit packaged version and test it out.

[2018-10-31 19:56] tonyanziano commented on #1064
Thanks for the input @ben-webantic !

We will most likely be switching to strictly 32-bit and 64-bit AppImage versions of the Emulator for Linux because it is the only format supported by the auto updater we are using, and AppImages should work across all Linux distros.

[2018-10-31 22:07] corinagum commented on #997
Test-writing in progress. :)

[2018-10-31 23:56] mewa1024 commented on #1056
Correct. It looks like a semicolon got in there?
<img width="528" alt="image" src="https://user-images.githubusercontent.com/39317542/47825170-acf7fc00-dd2d-11e8-91d2-933c1f01d35b.png">

The aka link, "https://aka.ms/bot-framework-emulator-create-dispatch" (sans semicolon) works as intended.

[2018-11-01 00:32] mewa1024 commented on #1004
Agree. Let's change the behavior to this:
1 - click on endpoint
2 - if endpoint is not already open, open it.
     if endpoint is already open, select it.
3 - if an endpoint is already open and the user wants to open a new conversation with the same endpoint, they would use the right-click menu.

[2018-11-01 10:09] ravriel opened #1067 "Emulator fails to open file with a "~{" in string value"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.1.0

## Describe the bug
Emulator fails to open a .bot file if the file contains a string value with "~{" (without quotes).
For example, this file fail

[2018-11-01 10:09] ravriel opened #1082 "Emulator fails to open file with a "~{" in string value"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.1.0

## Describe the bug
Emulator fails to open a .bot file if the file contains a string value with "~{" (without quotes).
For example, this file fail

[2018-11-01 10:52] tharakp commented on #107
Hi Team,

while deploying the bot in in Local PC by using Bot Emulator, getting the below error.

Error: The bot is remote, but the service URL is localhost. Without tunneling software you will not receive replies.
Connecting to bots hosted remotely
Edit ngrok settings
POST 201 directline.startConversation

Looking the Resolution on this one.

Regards,
Tharak

[2018-11-01 17:13] justinwilaby commented on #1067
@ravriel - Thank you for the submission. I am able to repro this and have tracked it down to the [MSBot](https://github.com/Microsoft/botbuilder-tools/tree/master/packages/MSBot) dependency that's used in the emulator. More specifically, the [read-txt-file](https://www.npmjs.com/package/read-text-file) package that it uses to load a botfile.

Since this is not an Emulator bug, I will forward this

[2018-11-01 17:53] deepanigi opened #1068 "Bot Emulator v4 - Refresh access token failed 400"
When I tried to use the production endpoint in the bot framework emulator. I have configured the endpoints in the bot file as below with information from the azure.But I am unable to the access it via the Emulator and also it does not connect in the "Test in Webchat" in Azure after deployment via Git to Azure. It works fine locally

Using latest stable version of emulator

It returns me the follow

[2018-11-01 20:42] deepanigi commented on #1068
I analyzed the issue using Fiddler Trace. I think the tokens are being generated .

![image](https://user-images.githubusercontent.com/31543067/47878519-c9c02c80-de1e-11e8-9960-3bf87f4c2320.png)

But the Emulator is not picking it . As seen the below screenshot both of the fiddler and emulator refers to the same conversation ID.

![image](https://user-images.githubusercontent.com/31543067/47878617

[2018-11-02 00:11] justinwilaby commented on #1068
If you look at [this async function](https://github.com/Microsoft/BotFramework-Emulator/blob/master/packages/emulator/core/src/facility/botEndpoint.ts#L111), you'll notice that the emulator is throwing if the response from the tokenEndpoint call is something other than 200. Are you certain your appId and password are correct?

[2018-11-02 00:12] #1022 closed

[2018-11-02 06:00] deepanigi commented on #1068
Yes , I have cross checked the Appid and password its correct. When i tried to call the curl script to check the authentication i am facing the error too.

Error:

I  deplyed the code over to azure using continous deployment . When trying to access from the test in webchat i am getting the refresh token issue in kudu.Error is triggered onTurnError

[2018-11-02 12:33] justinwilaby commented on #1068
It's not likely this is an emulator issue if you are seeing it in the portal's webchat as well as with using `curl`. Have you searched for that error code or tried to deploy to production to see if that yields different results?

[2018-11-02 12:47] deepanigi commented on #1068
I tried to run the Curl on kudu console and still the same issue. Also when i deployed it to azure using production endpoints. I was facing the same  "[onTurnError]: Error: Refresh access token failed with status code: 400"  on kudu log

[2018-11-02 16:29] #1004 closed

[2018-11-02 18:45] vishwacsena commented on #1055
We'll track support for proxy addresses via #1057

[2018-11-02 18:45] #1055 closed

[2018-11-02 18:51] vishwacsena commented on #1068
@deepanigi - There was a service outage yesterday that has since been addressed that possibly impacted the access token retrieval over directline (which is what emulator relies on). can you please try again to see if you continue to run into this issue? If so, please re-open the ticket and we will continue to investigate.

[2018-11-02 18:51] #1068 closed

[2018-11-04 16:10] vishwacsena commented on #888
The fix here is to remove the dev tools menu.

[2018-11-04 16:14] vishwacsena commented on #871
@mewa1024 - do we need to update the designs to somehow notify users that they need to copy the secret to the .env or appsettings.json and/ or appsettings in the azure portal? This applies to both cases when users 'reset' password or when they decide to encrypt a bot file.

[2018-11-04 16:17] vishwacsena commented on #771
Three separate work items here -

1. Add a "Install command line tools" menu option that presents a modal with information on what the CLI tools are and link to docs with a checkbox to 'auto update command line tools'. Clicking ok/ install in this dialog should install all cli tools. Should prompt user to install node and try again if node is not installed.
2. Have auto update checker also look fo

[2018-11-05 10:13] britishbadger commented on #1065
Awesome, thanks

[2018-11-06 19:21] corinagum commented on #867
Resolved with PR #1081

[2018-11-06 19:21] #867 closed

[2018-11-06 19:21] corinagum commented on #888
Resolved with PR #1081

[2018-11-06 19:21] #888 closed

[2018-11-06 21:16] corinagum commented on #801
@mewa1024
Do we want to implement this so that when Conversation > Send System Activity is disabled, the submenu with various commands is shown, but is disabled? Or should the submenu listing conversationUpdate etc not show at all when Send System Activity is disabled?

[2018-11-06 21:29] tonyanziano opened #1083 "Add Telemetry Infrastructure to Emulator"
Add telemetry infrastructure to the emulator so that we can see what features of the emulator are being used and how often.

- [ ] language that explains what we're collecting and why
- [ ] opt-out instructions

[2018-11-06 21:32] sgellock commented on #1082
This issue is not being tracked here:
https://github.com/Microsoft/BotFramework-Emulator/issues/1082

[2018-11-06 21:32] #1082 closed

[2018-11-06 22:15] tonyanziano commented on #340
Please try version 3.5.37 on the [Releases Page](https://github.com/Microsoft/BotFramework-Emulator/releases).

[2018-11-06 22:15] #340 closed

[2018-11-06 22:17] #343 closed

[2018-11-06 22:51] tonyanziano commented on #202
32-bit is available for Linux and Windows now in [version 4.1.0](https://github.com/Microsoft/BotFramework-Emulator/releases/tag/v4.1.0), but for Mac we support only 64-bit.

[2018-11-06 22:51] #202 closed

[2018-11-07 18:57] mewa1024 commented on #801
@corinagum Let's allow Send System Activity to expand the submenu, but the submenu items are grayed out. Like this example from Visual Studio Code (where "Open Recent  >" is in the place of "Send System Activity >":
<img width="464" alt="image" src="https://user-images.githubusercontent.com/39317542/48153449-153d6500-e27b-11e8-9cd2-e7f3300b6c73.png">

[2018-11-08 16:23] justinwilaby commented on #1083
Will this be an opt-in feature?

[2018-11-09 01:04] tonyanziano commented on #1037
- [x] Windows
- [x] Linux
- [ ] Mac

[2018-11-09 01:05] tonyanziano commented on #1083
According to @vishwacsena 's spec it will be opt-in by default, and explicit opt-out. We are following the same strategy as az cli.

[2018-11-09 02:57] vishwacsena opened #1086 "[LUIS instrumentation] Include emulator scenario x version identifier in User-Agent header on all calls to LUIS APIs"
Is your feature request related to a problem? Please describe.
Today, we do not have any view into LUIS traffic that are driven by botbuilder. LUIS service instruments all calls to the service and can report on User-Agent to identify the specific client.

Describe the solution you'd like
On all calls to LUIS service (from the inspector including login, train, publish as well as reassign intent), i

[2018-11-09 15:58] justinwilaby commented on #1086
Should this be limited to just LUIS api calls? It might be appropriate to include user agent headers for all external traffic.

[2018-11-09 16:06] justinwilaby commented on #948
Holding off on this task until we have a proper service validation strategy for all linkable services.

[2018-11-09 17:22] #873 closed

[2018-11-09 18:20] tonyanziano commented on #438
This is an issue in v4 as well and should be addressed.

![image](https://user-images.githubusercontent.com/3452012/48280652-12707a80-e409-11e8-964d-c64971f0fbed.png)

[2018-11-09 18:50] justinwilaby commented on #670
I am seeing a problem but it does not appear to be with the Emulator. I've tested all paths mentioned above and cannot repro any of them when the *locally running bot is restarted* between each test. If an appId and password are provided, the emulator correctly retrieves an `auth_token` from the [auth endpoint](https://github.com/Microsoft/BotFramework-Emulator/blob/v4.1/packages/emulator/core/src

[2018-11-09 18:58] justinwilaby commented on #670
@Stevenic @stevengum - Are you able to add some context on this?

[2018-11-09 19:04] justinwilaby commented on #438
This looks like a line hight issue.

[2018-11-09 19:19] vishwacsena commented on #878
We should revisit the text to make it more actionable and possibly include a link to settings so users can configure ngrok.

[2018-11-11 13:32] sorgina13 commented on #931
My Bot Emulator didn't let me click the resources icon . I downloaded version 4.1.0 and now it shows 'choose a different location' under transcripts and chats but when I click nothing happens. I still can't open the transcript files! Please help?

[2018-11-11 13:39] nicojdejong commented on #931
@sorgina13 - 'I have the same problem. it says you dont have any chat files in . ' After I open a .bot file though it starts working. I can then close the .bot file and it continuous to work.

[2018-11-11 18:40] Ohar commented on #135
I went into the same problem andd solve it by removing whole `node_modules` folder and run `npm install` from scratch.

[2018-11-12 11:02] jawand commented on #226
well, i fixed it using so called microsoft solution i.e. "uninstall the emulator and install again". and i had
SSL on localhost which was also causing issues. So, i removed SSL from localhost.

[2018-11-12 21:03] vishwacsena opened #1087 "[QnA Maker instrumentation] Include emulator scenario x version identifier in User-Agent header on all calls to QnA Maker APIs"
Is your feature request related to a problem? Please describe.
Today, we do not have any view into QnA Maker traffic that are driven by botbuilder. QnA Maker service instruments all calls to the service and can report on User-Agent to identify the specific client.

Describe the solution you'd like
On all calls to QnA Maker service (from the inspector including login, train, publish as well as reas

[2018-11-12 22:43] tonyanziano commented on #1087
Related to #1086

[2018-11-12 23:00] tonyanziano commented on #1086
What are the requirements for this item?

While investigating this, I found out that Electron already appends `BotFrameworkEmulator/<version>` to the user-agent string.

If that's not sufficient, I also found a way to attach a custom user agent string to all outgoing traffic from the Emulator, but I'm wondering if we want a different string corresponding to the LUIS / QnA endpoint that is being hi

[2018-11-13 17:26] vishwacsena commented on #933
Dupe of #594

[2018-11-13 17:26] #933 closed

[2018-11-13 20:39] vishwacsena commented on #1086
@tonyanziano - this is a broader effort across the SDK, CLI tools and Emulator and so we need the user-agent to be of the following format (I've also posted in the respective LUIS and QnA Maker tickets)

botbuilder/<product>/<lang.or.scenario>/<semver>

So for Emulator, we would do the following
LUIS
botbuilder/emulator/inspector/major.minor.patch.build
botbuilder/emulator/list-luis-apps/major.min

[2018-11-13 21:59] stevkan opened #1088 "Hostname parameter is missing from QnAMaker service manual setup"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
v4.1.0

## Describe the bug
When adding the QnA Maker service, if you choose the alternative setup ("connect to a QnA Maker knowledge base manually"), th

[2018-11-14 00:57] ovishesh opened #1090 "Move Emulator Wiki pages to docs.microsoft.com"
**Is your feature request related to a problem? Please describe.**
Inconsistent docs experience for developers. There is already a doc on docs.microsoft.com that talks about [debugging with the Emulator](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-debug-emulator?view=azure-bot-service-4.0), but there is this new doc @JonathanFingold told me about that [lives on the Wiki pages](h

[2018-11-14 13:41] alinaradu commented on #301
Hi,

I found this error appearing for me when I had a proxy configured on my Windows 10 system.
Check if there is a proxy configured - in the Environment variables or by echoing %http_proxy%.
If there is one, remove it and restart the Emulator and/or the system (restarting the user session might suffice). This solved the issue for me.

[2018-11-14 18:59] mewa1024 commented on #594
@vishwacsena Will this work?

<img width="806" alt="image" src="https://user-images.githubusercontent.com/39317542/48505524-1c74ed80-e7fc-11e8-8f64-7e87d8d7493a.png">
<img width="409" alt="image" src="https://user-images.githubusercontent.com/39317542/48505410-e0418d00-e7fb-11e8-918f-a2c73c8dc0d7.png">

On Invision:
["Select from Azure" selected](https://microsoft-fuse-design.invisionapp.com/d/mai

[2018-11-14 23:58] #878 closed

[2018-11-14 23:58] #1088 closed

[2018-11-15 00:40] mewa1024 commented on #878
What was the change to the text?

From: Justin Wilaby <notifications@github.com>
Reply-To: Microsoft/BotFramework-Emulator <reply@reply.github.com>
Date: Wednesday, November 14, 2018 at 3:58 PM
To: Microsoft/BotFramework-Emulator <BotFramework-Emulator@noreply.github.com>
Cc: Melanie Wang <mewa@microsoft.com>, Assign <assign@noreply.github.com>
Subject: Re: [Microsoft/BotFramework-Emulator] Sugges

[2018-11-15 16:12] brazierdavid commented on #1040
The original report is a bit misleading, I don't think it is to do with signing out and the signing in with a different id.  I think the problem is that the emulator is somehow hard coded to authenticate microsoft.com ids against the Microsoft tenant/AD only, and doesn't work with personal ids.  When I try to log in with an outlook.com id (which is associated with Azure) I get the same error:

[2018-11-15 18:11] paulmains opened #1091 "Adaptive Card form breaks emulator interface."
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.1.0

## Describe the bug
When getting to a dialog that uses an adaptive card with form fields the entire interface vanishes. There's no error (i can't

[2018-11-15 18:58] brazierdavid commented on #1040
Having looked at the code, I think the cause may be this application id in azureAuthWorkflowService.ts, line 40:
`const clientId = '4f28e5eb-6b7f-49e6-ac0e-f992b622da57';`
I presume that is registered on Microsoft's own AD and thus not available to users on a different AD (or personal LIve IDs etc).

[2018-11-15 20:18] mewa1024 commented on #935
@vishwacsena
Can you confirm that this is the right flow? Using the QnA Maker/LUIS/Dispatch flow as a model:

Modals for adding a Service X when:
(A) user has signed into Azure, and user has a Service X service **- user picks from a list**
(C) user has not signed into Azure - **gets modal to sign in or connect manually**
(D) user adds app by entering required fields - **modal with fields to enter

[2018-11-15 20:43] tonyanziano commented on #1086
Addressed in #1092

===

There is no easy way for us to distinguish between calls made from the inspector, and calls made from the services flow without going into each call and adding on a custom user agent string, which would be tedious and fragile as the emulator grows. For now we will just add a custom user agent string of `botbuilder/emulator/version` to all outgoing requests.

[2018-11-15 20:43] tonyanziano commented on #1087
Addressed in #1092

===

There is no easy way for us to distinguish between calls made from the inspector, and calls made from the services flow without going into each call and adding on a custom user agent string, which would be tedious and fragile as the emulator grows. For now we will just add a custom user agent string of `botbuilder/emulator/version` to all outgoing requests.

[2018-11-15 22:45] vishwacsena commented on #935
@mewa1024 - this is great and yes following along the patterns established by the current flows for LUIS, QnA and dispatch is the right model for other service types. Yes, we should have pointers to doc pages for the respective services. We can have it be application insights for now and update the copy later if needed.

[2018-11-15 22:48] vishwacsena commented on #594
@mewa1024  - this does not seem right to me. On the outset, you are going to use this to add a local or a remote endpoint. May be these should be separated out as [+] -> add local endpoint (bot running locally) and add remote endpoint (bot running on azure).

For local endpoint, we should never show the ABS configuration since it is never relevant. We should also default  the endpoint name to 'dev

[2018-11-16 00:06] corinagum opened #1096 "Accessibility: "How to build a bot" section of Welcome Page [Regression]"
## Version
Latest master

## Describe the bug
"How to build a bot" section on the welcome page is no longer keyboard accessible. This is a regression from previous functionality

## To Reproduce
Steps to reproduce the behavior:
1. Open Emulator
2. Tab through the different buttons and links on the Welcome Page
3. Note that after "Sign in with your Azure account", the keyboard focus jumps back to t

[2018-11-16 00:13] corinagum opened #1097 "Accessibility - Tabs: tabs are no longer close-able via keyboard input [Regression]"
## Version
latest master

## Describe the bug
When using keyboard focus to navigate through the app, pressing Enter when the 'close' button of a tab is in focus does not close the tab.

## To Reproduce
Steps to reproduce the behavior:
1. Open Emulator
2. Navigate to a tab (blue outline) via keyboard
3. Press tab to focus on the close button of the tab
4. Hit enter.
5. Note that tab did not close.

[2018-11-16 00:19] corinagum opened #1098 "Accessibility - Narrator on Tabs is confusing when reading two buttons at once"
## Version
latest master

## Describe the bug
When navigating through the app via NVDA (screen reader), the narrator says "Welcome close" when focusing on the Welcome tab.

## To Reproduce
Steps to reproduce the behavior:
1. Open Emulator with NVDA running
2. Press tab until the Welcome tab is in focus (blue outline)
3. Notice that Narrator says "Welcome close"
4. Press tab again
5. Notice that Na

[2018-11-16 00:47] corinagum opened #1099 "Keyboard focus-able items that are HTML <li> are read as "List item one of two items <name of button> button""
## Version
Latest master

## Describe the bug
The Restart Conversation button is read as "List item one of two items Restart conversation button"

I'm not actually sure -- should/can this be fixed via aria-label?

## To Reproduce
Steps to reproduce the behavior:
1. Open Emulator
2.  Open any bot
3. Press tab until Restart converation button is in focus
4. Note that the when in focus, the narrator

[2018-11-16 11:29] brazierdavid commented on #1040
I registered a "Bot Emulator" app on my own AD, gave it the right redirect URI and Windows Azure Service Management API permission and changed the clientId in azureAuthWorkflowService.ts to the new app ID, and I could then log in.  So perhaps that clientId needs to be configurable in settings?

[2018-11-16 11:35] brazierdavid commented on #663
What was the fix?  I have the same problem, running from repo source code.  I suspect it may be because it is using the authoring key as a subscription key, and since our starter key (= authoring key) ran out of quota and we added a proper subscription key to the LUIS apps, we get "Unauthorized".  It should use the subscription key from the .bot config.

[2018-11-16 15:06] justinwilaby commented on #1091
This looks like a webchat issue. I'll investigate.

[2018-11-16 17:19] #1086 closed

[2018-11-16 17:19] #1087 closed

[2018-11-16 17:21] tonyanziano commented on #1097
I can't repro this. My tabs close fine with enter. @justinwilaby maybe try to repro this as well?

[2018-11-16 17:34] corinagum commented on #1097
I'll try it again!

[2018-11-16 17:36] corinagum commented on #1097
can't repro anymore! closing.

[2018-11-16 17:36] #1097 closed

[2018-11-16 17:46] rob-derosa opened #1100 "Adding a QnA Maker KB to .bot file via Emulator omits the subscription key"
## Tool
Name: Bot Emulator

## Describe the problem
When adding a QnA Maker KB to the .bot file using the Bot Emulator, it never adds in the QnA Maker subscription key found in Azure Portal. The subscription key is necessary when creating/updating a dispatch model that incorporates said QnA Maker KB.

## Describe the solution you'd like
Bot Emulator should also include the subscription key in the

[2018-11-16 19:09] vishwacsena commented on #670
@14geronimo can you please try to repro with the 4.1.0 version of emulator available [here](https://github.com/Microsoft/BotFramework-Emulator/releases/tag/v4.1.0)

[2018-11-16 19:10] mewa1024 commented on #935
@vishwacsena Cool. Assigning to Justin.

[2018-11-16 19:41] ryanvolum opened #1102 "Need up to date channel inspector or channel capabilities matrix"
**Is your feature request related to a problem? Please describe.**
It's often difficult to decide what media to use in which channel. Buttons, cards, adaptive cards and carousels all have different levels of support/rendering depending on the channel. Right now, the only way to determine if/how media renders in a channel is to deploy a bot to that channel and see what happens.

**Describe the solu

[2018-11-16 21:37] #1100 closed

[2018-11-16 21:40] justinwilaby commented on #1102
This is on the radar for future releases.

[2018-11-16 23:11] #801 closed

[2018-11-19 17:45] corinagum commented on #1098
Comments from accessibility:

o	[Jen] Maybe a P1/AccSelfYellow?  Sounds like a problem with a label or an aria attribute.
o	[Jason] This is a valid bug.  The problem here is that they’ve made the list item actionable and embedded a second actionable item within it. This is what shows up in the inspect.exe. The two need to be separated. The second tab to the close button reads nothing.
How found:

[2018-11-19 17:46] corinagum commented on #1096
o	[Jen] This is a P0/AccSelf Red.  Would like more details about if the regression happened with the whole page or just a few items on the page.
o	[Jason]  These links are not actually links.  They are showing up semantically as clickable text.
How found:           Mouse move (2654,337)
hwnd=0x00000000000D0E5C 32bit class="Chrome_RenderWidgetHostHWND" style=0x56300000 ex=0x20
Name:

[2018-11-19 19:05] vishwacsena commented on #1102
Tracked via #599

[2018-11-19 19:05] #1102 closed

[2018-11-19 19:47] tonyanziano commented on #1037
Pushing Mac work to 4.3

[2018-11-19 20:11] corinagum commented on #1099
Closing as feature, not a bug.

[2018-11-19 20:11] #1099 closed

[2018-11-19 20:46] vishwacsena commented on #298
@mewa1024 - we should have restart conversation default to creating a new conversation and user id. we should have a L2 option to just create a new conversation but keep the same user id.

[2018-11-19 20:53] mewa1024 commented on #935
@justinwilaby I updated the designs with the links:
Link: https://aka.ms/bot-framework-emulator-create-appinsights
Link: https://aka.ms/bot-framework-emulator-appinsights-docs
Link: https://aka.ms/bot-framework-emulator-appinsights-keys

Updates to the designs are on Invision and also copied below:

<img width="908" alt="image" src="https://user-images.githubusercontent.com/39317542/48733959-e3bc8

[2018-11-19 21:30] corinagum commented on #718
Closing due to no repro -- accessibility bug fixes in #1096 will be submitted in a PR shortly.

[2018-11-19 21:30] #718 closed

[2018-11-19 22:36] tonyanziano opened #1109 "App Settings Editor UI incorrectly reflects internal state"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.1.0

## Describe the bug
The default app settings page state remains displayed by the UI even after the async call has been made to fetch the settings

[2018-11-19 23:23] mewa1024 commented on #934
Required fields in the msbot connect blob:
- friendly name (defaults to serviceName)
- Azure Tenant id (either GUID or xxx.onmicrosoft.com)
- Azure Subscription Id
- Azure resource group name
- Azure service name
- Blob storage connection string
- blob container name

[2018-11-20 00:52] mewa1024 commented on #935
@justinwilaby I have found a few typos in the comps and just corrected them. Sorry about this:

- changed the wording in the Azure picker modal from "Select a resource below to your resource's information in your bot file or connect to an Application Insights resource manually" to "Select a resource below or connect to an Application Insights resource manually."

- changed the wording in the Azure

[2018-11-20 00:58] mewa1024 opened #1111 "Emulator - update doc for connecting to Azure storage"
Update ["Write directly to storage" doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp#using-blob-storage) to tell users where to find these fields (needed for msbot connect and the Emulator's manual connection modals).

Azure Storage (blob storage):
- friendly name (defaults to serviceName)
- Azure Tenant id (either GUID or

[2018-11-20 01:03] mewa1024 opened #1112 "Emulator - update doc for connecting to App Insights"
Update ["Application Insights keys" doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-app-insights-keys?view=azure-bot-service-4.0) to tell users where to find these fields (needed for msbot connect and the Emulator's manual connection modals).

- friendly name (defaults to serviceName)
- Azure Tenant id (either GUID or xxx.onmicrosoft.com)
- Azure Subscription Id
- Azu

[2018-11-20 01:52] tonyanziano commented on #1109
Turns out that it's caused by the way `<Checkbox/>` works

[2018-11-20 01:55] mewa1024 commented on #298
@vishwacsena Sounds good. We will need a new type of button, similar to the split buttons in Visual Studio and Office, where if you click on the main button it does the default behavior and when you click on the down caret you get both options:

<img width="69" alt="image" src="https://user-images.githubusercontent.com/39317542/48746423-2778b500-ec24-11e8-8209-d0697484f0dd.png">
<img width="235" a

[2018-11-20 02:01] #1026 closed

[2018-11-20 15:16] Jeffders commented on #1060
Changes merged.

To use Gov with the emulator, users must also use one of the upcoming Bot Builder 4.2 releases as well.

[2018-11-20 15:16] #1060 closed

[2018-11-20 18:22] waleedabuyahia opened #1114 "Bot Emulator V4 using 127.0.0.1 instead of localhost"
When I connect to my bot which is running on IIS express, the Bot emulator could not send anything and I found that the issue is that emulator try to connect using 127.0.0.1 which my IIS Express is not binded to.

And I can not change my IIS express config because I do not have admin rights on my machine.

So when emulator tries to connect to 127.0.0.1 instead of local host it goes to our proxy. b

[2018-11-20 19:00] justinwilaby commented on #1114
Hi @waleedabuyahia -

Using 127.0.0.1 is intentional since `localhost` still needs to be resolved to an IP address which can be overridden in the `hosts` file (on Windows) and can lead to undesirable side-effects.

Also, the address the emulator is listening on is the interceptor address for activities to and from WebChat which allows the emulator to display activity details. It's not the address

[2018-11-20 19:05] waleedabuyahia commented on #1114
I understand this but why Emulator when the endpoint is localhost it
changes it to 127.0.0.1, this will not work with IIS express

On Tue, Nov 20, 2018 at 2:00 PM Justin Wilaby <notifications@github.com>
wrote:

[2018-11-20 19:45] justinwilaby commented on #1114
The emulator does not change the bot endpoint address. It sends message activity to the endpoint specified as is:

![image](https://user-images.githubusercontent.com/2652885/48798472-905e3c80-ecb9-11e8-94bf-c471ed5bc2ee.png)

There must be something else in your config that is causing this issue

[2018-11-20 20:12] waleedabuyahia commented on #1114
Yes it does not change the endpoint, but internaly it ceeates new
connection for the direct line using the 127.0.0.1

On Tue, Nov 20, 2018 at 2:45 PM Justin Wilaby <notifications@github.com>
wrote:

[2018-11-20 21:11] tonyanziano commented on #1109
Addressed in #1115

[2018-11-20 21:11] #1109 closed

[2018-11-20 21:16] mewa1024 commented on #298
@vishwacsena How is this?

![restart conv 01](https://user-images.githubusercontent.com/39317542/48803303-71b27280-ecc6-11e8-8bbc-da43d3ae471f.png)
![restart conv 02](https://user-images.githubusercontent.com/39317542/48803319-76772680-ecc6-11e8-9d0c-a4bfca68d42a.png)
![restart conv 03](https://user-images.githubusercontent.com/39317542/48803327-78d98080-ecc6-11e8-8532-4ea1f46367cc.png)
![restart

[2018-11-20 23:36] gabog opened #1118 "Emulator is taking a long time to startup"
The emulator takes a very long to startup, is this a bug?

[2018-11-20 23:47] justinwilaby commented on #1118
How long is it taking? Windows machines take about 2-3x longer than Mac and Linux and Emulator installations with ngrok configured take a bit longer still but overall startup times don't exceed 4-5 seconds

[2018-11-21 00:07] gabog commented on #1118
I am running on windows, now that you asked and I tried to time it, it takes about 7-10 seconds but I've seen it take more. Sometimes i end up with 2 or 3 emulators running because I forgot I clicked on it. Will try to get a better repro (I am running 4.1.0)

[2018-11-21 00:39] gabog opened #1120 "Change default voice font for the emulator"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to test my bots with voice, the current monotone font used by the emulator is very inexpresive and boring... (it matters if you use it all day :))

**Describe the solution you'd like**
Would it be possible to change the default font to use Jessa or Guy?, having the ability to change the font in settings would be

[2018-11-21 01:33] mewa1024 commented on #298
@vishwacsena Yes, I think we do. That seems to be the model that Visual Studio and Office are following. When the caret is expanded we can show the first option selected by default to make it more obvious what the default behavior is.

[2018-11-21 08:09] agentg2007 opened #1122 "Textblock color incorrect"
* Textblock attention color is yellow, not red.
* Textblock warning color is red, not yellow

[2018-11-21 21:56] benbrown opened #1123 "Add support for deleteActivity and updateActivity"
**Is your feature request related to a problem? Please describe.**

We currently cannot use the emulator to test bots that use deleteActivity and updateActivity. These are pretty commonly used methods in real bots.

**Describe the solution you'd like**

Add support for these 2 methods.  According to @tomlm this is dependent on support being added to webchat. I've [opened a ticket on that repo as w

[2018-11-21 22:31] #1096 closed

[2018-11-26 08:21] prabhatmuroor opened #1125 "Using Bot Framework Emulator for end to end testing"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]
Hi,
We are working on a bot and its hosted in azure bot service. The bot supports teams/slack clients.
We are exploring ways to add end to end tests for this bot.

I feel Botframework emulator can be used for this purpose, however since it has UI

[2018-11-26 18:05] justinwilaby commented on #1125
Look into the [WebChat client](https://github.com/Microsoft/BotFramework-WebChat) and [Chrome headless mode](https://developers.google.com/web/updates/2017/04/headless-chrome)

[2018-11-26 19:06] vishwacsena commented on #1125
Tracked via #509 and #599. For now @justinwilaby has provided the appropriate workaround.

[2018-11-26 19:06] #1125 closed

[2018-11-26 19:07] vishwacsena commented on #1123
Unclear channel support roadmap for update and delete activity. @seaen; @compulim - let's triage this for webchat support separately.

[2018-11-26 19:08] vishwacsena commented on #1122
@agentg2007 - can you provide more info? A screenshot with highlight will help.

[2018-11-26 19:12] compulim commented on #509
We have some docs over here, https://github.com/Microsoft/BotFramework-WebChat/issues/1253.

[2018-11-26 19:13] compulim commented on #1125
@prabhatmuroor in the meanwhile, you can look at the instructions [here](https://github.com/Microsoft/BotFramework-WebChat/issues/1253).

[2018-11-26 19:14] #1114 closed

[2018-11-26 19:14] vishwacsena commented on #1114
Addressed via #1126

[2018-11-26 19:17] vishwacsena commented on #1083
Pushing out to 4.3. @sgellock; @yochay; @Kaiqb FYI.

We need to close on dev design and @tonyanziano will continue to flush that out with the AZ team through 4.2 for implementation in 4.3

[2018-11-26 19:19] compulim commented on #1057
Also need to verify if ngrok works with HTTP/S proxy. If it don't, we need to give a warning in case the user set `HTTP_PROXY` env.

[2018-11-26 20:34] mewa1024 commented on #298
@tonyanziano Designs for the flow are [here](https://microsoft-fuse-design.invisionapp.com/d/main#/projects/prototypes/16077445).

Specs for all the hover states and themes are here:
[Light](https://microsoft-fuse-design.invisionapp.com/d/main#/console/14907902/319156795/preview)
[Dark](https://microsoft-fuse-design.invisionapp.com/d/main#/console/14907902/319156794/preview)
[High contrast](https:

[2018-11-26 21:43] mewa1024 commented on #936
@vishwacsena
Design of the flow is in the "Generic 11.26" section on Invision:
[Services flow](https://microsoft-fuse-design.invisionapp.com/d/main#/projects/prototypes/14863139)

Unassigning myself. Let me know if there are changes.

[2018-11-26 23:49] mewa1024 opened #1127 "Emulator - Inspector pane should have a default message (never be blank)"
## Describe the bug
In user studies, participants did not understand that clicking on a log message would provide information about that activity in the Inspector pane. Design should supply a default message in the log pane to explain to users how to use it.

[2018-11-27 01:00] yochay opened #1128 "Connect to a bot without a .bot file - just us the bot URL"
Enable using the emulator without a .bot file, aka use a URL - like V3.

**Is your feature request related to a problem? Please describe.**
Simple and quick way to use the emulator for any bots that do not have a .bot file. Aka V3 bots and any new bots that do not include .bot file.

**Describe the solution you'd like**
Add ability to 'open' a bot with a URL. When doing so, one can't use the train

[2018-11-27 18:12] justinwilaby commented on #1057
This is the implementation I have planned:

**packages/app/maiin/src/main.ts**
[code]

Fetch is now available on the global object for node. This does not require passing around a custom fetch object nor does it require a ponyfill as a dependency in `core`.

[2018-11-28 16:17] justinwilaby commented on #1091
@paulmains - Do you have the adaptive card json handy?

[2018-11-28 17:45] paulmains commented on #1091
Hi @justinwilaby i wasn't using json, but using the data in this ticket I quickly created one. That version works fine, however when you create one in C# using the AdaptiveCard library it breaks in the emulator (but works fine in the web client)

{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
        "type": "Tex

[2018-11-28 18:48] compulim commented on #1091
@paulmains do you mean it work in Web Chat but not in Emulator? Are you using Web Chat v4?

@corinagum can you repro it in Web Chat v3/v4. We often need to debug Adaptive Cards, it will be a great if MockBot can take an uploaded file (JSON of Adaptive Cards), and reply as an Adaptive Card activity.

[2018-11-28 19:06] #1057 closed

[2018-11-28 19:12] compulim commented on #1057
I am not a fan of polluting the global namespace. But it will just do the trick for the first bullet point and not clamping down on "cross platform" support on Emulator Core. 👍

[2018-11-28 19:15] compulim commented on #1057
@justinwilaby did you check if `https-proxy-agent` will retrieve proxy settings from WININET? Proxy settings on Windows is not exposed via `HTTP_PROXY_AGENT` env.

[2018-11-28 19:30] tonyanziano commented on #1098
Addressed in #1131

[2018-11-28 19:31] compulim commented on #1091
@paulmains ❤ your inspection into the web page. I almost forgot we added `<meta>` tag to help user finding out the version and variant of Web Chat they are using.

Emulator is using Web Chat v3 for now, we will bump it to v4 in Feb release. So it is a good guess that a bug in Web Chat v3 is plaguing Emulator.

@corinagum we can scope down to v3.

[2018-11-28 21:01] corinagum opened #1132 "Update Emulator to Web Chat v3 latest"
## Describe the bug
https://github.com/Microsoft/BotFramework-WebChat/pull/1385 has been merged into Web Chat,
Update Emulator per Tony's notes on https://github.com/Microsoft/botbuilder-tools/issues/702

## To Reproduce
See https://github.com/Microsoft/botbuilder-tools/issues/702

## Expected behavior
Be able to show transcripts

## Additional context
Fix has been merged into Web Chat, so workaro

[2018-11-29 18:14] #1098 closed

[2018-11-29 21:20] rcarmo commented on #1040
I'm getting this too - I can't actually use the emulator to log in to either my corp Azure subscription or my MSDN subscription because of it, which renders the services pane completely useless.

Any idea on why this is this way and when it will get fixed?

[2018-11-29 21:34] rcarmo commented on #1016
Any idea on resolution time?

[2018-11-30 19:08] vishwacsena commented on #1132
We need to verify these two paths work -
1. Create a chat file, open it in emulator, verify that chat files render correctly as transcript in emulator
2. Use the latest chatdown tool (from botbuilder-tools/master) and generate a transcript file. Verify that the transcript file will render in emulator.

[2018-11-30 19:13] vishwacsena commented on #594
@mewa1024 - any update? In any case we are not doing Login flows for 4.2. Moving this to 4.3.

[2018-11-30 19:16] vishwacsena commented on #1132
verify if #1091 is fixed via the latest webchat v3.

[2018-11-30 19:56] corinagum commented on #1132
Sorry @vishwacsena, I got my bugs confused. https://github.com/Microsoft/botbuilder-tools/issues/702  should be fixed in the Web Chat bump, not 1091. @tonyanziano FYI

[2018-11-30 23:53] lzc850612 opened #1134 "Message not rendering even though it shows up in the Log section"
## Version
4.1.0

## Describe the bug
Messages not showing up even though they are showing up in the Log section of the emulator

## To Reproduce
This is hard to reproduce because i've only reproduced it in proactive messaging scenario. I have two emulator instances opened and i'm sending message to one instance and the other instance will receive the message.

The activity:

[code]

## Expected b

[2018-12-01 08:14] GaebsterSoft opened #1135 "No voice input"
Hi verybody,

I use Bot Framework emulator V4. I generated a Bot on Azure (also V4) and donwloaded the source code for VS 2017. It I test my Bot in Azure in the built-in online test, I am able to interact with my bot over voice and test.

It start my downloaded Bot via Bot Framework Emulator V4.1 I am only able to interact with my bot over text. Why is there no mic-button?  I've heard the should b

[2018-12-01 22:49] sgellock opened #1136 "When Emulator is launched from Win CommandLine it's output is sent to the shell is was launched from"
## Version
Windows, 4.1.0

## Describe the bug
If the Emulator is launched from the shell, it's console output will be written to the shell.  It is also parented, process chain wise, to the shell.  so if you [cmd]+C the shell, it will kill the Emulator.

## To Reproduce
Steps to reproduce the behavior:
1.  Open the Windows Command Prompt
2. Change into a directory that has a runnable bot.  Echo sa

[2018-12-03 11:26] himanshu143nith opened #1137 "request to https://127.0.0.1:44311/api/messages failed, reason: unable to verify the first certificate"
Bot Framework Emulator v4.1.0
Bot Info: Bot Framework V4 BotBuilder .NET Core (SimpleBot)
Enabled SSL in Web Server Settings.
dotnet --version 2.1.500

[2018-12-03 19:29] compulim commented on #1134
In Web Chat v3, if `from` field say the activity is from the user, and the activity does not have `channelData`, then Web Chat will hide this message (because it think it is a post back.)

On the other hand, what we don't know is why proactive message sometimes work or not working. In the end of the day, for proactive messages, `from` should be bot.

[2018-12-03 19:30] compulim commented on #1135
The speech feature in Emulator is currently in private preview. So the microphone will only show up for bots that are in flight.

On the other hand, speech feature in Web Chat is production and you will need to specify a speech token for it.

[2018-12-03 19:45] compulim commented on #1135
Bigger thinking: should we allow the user to put in their own speech subscription key in UI of the Emulator?

[2018-12-03 20:19] GaebsterSoft commented on #1135
Sorry, I don't understand. I want to use the Emulator for a presentation of my Skill in school. I don't want to publish it or assign it to a channel. How can I use Voice input inside the Emulator? Thank you

[2018-12-04 01:43] tdurnford opened #1140 "Bot Emulator PostBack"
## Version
Emulator: 4.1.0
SDK: NodeJs V4.1.5

## Description
In response to this <a href="https://stackoverflow.com/questions/53592266/v4-botframework-actiontypes-postback-shows-selected-option-in-chat"> StackOverflow question</a>, I created a simple bot with the NodeJs V4 SDK that responds to a user's message with a Hero Card. The card has two action buttons: a PostBack and an ImBack Action. The

[2018-12-04 16:55] justinwilaby commented on #1140
This is related to, or a duplicate of #1134

[2018-12-05 04:03] mewa1024 commented on #594
@vishwac Hmm. We can separate out local and remote. Originally, we didn't distinguish between the two types of endpoint because we didn't want to add more UI to the New bot config menu:

<img width="430" alt="image" src="https://user-images.githubusercontent.com/39317542/49489174-a6faac80-f7fe-11e8-8e42-9424a03fa207.png">

I think this might affect the New Bot Config modal as well.

[2018-12-05 13:02] gabog opened #1141 "Speech stops working"
## Version
4.1.0 (on windows)

## Describe the bug
Speech stops working after the emulator has been in use for a while.
At some point, clicking on the mic icon doesn't enable the microphone anymore.

## To Reproduce
Steps to reproduce the behavior:
I don't have specific repro steps, just use the emilator for a while (a couple of hours or more) and at some point the mic button should stop working.

[2018-12-05 13:21] himanshu143nith commented on #1137
Hi @jwiley84! Thanx for the reply. No, that is posted by someone else. However, the issue appears to be similar.

[2018-12-05 16:47] justinwilaby commented on #1141
This looks like a WebChat issue. @compulim  - is this a known issue for the WebChat version the Emulator is using?

[2018-12-05 19:14] sgellock commented on #1122
closing due to inactivity.

[2018-12-05 19:14] #1122 closed

[2018-12-05 19:57] vishwacsena commented on #1140
@justinwilaby this does not appear to be a dupe of #1134. This is more of a behavioral issue with the PostBack card action. When emulator responds with postback, the actual message value should not be rendered on the canvas; however the message is rendered to the user the first time the button is clicked.

I have a repro set up here -

1. Clone botbuilder-samples branch
2. checkout vishwac/repro/e

[2018-12-06 23:16] #1140 closed

[2018-12-07 19:08] vishwacsena opened #1153 "Emulator nightly does not work on macos mojave - 10.14.1 and ubuntu"
## Version
4.1.45039 (latest nightly)

## Describe the bug
Emulator installs but fails to launch with the following error

Process:               Bot Framework Emulator [1760]
Path:                  /Applications/Bot Framework Emulator.app/Contents/MacOS/Bot Framework Emulator
Identifier:            F3C061A6-FE81-4548-82ED-C1171D9856BB
Version:               4.1.0 (4.1.0.45039)
Code Type:

[2018-12-07 19:12] vishwacsena commented on #1153
Also there are two mac dmg files in the nightly build. both fail to launch. We should clean up the list so there is only set of installers for mac.

[2018-12-07 19:18] vishwacsena opened #1154 "Add appinsights, cosmos db and storage account render a blank modal window"
## Version
4.1.41039 (latest nightly build)
Windows 10

## Describe the bug
Emulator renders a blank modal window when attempting to add a cosmos db or appinsights or storage account.

## To Reproduce
Steps to reproduce the behavior:
1. install the latest emulator nightly build
2. Sign in to azure via emulator
2. open a bot file
3. click + to add either azure appinsights or cosmos db or storage ac

[2018-12-07 19:31] vishwacsena commented on #1153
Build 4.1.44959 installs and works on my mac.

[2018-12-07 19:41] vishwacsena commented on #1153
parallels@parallels-Parallels-Virtual-Platform:~/Downloads$ chmod a+x ./BotFramework-Emulator-4.1.45039-linux-x86_64.AppImage
parallels@parallels-Parallels-Virtual-Platform:~/Downloads$ ./BotFramework-Emulator-4.1.45039-linux-x86_64.AppImage
{"name":"Emulator","hostname":"parallels-Parallels-Virtual-Platform","pid":3538,"level":40,"msg":"DEPRECATION WARNING: Due to deprecation of the domain module

[2018-12-07 20:23] jwiley84 commented on #1137
Can you post a screenshot of your emulator when this occurs, please?

[2018-12-07 20:41] ryanvolum commented on #197
Any update on this issue? This is a particularly useful feature to test bot-to-human handoff scenarios.

[2018-12-07 20:47] compulim commented on #1134
I am trying to repro with proactive sample from [BotBuilder-Samples](https://github.com/Microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/16.proactive-messages/bot.js).

The screenshot below is the message sent proactively from my bot.

![image](https://user-images.githubusercontent.com/1622400/49671736-a9871d00-fa1d-11e8-9d28-6253713dae38.png)

I didn't see anything wrong with th

[2018-12-07 20:54] #1132 closed

[2018-12-07 20:57] compulim commented on #1134
We adopted the proactive message code in our MockBot, code is [here](https://github.com/compulim/BotFramework-MockBot/blob/master/src/commands/Proactive.ts).

[2018-12-07 21:14] mewa1024 commented on #298
@tonyanziano Hi Tony, Can you change the size of the text to the same as the other commands? Should be 11px. Also, can the space between the two buttons be increased to 20px?

![image](https://user-images.githubusercontent.com/39317542/49673051-008ef100-fa22-11e8-831e-121ebcc972bd.png)

[2018-12-07 21:33] #1154 closed

[2018-12-07 21:35] mewa1024 commented on #934
@justinwilaby Hi Justin, a few corrections to text.
In the link to the Azure portal,
- please exclude the word "the" from the link.
- Please remove the words "Azure Storage" altogether, so the text should be "the **Azure portal**." with "Azure portal" as the linked text.
- Please add a period to the end of the sentence

Please use semibold for all the links (the accessibility people require a font

[2018-12-07 21:45] tonyanziano commented on #1153
- Broken mac build appears to be transient, I [published a new nightly build](https://github.com/Microsoft/botframework-emulator-nightlies/releases/tag/v4.1.45083) and it seems to be working
- Fixed the duplicate mac artifact issue
- Was unable to repro the hanging launch issue on Ubuntu 64-bit 18.0.4. Even deleting the `server.json` and relaunching the app was unable to repro

[2018-12-07 21:45] #1153 closed

[2018-12-07 21:53] mewa1024 commented on #934
@justinwilaby plus the deep link to the service doesn't work and then context menu doesn't appear.

[2018-12-07 21:58] mewa1024 commented on #935
@justinwilaby similar issues as #934.
In the link to the Azure portal,
-    please exclude the word "the" from the link.
-   Please remove the words "App Insights " altogether, so the text should be "the Azure portal." with "Azure portal" as the linked text.
-    Please add a period to the end of the sentence

Please use semibold for all the links (the accessibility people require a font weight ch

[2018-12-07 22:03] mewa1024 commented on #936
@justinwilaby

1. The key-value pair table does not let me type in it. Tried this on both Mac and Windows. Windows screenshot here:

![image](https://user-images.githubusercontent.com/39317542/49674983-975eac00-fa28-11e8-9443-8d2f4ae1f2a9.png)

The field is selected, but I can't type.

2. "Key" and "Value" should be column headers so "Value" should be left-aligned to "Add a value (optional)".

[2018-12-07 22:19] mewa1024 opened #1157 "Emulator - switching between chat tabs is really slow"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
nightly 4.1.45039 (but was also slow in previous versions)

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce

[2018-12-07 23:37] mewa1024 commented on #935
@justinwilaby One more thing, the modal is looking for "Azure Subscription Key" instead of "Azure Subscription ID". This means the modal is showing the field as blank, even though the .bot file has an entry for "subscriptionId":

![image](https://user-images.githubusercontent.com/39317542/49677893-fb3ba180-fa35-11e8-9e0f-c56feaf26382.png)

[2018-12-08 13:59] rinormaloku opened #1158 "Bot emulator sent message results in BadRequest when hosted with gitpod"
## Version
4.1.5

## Describe the bug
The Bot Application works locally but returns Bad Request and throws the following exception when hosted (using gitpod) and connecting to it with **Bot Framework Emulator**:

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Open [the project](https://github.com/rinormaloku/bot-gitpod) with Gitpod: https://gitpod.io/#https://github.com/rinormaloku/bo

[2018-12-09 21:41] tonyanziano commented on #298
@mewa1024  Fixed styling.

[2018-12-09 21:41] #298 closed

[2018-12-10 06:59] tonyanziano commented on #1157
We know that this is related to the number of Webchat (livechat / transcript) tabs open. We have a hunch that it is due to excessive re-rendering of the Webchat component.

[2018-12-10 16:12] justinwilaby commented on #1158
Looks like GitPod may be using an incompatible http protocol as indicated by `Connection: Upgrade` in the header.

[2018-12-10 16:23] justinwilaby commented on #1136
Processes launched from a terminal are attached by default and stdout/stderr are piped to it and killing the parent process (terminal) rightfully kills any child processes. This is an OS controlled functionality and not a defect.

In order to run a CLI as a detached process, we'd need to use a daemon to launch the Emulator or a .sh/.cmd that launches and detaches it. This might be a more involved

[2018-12-10 16:33] tonyanziano commented on #1136
I've got a local branch that provides this functionality. I still need to test cross platform though.

[2018-12-10 16:51] vishwacsena opened #1159 "Deep link to appinsights, blob storage, table storage does not work"
## Version
Latest nightly build - 4.1.45133

## Describe the bug
Deep link via 'Manage service' context menu  or double click on service configuration for appinsights, blob storage and table storage does not work.

Items in the services section do not work after you have tried the deep link once and failed. Cannot right click or double click on any other items in the services section.

## To Repro

[2018-12-10 17:07] vishwacsena commented on #1159
Tagging 4.2 since this causes emulator's services section to blow up and requires a restart of emulator to continue to work with it.

No data loss - so not a P0; high P1.

[2018-12-10 18:11] compulim commented on #1134
Cannot repro in the Emulator. My bot is trying to send a proactive message and Emulator do show up the activity.

![image](https://user-images.githubusercontent.com/1622400/49751985-cb71e100-fc63-11e8-9b13-4b99c0ca909d.png)

[2018-12-10 18:14] compulim commented on #1134
@lzc850612 when you are composing the proactive message, did you set the `from` field?

This the code I used for testing. `reference` is the conversation reference JSON object I saved earlier.

[code]

[2018-12-10 18:30] justinwilaby commented on #1157
Another note, this seems to be exacerbated when Adaptive Cards are being rendered in WebChat.

[2018-12-10 18:51] mewa1024 commented on #1159
related to #935 and #934 - see comments at the end.

[2018-12-10 18:52] tonyanziano opened #1161 "Start a Change Log"
**Describe the solution you'd like**
I think it would be a good idea for us to start a Change Log or Release Notes so that fixes and new features are more discoverable by our users.

**Describe alternatives you've considered**
As an alternative, we could have an in-app release notes page similar to how VS Code does theirs.

**Additional context**
Could be something like this:

https://keepachangel

[2018-12-10 19:06] #936 closed

[2018-12-10 19:17] SarahSexton opened #1163 "More descriptive error messages than 'couldn't send'"
When I use the Emulator, instead of the error message simply saying "couldn't send," it should be a lot more descriptive. Describe in more detail, such as, "Failed to establish a TCP IP connection. Did you remember to start your emulator?"

[2018-12-10 19:42] tonyanziano commented on #934
Addressed in #1164

[2018-12-10 19:42] #934 closed

[2018-12-10 19:42] tonyanziano commented on #935
Addressed in #1160

[2018-12-10 19:42] #935 closed

[2018-12-10 20:04] compulim commented on #1134
Talked to @lzc850612 offline.

The problem is the proactive activity sent from the bot set `{ role: 'user' }`. Web Chat (v3) will hide anything that appears to be sent from the user but not actually sent from Web Chat.

Since this is a bot-specific issue, will close this for now.

[2018-12-10 20:04] #1134 closed

[2018-12-10 21:11] justinwilaby commented on #1158
Looks like this is related to a [Krestel defect](https://github.com/aspnet/KestrelHttpServer/issues/2372). I do not believe this is a defect in the Emulator.

[2018-12-11 01:03] tonyanziano commented on #1136
I cut a build from my branch and tried it out, and it seems my approach breaks when inside of the packaged version.

I did some digging and it looks like Node's `child_process.spawn()` method doesn't work inside of `asar` archives. [Source](https://electronjs.org/docs/tutorial/application-packaging#executing-binaries-inside-asar-archive)

We will need to find an alternative. Maybe it's possible to

[2018-12-11 12:16] uherrmann3 commented on #366
thanks this helps,

[2018-12-11 19:22] YashashGaurav commented on #1137
I was facing the same issue. Thought it to be something related to the HTTPS request-response from the emulator and did the following that actually worked(well for the time being):

In VS2017, changed the project property(Debug) to not use SSL, and made sure I created a new .bot config for the HTTP endpoint created by IISExpress. Used that with the emulator, and it worked. Will think about HTTPS o

[2018-12-12 02:51] gabog commented on #1118
Hi, I still don't have a repro for this, but I noticed that after a reboot it starts faster, then, startup gets slower over time.
Are there any logs somewhere that I can send you with details?
Right now, it is taking about 2 minutes and 16 seconds to start.

[2018-12-12 22:13] Kaiqb opened #1166 "Bot Emulator does not show error message when it fails to load .bot file"
## Version
4.2.0

## Describe the bug
If .bot file is not valid, emulator does nothing. No warnings/errors.

## To Reproduce
If the bot file has a missing comma or other errors, the emulator should show a message indicating that it couldn't load the file because the file was invalid. Instead, it just doesn't open the file.

## Expected behavior
Show an error message to the users so that they don't

[2018-12-12 22:17] justinwilaby commented on #1166
The error messages for such occurrences are in the notifications pane. Look for a red notification count on the lower left of the emulator:
![image](https://user-images.githubusercontent.com/2652885/49902331-817e2c00-fe18-11e8-8f1a-4eb34d380608.png)

Clicking on the icon will open the notification pane and display the error:
![image](https://user-images.githubusercontent.com/2652885/49902369-98bd1

[2018-12-12 22:17] #1166 closed

[2018-12-12 22:17] tonyanziano commented on #328
Closing because users should be moving to v4. If the issue persists in v4 it can be reopened.

[2018-12-12 22:17] #328 closed

[2018-12-13 12:20] artemious7 opened #1167 ""Migration complete!" popup strong html tags"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues)

## Version
v4.2.0

## Describe the bug
I have just upgraded from Emulator v3 to v4.2.0 and "Migration complete!" window pops up. It says:

    ... saved them as <strong>.bot files</strong>...

The "strong" tag isn't handled properly and gets displayed instead of applying <strong>strong</strong> formatting.

## To Repro

[2018-12-13 18:10] JonathanFingold opened #1168 "Emulator fails to connect to QnA Maker services"
## Version
4.2.0

## Describe the bug
When I attempt to add an existing QnA Maker service via the emulator, it claims, "You have not signed up for a QnA Maker account under ${this.props.authenticatedUser}." Clicking the **Go to QnA Maker** button on the message does apparently nothing.

## To Reproduce
Steps to reproduce the behavior:
1. Create a QnA Maker KB.
1. Start a bot locally.
1. Open the b

[2018-12-13 21:48] brandonh-msft opened #1169 "LUIS Service created by Emulator is invalid"
## Version
4.2.0

## Describe the bug
I used the Services area to add a new LUIS service to my `.bot` file. When prompted, here is what I see:
![image](https://user-images.githubusercontent.com/20270743/49969506-8fe24b80-fedd-11e8-8156-384392436105.png)

**notice the lack of an area in which to put `Region`**. This results in a `NullReferenceException` when the Luis Service is attempted to be conf

[2018-12-13 22:44] justinwilaby commented on #1016
Fixed by #1113

[2018-12-13 22:44] #1016 closed

[2018-12-14 00:57] simra commented on #1137
The underlying bug here is likely that the emulator can't connect to IIS Express on localhost using a self-signed SSL cert.  This is a regression from V3.  Cert validation is valuable but we need to be able to disable it for localhost connections.

[2018-12-14 13:54] jorn1 opened #1170 "ja"

[2018-12-14 14:01] jorn1 opened #1171 "'Restart Conversation' should be 'New Conversation'"
'Restart Conversation' Button should be called 'New Conversation'.

Had me confused for 3 days. Thank you very much.

[2018-12-14 14:01] jorn1 commented on #630
Please fix this.

[2018-12-14 15:07] vishwacsena commented on #630
@jorn1, the latest emulator release (4.2) does address this with two changes.

- restart Conversation now resets both Conversation and user ID
- Optionally you can also restart a conversation and keep the same user ID

[2018-12-14 16:02] jorn1 commented on #630
But if the Conversation ID changes then it's not the same conversation right? Or is the conversation ID not the key to the conversation? why call it restart conversation if it does not restart the conversation but creates a new one???

If i tell you to restart your computer, do you shut down your computer and get another computer?? Nobody would understand it in that way.

This setup would make mor

[2018-12-14 16:54] tdurnford commented on #1170
I am closing this issue as it appears to be an incidental post. The user posted issue #1171 after posting this issue.

[2018-12-14 16:54] #1170 closed

[2018-12-14 16:56] tonyanziano commented on #1171
@mewa1024 thoughts?

[2018-12-14 17:05] mewa1024 commented on #1171
@tonyanziano Hmm. I'll label add "design" and "backlog" labels to keep an eye out for similar feedback. In the two user studies involving Emulator (pre-Build and post-Ignite), none of the participants seemed confused about the restart button, so I'm hesitant to change it without more feedback. Also the circular arrow icon is pretty common for "restart" and we've been using that icon since v3, so a

[2018-12-14 17:20] navzam opened #1172 "Unclear that emulator edits the .bot file"
## Version
Emulator version: 4.2.0

## Describe the bug
It is not clear that the emulator is essentially a manager for .`bot` files that will add/delete things from the underlying file.

## To Reproduce
I had opened a `.bot` file and wanted to close it. The only indication I had that something was open was the "development" endpoint on the left-hand side.

![1](https://user-images.githubuserconten

[2018-12-14 17:55] mewa1024 commented on #1172
@tonyanziano probably both. Adding @Kaiqb and "docs" label.

[2018-12-14 22:55] SarahSexton commented on #1163
I am referring to the former: the message under the failed message's chat bubble. "Couldn't send." Sorry for the ambiguity.

[2018-12-14 23:00] tonyanziano commented on #1163
No worries, I will move this over to the WebChat repository then because that UI is embedded in the WebChat control and out of the control of the Emulator.

[2018-12-16 14:12] rvinothrajendran commented on #1137
Use the App URL instead of SSL Url , find URL in VS -> Debug property window

[2018-12-16 15:11] vishwacsena commented on #630
Reopening for feature crew triage.

@mewa1024: @tonyanziano

[2018-12-17 03:34] sycq opened #1175 "Cannot find module 'https-proxy-agent'"
## Version

4.2.0 - windows (env: 10/64bit)

## Describe the bug

After updating to 4.2.0 from 4.1.0, I got to have following error message on the initial connect to the local bot application.

`Cannot find module 'https-proxy-agent'`

logs
[code]

## To Reproduce

1. Start a local bot server by `node index.js`, which listens http://localhost:3978/api/messages.
2. Connect to the endpoint without n

[2018-12-17 16:13] tonyanziano commented on #1171
#630 for a little more context.

[2018-12-17 16:35] tonyanziano commented on #1175
@sycq Thanks for pointing this out! We are working on the fix and will hopefully have a new version out soon. I will update this thread.

[2018-12-17 17:48] mewa1024 commented on #1118
@tonyanziano @justinwilaby adding you both as assignees so yoo get updates on this thread. I'm happy to tackle this from the design (adding a splash screen or something) but was wondering if we're also looking into reducing the startup time.

[2018-12-17 18:51] gabog commented on #1118
Thanks @mewa1024, not sure what your alias is, ping me internally if you need more details.

Gabo

From: mewa1024 <notifications@github.com>
Sent: Monday, December 17, 2018 12:48 PM
To: Microsoft/BotFramework-Emulator <BotFramework-Emulator@noreply.github.com>
Cc: Gabo Gilabert <Gabo.Gilabert@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/BotFramework-Emulator] Log time

[2018-12-17 18:56] justinwilaby commented on #1175
Fixed with #1176

[2018-12-17 18:56] #1175 closed

[2018-12-17 21:51] tonyanziano commented on #1167
Addressed in #1173

[2018-12-17 21:51] #1167 closed

[2018-12-17 22:05] ckartchner opened #1182 "Error processing argument at index 2, conversion failure from #<Object>"
## Version
I am running that latest appimage under Linux mint
BotFramework-Emulator-4.2.0-linux-x86_64.AppImage

I also reproduced the issue with:
BotFramework-Emulator-4.1.0-linux-x86_64.AppImage

## Describe the bug
When I start the Bot Framework Emulator, I see the following message:
`Error occurred while client was loading: Error processing argument at index 2, conversion failure from #<Object

[2018-12-18 00:00] tonyanziano commented on #1175
@sycq We have implemented the fix and published a new version **4.2.1** of the Emulator. Feel free to auto update to the new version via the app or grab it off [the releases page here.](https://github.com/Microsoft/BotFramework-Emulator/releases/tag/v4.2.1)

[2018-12-18 01:07] justinwilaby opened #1184 "Create and manage Blob Containers via Login UI (vs modal)"
Similar to how LUIS and QnA Maker services are retrieved and listed from Azure, do the same for Blob Containers

[2018-12-18 01:08] justinwilaby opened #1185 "Create and manage App Insights via Login UI (vs modal)"
Retrieve the list of App Insights services from Azure then display them for selection.

[2018-12-18 01:10] justinwilaby opened #1186 "Create and manage Cosmos DB Services via Login UI (vs modal)"

[2018-12-18 02:37] sycq commented on #1175
Thank you for your rapid action.
Now it works!

[2018-12-18 15:00] ckartchner commented on #1182
I was able to recover by deleting the electron app config settings.

Remove the following:
~/.config/@bfemulator/

If I figure out how to repro the problem I'll open a separate issue, but things are running smoothly for me again so I'm happy.

I also ran `git diff --no-index @bfemulator @bfemulator_original`, and didn't see any obviously bad differences with the non-binary files.

[2018-12-18 15:00] #1182 closed

[2018-12-18 19:16] #997 closed

[2018-12-18 21:50] tonyanziano commented on #1163
@compulim Tagging because this would need to be a Webchat change.

[2018-12-19 01:11] #1184 closed

[2018-12-19 13:35] agentg2007 commented on #1122
Sorry for the inactivity.
I was away for a while.

To replicate this is simple. Have a <TextBlock Color=Attention /> and it will be shown as yellow color instead of red. If you also have <TextBlock Color=Warning />, the actual text color will be red in color.
Where in an unwritten color standards, Warning is Yellow (or Amber) and Attention is Red.

[2018-12-19 13:49] agentg2007 commented on #1122
On the 2nd though, I think this is an AdaptiveCard issue rather than emulator. Don't reopen this.

[2018-12-19 18:11] tonyanziano commented on #1122
@agentg2007 could you please open an issue within the [Adaptive Cards Repo](https://github.com/Microsoft/AdaptiveCards/issues)? Thanks.

[2018-12-19 18:58] tonyanziano commented on #1118
@gabog Unfortunately we do not have any instrumentation or logs in place as of yet that track how long the startup process takes. That being said, starting up the application should never take more than 10 - 15 seconds, let alone minutes.

Could you please post the specs of your PC (CPU & RAM)? I'm curious because there was an issue posted over on the electron repo ([link here](https://github.com/

[2018-12-19 19:00] tonyanziano commented on #720
Hello, @anamariakantar , did you ever find a solution or are you still having this problem?

[2018-12-19 19:22] tonyanziano commented on #706
@rainmakerho , I have looked into this issue, and all you need to do is add an Authorization header to your POST request and it should work in the v4 emulator. The `Authorization` header is something that is required in the v3 DirectLine POST activity schema ([Directline POST schema](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-send-activity?view=a

[2018-12-19 19:22] #706 closed

[2018-12-19 19:39] tonyanziano commented on #837
@compulim This is fixed in v3 correct?

[2018-12-19 23:59] #1169 closed

[2018-12-20 01:38] rainmakerho commented on #706
@tonyanziano ,
Do I need to give token even if i use Emulator?
Do I need to issue token from botframework.com ?
Thank you.

[2018-12-20 16:14] tonyanziano commented on #706
@rainmakerho , If you are talking to a bot **through the Emulator UI**, you should not need to generate a token because auth will be handled for you by the Emulator. If it's a remote bot that you are talking to, you will of course have to supply the correct MSA App ID and Password.

If you are posting directly to the Emulated endpoint like in your original comment, then you will need to supply a t

[2018-12-20 16:17] gabog commented on #1118
Hi Tony, here is a screenshot of my computer settings:
![image](https://user-images.githubusercontent.com/12264946/50296429-7b0b3800-0448-11e9-8913-5080208afeee.png)

I doubt is related to HW, it seems to work OK after a reboot but startup perf seems to get worse over time. The only other thing I have on my machine that runs on electron is Microsoft Teams but I don't know anything about electron a

[2018-12-20 16:22] tonyanziano commented on #1118
Ok well I don't think it's hardware either. My machine has the same specs.

I will try to do some memory profiling locally and see if I notice anything unusual.

[2018-12-20 16:46] #1186 closed

[2018-12-20 22:14] justinwilaby commented on #1040
This should be resolved now. If you are still seeing an error, please reopen this issue or feel free to create a new one.

[2018-12-20 22:14] #1040 closed

[2018-12-20 22:51] justinwilaby commented on #1137
We are not likely to fix this since it may introduce security vulnerabilities and non-ssl alternatives exist. If you must run your bot locally using SSL, please consider using a free CA like https://letsencrypt.org/

[2018-12-20 22:51] #1137 closed

[2018-12-20 23:34] justinwilaby commented on #1168
Fixed

[2018-12-20 23:34] #1168 closed

[2018-12-21 01:09] justinwilaby commented on #1034
@v-kydela - Please try this again to see if the problem is fixed. Recent changes in AAD should have resolved this and a number of other AAD related issues.

[2018-12-21 03:18] rainmakerho commented on #706
Hi @tonyanziano ,
I got it.
Thank you for your help.

[2018-12-21 15:32] justinwilaby commented on #990
The `id` format Azure uses for *all* resources is a URI consisting of the following format `/subscription/<susbscriptionId>/resourceGroups/<resourceGroupId>/provider/<providerId>/<resourceType>/<userProvidedResourceName>` This guarantees unique ids for all resources.

[2018-12-21 17:51] v-kydela commented on #1034
It works like a charm! Shall we close this issue?

[2018-12-21 18:35] tonyanziano commented on #706
@rainmakerho No problem!

[2018-12-21 19:44] #1034 closed

[2018-12-21 21:54] #942 closed

[2018-12-25 16:38] artemious7 opened #1194 "Stops displaying messages upon ngrok tunnel expires"
If I don't use the Bot Framework Emulator for a few hours, but it stays open, ngrok tunnel expires when I come back and I see a notification about this.

The chat window is still **able to send messages** to my localhost bot and **even to receive replies**, but the replies are **not displayed in the chat** window. I can see them only in the LOG window, and no errors.

I have to either restart the

[2018-12-25 18:38] arieschwartzman opened #1195 "When several "Live Chat" tabs are opened, attachment is uploaded to a wrong "Live Chat""
## Version
4.2.1

## Describe the bug
When using the Attachment Prompt and you have several "Live Chat" tabs are opened, attachment is uploaded to a wrong "Live Chat". Leaving only one "Live Chat" tabs works fine.

## Screenshots
If applicable, add screenshots to help explain your problem.

## Additional context
Add any other context about the problem here.

[bug]

[2018-12-26 22:10] mark-szabo opened #1196 "POST /v3/conversations ➡ InternalServerError: Cannot read property 'appid' of undefined"
## Version
4.2.1

## Describe the bug
Bot Framework emulator is throwing a `500 InternalServerError` when posting to `/v3/conversations`, despite the same code works in a deployed bot with Microsoft Teams.

(1) The error message is `Cannot read property 'appid' of undefined`, when the request contains a valid JWT Bearer token in the Authorization header. (The JWT payload DOES contain a property ca

[2018-12-27 12:36] abhilashr1 opened #1197 "Adaptive Card ColumnSet does not render on Bot Emulator v4"
## Version
4.2.1

## Describe the bug
Adaptive Cards of version 1.1 do not render on Bot emulator. However, this works fine on webchat (preview enabled)

## To Reproduce
Nuget package and version being used:

`  <package id="AdaptiveCards" version="1.1.0" targetFramework="net46" />`

## Code Used:
[code]

## Expected behavior / Screenshots
It works fine on webchat:
![image](https://user-images.git

[2018-12-27 22:30] tonyanziano commented on #1197
@abhilashr1 We currently have an older version of WebChat mounted within the emulator which I believe to be the cause of the problem. We are working on mounting the new V4 version of WebChat, which hopefully will resolve your issue.

In the interim, I'll investigate a little deeper into this issue and confirm that it will be fixed with the newer version of WebChat.

[2018-12-27 23:04] a-b-r-o-w-n opened #1198 "welcome page steps alignment issue with small viewport"
## Version
4.2.1

## Describe the bug
On smaller viewports, the steps on the welcome page become mis-aligned.

## To Reproduce
Steps to reproduce the behavior:
1. Go to the welcome page
2. Shrink the viewport

## Expected behavior
Steps should be aligned on all sizes.

## Screenshots
![screen shot 2018-12-27 at 2 48 20 pm](https://user-images.githubusercontent.com/3619060/50496948-89c59200-09e8-11

[2018-12-27 23:47] compulim commented on #1197
## Note to investigators

- Check if the Adaptive Card JSON is working on Web Chat v3 (with AC 1.0)
   - If yes, investigate further to see why it is breaking
   - If no, figure out our AC compat/bump story

[2018-12-31 08:10] dipesh-wadhwa commented on #822
Facing same issue in Bot Emulator version 4.2.1.
Please correct me If I am wrong. I am assuming we don't need to do any settings in Bot Emulator to support mention (@).

[2018-12-31 16:42] justinwilaby commented on #1196
@mark-szabo -

To clarify, you are posting to the Emulator via Postman a request that was originally generated via a locally running bot as a response to an activity from the user?

[2018-12-31 17:11] justinwilaby commented on #1163
Wouldn't the message in the log panel provide sufficient information about the error? The message under the chat bubble is not meant to be comprehensive and probably should not be due to the limited  screen real estate.

[2018-12-31 17:16] justinwilaby commented on #1091
@paulmains - can you please confirm this has been fixed with the bump to WebChat 4.0 in our nightly release?

[2018-12-31 20:12] justinwilaby commented on #1118
I went ahead and profiled this on the main thread and didn't see anything that stood out. Startup times fell solidly between 4.7 and 5.2 seconds across 5 attempts.

@gabog - Can you check your task manager to see if the Emulator process is hanging around after it has been closed? We had an ominous email from a user a few weeks back who said they saw the Emulator continuing to run even after it had

[2018-12-31 20:42] justinwilaby commented on #1194
ngrok is bypassed with localhost connections.

@artemious7 - Do you have multiple chat windows open with at least one connecting to a remote bot? Does the "reconnect" button in the notifications panel not work?

[2018-12-31 20:59] justinwilaby commented on #598
To add to the above clarification, we currently have the ability to replay entire transcripts in the Emulator but the user activities are not sent to a bot's endpoint therefore the bot is not aware of the playback.

This feature is meant to replay user activities by sending each one to the bot's endpoint and waiting for the bot's response before sending the next one for the purpose of regression t

[2018-12-31 21:17] artemious7 commented on #1194
You are right, I forgot it's bypassed, but anyway it is somehow related. Or maybe there is some other time out...

I remember having only one chat window.
Reconnect button works. But I didn't have to do that on v3.

[2018-12-31 21:39] a-b-r-o-w-n opened #1204 "unable to scroll in the LUIS inspector"
## Version
4.2.1

## Describe the bug
Unable to scroll in the LUIS inspector pane when trace result overflows.

## To Reproduce
Steps to reproduce the behavior:
1. With a LUIS enabled bot, start a conversation.
2. Click on trace activity in the log pane.
3. Attempt to scroll to see full trace

## Expected behavior
Users should be able to scroll when anything inside the inspector pane overflows.

[2019-01-02 14:10] gabog commented on #1118
Hi @justinwilaby , the issue is sporadic and hard to repro, I will take a look at task manager the next time it happens and will report back.

Thanks

[2019-01-02 16:50] justinwilaby commented on #1196
@mark-szabo - Happy new year to you too!

I can't seem to repro this issue. All proactive messaging from my test bot seem to work as expected :(

If you have a free moment, I'd like to walk you through debugging on the Emulator to hunt down the culprit on a screen share or teams call. Feel free to reach out to me anytime and I look forward to talking with you!

[2019-01-02 18:55] #1037 closed

[2019-01-02 18:56] tonyanziano commented on #1037
Addressed in #1200

[2019-01-02 21:19] #1198 closed

[2019-01-02 22:28] a-b-r-o-w-n opened #1206 "Upgrade webchat component to V4"

[2019-01-02 22:45] mark-szabo commented on #1196
So while debugging with @justinwilaby, we discovered the following bugs/question marks:

1. On the above mentioned [line](https://github.com/Microsoft/BotFramework-Emulator/blob/4b620e3367938243a70fada026654280727b7beb/packages/emulator/core/src/conversations/middleware/getBotEndpoint.ts#L64) the `payload` property of `jwt` is not necessary, `appid` is directly contained in `jwt`.

[code]

2. In `

[2019-01-02 23:01] cwhitten commented on #1163
Hello!

This is going to be addressed in the Offline UI set of stories in the WebChat project [here](https://github.com/Microsoft/BotFramework-WebChat/issues/135)

[2019-01-02 23:01] #1163 closed

[2019-01-02 23:15] cwhitten commented on #1195
Pending reproduction

[2019-01-02 23:48] cwhitten commented on #871
@mewa1024 Can you comment on this when you get a moment?

[2019-01-02 23:49] cwhitten commented on #837
Addressed in #901

[2019-01-02 23:49] #837 closed

[2019-01-02 23:54] cwhitten commented on #822
Channel support for channel-specific mentions is something we are considering down the road in future releases.

[2019-01-02 23:54] #822 closed

[2019-01-02 23:56] cwhitten commented on #720
Closing due to inactivity

[2019-01-02 23:56] #720 closed

[2019-01-02 23:57] cwhitten commented on #713
@mewa1024 can you take a look at this?

[2019-01-03 00:06] cwhitten commented on #637
Hello @DHOFM can you provide some repro steps?

[2019-01-03 00:07] cwhitten commented on #634
@stevengum any updates here? :)

[2019-01-03 00:10] cwhitten commented on #54
Closing, no plans to implement.

[2019-01-03 00:10] #54 closed

[2019-01-03 00:10] cwhitten commented on #82
Closing as stale.

[2019-01-03 00:10] #82 closed

[2019-01-03 00:11] cwhitten commented on #95
Closing as a WebChat consideration

[2019-01-03 00:11] #95 closed

[2019-01-03 00:12] cwhitten commented on #105
Closing for lack of activity

[2019-01-03 00:12] #105 closed

[2019-01-03 00:13] cwhitten commented on #115
Closing for lack of activity

[2019-01-03 00:13] #115 closed

[2019-01-03 00:14] cwhitten commented on #118
Closing for lack of activity

[2019-01-03 00:14] #118 closed

[2019-01-03 00:19] cwhitten commented on #133
Closing for lack of activity

[2019-01-03 00:19] #133 closed

[2019-01-03 00:20] cwhitten commented on #151
Not reproducible on current BotFramework-Emulator v 4.2.1, closing.

[2019-01-03 00:20] #151 closed

[2019-01-03 00:21] cwhitten commented on #187
Closing as stale.

[2019-01-03 00:21] #187 closed

[2019-01-03 00:23] #173 closed, assigned to nobody

[2019-01-03 00:30] corinagum commented on #634
@meksikann Sorry for the delay in getting back to you.
Bing Speech underwent a big [API update](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech) to Speech Services back at this year's Ignite. Because of this, Bing Speech no longer allows the creation of new speech bots, and Bing Speech will be deprecated in 10/2019.

Our plan is to have **Sp

[2019-01-03 00:30] #634 closed

[2019-01-03 00:41] corinagum commented on #1141
Bing Speech underwent a big [API update](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech) to Speech Services back at this year's Ignite. Because of this, Bing Speech no longer allows the creation of new speech bots, and Bing Speech will be deprecated in 10/2019.

Our plan is to have **Speech Services** supported (through the latest Web Chat)

[2019-01-03 00:41] #1141 closed

[2019-01-03 00:42] corinagum commented on #1197
Progress for updating Web Chat on Emulator to v4 can be tracked [here](https://github.com/Microsoft/BotFramework-Emulator/issues/1206).

[2019-01-03 00:54] corinagum commented on #1135
Hi @GaebsterSoft sorry for the late reply!
Right now speech is not supported on Emulator, but is available in v4 of Web Chat. We hope to have an Emulator update with Web Chat v4 very soon. Progress for updating Emulator to v4 can be tracked [here](https://github.com/Microsoft/BotFramework-Emulator/issues/1206).

If you are interested in doing a presentation with Speech Services on a bot, and you d

[2019-01-03 00:54] #1135 closed

[2019-01-03 02:31] cwhitten commented on #279
Addressed in https://github.com/Microsoft/BotFramework-WebChat/issues/939. Closing.

[2019-01-03 02:31] #279 closed

[2019-01-03 02:31] cwhitten commented on #281
Closing due to lack of activity.

[2019-01-03 02:31] #281 closed

[2019-01-03 02:32] cwhitten commented on #282
@compulim is this stale? Should we close it?

[2019-01-03 02:32] cwhitten commented on #283
Closing for lack of activity.

[2019-01-03 02:32] #283 closed

[2019-01-03 02:34] cwhitten commented on #285
Closing in lieu of @AskYous 's workaround.

[2019-01-03 02:34] #285 closed

[2019-01-03 02:35] cwhitten commented on #488
Try setting `process.env.AzureWebJobsStorage`. See https://github.com/Microsoft/BotFramework-Emulator/issues/285 for more context.

[2019-01-03 02:35] #488 closed

[2019-01-03 02:38] cwhitten commented on #302
Closing due to lack of activity.

[2019-01-03 02:38] #302 closed

[2019-01-03 02:43] cwhitten commented on #329
@joe90mizuno was your issue ever addressed?

[2019-01-03 02:43] cwhitten commented on #306
closing in lieu of https://github.com/Microsoft/BotFramework-Emulator/issues/329

[2019-01-03 02:43] #306 closed

[2019-01-03 02:47] cwhitten commented on #317
Stale. Closing.

[2019-01-03 02:47] #317 closed

[2019-01-03 02:49] cwhitten commented on #335
Closing due to lack of activity. Appears to have been incorrect is/secret settings.

[2019-01-03 02:49] #335 closed

[2019-01-03 02:53] cwhitten commented on #341
@holgerkyas were you able to resolve your issue?

[2019-01-03 03:06] cwhitten commented on #345
@joe90mizuno are you still seeing this issue on the latest version of the Emulator? (v4.2.1)

[2019-01-03 03:06] cwhitten commented on #346
Closed as a WebChat issue and lack of activity.

[2019-01-03 03:13] cwhitten commented on #363
Addressed in https://github.com/Microsoft/BotFramework-Emulator/pull/408, closing.

[2019-01-03 03:13] #363 closed

[2019-01-03 03:16] cwhitten commented on #379
@yogiderek is this still an issue for you in the latest version of the Emulator?

[2019-01-03 03:32] cwhitten commented on #421
Closing due to lack of activity.

[2019-01-03 03:32] #421 closed

[2019-01-03 03:33] cwhitten commented on #422
@munivinayk Were you able to resolve your issue?

[2019-01-03 03:33] cwhitten commented on #422
This issue appears to be better suited for Stack Overflow. Closing.

[2019-01-03 03:33] #422 closed

[2019-01-03 03:34] cwhitten commented on #432
This issue appears better suited on Stack Overflow. Closing.

[2019-01-03 03:34] #432 closed

[2019-01-03 13:05] vinayak99999 commented on #76
I am facing the same issue. Any solution?

[2019-01-03 18:06] compulim commented on #282
@tansong0091 sorry we missed this issue, is it still an ongoing issue?

[2019-01-03 20:33] mewa1024 commented on #1206
Adding @DesignPolice to this as well for updates to the visual design.

[2019-01-03 20:45] mewa1024 commented on #1127
@cwhitten can we promote this to a P1 for 4.3?

[2019-01-03 21:55] cwhitten commented on #1127
Yes I think this makes sense to add for 4.3. Do you have any guidance on the messaging or additional UX consideration?

[2019-01-04 21:03] gabog commented on #1141
OK, I will wait for the new emulator but this issue is very similar with the an issue we have when using webchat on edge (it does work fine in chrome). Hopefully the rewrite to use the new API makes things better (but I wouldn't dismiss this as a Bing speech issue, there seems to be something else going on).

[2019-01-04 21:20] corinagum commented on #1141
@gabog if you are able to repro on Web Chat via Edge, this definitely sounds like a Web Chat issue - thanks for clarifying. Unfortunately I'm not able to transfer issues over to that repo -- if you manage to pin down more detailed reproduction steps, could you file this issue over there, listing those steps and any error messages you see in the console? Unfortunately debugging a bot that stops wor

[2019-01-04 22:14] cwhitten opened #1209 "Emulator v4 - Bot connection without .botfiles"
Users are experiencing friction having to gain knowledge of .botfiles before interacting with bots. We want to make this easier.

We will update the New Bot dialog to allow a user to connect via url in addition to existing connection dialogs, and give them the option to persist the .bot file that the Emulator will generate for the session, but not require it.

[2019-01-07 14:34] justinwilaby commented on #771
To implement this, we can use a [custom script](https://www.electron.build/configuration/nsis#custom-nsis-script) and the [technique described here](https://stackoverflow.com/questions/42277191/add-nsis-script-with-electron-builder-to-run-dpinst-exe-during-install).

[2019-01-07 16:59] simra commented on #1137
Sorry to comment on a closed issue but I wonder if you can describe the security risk.  Every major browser allows for localhost https connections using self-signed certificates.

[2019-01-07 22:10] drub0y opened #1212 "Emulator fails to respond to OAuth emulation request"
## Version
4.2.146328

## Describe the bug
I'm using an `OAuthPrompt` in my bot to prompt the user to sign in and, during the course of execution, one of the things that obviously does is call out to get the user token to see if they're already authenticated. This HTTP call initiates, but there is never a response and thus the connection hangs until it times out.

Specifically, when I execute my b

[2019-01-08 15:40] cwhitten opened #1213 "New user experience - including sample resources in the Welcome tab"
Currently developers need to manually go look at and download the sample/samples they are interested in. It is many steps to local bot startup that can be streamlined a bit. We could introduce some UI/UX on the Welcome page to guide them to the samples, or even download and boot-up a sample automatically for them in the Emulator.

I propose we introduce something small like a link(s) out to the sa

[2019-01-08 17:00] robert4os commented on #1140
I am using v3.15.2.2 and I just noticed this problem. 3.15 was released 8 months ago! I wonder, how this problem went unnoticed for so long? Will there be a fix for v3 too?

[2019-01-08 18:39] cwhitten opened #1214 "Gracefully reopen an already open botfile"

[2019-01-08 18:39] cwhitten commented on #1214
Addressed in https://github.com/Microsoft/BotFramework-Emulator/pull/1203

[2019-01-08 18:39] #1214 closed

[2019-01-08 20:00] #1196 closed

[2019-01-08 20:12] tonyanziano opened #1216 "Clicking same transcript in resources pane overwrites tab title"
## Version
4.2.1

## Describe the bug
When you have a transcript tab open after clicking on a transcript in the Resources Pane, if you click the same transcript again in the Resources pane, the transcript's tab text is overwritten with "Transcript" instead of the filename.

## To Reproduce
Steps to reproduce the behavior:
1. Open a bot with available transcripts in the transcript resources path
2.

[2019-01-08 20:31] justinwilaby commented on #1212
Confirmed repro. Looking into root cause.

[2019-01-08 21:56] mewa1024 commented on #1172
pending larger discussion about the .bot file in general.

[2019-01-08 22:10] mark-szabo commented on #1196
Awesome, thank you @justinwilaby for fixing this! 🙌

[2019-01-09 02:48] mewa1024 commented on #598
changed the name of the bug from "replay transcript" to "use transcript" to make it clear we're not talking about playing/replaying a transcript for demo purposes.

[2019-01-09 05:59] tsukkee commented on #750
I tried with 4.2.1 and found there is no error message like "Cannot read property 'startsWith' of null".
But, `messageBack` buttons does NOT look work correctly. Nothing happens when I pushed the button.
Is this intended behaviour of the emulator?

[2019-01-09 16:51] #1212 closed

[2019-01-09 17:22] corinagum commented on #750
@tsukkee `messageBack` is not yet supported in Web Chat, and therefore the same with Emulator. However, the [work for supporting `messageBack` on Web Chat](https://github.com/Microsoft/BotFramework-WebChat/issues/1402) is in the works, and when Emulator is upgraded to version 4 of Web Chat [(also in-flight)](https://github.com/Microsoft/BotFramework-Emulator/issues/1206), `messageBack` behavior wi

[2019-01-09 22:03] justinwilaby opened #1220 "Update Emulator to Use Electron 4.x"
Internal MS builds of Electron 4.x should be available at the end of Jan, 2019

[2019-01-10 06:39] tsukkee commented on #750
@corinagum I understand and will watch that issue. Thank you!!

[2019-01-10 15:53] tonyanziano commented on #1220
Whoa! 🎉

[2019-01-11 20:18] dmvtech opened #1223 "Emulator - Inspector pane should clear after Restart conversation."
**Describe the solution you'd like**
If one has previously selected an error in log pane that then shows in the Inspector pane, the error is kept after clicking the Restart conversation button. Expected that Inspector pane should clear/reset when conversation is reset. Optionally a setting to allow to clear or not on Restart conversation.

[enhancement]

[2019-01-11 22:12] mikeroyal opened #1224 "Snap package support"
I was thinking the install and setup could be improved for Ubuntu and other Linux distros by having a [snap package](https://snapcraft.io/) version. If it's not a priority would you mind if I made the snap as a contribution?

[Crafting your first snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Build and test snap](https://snapcraft.io/build)

[Getting Started snap template]

[2019-01-12 01:18] mewa1024 commented on #1172
We should show a modal dialog along the lines of
"Remove <foo> from your .bot file? This action cannot be undone."
[ ] Don't show this warning again.

[ cancel ] [ Yes, remove it ]"

[2019-01-14 21:21] a-b-r-o-w-n commented on #937
I want to be clear about the expectations on this. The current work to update to WebChat v4 (#1219) will include adding dark and high-contrast themes to web chat, but does not yet allow users to provide their own theme. Does that cover this issue or is this more about allowing user's to customize the look of webchat in the emulator?

[2019-01-14 23:02] mewa1024 commented on #937
@a-b-r-o-w-n I believe this issue was intended to support color themes in Emulator: light, dark, and high contrast.

[2019-01-14 23:16] compulim commented on #429
## Note to fixer

- [ ] Add UI to able to set few things in UI
   - [ ] Speech Services subscription token
   - [ ] CRIS endpoint
   - [ ] Voice font

[2019-01-15 00:10] cwhitten commented on #1224
Thank you for the suggestion @mikeroyal! We'd welcome a contribution providing this.

[2019-01-15 11:53] mrThirsty opened #1226 "Unable to Create new .Bot file in Emulator on Mac"
I downloaded the latest Mac OS version (4.2.1) of the emulator. I am following the "Getting started" article, and it says I must click "Create new Bot configuration File" on the welcome screen or in the menu, but there are no options in the menu structure and I have no welcome screen available to me either.

Please can this be corrected cause I am unable to connect to a bot unless I have a bot fil

[2019-01-15 12:35] mrThirsty commented on #1226
Turns out a restart of my machine corrected the issue and I am able to create a new bot config file.

[2019-01-15 12:35] #1226 closed

[2019-01-15 16:31] a-b-r-o-w-n opened #1227 "update segoe-ui font"
@mewa1024 noticed that the font weight of the default font used in the emulator is too light. I investigated a little and determined that `segoe-ui.woff2` is the issue. Let's grab the latest font files from [sharepoint](https://microsoft.sharepoint.com/teams/designhub/Shared%20Documents/Forms/AllItems.aspx?FolderCTID=0x0120002B4EAD2A14F352469772C34725956F32&viewid=4bc2d24f-b13d-4e60-9880-b4ed04f2b

[2019-01-15 16:43] a-b-r-o-w-n opened #1228 "[Emulator UI]: Tab Icons not displaying correctly on Mac"
![image](https://user-images.githubusercontent.com/3619060/51195159-5ff1e380-18a1-11e9-8ec1-5efaebf66f96.png)

[2019-01-15 16:54] a-b-r-o-w-n opened #1229 "[dev only] when webpack recompiles, extensions stop working"
This only happens in the development environment, but is a poor developer experience.

There are some other improvements that can be made as well:
  - [x] Resume UI state after webpack recompiles
  - [ ] Be able to make changes to emulator core without rebuilding & restarting
  - [ ] maybe more...

[2019-01-15 18:06] corinagum commented on #643
I'm a little late to the party but I was reading through our related email thread from the new year Hackathon. I gathered:
- Web Chat / Direct Line and Emulator have different behaviors, and both are considered 'acceptable' at this time
- The goal is to update Web Chat and Direct Line to behave like the emulator, with one ConversationUpdate event instead of 2.
- There is a workaround where @compul

[2019-01-15 20:02] a-b-r-o-w-n opened #1231 "update adaptive cards styling to match themes"

[2019-01-16 00:23] justinwilaby opened #1234 "Remove Checks for `members` on the Create Conversation API"
Relax validation for the `v3/conversation` post when creating a conversation to remove the checks for the members param. This will make it much easier to emulate proactive messaging when bot initialized conversations are required.

[2019-01-16 00:24] cwhitten opened #1235 "Move to prettier & eslint"
This will increase developer happiness and speed up productivity both in development and code review!

[2019-01-16 17:10] #1209 closed

[2019-01-16 17:18] justinwilaby commented on #1223
I would expect the inspector and log panes to normalize when a conversation is restarted. Tagging this as a bug and a possible regression.

[2019-01-16 18:12] tonyanziano opened #1236 "[Telemetry Compliance] First-time splash page / modal for Telemetry. Docs page as well."
We need a first-time splash page or modal telling the user about how our telemetry works and what we are collecting, as well as how to opt out of the data collection.

We also need a docs page that we can link to; the settings page will have the same link. Currently the link points to [https://aka.ms/bot-framework-emulator-data-collection]().

Here is what the app settings UI looks like:

![image]

[2019-01-16 19:06] #1234 closed

[2019-01-16 20:35] cwhitten opened #1237 "Connect to a bot without a .bot file - revisions"
In the Services pane, replace the `Open Bot` button with copy that says:

The Services caret is default _expanded_ and the content inside is the following:

on click of `open a .bot file` - the system file browser opens with .bot files available for selection, and opens the .bot file when the user clicks the enabled `Choose file`

on click of `create a new bot` - the New bot modal opens with the u