[2019-09-18 23:53] tonyanziano opened #1876 "[4.6 Tracking] Implement HTML App Menu"
Addresses the following accessibility issues:

#1802, #1803, #1804

Work to be completed:

- [X] Disable native menu for Windows
- [x] Implement menu widget
- [x] Implement app menu component (File, Debug, Edit, etc.) that hooks into and uses menu widget
- [x] A11y
- [x] Wire up menu functionality / state
- [x] Theming / styling
- [x] Polish
- [x] Tests

[2019-09-19 00:21] Edwardenis commented on #1851
I Downloaded the Bot Emulator version 4.4.0 and is working. In this version, it doesn't have the confirm alert...

@mdrichardson can you test the OAuth example using AADv2? I really want to use the last version of the emulator but it seems like is not working with AADv2

[2019-09-19 00:27] Edwardenis commented on #1851
@BeMor81 could you provide the version of the emulator that you used? I'm using emulator version 4.5.2 with AADv2 and is not working either

[2019-09-19 06:12] Kumar2608 commented on #1833
Verified in latest Bot emulator version -4.5.2-79718 with NVDA(2019.2) issue got fixed hence we are closing this bug.
Now NVDA is reading the Navigation ,Main and Primary region Landmarks

[2019-09-19 06:12] #1833 closed

[2019-09-19 06:20] Kumar2608 commented on #1823
Verified in latest Bot emulator version -4.5.2-79718 with NVDA(2019.2) issue partially fixed. hence we are reactivating this bug.
For note section issue  still repro'ing .
Please refer the above attachment: Usability_Live Chat. Zip
Welcome Bot Framework Emulator ->Create new bot configuration ->Live chat dialog
Type your message text is reading the twice

[2019-09-19 06:23] Kumar2608 commented on #1818
Verified in latest Bot emulator version -4.5.2-79718 with NVDA(2019.2) issue got fixed hence we are closing this bug.
Now NVDA is reading the state for 1.Root 2. Channel Data 3. Conversation 4.Entities 5.From 6.recipient

[2019-09-19 06:23] #1818 closed

[2019-09-19 07:25] Kumar2608 commented on #1816
Verified in latest Bot emulator version -4.5.2-79718 .Issue got fixed hence we are closing this bug.

[2019-09-19 07:25] #1816 closed

[2019-09-19 07:29] Kumar2608 commented on #1812
Verified in latest Bot emulator version -4.5.2-79718 .Issue got fixed hence we are closing this bug.
Now Service Name and Service URL they are defined .

[2019-09-19 07:29] #1812 closed

[2019-09-19 07:33] Kumar2608 commented on #1811
Verified in latest Bot emulator version -4.5.2-79718 .Issue got fixed hence we are closing this bug.
Now Close button is not cropped and scrollable .

[2019-09-19 07:33] #1811 closed

[2019-09-19 08:30] Kumar2608 commented on #1793
Verified in latest Bot emulator version -4.5.2-79718 with NVDA(2019.2) .Issue still reproing hence reactivating this bug .
In browse mode NVDA is not navigating to the heading of the dialog window in logical order present in the Resource setting for this bot

[2019-09-19 08:37] Kumar2608 commented on #1778
Verified in latest Bot emulator version -4.5.2-79718 with NVDA(2019.2) .Issue still reproing hence reactivating this bug .
NVDA is reading as Browse link only .

[2019-09-19 08:43] Kumar2608 commented on #1765
Verified in latest Bot emulator version -4.5.2-79718 .Issue got fixed hence we are closing this bug.
Now  Visual focus indicator clearly visible for “Privacy statement link”

[2019-09-19 08:43] #1765 closed

[2019-09-19 08:53] Kumar2608 commented on #1750
Verified in latest Bot emulator version -4.5.2-79718 .Issue partially fixed. hence we are reactivating this bug
Now NVDA is reading as Restart conversation sub menu 2 of 3 but state is not announcing.

**Expected:** NVDA should read as "Restart conversation sub menu 2 of 3 expanded\Collapsed .

[2019-09-19 08:58] BeMor81 commented on #1851
@Edwardenis I'm using 4.3.0

[2019-09-19 09:01] Kumar2608 commented on #1749
As per developer comments We are closing this bug .

[2019-09-19 09:01] #1749 closed

[2019-09-19 09:10] Kumar2608 commented on #1744
As per developer comments We are closing this bug.

[2019-09-19 09:11] #1744 closed

[2019-09-19 09:15] Kumar2608 commented on #1741
Verified in latest Bot emulator version -4.5.2-79718 .Issue partiall fixed .Hence we are reactivating this bug
When we cancel the dialogs focus is moves to bot explorer control instead of respective dialog controls.

[2019-09-19 09:19] Kumar2608 commented on #1725
Verified in latest Bot emulator version -4.5.2-79718 .Issue partiall fixed .Hence we are reactivating this bug
When we cancel the dialogs focus is moves to bot explorer control instead of respective dialog controls.
Example: When we cancel the Open bot dialog focus should stay on Open bot control only instead of moving to the Bot explorer control.

[2019-09-19 09:39] Kumar2608 commented on #1712
Verified in latest Bot emulator version -4.5.2-79718 .Issue partially fixed .Hence we are reactivating this bug
Issue still repro'ing for "1.ngrok 2.wikipage 3.Privacy statement" links and check boxes
Please refer the attachment:1712.png
![1712](https://user-images.githubusercontent.com/53518994/65232764-546d5100-daef-11e9-8edb-780552c26e97.png)

[2019-09-19 09:43] Kumar2608 commented on #1762
Verified in latest Bot emulator version -4.5.2-79718 .Issue got fixed hence we are closing this bug.

[2019-09-19 09:43] #1762 closed

[2019-09-19 10:02] Kumar2608 commented on #1817
Verified in latest Bot emulator version -4.5.2-79718 . Issue got fixed hence we are closing this bug.
Tooltips are defined for "Previous ,Next and Show diff controls"

[2019-09-19 10:02] #1817 closed

[2019-09-19 10:12] Kumar2608 commented on #1819
Verified in latest bot emulator Version 4.5.2-79718 with NVDA(2019.2) and issue has partially fixed .Hence reactivating the bug
Now NVDA is reading as "Previous button previous"
Same for Next and show diff controls

**Expected:** NVDA should read as "Previous button bot state tooltip:previous"

[2019-09-20 10:31] Barakansanya commented on #193
@tonyanziano thanks for your update, but surprisingly ENOUGH version 4.3.0 works on my 32 bit Windows OS

[2019-09-20 11:59] Kumar2608 commented on #1743
Verified in latest bot emulator Version 4.5.2-79874 and issue got fixed .Hence we are clsoing this bug.
Now Luminosity Ratio for Learn more ,Hide and copy controls  >=4.5:1

[2019-09-20 11:59] #1743 closed

[2019-09-20 17:27] tonyanziano commented on #193
@Barakansanya yes I believe Emulator v4 supported 32-bit Windows until either 4.4 or 4.5

[2019-09-20 18:28] tonyanziano commented on #1717
@awalia13 @Kumar2608

I'm confused about what the issue is here. The bug title, description, and comments are referring to 2 completely different bugs.

1. The tab control is not reading the "selected" state. I have tested this with the latest Emulator, and I cannot reproduce the issue. It is reading correctly:

and when navigating to the settings tab that is selected:

on select:

2. The second b

[2019-09-20 18:37] tonyanziano commented on #1717
After looking into the issue further, the reason it was reopened was because the selected state of the user message needs to be narrated as well. It was unclear that this was also part of the original bug.

[2019-09-20 18:38] tonyanziano commented on #1725
This is related to #1876

[2019-09-20 18:44] awalia13 commented on #1717
Hi Tony, if same type of issue repro on another control then we generally log the single bug and mention it in Note section. This is the common practice we follow. Now the main issue has fixed but the issue mentioned in Note Section is not fixed.
Sorry for the confusion.

[2019-09-20 18:48] tonyanziano commented on #1717
@awalia13 thanks for the quick reply. I didn't realize at first that the second instance of the issue was also included in this bug.

[2019-09-23 16:45] carlosscastro commented on #1755
@garypretty any updates?

[2019-09-23 16:47] carlosscastro commented on #1837
@ygizhitsa any updates? Following up from @tonyanziano above,

[2019-09-23 17:09] corinagum commented on #1712
I checked this in my PR https://github.com/microsoft/BotFramework-Emulator/pull/1877, and the focus is fixed to the darker blue. I'm assuming the page got fixed sometime inbetween PR #1783 and #1877

[2019-09-23 17:26] corinagum commented on #1750
@Kumar2608 or @awalia13, could you provide feedback on how best to resolve this issue? The code has `aria-expanded` applied to both states on this widget. As far as I know we don't have a way of forcing the screen reader to read that state out. Please see below for code showing aria-expanded true and false in both states.
![image](https://user-images.githubusercontent.com/14900841/65447697-035da58

[2019-09-23 18:04] garypretty commented on #1755
Sadly the only solution I found  was to blow away my machine and rebuild. This did solve it though so I'm assuming it was a local environment issue.

[2019-09-23 20:07] awalia13 commented on #1750
Had a call with @corinagum. Please find below details.
Code seems good to me. NVDA support aria-haspopup attribute and take precedence over aria-expanded when both attributes are getting used. Because of aria-haspopup attribute NVDA is reading it as Submenu and when control goes to menuitems at that time it is providing full information of menu items along with position which is fine. Hence closin

[2019-09-23 20:07] #1750 closed

[2019-09-23 20:16] corinagum commented on #1823
I will be implementing the fix for the sendbox ("Type your message") being read twice on Web Chat. Therefore my fix will not be available to Emulator until Web Chat is bumped, which should be at the same time that #1759 is fixed. For reference I will link the Web Chat PR that contains this fix below.

[2019-09-23 21:57] cwhitten commented on #1755
@garypretty thanks for the update, even if inconclusive. I'd like to close this for now, but please re-open if someone comes in with a reproduction steps that we can use to find a RCA.

[2019-09-23 21:57] #1755 closed

[2019-09-24 11:25] Kumar2608 commented on #1849
Verified in latest bot emulator version 4.5.2-79874 with NVDA(2019.2) issue got fixed. Hence we are closing this bug.
Now NVDA is narrating the alert message and focus is moves to the expected control.

[2019-09-24 11:25] #1849 closed

[2019-09-24 11:35] Kumar2608 commented on #1730
Verified in latest bot emulator version 4.5.2-79874 with NVDA(2019.2) issue still repro'ing . Hence we are reactivating this bug.
Still NVDA is not narrating the error message information when the user enter the invalid data .

[2019-09-24 13:16] #1820 closed

[2019-09-24 23:03] anusharavindrar commented on #1684
While testing the multi-turn-prompt C# sample on the emulator v4.5.2, I found that the retry prompt isn't showing up when I enter an invalid value for the age the second time. Instead, it waits for me to enter the value within the accepted bounds and then proceeds with the next steps. The retry prompt is displayed only once. However, when I test it on the lower version(v4.3.3), it works just fine

[2019-09-24 23:18] cwhitten commented on #1684
Hi @anusharavindrar. Thank you for re-opening this. If you look at the log panel in your screenshots, the Activity holding the invalid value message is getting sent in to the Emulator in both versions correctly, and you can inspect it normally. What isn't showing up is the message in the chat control. This is a bug and something we will fix.

Cheers

[2019-09-24 23:18] v-kydela commented on #1684
My suspicion is this:

1. The retry prompt is first set to an activity with no ID, generated by `MessageFactory.Text`.
2. Once the retry prompt gets sent, the Emulator generates an ID and returns that in the response, which the turn context then [assigns](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/TurnContext.cs#L267-L277) to the activity that's set

[2019-09-24 23:47] compulim commented on #1684
@v-kydela Are you saying the following highlighted activities have same activity ID? For example, can you repro it in Emulator and click on the highlighted rows and check?

![image](https://user-images.githubusercontent.com/1622400/65558138-72b9bf00-deea-11e9-8619-0d2a38d7fe84.png)

If yes, Web Chat will merge them into a single entry. And we would need to fix it in Emulator.

[2019-09-25 00:22] v-kydela commented on #1684
@compulim - Yes. [This customer](https://stackoverflow.com/questions/58082537/why-does-the-retry-prompt-only-show-once) has already done that detective work.

[2019-09-25 21:29] tonyanziano commented on #1793
@awalia13 @Kumar2608

I can't repro this on version 4.5.2-79718 or 4.5.2-79874 using NVDA 2019.2.

Can you please tell me exact step-by-step instructions on how you are encountering this issue?

When I enter Browse mode, and open the dialog, the narrator reads "Resource settings for this bot dialog." Also, my narrator does not get stuck on repeatedly narrating "blank" after it reaches the last con

[2019-09-25 21:38] tonyanziano commented on #1810
@awalia13 @Kumar2608

[According to another person from the accessibility team](https://github.com/microsoft/BotFramework-Emulator/issues/1793#issuecomment-529446089), this is the expected behavior in browse mode:

Focus stops at the last control here, which is the GitHub link.

[2019-09-25 23:19] awalia13 commented on #1793
@tonyanziano  - We will look into this and provide guidance on priority.
@Kumar2608  - Please provide the single video from start which includes Version of Bot Emulator/NVDA Version and steps to replicate the issue.

[2019-09-25 23:30] awalia13 commented on #1810
@tonyanziano  -  Agree with you hence closing the bug. In modal dialog it should go to the first control after reaching last control but not on the pages.

[2019-09-25 23:30] #1810 closed

[2019-09-26 11:17] Kumar2608 commented on #1793
Verified in latest Bot emulator version -4.5.2-80608 with NVDA(2019.2) .Issue still repro'ing hence reactivating this bug .
In browse mode NVDA is not navigating to the "Resource settings for this bot "heading after close button.
**Current focus order(Browse mode)**: Close button->Locations for scripts ->Text field->Browse control->Locations for Transcripts
**Expected focus order(Browse mode)**: C

[2019-09-26 13:07] Kumar2608 opened #1881 "[MAS2.1.2][Keyboard Navigation- Welcome Tab screen] Focus gets trapped on first and last element of the page when user navigates through the page."
**Actual Result:**
After last interactive element of the pane i.e. "View analytics" the focus should land on the first interactive element but the focus gets trapped on "View analytics".
Same issue observed when we navigate with "Shift + Tab" in backward navigation, the keyboard focus gets trapped at the first interactive element i.e. "Bot Explorer".

**Expected Result:**
After last interactive el

[2019-09-26 14:39] darrenj opened #1882 "Review HTTP 429 (Too Many Requests) error handling"
## Version
4.5.2-79874 (but affects older versions)

## Describe the bug
There are increasing instances whereby ngrok increasingly sends HTTP 429 Too Many Requests even when the user is not generating many messages. It's hard to pin down / repro but seems that a given instance on a machine gets heavily throttled long term. Creating a free ngrok account and applying an auth token appears to resolve

[2019-09-26 17:28] awalia13 commented on #1793
@tonyanziano  - Team has uploaded the video. feel free to ping me if you have any questions.

[2019-09-26 17:43] awalia13 commented on #1881
@tonyanziano  - We found this issue in MAC only.

[2019-09-26 18:23] tonyanziano commented on #1848
After testing, this is how context menus in Chrome are narrated. I tested out the context menu in Windows, and all it says when opened is "Context menu."

The narrator doesn't describe what the context menu is related to on native Windows OS. For example, if I right click on my Windows desktop, the narrator says "Context menu," it does not say "Desktop context menu."

This services context menu fa

[2019-09-26 19:59] corinagum commented on #1823
This was closed on accident when my PR was merged in Web Chat, above. Keeping this open intentionally until Web Chat is bumped on Emulator.

[2019-09-26 21:06] corinagum commented on #1741
Blocked on finishing this one up until #1877 is in.

[2019-09-26 21:21] corinagum commented on #1778
Remaining fix should be resolved by #1877. Will re-confirm when merge is in.

[2019-09-27 03:03] vishwacsena opened #1884 "Set default locale on activities to OS locale"
Filing this on behalf of @tomlm

Emulator currently sets the default locale on outgoing activities to " ".

This should instead default to the OS locale.

[2019-09-27 03:03] vishwacsena commented on #1884
@chrimc62

[2019-09-27 12:35] aleveri opened #1885 "Emulator doesn't find api/messages"
Hi,

I recently created an api in .net core 3.0.100 for a bot. when I start tests in Bot Emulator, the emulator cannot find controller corresponding to path api/messages.

I need some help. please !

[2019-09-27 16:16] xtianus79 opened #1886 "I am unable to log into an azure account for the emulator while logged into my VPN"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
latest on mac

## Describe the bug
not sure if the vpn is the issue as I can sign in with my personal account just fine but this is the error messaging w

[2019-09-27 17:45] tonyanziano commented on #1884
I believe the plan is to send the locale set in the app settings page:

![image](https://user-images.githubusercontent.com/3452012/65789089-6cf1f280-e111-11e9-9add-0e8cf040fe3e.png)

As part of that work we can use Electron's [`app.getLocale()`](https://electronjs.org/docs/api/app#appgetlocale) API to set the Emulator's default locale to that value.

Closing as this will be addressed in #415

[2019-09-27 17:45] #1884 closed

[2019-09-27 17:46] tonyanziano commented on #415
We should consider setting the Emulator's default locale to the locale of the user's machine using Electron's [`app.getLocale()`](https://electronjs.org/docs/api/app#appgetlocale) API

[2019-09-27 17:47] corinagum commented on #1741
working on this now.

[2019-09-27 18:12] carlosscastro commented on #1885
Hi @aleveri , we don't yet support .net core 3, and we are planning to tackle this in our December milestone 4.7.

[2019-09-27 18:14] #1885 closed

[2019-09-27 19:54] zxyanliu opened #1887 "Cannot update emulator to latest version"
## Version
4.5.2-79874

## Describe the bug
When the notification pops and I clicked "Restart", I got no response.

## Expected behavior
Should start updating after clicking "Restart".

## Screenshots
![image](https://user-images.githubusercontent.com/32497439/65798200-dda30a00-e125-11e9-889b-02784ad6d0d0.png)

[bug]

[2019-09-27 22:10] tonyanziano commented on #1887
Hi @zxyanliu ,

Thanks for reporting, but this is a known bug and is being tracked here: #1667

[2019-09-27 22:10] #1887 closed

[2019-09-30 18:06] stevengum commented on #1886
Hi @anusharavindrar, any updates?

[2019-09-30 18:44] anusharavindrar commented on #1886
I was able to repro the issue by connecting to a VPN on my windows PC. Will attempt a repro on Mac and comment back with my findings.
@tonyanziano can you add your findings in the comments?

[2019-09-30 18:59] tonyanziano commented on #1886
I was able to successfully sign into Azure via the Emulator using a VPN. I'm going to try again today after work with my home PC that's not on the corporate network, and I will update this comment with the results.

[2019-09-30 21:39] cwhitten commented on #1823
This is addressed in the WebChat dependency via the following PR: https://github.com/microsoft/BotFramework-WebChat/pull/2423. We will take a new version of WebChat in the coming weeks.

[2019-09-30 21:39] #1823 closed

[2019-10-01 02:57] cwhitten commented on #1888
The issue is how the Emulator naively associates an id with an Activity. We will address this in an upcoming release. Thank you for reporting this!

[2019-10-01 12:53] Kumar2608 commented on #1825
Verified in latest bot emulator version 4.5.2-80829 with NVDA(2019.2) issue got fixed now hence we are closing this bug
Now NVDA is reading as button for Hide and copy controls

[2019-10-01 12:53] #1825 closed

[2019-10-01 13:00] Kumar2608 commented on #1806
Verified in latest bot emulator version 4.5.2-80829 with NVDA(2019.2) issue still repro'ing. Hence we are reactivating this bug.
Please refer the attachment:1806.zip
[1806.zip](https://github.com/microsoft/BotFramework-Emulator/files/3676274/1806.zip)

[2019-10-01 13:04] Kumar2608 commented on #1793
Verified in latest bot emulator version 4.5.2-80829 with NVDA(2019.2) issue got fixed now hence we are closing this bug

[2019-10-01 13:04] #1793 closed

[2019-10-01 13:05] Kumar2608 commented on #1778
Verified in latest bot emulator version 4.5.2-80829 with NVDA(2019.2) issue got fixed now hence we are closing this bug

[2019-10-01 13:05] #1778 closed

[2019-10-01 13:10] xtianus79 commented on #1886
@anusharavindrar latest on mac which is 4.5.2

[2019-10-01 13:11] Kumar2608 commented on #1772
Verified in latest bot emulator version 4.5.2-80829 with NVDA(2019.2) issue got fixed now hence we are closing this bug

[2019-10-01 13:11] #1772 closed

[2019-10-01 13:11] Kumar2608 opened #1889 "[MAS4.2.10][Screen Reader-Open bot dialog] Keyboard focus and voiceover focus is not synchronized."
**Actual Result:**
When user navigates in the voiceover mode, the keyboard focus and voiceover focus is not synchronized at "Buttons" and "Edit fields".

**Expected Result:**
The focus should be synchronized with voice over focus so that all the changes are done by user itself.

**Note:**

1. Same issue found on "My Bots" section. {Refer attachment} (Scenario: "Welcome Tab screen") .
2. Same issue

[2019-10-01 13:18] Kumar2608 opened #1890 "[Functional - Open Bot Dialog] The focus goes on the disabled controls and functioning by space/return."
**Actual Result:**
In voiceover mode, the focus lands on the disabled control such as "Connect" button. The voiceover informs that the controls are disabled but if the user accidently press "spacebar" or "return" key the pane gets closed.

**Expected Result:**
As the controls are disabled, they shouldn't be active or accessed by any key.

**Note:**
Same issue observed at every disabled controls pr

[2019-10-02 12:09] mouhannadali opened #1891 "the confirmed open URL is not opening in web browser"
after I have configured the Auth using GenericOauth2 when I click login, the following message appears:
![image](https://user-images.githubusercontent.com/17967903/66042263-4a4e4800-e51c-11e9-9d2f-ea1a91f6cc06.png)

when I confirm, I expecting an new webpage will be opened  to sign in. something like this:
![image](https://user-images.githubusercontent.com/17967903/66042830-d745d100-e51d-11e9-97e9

[2019-10-02 18:07] xtianus79 opened #1892 "when connecting to QA maker through the emulator a trace stack error occurs"
## Version
What version of the Emulator are you using.
mac 4.5.2

## Describe the bug
When connecting to the qnamaker through the emulator an error is emitted stating the follow: (even thought it is authenticating correctly)
Unable to find a QnA Maker service with Knowledge Base ID xxxxxxx-xxxxxx-44ea-94bf-xxxxxxx. Please add a QnA Maker service to your bot.

## To Reproduce
Steps to reproduce the

[2019-10-02 18:13] stevengum commented on #1886
@anusharavindrar were you able to get a Mac to repro the issue on?

[2019-10-02 19:26] tonyanziano commented on #1891
Hi @mouhannadali ,

This might be due to the fact that in version 4.5.2 NodeJS integration is enabled in all Electron windows. Which means that if we open a new Emulator window such as the one in your example, and there are conflicts between JS libraries used in the window and globals used by the NodeJS runtime, then it can cause an error and a blank screen.

We had a recent PR (#1839) that addres

[2019-10-03 07:17] Kumar2608 opened #1895 "[MAS4.2.1][Screen Reader-Connect the bot] Voiceover reads the all content present in the conversation pane in a same flow."
**Actual Result:**
When focus lands on the conversation pane after link, the voiceover reads the all content in a same flow as they are defined in the complementary landmark.

**Expected Result:**
The voiceover should only informs about the complementary landmark when the focus lands on the whole pane.

**Note:**
Same issue found in Debug, here the voiceover narrates the whole content of the conve

[2019-10-03 09:02] Kumar2608 opened #1896 "[MAS1.3.1][Screen Reader-Connect the bot] Incorrect position of the controls are announced by voiceover for the buttons available at the top most menu bar."
**Actual Result:**
When focus lands on the top menu bar voiceover announced "Restart Conversation", "Save Transcript" etc. But the position of the buttons are not correctly announced.

**Expected Result:**
The voiceover should announce the correct position of the buttons.

**Repro Steps:**
1. Open the Bot Framework V4 Emulator.
2. Welcome tab screen gets opened.
3. Navigate to the "Open Bot" butto

[2019-10-03 09:26] dhannyaraveendran commented on #1704
I would like to know how I could display the results from a quiz adaptive card, showing the user with number of correctly, incorrectly answered questions, and total number of questions after they have selected and submitted from the options.

[2019-10-03 09:32] oliviacrystal commented on #1704
I would like to know how I could display the results from a quiz adaptive card, showing the user with number of correctly, incorrectly answered questions, and total number of questions after they have selected and submitted from the choices

[2019-10-03 09:43] Kumar2608 opened #1897 "[MAS4.2.11][Screen Reader- Create new bot configuration] After "Save and connect", the focus goes on the hidden element and announced as "secret copied to the clipboard"."
**Actual Result:**
After "Save and Connect" button i.e. the last element of the dialog, the focus goes on the hidden element and announced "secret copied to the clipboard".

**Expected Result:**
The voiceover focus shouldn't lands on the hidden element or it shouldn't announced the status message again and again.

**Repro Steps:**
1. Open the Bot Framework V4 Emulator.
2. Welcome tab screen gets o

[2019-10-03 12:20] Kumar2608 opened #1898 "[MAS4.2.1] [Screen Reader-Services] When the user "Open any pop-up or dialog", voiceover is reading the unnecessary information for them."
**Actual Result:**
When the user opens "Sign in with your Azure account" button, voiceover announces unnecessary information for the pop-up or dialog box.
Voiceover is reading as "Close and 6 more items" when "Sign in with your Azure account" pop-up appears.

**Expected Result:**
The voiceover should announce the information about the dialog only without providing irrelevent information.

**Note:*

[2019-10-03 12:59] Kumar2608 opened #1899 "[MAS2.4.6] [Headings and Labels - Open Bot Dialog] Heading should be defined for the pop-up or dialog."
**Actual Result:**
When the user opens "Open Bot Dialog" button, dialog box opens but the voiceover didn't announces the name of the dialog box. This is because the name i.e. "Open a Bot" is not defined in heading.

**Expected Result:**
The name of the dialog box or pane should be defined under heading tag so that voiceover relevent information.

**Note:**
Same issue observed for each and every di

[2019-10-03 13:08] Kumar2608 commented on #1730
Verified in latest bot emulator version 4.5.2-80829 with NVDA(2019.2)Issue still repro'ing hence we are reactivating this bug.
NVDA is not narrating the error message information when the user enter the invalid data i.e error message "Please choose a valid bot file or endpoint URL"
Please refer the attachment :1730.zip
[1730.zip](https://github.com/microsoft/BotFramework-Emulator/files/3686137/173

[2019-10-03 13:17] Kumar2608 commented on #1712
Issue still repro'ing for check boxes hence we are reactivating this bug.
Please refer the attachments:1712.png
![1712](https://user-images.githubusercontent.com/53518994/66129793-3420b480-e60e-11e9-897e-b9ae5ead04f6.png)

[2019-10-03 13:44] Kumar2608 opened #1900 "[MAS4.2.1][Screen reader-How to Build a Bot] In voiceover mode, the contents are announced as “1 of 2 plan “ and "2 of 2 review the bot"."
**Actual Result:**
When the user navigates through contents available under the heading "How to build a bot", the voiceover announces the content "Plan" as “1 of 2 plan“ and "2 of 2 review the bot" which might confuse the user.

**Expected Result:**
The voiceover should read as “plan“ only instead of "1 of 2 Plan".
For remaining elements also Build, Test, Publish, Connect, Evaluate screen reader s

[2019-10-03 14:49] paulfitz72 commented on #931
I get the original error with version 4.5.2 of the emulator and the new chatbot cli with bf chatdown

[2019-10-03 17:00] anusharavindrar commented on #1886
I was able to successfully login to my Azure account on the Mac via the Emulator 4.5.2 using a VPN.
@xtianus79  could you elaborate more on the login steps? When the sign in window appears, does it direct you to the Microsoft Sign in page or the page doesn't load at all? Also, do you close the window if it takes long to load or the window automatically closes and displays the error message?

[2019-10-03 17:35] mouhannadali commented on #1891
Thanks, it is working now :)

[2019-10-03 17:35] #1891 closed

[2019-10-03 18:04] stevengum commented on #1888
@cwhitten should we move this to 4.7?

[2019-10-03 18:11] stevengum commented on #1837
@ygizhitsa we're closing this out due to inactivity. If you run into any other issues please let us know.

[2019-10-03 18:11] #1837 closed

[2019-10-03 18:13] stevengum commented on #1892
@CoHealer can you have one of the support engineers look into this, thanks!

[2019-10-03 18:27] jwiley84 commented on #1892
I'll check it out.

[2019-10-03 20:01] tonyanziano commented on #1819
@awalia13

The following narration:

can't be achieved with standard HTML markup alone using a `<button>` tag.

If a `<button>` tag contains a `title` attribute (tooltip), then the value of the tooltip will be narrated after the button is narrated but without the words "tooltip" in front of it.

As an example, the "Previous" button we currently have is a button with a title (tooltip) of "previous"

[2019-10-03 21:42] jwiley84 commented on #1892
Unable to repro this right out of the box, so I need more details: what language are you using and where are you seeing that error (chat window, console, sidebar in the emulator, other program, etc)?

[2019-10-04 00:27] compulim commented on #1717
@tonyanziano I tried few approaches, looks like this is the better one:

![image](https://user-images.githubusercontent.com/1622400/66172877-688e7380-e602-11e9-809e-c641c58c193f.png)

- Radio button is more reasonable, but
   - Radio button should be contained in a radio group
   - Radio group doesn't cooperate with `role="list"`
      - I didn't try `aria-owns` because it seems too much complexit

[2019-10-04 04:13] corinagum commented on #1806
Investigation notes:

- Only repros when navigating via Ctrl + DownArrow in browse mode (no repro via tab)
- Clicking anywhere in the dialog that is not interact-able when NOT in browse mode reads the text **"If you don't have a bot configuration, button create a new bot configuration".** - Note that this is the text/button that originally opened the dialog.
- When Encrypt keys checkbox is *not ch

[2019-10-04 05:12] compulim commented on #1717
I tried `radiogroup` and `radio`, linked them using `aria-owns`. But still, the AT said "1 of 1 level 1".

So I think the best bet is still checkbox. And there is no requirements that the user must be able to uncheck the checkbox. https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/checkbox_role

[2019-10-04 07:53] Kumar2608 opened #1903 "[MAS4.2.5] [Labels and Relationships - Settings] Voiceover announce the same label for “Path to ngrok", "Locale", "Localhost Override"and "User ID" present in the "settings" pane."
**Actual Result:**
In settings pane, the voiceover announces the incorrect labels for edit fields i.e. "Path to ngrok", "Locale", "Localhost Override" and "User ID" whereas the labels are correctly defined in the code.
Voiceover announces "Enter User ID" edit text for all the edit fields.

**Expected Result:**
The voiceover should announce the label which is associated with the edit fields so that

[2019-10-04 09:07] Kumar2608 opened #1904 "[MAS2.4.3] [Focus Order - Endpoint] Focus order is not logical under "Azure bot service configuration" dropdown."
**Actual Result:**
Focus goes in the edit fields under "Azure Bot service Configuration", whereas the dropdown is not expanded. After "Azure Bot Service Configuration" the focus lands on "Azure BotId" and other edit fields.

**Expected Result:**
After "Azure Bot Service Configuration", the focus should move to "Cancel" button when the dropdown are not expanded.

**Repro Steps:**
1. Open the Bot Fr

[2019-10-04 10:01] Kumar2608 opened #1905 "[Usable] [Screen reader- Open Bot Dialog] Voiceover is announcing the name of check box and information multiple times."
**Actual Result:**
Voiceover is reading multiple times for checkboxes information present in the "Open bot dialog".
Voiceover announces “Open in Debug mode Open in Debug mode check box not checked” again and again.
1.Open in Debug mode 2. Azure for US Government

**Expected Result:**
Voiceover should announce the information only once i.e. the checkbox should be associated with the content and foc

[2019-10-04 10:50] Kumar2608 commented on #1819
Yes It is fine if the screen reader is reading "Previous bot state button previous" for the control.

[2019-10-04 11:43] Kumar2608 opened #1906 "[Functional] [Keyboard- Add QnA maker] The "Connect to QnA...." button is not functioning as well as after clicking on the same, "+" button in the service drop down is also not accessible with mouse nor with keyboard."
**Actual Result:**
The "Connect your bot to a QnA Maker Knowledge base manually" button is not functioning as well as after clicking on the same, "+" button in the service drop down is also not accessible with mouse nor with keyboard.

**Expected Result:**
As it is defined as button with some specific function, it's functionality should be accessible by keyboard or mouse. As well as it shouldn't b

[2019-10-04 12:04] Kumar2608 opened #1907 "[Usable] [Keyboard- Service] When we activate "+" button of "Service", the menu bar appears at the mouse pointer only."
**Actual Result:**
When we activates "+" button of the "Service", the menu bar appears where the mouse pointer is located.

**Expected Result:**
Ideally the "Menu" should opens below the "+" button.

**Repro Steps:**
1. Open the Bot Framework V4 Emulator.
2. Welcome tab screen gets opened.
3. Navigate to the "Service" and click on "+" button.
4. Observe the issue.

**Note:**
Same issue observed in

[2019-10-04 12:33] Kumar2608 opened #1908 "[MAS4.2.10] [Focus Order - Add other service] With voiceover consolidated focus goes on "Key and Value"."
**Actual Result:**
With voiceover the consolidated focus lands on "Key and Value" whereas they are associated with different edit boxes.

**Expected Result:**
The individual focus should lands on them as well as the focus order should be logical, after "Key" the focus should land on the edit field associated with key. After which the focus should lands on "Value" and its associated edit field.

**

[2019-10-04 13:12] xtianus79 commented on #1892
@jwiley84 this is a node sdk version of the famework 4.5.1 and it is in the output of the trace in the emulator logs

[2019-10-04 13:13] xtianus79 commented on #1886
@anusharavindrar when you sign in the screen for the login just turns white and no other page is loaded like the Azure cli login works for a comparison.  It doesn't do it. It just hangs per se

[2019-10-04 13:15] Kumar2608 opened #1909 "[MAS1.3.1][Screen Reader-Connect the bot] Voiceover announces the same name on the two control with different role."
**Actual Result:**
The voiceover announces the same name i.e. "Restart Conversation" on "Restart conversation" button and "Restart conversation" dropdown.

**Expected Result:**
Both the controls should be associated and consolidated focus should land on them.
Else the voiceover should announce them as "Restart Conversation" menu pop-up combo box.

**Repro Steps:**
1. Open the Bot Framework V4 Emul

[2019-10-04 13:44] Kumar2608 opened #1910 "[MAS4.2.10] [Focus Order - Connect the bot] In JSON tab, the focus goes on the hidden controls."
**Actual Result:**
After clicking on any chat button, the JSON Tab gets appeared on the right side of the screen. In this tab, after "JSON" the focus goes on 3 hidden button's. These hidden controls are "Left Arrow", "Right Arrow" and "Diff".
As well as with the voiceover, it informs "Dimmed Button" thrice in three tabs, it may misguide the user.

**Expected Result:**
After "JSON" the individual f

[2019-10-04 14:50] Kumar2608 opened #1911 "[MAS1.3.1][Screen Reader-Add other service] After error, the voiceover announced incorrect label of the edit fields."
**Actual Result:**
The voiceover announces the correct label before the any of the field has error. After error it announces the same error message to every edit field.
Voiceover announces "Service Name*, Invalid required data unselected" before the error "The field cannot be empty", after the error it reads same error message at every edit field.

**Expected Result:**
The voiceover should reads t

[2019-10-04 17:40] tonyanziano commented on #1819
Great thank you for the response @Kumar2608.

[2019-10-04 19:17] tonyanziano commented on #931
Thanks @paulfitz72 for reporting this. I'll try this version combination out.

[2019-10-04 21:47] anusharavindrar commented on #1886
@xtianus79 this seems like some sort of a local configuration issue. I am able to successfully login to my Azure account on the Mac. Can you try using a different VPN and see if you are encountering the same issue?

[2019-10-07 06:38] Kumar2608 opened #1912 "[MAS4.3.1][High Contrast Mode-Restart Conversation] After applying high contrast mode, focus inside the "Restart Conversation" dropdown is not visible."
**Actual Result:**
When applying High Contrast Settings of windows or application, we observe that the focus visibility in the "restart conversation" dropdown is very low.

**Expected Result:**
When we apply any High Contrast Settings of windows or application, the focus visibility should be consistent as well as the user will be able to identify the presence of focus inside the "restart conversat

[2019-10-07 07:59] Kumar2608 opened #1913 "[MAS4.2.1][Screen reader-Live chat dialog] The voiceover announces the "JSON" table as "Blank Table"."
**Actual Result:**
When the user navigates through contents available under the "JSON" frame, the voiceover announces the table as "Blank Table" which misguide the user.

**Expected Result:**
The voiceover should provide some information of the contents, so that the user will knew the presence of the contents.

**Repro Steps:**
1. Open the Bot Framework V4 Emulator.
2. Welcome tab screen gets open

[2019-10-07 08:26] Kumar2608 opened #1914 "[MAS2.1.1][Keyboard-Live chat dialog] "Root" list box present in "JSON" pane are not expanded or collapsed by keyboard."
**Actual Result:**
When we click "Root" list box it will not expanded or collapsed whereas same can be accessible by mouse.

**Expected Result:**
It should expanded or collapsed as it can be done by mouse.

**Note:**
1. Same issue observed on the Linux system. Please refer "JSON pane not expanded collapsed by key_Linux" attachment.
2. Same issue observed for "Conversation", "From" and "Recipient"

[2019-10-07 08:33] Kumar2608 commented on #1731
As per dev comments we are closing this bug .

[2019-10-07 08:33] #1731 closed

[2019-10-07 08:39] Kumar2608 commented on #1846
Verified in latest bot emulator version 4.5.2-81808 with NVDA(2019.2) issue still repro'ing hence we are reactivating this bug

[2019-10-07 08:47] Kumar2608 commented on #1848
I agree your point but better to provide "Services sub menu " so that screen reader users  will helpa a lot.

[2019-10-07 11:49] Kumar2608 opened #1915 "[MAS2.4.4] [Screen reader -Endpoint] “Learn more ” link is not descriptive"
**Actual Result:**
“Learn more” link is not descriptive present in the Add an endpoint for your bot dialog
Voiceover announced "Learn more" as "Learn more link".

**Expected Result:**
Learn more link should be more descriptive like Learn more about Azure for us government
For every link should more descriptive .

**Note:**
The same issue fixed for Win32. Bug link: [https://github.com/microsoft/Bot

[2019-10-07 23:54] tonyanziano commented on #1846
@Kumar2608 , @awalia13 ,

Would it be possible to include an updated video of the issue repro'ing please?

[2019-10-08 13:08] xtianus79 commented on #1886
@anusharavindrar if it is a local configuration what could it be. So let's think about the pathway here.  I have a vpn and a proxy that will block certain sites. With my VPN, I can reach azure and portal just fine.  However, I can't reach it through this emulator because something is blocking.

So what is the request url that is used by the emulator to reach the azure services?  Let's test that wi

[2019-10-08 17:16] tonyanziano commented on #1876
Addressed in #1893

[2019-10-08 17:16] #1876 closed

[2019-10-08 17:27] cwhitten commented on #1888
This is a duplicate of https://github.com/microsoft/BotFramework-Emulator/issues/1684. We will track it to the 4.6 release on that initial issue.

[2019-10-08 18:34] anusharavindrar commented on #1886
@xtianus79 the Emulator just opens the new window and calls out to the Microsoft identity service. Can you make use of [Fiddler](https://www.telerik.com/fiddler) and attach the Fiddler trace from the moment you try to login up until you close the sign in window(suspecting it to be port related)?

[2019-10-08 23:47] awalia13 commented on #1824
This seems a bug with NVDA/JAWS as it's working fine with Narrator.
@Kumar2608  - Can you please file a bug with NVDA Team.

[2019-10-09 00:32] tonyanziano commented on #1725
I believe this was actually fixed with #1876 and #1893

[2019-10-09 00:39] tonyanziano commented on #1846
Currently, the control reads:

"Key 0 edit, Add a key (optional), blank"
"Value 0 edit, Add a value (optional), blank"

"Key 1 edit, Add a key (optional), blank"
"Value 1 edit, Add a value (optional), blank"

... etc.

The behavior / logic of the control has changed since the initial open of the issue, so a new repro video would be much appreciated.

![image](https://user-images.githubusercontent.

[2019-10-09 07:33] Kumar2608 commented on #1712
Issue got fixed hence we are closing this bug.

[2019-10-09 07:34] #1712 closed

[2019-10-09 07:39] Kumar2608 commented on #1717
Verified in latest bot emulator version -4.5.2-82320 with NVDA(2019.2) Now NVDA is reading the checkbox checked\Unchecked Hence we are closing this bug.

[2019-10-09 07:40] #1717 closed

[2019-10-09 09:20] Kumar2608 commented on #1846
Verified in latest bot emulator version 4.5.2-82320 with NVDA(2019.2) Issue still repro'ing  hence we are reactivating this bug
Please refer the attachment:1846.zip
[1846.zip](https://github.com/microsoft/BotFramework-Emulator/files/3706539/1846.zip)
![1846](https://user-images.githubusercontent.com/53518994/66468535-f7d4d480-eaa3-11e9-8f61-78dd5a30161e.png)

[2019-10-09 09:23] Kumar2608 commented on #1803
Issue got fixed hence we are closing this bug.

[2019-10-09 09:26] Kumar2608 commented on #1802
Verified in latest bot emulator Version 4.5.2-82320 Issue got fixed Hence we are closing this bug.

[2019-10-09 09:26] #1802 closed

[2019-10-09 09:43] Kumar2608 commented on #1725
Verified in latest bot emulator version-4.5.2.-82320 Issue got fixed in "Emulator-Win32".

 But **Emulator-Mac**  is Issue still repro'ing Hence we are reactivating this bug.
 **Test Environment:**
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (Version 4.5.2-80829)
Please refer the path :Open bot ->Close button
When the user press the enter key on close button focus is not  land o

[2019-10-09 09:44] Kumar2608 commented on #1804
Issue got fixed hence we are closing this bug.

[2019-10-09 16:16] #1804 closed

[2019-10-09 16:17] #1803 closed

[2019-10-09 17:40] tonyanziano commented on #1846
Thanks for the video @Kumar2608.

However, I'm still confused on what the ask is here to fix this issue.

Are both inputs supposed to be read at the same time? If so, what should the narrator say? Or is it a focus issue?

[2019-10-09 18:26] corinagum commented on #1824
I'm removing this from 4.6 and un-assigning myself. I will not be closing, since this is still an Accessibility issue, but is not within our ability to fix before the 4.6 deadline.

[2019-10-09 18:35] tonyanziano commented on #1684
I just tried this on both `master` and in the latest nightly build, and I'm not able to reproduce this issue. The retry prompts have unique activity IDs.:

**master**

![image](https://user-images.githubusercontent.com/3452012/66509618-45dbdf00-ea88-11e9-8666-795467304b64.png)

**Latest nightly (4.5.2-82320)**

![image](https://user-images.githubusercontent.com/3452012/66509759-876c8a00-ea88-11e9-

[2019-10-09 18:48] cwhitten commented on #1684
@tonyanziano are you able to reproduce in the following issue? https://github.com/microsoft/BotFramework-Emulator/issues/1888

[2019-10-09 18:51] Aliandi commented on #1684
Hey @tonyanziano, we were working on this issue and we are still able to repro it with the latest nightly version but only when using a dotnet sample. Are you using a JS one?

![imagen](https://user-images.githubusercontent.com/22912283/66510709-eabbe380-eaab-11e9-9e0e-d68e4c4f99e1.png)

[2019-10-09 18:52] anusharavindrar commented on #1684
@tonyanziano I tried out the multi-prompt C# sample on the latest nightly version and I am still able to repro the issue. Attaching the screenshots below.
![em1](https://user-images.githubusercontent.com/48731427/66511122-37db8d80-ea8b-11e9-8eb8-a2b78e789d9d.png)
![em2](https://user-images.githubusercontent.com/48731427/66511131-3ad67e00-ea8b-11e9-9d94-1bdc409dced4.png)

[2019-10-09 19:18] tonyanziano commented on #1684
Hi @Aliandi ,

Yeah, I'm using a JS sample, and it seems to work fine.

So I'm starting to believe that this is a C# issue.

[2019-10-09 19:26] tonyanziano commented on #1684
@cwhitten isn't #1888 a dupe? Either way I tried to reproduce the same scenario by entering "no" instead of a number, and the retry prompt activity still appeared every time using the JS sample.

[2019-10-09 19:33] Aliandi commented on #1684
@tonyanziano, looking [here](https://github.com/microsoft/BotFramework-Emulator/issues/1888#issuecomment-536769316) it seems like there is an issue between C# and the Emulator, as the sample seems to work just fine on other channels.
We are going to:
1. Test this sample on another channel (slack most likely) to rule out any issue with the sample itself
2. If it works fine, debug the emulator with

[2019-10-09 19:38] tonyanziano commented on #1684
Thanks for helping out @Aliandi . Sounds good.

[2019-10-09 20:03] v-kydela commented on #1684
@Aliandi - I had already determined the cause of this issue as shown in [this comment](https://github.com/microsoft/BotFramework-Emulator/issues/1684#issuecomment-534784473). I've now raised this as a bug in the .NET repo.

[2019-10-09 20:10] tonyanziano commented on #1684
I think that this issue depends on if & how IDs are generated by both the JS and C# runtimes, and the activity ID logic on the Emulator side.

In the Emulator, if we receive an activity that already has an ID, we default to that ID and do not generate one, if it doesn't have an ID, we generate one ourselves.

With that in mind, here are the two scenarios I'm thinking of:

1. The C# runtime generat

[2019-10-09 20:23] v-kydela commented on #1684
@tonyanziano

No SDK generates an activity ID for outgoing activities. Like a conversation ID or a user ID, an activity ID is generated by the channel and the format will vary between channels. The generation is done by the Emulator, though not incorrectly. It's the Emulator's responsibility to generate an ID because it has to.

As I explained in the bug that was just linked, the difference betwee

[2019-10-09 20:25] tonyanziano commented on #1684
@v-kydela ahhhh, I see. Thanks for clearing that up.

[2019-10-09 22:31] tonyanziano commented on #931
@paulfitz72 I was unable to reproduce this with `botframework-cli@4.5.4` and both version 4.5.2 of the Emulator, and the newest nightly build.

**test.chat**

[code]

**generated test.transcript**

[code]

[2019-10-09 23:12] tonyanziano commented on #1888
This is actually a bug in the C# sdk, and is being tracked over on that repository:

https://github.com/microsoft/botbuilder-dotnet/issues/2690

[2019-10-09 23:12] #1888 closed

[2019-10-10 09:17] Kumar2608 commented on #1730
Verified in latest bot emulator version-4.5.2-82590 with NVDA(2019.2) Issue got fixed hence we are closing this bug.

[2019-10-10 09:17] #1730 closed

[2019-10-10 09:20] Kumar2608 commented on #1741
Verified in latest bot emulator version-4.5.2-82590  Issue got fixed hence we are closing this bug.

[2019-10-10 11:27] Kumar2608 commented on #1773
Verified in latest bot emulator version-4.5.2-82590 with NVDA(2019.2) Issue got fixed Hence we are closing this bug.

[2019-10-10 11:46] Kumar2608 commented on #1819
Verified in latest bot emulator version-4.5.2-82590 with NVDA(2019.2) and Issue got fixed hence we are closing this bug.

[2019-10-10 11:46] #1819 closed

[2019-10-10 11:47] #1773 closed

[2019-10-10 15:47] xtianus79 commented on #1886
@anusharavindrar its hard to see. is there a port or something more to help limit it down to find it?  do you use wireshark?

[2019-10-10 16:32] tonyanziano commented on #1846
Great, thanks for the clarification.

[2019-10-10 18:44] anusharavindrar commented on #1886
@xtianus79 you can attach the trace and I will have a look at it and narrow it down. You can just attach the trace from the point you start to repro the issue.

[2019-10-10 18:46] xtianus79 commented on #1886
but can we narrow it down by port or something. you just want all the web traffic from the point of error. that is a big trace and I am at work so I dont' even think that is appropriate

[2019-10-10 20:38] anusharavindrar commented on #1886
@xtianus79 Can you just try login to Azure on the Emulator by using the VPN(without the proxy)? Also, trying to test on the home PC using a VPN, but not connected to a corporate network might help us narrow down a bit on the scenario.

[2019-10-11 07:45] tonyanziano commented on #1824
a11y team said this would be closed once a bug is logged on NVDA.

[2019-10-11 15:16] xtianus79 commented on #1886
@anusharavindrar sorry dont' have a home one and this corporate one has the proxy inside of it so no way around that.

[2019-10-11 18:38] tonyanziano commented on #1886
I'm actually able to repro this right now, and I'm looking into it.

[2019-10-11 18:43] xtianus79 commented on #1886
@tonyanziano Awesome!!! thanks

[2019-10-11 19:01] tonyanziano commented on #1886
Well now I'm suddenly able to login again without an issue 😞

@xtianus79 this might be easier to debug if you use the dev build of the app. Are you familiar with how to build the Emulator from source?

If you build it from source then we can grab a network trace that only includes the sign-in flow and won't include any of your other network traffic.

[2019-10-11 20:53] v-kydela commented on #1892
Hi @xtianus79 - I would like to help but I have a few questions

1. Are you saying QnA Maker is working correctly and generating answers despite the error message saying it can't find the QnA Maker service?
2. Do you see any errors in your IDE while debugging your code or do the errors only show up in Emulator?
3. Do you see any errors in your logs or your channels blade when using other channels

[2019-10-11 21:10] cwhitten commented on #1725
@Kumar2608 this has been addressed on the Windows platform. Please close this issue and create a new one with the Emulator-MAC tag. Thanks!

[2019-10-11 21:16] xtianus79 commented on #1886
@tonyanziano let me know and i'll do it. I am on a mac keep in mind

[2019-10-11 21:57] corinagum commented on #1771
@Kumar2608, @awalia13 could we get clarification on this issue?
Focus for checkboxes have been verified as fixed in #1712. For that part of this bug, I believe there is no action item. Can we confirm?

Regarding the last screenshot above, it looks like the buttons at the bottom of the dialog should be a separately filed bug. What does "highlighted control border" mean? Does that mean mouseover/hov

[2019-10-14 11:16] ShikhaMishra11 commented on #1771
Above "highlighted control border" means control inside that Red border which is "Cancel button" and as per new WCAG2.1 boundary and background of the control should be greater than 3.1
and also disabled controls are not comes under WCAG2.1.

[2019-10-15 08:58] Kumar2608 commented on #1725
Issue has been fixed for win32 and Mac hence we are closing this bug.

[2019-10-15 08:58] #1725 closed

[2019-10-15 09:05] darrenj opened #1928 "Copy/Paste into "New Bot Configuration" duplicates paste operation"
## Version
4.5.2-82046 (Windows)

## Describe the bug
Pasting at URL into any of the New Bot File configuration text boxes within the emulator results in a duplicate URL being pasted in as shown below. Copy/pasting is a typical operation for this step given the complexity or URIs, secrets, etc.

## To Reproduce
Steps to reproduce the behavior:
1. Click New Bot File Configuration
2. Copy a URL (any

[2019-10-15 09:20] Kumar2608 commented on #1846
Issue got fixed hence we are closing this bug.

[2019-10-15 09:20] #1846 closed

[2019-10-15 09:24] Kumar2608 commented on #1834
Issue got fixed hence we are closing this bug.

[2019-10-15 09:24] #1834 closed

[2019-10-15 09:28] Kumar2608 commented on #1806
Issue got fixed hence we are clsoing this bug.

[2019-10-15 09:28] #1806 closed

[2019-10-15 09:46] Kumar2608 commented on #1759
Verified in latest bot emulator version 4.5.2-82861 with NVDA(2019.2) Issue partially fixed Hence we are reactivating this bug.
Screen reader reading the date information but time info is not narrating .
Please refer the attachment:
[1759.zip](https://github.com/microsoft/BotFramework-Emulator/files/3728492/1759.zip)
[Bug 1759.zip](https://github.com/microsoft/BotFramework-Emulator/files/3728497/B

[2019-10-15 12:50] lobigm commented on #1597
Thanks its works

**workaround:
Close and reopen the Emulator**

[2019-10-15 16:36] corinagum commented on #1759
@Kumar2608 the first video is reading the time stamp (Windows) as well as the date. It looks like this bug is only repro-ing on Mac. Can I get confirmation?

[2019-10-15 17:25] carlosscastro commented on #1309
This is resolved with the current code. If you start a conversation with the same user id, you don't need to re-enter your credentials. If you start a conversation with a new user id, you need to re-enter your credentials.

[2019-10-15 17:25] #1309 closed

[2019-10-15 18:07] corinagum commented on #1759
@Kumar2608 I have checked this both on Windows and Mac and both are reading both the date and time. I have a recording of the Mac repro, but unfortunately I am having WiFi problems and I am unable to upload the video yet. I will update this thread once I get that video up.

[2019-10-15 18:30] tonyanziano commented on #1928
@darrenj This was fixed in `v4.5.2-82320`. Please try updating your nightly to the latest version.

[2019-10-15 18:30] #1928 closed

[2019-10-15 18:58] corinagum opened #1929 "Attachment activity filename / text from the user is not legible"
## Version
Tested on latest bits 4.5.2.80829

## Describe the bug
Text for an uploaded attachment is not visible with the blue background

## To Reproduce
Steps to reproduce the behavior:
1. Open a bot in emulator
1. Click the add attachment/paperclip button
1. Pick any attachment
1. Note that the message from the user from the file has blue on blue text.

## Expected behavior
Text should be legib

[2019-10-15 19:24] tonyanziano commented on #1886
Hey @xtianus79, sorry for the late response, I was out of office on Monday.

Here's how you can build the Emulator from source:

1. Make sure you have npm and NodeJS are installed (v10.16.3 is fine). NodeJS includes npm.
  https://nodejs.org/en/
1. Clone the repository to your file system: `git clone https://github.com/Microsoft/BotFramework-Emulator.git`
 **(use a terminal for the above and follo

[2019-10-16 21:52] corinagum commented on #1759
@Kumar2608, here's that video. My apologies for the bad quality.

[timestamp.zip](https://github.com/microsoft/BotFramework-Emulator/files/3736537/timestamp.zip)

[2019-10-17 11:39] herb8work opened #1931 "Enable selection of installation path"
our corporate policies do not allow the executables to be run from withing the install-path of the emulator at ...\AppData\Local\Programs\\@bfemulatormain

![grafik](https://user-images.githubusercontent.com/56680677/67005664-6c7ec300-f0e3-11e9-9fa8-356c45fe7307.png)

However, there is currently no option to change the installation path in the installer.

[2019-10-17 13:39] darrenj opened #1932 "Emulator reporting that AppId and Password is not correct for a Bot,"
## Version
4.5.2-83711 (Windows)

## Describe the bug
Emulator is reporting that AppId and Password is not correct for a Bot, even though it is verified as being correct. Removing the AppId/Password from configuration means you can then test the Bot so seems to be an issue with AppId/Password verification?

## To Reproduce
Steps to reproduce the behavior:
1. Click Open Bot or create a new Bot File

[2019-10-17 16:35] darrenj commented on #1932
I've explored further and it was actually down to the generated AppId had a \" which is an escape character in C#. Changed the password in Azure AD App which resolved

[2019-10-17 16:35] #1932 closed

[2019-10-17 17:50] tonyanziano commented on #1931
This is actually something that has been proposed before, and I believe could be done using one of the `electron-builder` build flags.

I actually have a branch with this enabled, and it seems to work, we would just need to get some custom images for the installer.

See #1259

[2019-10-17 18:40] herb8work commented on #1931
Until then I found the following workaround:
- install
- copy the install folder to C:\ Program files x86
- uninstall
- run the copy

[2019-10-17 23:25] v-kydela commented on #1892
@xtianus79 - Are you still working on this?

[2019-10-18 09:37] Kumar2608 commented on #1759
As per dev issue got fixed hence we are closing this bug.

[2019-10-18 09:37] #1759 closed

[2019-10-18 14:59] ShikhaMishra11 commented on #1771
Issue got fixed so closing the bug.

[2019-10-18 14:59] #1771 closed

[2019-10-20 20:02] xtianus79 commented on #1892
@v-kydela yes.

1. yes

2. only in the emulator but I have to triple check that but for now it is soley the emulator trace that is the issue.

3. Emulator specific

4. I will get screen shots but this issue is the same issue as reported previously by another author.

Also, this may be an issue but the setup to the qna goes through the dispatcher.  If that helps.

[2019-10-22 14:56] ShikhaMishra11 commented on #1900
Verified ,issue is fixed now so closing the bug.

[2019-10-22 14:56] #1900 closed

[2019-10-22 14:58] ShikhaMishra11 commented on #1897
Verified ,issue is fixed now so closing the bug.

[2019-10-22 14:58] #1897 closed

[2019-10-22 17:30] #1650 closed

[2019-10-22 17:30] #1701 closed

[2019-10-23 04:51] Hari-c4 opened #1938 "Error POST 500 directline.postActivity while running custom skill BOT in Emulator"
I have been trying to convert my existing v4 BOT to a virtual assistant skill. The BOT was working as expected in emulator and also in azure Test in Webchat. I folllowed the steps from this  [documentation](https://microsoft.github.io/botframework-solutions/howto/skills/skillenablingav4bot/). After that when I run the BOT in Emulator I'm getting the following error

<img width="951" alt="Issue2" s

[2019-10-23 15:17] jwiley84 commented on #1938
Hi @Hari-c4!

This question is a duplicate of your question [here](https://stackoverflow.com/questions/58508282/bot-not-responding-after-converting-it-as-a-skill) on Stack Overflow. As the Bot Framework team prefers that *how-to* questions be asked on Stack Overflow, I'm going to close this github issue, and a member of our team will address your question on SO.

[2019-10-23 15:17] #1938 closed

[2019-10-23 17:08] anusharavindrar commented on #1886
@xtianus79 were you able to try the above steps and get a network trace of calls by signin flow?

[2019-10-24 00:10] DesignPolice commented on #1259
@tonyanziano sounds like fun... I will be back in the morning we can chat about this.

[2019-10-24 13:25] ShikhaMishra11 commented on #1896
The issue still repro's on Mac. The voiceover still announces incorrect position of the button.
Please find the latest attachment for the reference.

Environment:
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (Version 4.5.2-80829)

Attachement:
[Bug1896.zip](https://github.com/microsoft/BotFramework-Emulator/files/3767717/Bug1896.zip)

[2019-10-24 14:22] denscollo commented on #1896
Hi @ShikhaMishra11, we just tested this on Mac and it seems to be fixed. We used the lastest Emulator release.

Environment:
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (Version 4.5.2-85071)

[2019-10-24 14:27] ShikhaMishra11 commented on #1896
Hi @denscollo ,ok we will again check it our end and reply soon.

[2019-10-24 18:21] tonyanziano commented on #1895
@Kumar2608 @awalia13

Since this issue was initially reported, we made a change to the Emulator to update the embedded Web Chat control (#1925) which we believe has changed the Voice Over behavior that you originally experienced.

Would it be possible for you to run through this scenario again and update the ticket so that we can proceed fixing the issue with its current behavior?

[2019-10-24 20:40] gabog opened #1940 "Add support to WebChat to render OAuthCards for skills without having to use magic number."
See https://github.com/microsoft/botframework-sdk/issues/5654 for details

[2019-10-25 03:01] tonyanziano commented on #1259
@DesignPolice Sure, I can give you the expected dimensions of the graphics and show you what it's supposed to look like.

However, we should first test the auto update experience without a silent launcher to see what the behavior is like.

[2019-10-25 05:53] ShikhaMishra11 commented on #1896
Verified the issue and it is fixed in latest build.
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (Version 4.5.2-85838)

[2019-10-25 05:53] #1896 closed

[2019-10-25 05:54] ShikhaMishra11 commented on #1899
Verified the issue and it is fixed in latest build.
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (Version 4.5.2-85838)

[2019-10-25 05:54] #1899 closed

[2019-10-25 06:03] ShikhaMishra11 commented on #1824
Its NVDA specific bug ,logged the bug in NVDA path so closing the bug

[2019-10-25 06:03] #1824 closed

[2019-10-25 13:23] xtianus79 commented on #1886
@anusharavindrar I am going to try this now. report shortly

[2019-10-25 14:26] xtianus79 commented on #1886
@anusharavindrar so this is what happens for me during these steps.

at this part:

I do not ever get anything else that comes through for additional endpoints in the chrome://inspect so the sign in with your account endpoint never shows through.  Nothing is networked from that point on when I try to sign in.  nothing at all comes through.

[2019-10-25 18:25] tonyanziano commented on #1886
@xtianus79 can you post a screenshot of your `chrome://inspect` tab?

I just verified that you only need to have `localhost:7778` configured on that page for the Electron's Chrome windows to appear and be inspectable on that page.

[2019-10-25 18:45] tonyanziano commented on #1898
@Kumar2608 @awalia13

Could we get some clarification on what exactly should be narrated in the case of the Sign in with your Azure account dialog? The term irrelevant information is unclear.

![image](https://user-images.githubusercontent.com/3452012/67596065-c3f0e480-f71c-11e9-9c59-e58f776fa861.png)

For the above dialog, is the expected result for VoiceOver to read:

An example of the expected

[2019-10-25 21:34] xtianus79 commented on #1886
i do see the entry for 3000 but not the others

[2019-10-25 22:25] tonyanziano commented on #1886
So when you open the Sign into Azure dialog, and wait for several seconds (10 - 15 should be more than enough), you don't see a new entry pop up in the `chrome://inspect` tab?

[2019-10-26 12:39] cwhitten opened #1942 "4.6 Release checklist"
### The following need to be signed-off on before the Emulator can publish a new stable build.

### NOTE: Make sure to do a clean install before attempting to go through the checklist: Clear out `@bfemulator` folder in app data (`%APPDATA%` on Windows, `~/Library/Application Support` on Mac`~/.config` on Linux)

## Platform: Windows

### .bot files
- [x] create a new .bot file with keys encrypted

[2019-10-26 13:18] cwhitten opened #1943 "[Bot Inspector] Attaching to local Emulator conversation breaks the bot inspector view"

[2019-10-26 13:50] xtianus79 commented on #1886
correct

[2019-10-26 15:53] xtianus79 commented on #1886
@tonyanziano that worked!!! I needed to go to file -> sign in with azure and then one the pop up I needed to click one more again the "sign in with azure" button.  But I got it.

So yes, when the GetCredentialType api is called and my corporate login gives back a url which is domained to a subdomained endpoint, I am assuming some place that holds my authentication and authorization permissions, wh

[2019-10-28 17:39] tonyanziano commented on #1886
@xtianus79 if you could email me the HAR file that would be great.

toanzian@microsoft.com

[2019-10-28 17:59] tonyanziano commented on #1943
This will be fixed by the impending Web Chat bump.

[2019-10-28 18:46] cwhitten commented on #1943
ah ok, let's re-label this then

[2019-10-28 23:29] tonyanziano commented on #1942
Signing off on Windows & Linux. 👍

[2019-10-29 11:41] poveden opened #1947 "NO_PROXY is being treated as if it were a single hostname"
## Version
4.5.2

## Describe the bug

Currently, when checking whether a given URL should go through the proxy, the code treats the `NO_PROXY` environment variable as if it's value represents a single host, and tests if that value is within the URL:

https://github.com/microsoft/BotFramework-Emulator/blob/90fb9d91f7ff16a4d53f10089ad795564d758a9c/packages/app/main/src/fetchProxy.ts#L58-L60

Howeve

[2019-10-29 13:47] xtianus79 commented on #1886
@tonyanziano Hi tony,

I sent it out

[2019-10-29 16:29] dlvovsky opened #1948 "Can't build with node v12.6.0/npm 6.12.0"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
v4
## Describe the bug
Can't build using node v12.6.0/npm 6.12.0
errors:
`../../nan/nan_object_wrap.h:24:25: error: no member named 'IsNearDeath' in 'Nan

[2019-10-29 17:02] cwhitten commented on #1947
Hi @poveden. Thank you for the detailed issue. We'd happily accept a PR addressing this from you. Thanks!

[2019-10-29 19:32] tonyanziano commented on #1886
Hi @xtianus79 ,

I compared your HAR trace with my successful sign-in HAR trace and like you mentioned earlier, it looks like your request gets routed to your own corporate authentication provider, which then fails to  authenticate your credentials with a 401.

This would be the `GET` call to `<auth-provider>/adfs/ls/wia`.

After doing some digging, it looks like when you hit this endpoint and rec

[2019-10-29 23:01] tonyanziano commented on #1948
Hi @dlvovsky ,

I assume that this is due to the fact that Electron doesn't support and ship with node 12+ until `v5.x.x`, and we are currently using version `v4.1.1` which is still on node `10.11.0`.

We do include a [`.node-version` file](https://github.com/microsoft/BotFramework-Emulator/blob/master/.node-version) in the root of the project to lock the user's node version to `v10.14.2` when ins

[2019-10-30 14:23] ShikhaMishra11 opened #1951 "[[MAS2.4.7][Keyboard Navigation- Open Bot Dialog] Focus is not visible on "Close" button."
**Actual Result:**
When we press "Shift + Tab" after the "Bot URL" edit field, the focus should visible on the "X" i.e. close button but the focus is not visible their where as if user press "Enter" the pop-up/dialog gets closed.

**Expected Result:**
After "Bot URL" when user press "Shift + Tab", the focus should lands on the "X" button as well as the focus should be clearly visible on the "X" bu

[2019-10-30 14:44] ShikhaMishra11 opened #1952 "[MAS2.1.1][Keyboard Navigation- Welcome Tab Screen] "X" button of already created Bot in "My Bot" section is not accessible with keyboard."
**Actual Result:**
"X" button of already created Bot in "My Bot" section is not accessible with keyboard whereas same can be access by mouse.
The "X" button didn't gets the keyboard focus.

**Expected Result:**
Every control which can be accessible via mouse should be accessible via keyboard.

**Repro Steps:**
1. Open the Bot Framework V4 Emulator.
2. Welcome tab screen gets opened.
3. Navigate to

[2019-10-30 15:07] ShikhaMishra11 opened #1953 "[MAS2.4.3] [Focus Order - Sign in with Azure account dialog] Focus order is not logical after clicking on the "Sign In with your Azure account"."
**Actual Result:**
After clicking on the "Sign In with your Azure account", the focus stays on the same control and reaches into the pop-up/dialog after navigating the whole control of the "Welcome" tab.
As well as the focus comes out of the pop-up/dialog with tab key without closing the pop-up/dialog.

**Expected Result:**
As user activates the "Sign In with your Azure account" button the focus s

[2019-10-30 15:27] ShikhaMishra11 opened #1954 "[MAS2.4.7] [Keyboard Navigation-Open Bot Dialog] Visual focus indicator is not clearly visible for “Learn More” link available at "Open Bot" dialog."
**Actual Result:**
Visual focus indicator is not clearly visible for “Learn More” link available at "Open Bot" dialog.

**Expected Result:**
Visual focus indicator should be clearly visible for “Learn more” links

**Repro Steps:**
1. Open the Bot Framework V4 Emulator.
2. Welcome tab screen gets opened.
3. Navigate to the Welcome tab and reach at "Open Bot" button and activate it.
4. "Open a Bot"

[2019-10-30 23:20] tonyanziano commented on #1898
@Kumar2608 @awalia13 friendly ping

[2019-10-30 23:20] tonyanziano commented on #1895
@Kumar2608 @awalia13 friendly ping

[2019-10-31 07:26] ShikhaMishra11 opened #1955 "[MAS1.3.1][Info and Relationships- Open Bot Dialog] Placeholder and label of the “Bot URL” edit field are same."
**Actual Result:**
In "Open Bot Dialog, the placeholder and the label of "Bot URL" edit field are same which is also verified from the code.

**Expected Result:**
The placeholder should be different from the label. The purpose of the placeholder is to provide the additional information about the edit field, so it should be more descriptive than the label.

**Repro Steps:**
1. Open the Bot Framewor

[2019-10-31 10:54] ShikhaMishra11 opened #1956 "[MAS2.4.3][Keyboard Navigation- Welcome Tab screen] The focus goes on hidden element after "View Analyst", when user navigates through the page."
**Actual Result:**
After last interactive element of the pane i.e. "View analytics" the focus should lands on the first interactive element but the focus goes to the hidden element.
After “Sign in to your azure account to select the LUIS applications you'd like to associate with this bot." paragraph present in the "Add Language Understanding (LUIS)" dialog , the focus goes on the hidden element.

[2019-10-31 13:13] ShikhaMishra11 opened #1957 "[MAS2.4.3][Keyboard Navigation- Open Bot Dialog] After “Browse” button, the focus goes on hidden element."
**Actual Result:**
After "Browse" button the focus goes on the hidden element as well as the hidden element have functionality same as browse button.

**Expected Result:**
When user press Tab from "Browse" button, the focus should lands on "Microsoft App ID" edit field.

**Repro Steps:**
1. Open the Bot Framework V4 Emulator.
2. Welcome tab screen gets opened.
3. Navigate to the Welcome tab and re

[2019-10-31 14:27] ShikhaMishra11 commented on #1898
The voiceover announces "Sign in with Azure account Insertion on word: Sign, between characters: and and 6 more items, dialog, Don't have an azure account? Sign up., link"

Here, "Insertion on word: Sign, between characters: and and 6 more items" seems irrelevant as their is only 5 interactive elements and no edit field.
I'm agree with @tonyanziano the expected, behavior should be "Sign in with an

[2019-10-31 14:55] ShikhaMishra11 commented on #1895
As verified in the latest version of Bot Emulator, the issue is fixed now.

So, we are closing the issue.

Verified On: 31/10/2019
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (Version 4.5.2-87002)

[2019-10-31 17:26] #1895 closed

[2019-10-31 19:41] #1943 closed

[2019-11-01 12:33] ShikhaMishra11 opened #1960 "[MAS2.4.7][Keyboard Navigation- Live Chat Dialog] Focus is not visible on "Attachment" button."
**Actual Result:**
The keyboard focus is not properly visible on "Attachment" button available at "Live Chat" dialog and "Presentation Mode" screen.

**Expected Result:**
The focus should be visible properly on "Attachment" button as the focus should visible properly on each and every control of the application. The rectangular focus should be appears just like "Send" button.

**Repro Steps:**
1.

[2019-11-01 13:03] ShikhaMishra11 opened #1961 "[MAS3.2.1][Keyboard Navigation -Open bot dialog] When the user close the dialog by "Esc key", the focus jumps on another content."
**Actual Result:**
When user presses the "Esc key" on dialog, focus is not moving on "Open bot" control. Focus moves somewhere else in bot explorer.

**Expected Result:**
On pressing  "Esc key" on dialog, focus should move to "Open bot" control instead of  some other control.

**Repro Steps:**
1.	Open the Bot Framework V4 Emulator.
2.	Navigate to the "Welcome tab" screen.
3.	Navigate to the "Open

[2019-11-01 21:07] #1947 closed

[2019-11-04 05:47] ShikhaMishra11 opened #1962 "[MAS1.4.11] [Visual Requirements-Live Chat Dialog] Luminosity Ratio is less than 3:1 for border outline with respective background color for “Send button and File upload button"."
**Actual Result:**
Luminosity Ratio is less than 3:1 for border outline with respective background color for “Send button and File upload button.

**Expected Result:**
Luminosity Ratio should be greater than or equal to 3:1 for border outline with respective background color for “Send button and File upload button.

**Note:**
This issue exits for throughout application for all button controls.
Sam

[2019-11-04 06:59] ShikhaMishra11 opened #1963 "[MAS1.4.11] [Visual Requirements-Open Bot Dialog] Color contrast ratio of Edit field and button boundary's is less than 3:1."
**Actual Result:**
The color contrast ratio of "Bot URL, Microsoft App ID and Microsoft App password" edit box boundary is less than 3:1.
As well as the color contrast ratio of "Cancel" button is also less than 3:1.

**Expected Result:**
Color contrast ratio should be greater than or equal to 3:1 for border outline with respective background color

**Note:**
This issue exits for throughout applica

[2019-11-04 08:45] ShikhaMishra11 opened #1964 "[MAS1.4.3] [Visual Requirements -Settings] Color contrast ratio for “User ID” element is less than 4.5:1."
**Actual Result:**
Color contrast ratio of “User ID” element is less than 4.5:1.

**Expected Result:**
The color contrast ratio should be greater than or equal to 4.5:1 for “User ID” element.

 **Repro Steps:**
1. Open the Bot Framework V4 Emulator.
2. Welcome tab screen gets opened.
3. Navigate to any already created bot and select any bot..
4. "Live Chat" screen will appear.
5. Navigate to "Edit

[2019-11-04 09:28] ShikhaMishra11 opened #1965 "[MAS1.4.3] [Visual Requirements- Add language understanding] Luminosity Ratio is less than 4.5:1 for “add a LUIS app manually “ link present in the LUIS application dialog"
**Actual Result:**
Luminosity Ratio of  “add a LUIS app manually “ link present in the LUIS application dialog is less than 4.5:1.

**Expected Result:**
Luminosity Ratio should be greater than or equal to 4.5:1 for “add a LUIS app manually “ link.

**Note:**
Same issue found with the links present at various dialog's throughout the application.

**Observation:**
Links available at "Welcome" and "S

[2019-11-04 13:41] danpamfil opened #1966 "JSON preview"
I can't see the json preview. All I can see is the "root:" message empty. if I click on "Copy json, I have the json used in request.

Note: I use the latest version 4.6.0 with Visual Studio 2017 on windows 10

Thanks,
Dan

[2019-11-04 18:30] tonyanziano commented on #1966
Hi @danpamfil ,

Could you please provide a screenshot of the JSON viewer in this scenario, and the JSON payload for the activity you are trying to inspect?

[2019-11-04 18:40] stevkan commented on #1966
Fyi, attempted to repro but was unable to do so. Tried both a Node and C# bot (using VS 2019) and a fresh install of Emulator, if of use.

[2019-11-04 19:12] v-kydela commented on #1892
@xtianus79 - Do you still need help?

[2019-11-05 08:00] danpamfil commented on #1966
Hi,

@tonyanziano
I attached the screenshoots for this issue.

![bot framework - JSON root empty](https://user-images.githubusercontent.com/3254192/68188125-25cd0c00-ffb1-11e9-8bc4-da732facbf23.jpg)
![bot framework - copy json](https://user-images.githubusercontent.com/3254192/68188127-2665a280-ffb1-11e9-99f3-edd889ef26b8.jpg)

[2019-11-05 13:04] dlvovsky commented on #1948
Many thanks for your response

[2019-11-05 13:04] #1948 closed

[2019-11-05 13:50] jbeltranluna opened #1967 "Inspecting LUIS Traces gives you an Access Denied error"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0.

## Describe the bug
Clicking on LUIS Traces in the emulator returns a new trace with the following message:
[LUIS] Access denied due to invalid s

[2019-11-05 17:59] Basavarajsk opened #1968 "UnhandledPromiseRejectionWarning: Unauthorized Access. Request is not authorized"
## Version
The version of the Emulator is 4.4.2

## Describe the bug
This is the first time I download the source code of my bot and use the emulator to connect it.
When I downloaded source I have pressed "Yes" when asking whether including app settings in the zip file.
I just input the my bot URL and press "connect", and then I can see following error in my bot console:
    at process._tickDomain

[2019-11-05 18:14] #1942 closed

[2019-11-05 18:56] tonyanziano opened #1969 "[SPEC] Emulator Core Rewrite"
## The Problem

The `emulator/core` package is responsible for the REST server that emulates both the DirectLine service and the back end of the "channel."

This package also contains a per-session storage layer (in memory) that keeps track of everything the "channel" cares about: Current users, bot state, conversations, activities within conversations, etc. However, the only way to see into this

[2019-11-05 19:00] tonyanziano commented on #1967
Hi @jbeltranluna ,

Are you currently opening your bot via a `.bot` file, or are you connecting to the `localhost:3978` endpoint via URL only?

The LUIS inspector currently does not support bots opened via URL, because it requires the corresponding LUIS credentials to work properly:
  - region, subscription key, authoring key, app ID, and app name

These credentials are stored in a `.bot` file, bu

[2019-11-05 19:01] tonyanziano commented on #1968
Hi @Basavarajsk ,

Does your bot code include Microsoft App credentials? (MSA ID & MSA Password)

If so, you must enter those credentials into the "Open Bot" dialog in the Emulator when connecting to your bot.

[2019-11-05 20:30] CoHealer commented on #1892
Closing inactive. You can reopen if you still need assistance.

[2019-11-06 05:05] Basavarajsk commented on #1968
Hi @tonyanziano ,

If i enter the valid MS app ID and MS app Password in emulator I am getting below error.

jpx/16*IOPG]]3p^Pi+vHpsC;@

[2019-11-06 15:59] jbeltranluna commented on #1967
Thank you @tonyanziano

We are not using bot files since what I last read was that you were moving away from using those files (https://stackoverflow.com/questions/55473167/azure-bot-services-templates-botfilepath-botfilesecret-fields-are-missing-n)

Besides, when we worked with bot files we used a BotFileSecret that we now do not have it in the App Settings with the new Basic Template.

If the is

[2019-11-06 17:36] #1967 closed

[2019-11-07 12:15] ShikhaMishra11 opened #1971 "[Usable- Get started with channels] "Jump to Bot State Inspection and Update your bot's code" links are not functioning with mouse."
**Actual Result:**
The user will not be able to activate "jump to Bot State Inspection and Update your bot's code" links with mouse as they are not functioning with mouse whereas same can be accessed with keyboard. They both are same page link which scroll the page to their relevant topics.

**Expected Result:**
Every control should be accessible by mouse as well as keyboard. Here, the control is

[2019-11-07 17:29] omarmciver opened #1972 "Local IIS hosting of Bot with HTTPS"
I created the EchoBot template in a .net core 3 MVC web app and I am hosting it locally with IIS.

In addition to the default name binding on the web application, I added another binding ("myapp") with a locally generated SSL (using the New-SelfSignedCertificate powershell command). I then also registered the certificate with my local trusted root CA. Finally, I added a few additional MVC pages so

[2019-11-07 19:20] compulim commented on #1972
@omarmciver thanks for the issue. We currently do not support .NET Core 3 in 4.6. We are evaluating the support in an upcoming release.

[2019-11-07 19:27] omarmciver commented on #1972
Ah I see. That's a shame. Could you point me in any other direction to get started on the client side of the bot without using the emulator?

[2019-11-07 19:27] #1972 closed

[2019-11-07 19:45] tonyanziano commented on #1968
@Basavarajsk is your bot code properly consuming the MSA credentials, and are the correct environment variables set?

Your code might look something like this if you are using a sample:

[code]

[2019-11-07 19:56] tonyanziano opened #1973 "[Tracking] Surface errors from failed ngrok spawn"
This will help diagnose the host of issues that could possibly prevent ngrok from starting properly (such as a timeout).

[2019-11-07 19:58] tonyanziano opened #1974 "[Tracking] Clean up CONTRIBUTING.md to include correct information"
Related to #1948

===

The doc is missing some important information about required Node versions, and also has some outdated information about build tools, such as requiring gulp.

[2019-11-07 19:59] tonyanziano opened #1975 "[Tracking] Surface errors created in botSagas.ts for opening a bot in debug mode"

[2019-11-07 20:00] tonyanziano commented on #1966
@danpamfil I can't seem to repro this. Is there any way you can share your bot's source code -- without any sensitive info of course -- with me so that I can test it out locally and see if I can reproduce the issue?

[2019-11-07 23:45] tonyanziano commented on #1969
# Iterative Plan (To minimize size of PRs)

## 1st Pull Request

- Initial infrastructure
  - Move `/emulator/core` to `app/main/server`
  - Change folder structure of what used to be `/emulator/core`
- Same functionality as before. No no features / additions

## 2nd Pull Request

- Additional Emulator endpoints for specific functionality (triggering a new conversation, checking for updates, etc.)

[2019-11-08 00:20] tonyanziano commented on #1975
This was already fixed #1949

[2019-11-08 00:20] #1975 closed

[2019-11-08 03:25] Basavarajsk commented on #1968
Hi @tonyanziano ,
I have valid MSA credentials and those are set properly as environment variable.

.env file has below parameters
[code]

index file has below adapter code
[code]
Same bot on Azure Portal with webchat is working fine.
![image](https://user-images.githubusercontent.com/24410864/68447303-79379800-0205-11ea-8f9b-e2fa2aa0240c.png)

[2019-11-08 06:09] ShikhaMishra11 opened #1976 "[MAS4.3.1][High Contrast Mode-Debug] After applying high contrast mode, the "Next and Previous" buttons didn't change their color."
**Actual Result:**
When applying High Contrast Settings of application, we observe that the "Next and Previous" buttons didn't change the color due to which their visibility is very low. The "Next and Previous" buttons are in blue color and after applying "High Contrast" they didn't change the color.

**Expected Result:**
When we apply any High Contrast Settings of application, the "Next and Previ

[2019-11-08 06:50] veerendra242 opened #1977 "I am getting Couldn't send message but after few seconds i am getting the result also"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What version of the Emulator are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

## To Reproduce
Steps to repro

[2019-11-08 10:34] ShikhaMishra11 opened #1978 "[MAS4.1.2][Name, Role and Value-Debug] Incorrect role is defined for the chat boxes."
**Actual Result:**
The chat boxes are defined in the list but they are not accessible by up/down arrow key whereas they are accessible by tab only, due to tab access on each chat boxes the user will not be able to reach "New Message" button.

**Expected Result:**
The chat boxes should be accessible by up and down arrow and on pressing tab from chat box the focus should jump on "New Message" button

[2019-11-08 10:56] ShikhaMishra11 opened #1979 "[MAS2.1.1] [Keyboard Navigation-All headers] Header menu is not accessible using keyboard."
**Actual Result:**
Header menu is not accessible using keyboard i.e. file, debug, edit etc..

**Expected Result:**
Header menu(i.e. file, debug, edit etc.) should be accessible using keyboard as it is accessible by mouse. The application should have any shortcut key to access the header.

**Repro Steps:**
1. Open the Bot Framework V4 Emulator.
2. Welcome tab screen gets opened.
3. Try to navigate

[2019-11-08 18:46] compulim commented on #1977
@veerendra242 please describe your bug by filling out the form.

[2019-11-08 19:24] anusharavindrar commented on #1977
@veerendra242 Can you please explain in detail as to what you are trying to do and what error are you encountering?

[2019-11-08 22:00] tonyanziano commented on #1911
Fixed by #1970

[2019-11-09 02:42] Basavarajsk commented on #1968
Hi,

The local bot is working when emulator connects to it.
![image](https://user-images.githubusercontent.com/24410864/68521581-8e292f80-02c8-11ea-9a69-10cd32bf791e.png)

Fix: Removed the below parameters from the .env file in local.
MicrosoftAppId=XXXXXXXXXXXXX
MicrosoftAppPassword=XXXXXXX

[2019-11-09 02:42] #1968 closed

[2019-11-09 11:31] ShikhaMishra11 commented on #1903
Checked and verified. Issue resolved in new version of Bot Emulator. Hence, closing the issue.

Test Environment:
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (Version 4.6.0-89098)

[2019-11-09 11:31] #1903 closed

[2019-11-09 11:41] ShikhaMishra11 commented on #1911
Issue partially fixed, now the voiceover reads the label of edit fields correctly but still it doesn't read the label of the edit field with error. Please find the attachment below:
[Label of edit field having error.zip](https://github.com/microsoft/BotFramework-Emulator/files/3827226/Label.of.edit.field.having.error.zip)

Environment:
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator

[2019-11-10 03:28] fabio-muramatsu opened #1980 "Add ability to customize behavior of Action.Submit in adaptive cards"
**Is your feature request related to a problem? Please describe.**
I'm using the bot framework and adaptive dialogs to write a MS Teams bot, and the bot emulator is a handy tool to debug and test the code locally. In Teams, we have the ability to customize the behavior of Action.Submit to set the `text` property sent to the bot, as described [here](https://docs.microsoft.com/en-us/microsoftteams/p

[2019-11-11 07:14] veerendra242 opened #1981 "I am trying to implement swapping between the flows using bot framework v4 in C#"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

[question]
I am try to implement Swapping context between dialog flows .Assume i am in middle of one dialog flow and i wants to move to another functionality or dialog flow with new utterance..Here bot should prompt Do you want to move to another flow ?...Ho

[2019-11-11 12:18] veerendra242 commented on #1977
Hi Anusharavindrar,

I am try to pass input , at that time i am getting couldn't send msg but after few seconds i am getting the exact answer

[2019-11-11 16:56] anusharavindrar commented on #1977
@veerendra242 can you fill the above form with the emulator version and the steps to reproduce the behavior along with the screenshots?

[2019-11-11 17:44] mdrichardson commented on #1980
@fabio-muramatsu I'd say this is less of an Emulator issue and more of a Botframework SDK issue. Teams just happens to handle this differently than all other channels.

You can set the `text` field from any channel by making the `data` field of the Adaptive Card a string, instead of an object. [See the "Submit Actions" heading of this blog post (about half way down)](https://blog.botframework.com/

[2019-11-11 17:58] fabio-muramatsu commented on #1980
Hm, I didn't know that Teams was the only one implementing this custom behavior. I'll probably keep my middleware, then. Thanks!

[2019-11-11 17:58] #1980 closed

[2019-11-11 18:48] tonyanziano commented on #1981
Hi @veerendra242 ,

This seems like a question about conversation design using the SDK, and not related to the Bot Framework Emulator.

Please ask questions on Stack Overflow using the `botframework` tag:

https://stackoverflow.com/questions/tagged/botframework

We do not use the issues tab for answering questions.

[2019-11-11 18:48] #1981 closed

[2019-11-11 19:00] tonyanziano commented on #1911
@denscollo The issue was only partially fixed. Could you please take a look at the attachment and see what needs to be done to resolve it?

[2019-11-11 19:21] axelsrz commented on #1886
We're closing this due to inactivity, if the customer keeps encountering this please open a new issue.

[2019-11-11 19:21] #1886 closed

[2019-11-12 10:53] danpamfil commented on #1966
@tonyanziano I reproduse this issue again, with a new echo bot project using Visual Studio 2019 and new installation of Bot Framework 4.6.0. Please see attached screenshoots.

P.S.: Last year, someone moved my user profile from C: drive to D: drive. Can this be a problem for Bot Framework Emulator?

Regards,
Dan

![vs 2019](https://user-images.githubusercontent.com/3254192/68665428-b2943e80-054a-1

[2019-11-12 18:24] DesignPolice commented on #1259
digging through my # tags - @tonyanziano are we still tracking visuals for this? thanks m

[2019-11-12 18:52] tonyanziano commented on #1259
@DesignPolice this is on the backlog for now. If I get some cycles, I'll try out the auto update experience without a silent installer, and then we can go from there.

[2019-11-12 18:56] tonyanziano commented on #1966
Thanks @danpamfil for the screenshots. I'll try this out using the project template above.

Moving your user profile shouldn't interfere with the Emulator, as we don't store anything that would affect the performance of the inspector.

One thing that I'm noticing is that when you click the message you want to inspect, it is not being highlighted. Usually the inspected message activity bubble will

[2019-11-12 20:26] denscollo commented on #1911
@tonyanziano Sure, we'll review the attachment and find a solution. Thanks!

[2019-11-12 21:17] tonyanziano opened #1984 "Attach command message bubble doesn't appear in WC on reconnect"
## Version
4.6.0 & later (currently on 4.6.0-89098)

## Describe the bug
When in Debug Mode, and hitting "Reconnect," the `/INSPECT attach` command trace activity shows in the log, but it doesn't appear in the Web Chat pane.

## To Reproduce
Steps to reproduce the behavior:
1. Start chatting with a bot in Debug Mode
2. Click on "Reconnect"
3. Observer that the Command trace shows in the log panel,

[2019-11-13 01:32] q00u opened #1986 "Doesn't stay logged in to Azure"
## Version
What version of the Emulator are you using: 4

## Describe the bug
Give a clear and concise description of what the bug is:
I have to re-sign-in every time I open the bot framework emulator

## To Reproduce
Steps to reproduce the behavior:
1. Sign in with my Azure account.
2. Make sure the box to remember I'm signed in is checked.
3. Restart emulator.

## Expected behavior
Expected to s

[2019-11-13 02:07] JedLJRobertson opened #1987 "Sending messages in a list format e.g. "1. hi" always auto numbers from 1"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0

## Describe the bug
When the emulator receives messages starting with a list like "[0-9]. some message" it interprets it as a list, and changes th

[2019-11-13 07:00] danpamfil commented on #1966
Sure @tonyanziano ,

![developer tools](https://user-images.githubusercontent.com/3254192/68740545-fa22d500-05f3-11ea-9a58-0384a4e83265.JPG)

[2019-11-13 17:55] anusharavindrar commented on #1977
@veerendra242 are you still having issues?

[2019-11-13 18:33] anusharavindrar commented on #1986
Hello @q00u , can you please specify as to which version of the Emulator are you using? The latest released version is 4.6.0 . I am on the latest version and tried to repro your issue, but I am able to stay logged in even after restarting the emulator.

[2019-11-13 19:09] tonyanziano commented on #1987
Hi @JedLJRobertson ,

This is a limitation of Markdown which Web Chat uses (by default) to render activities. It sees any number as the start of a list, and so, will enumerate the list items starting at 1.

You can disable markdown for specific activities in Web Chat by setting the activity's `textFormat` property to `'plain'`.

In JS this would like this:

[code]

Here is an example of me testing

[2019-11-13 19:24] q00u commented on #1986
4.6.0 (4.6.0.21869 file version, 4.6.0.87405 product version)
Where is it supposed to be saving the log in information?

[2019-11-13 19:39] q00u commented on #1986
Just uninstalled and re-installed the latest version (just in case).
No change. Problem remains.
This is on Windows 10, if that matters.

[2019-11-13 19:44] anusharavindrar commented on #1986
That's strange since I am on the latest version on Windows 10 as well!! By any chance, are you trying to login to Azure on the Emulator by using a VPN?

[2019-11-13 19:50] q00u commented on #1986
No VPN. It does log in successfully, it just forgets every time I restart. Frustrating, haha.

[2019-11-13 19:55] anusharavindrar commented on #1986
Weird :confused: !! Can you try deleting the entire emulator folder and try installing again from the GitHub [release](https://github.com/Microsoft/BotFramework-Emulator/releases/tag/v4.6.0) page?

[2019-11-13 20:14] q00u commented on #1986
1. Delete the emulator folder and reinstall from the GitHub release page

That's what I tried earlier.

2. Clear state

Just tried that too. No change. Still loses my sign in when I restart the emulator.

[2019-11-14 17:52] anusharavindrar commented on #1977
Closing the issue as it doesn't seem to be a blocking issue. Feel free to reopen if you have the need to get this resolved.

[2019-11-14 17:52] #1977 closed

[2019-11-14 18:43] awalia13 commented on #1904
@Kumar2608 -  Please validate this bug.

[2019-11-14 18:44] awalia13 commented on #1910
@Kumar2608  - Please validate this bug.

[2019-11-14 19:57] tonyanziano commented on #1914
@Kumar2608 @awalia13 @ShikhaMishra11

Currently, the user should be able to expand / collapse JSON nodes in the tree view using the right or left arrow keys. Are these not appropriate key binds for an accessible tree view component? If not, what keys should be used to expand and collapse the nodes. (Space? Enter?)

[2019-11-15 14:18] ShikhaMishra11 commented on #1914
Yes currently tree view is accessible with right or left arrow keys which is appropriate key to accessible tree view so we can close the issue if you suggest.

[2019-11-15 18:41] tonyanziano commented on #1914
Closing due to above comment.

[2019-11-16 01:31] tonyanziano commented on #1986
I'll take a look at the settings code and see if there is anything that would be causing the persistence to fail.

[2019-11-17 07:04] ShikhaMishra11 commented on #1904
**Comment**
Issue partially fixed, as the focus still goes within the drop-down in voice over mode.
Please find the attachment: Focus order is not logical_retest

**Environment:**
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (Version: 4.6.0-89961)

**Attachment:**
[Focus order is not logical_retest.zip](https://github.com/microsoft/BotFramework-Emulator/files/3855309/Focus.order.

[2019-11-17 07:10] ShikhaMishra11 commented on #1910
**Comment:**
Issue fixed in new version of BOT Emulator. Hence we are closing the issue.

**Re-test Environment:**
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (Version: 4.6.0-89961)

OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator (Version: 4.6.0-88623)-linux

[2019-11-17 07:10] #1910 closed

[2019-11-18 11:05] ShikhaMishra11 commented on #1914
As per above comment we are closing the bug

[2019-11-18 11:05] #1914 closed

[2019-11-18 22:15] cwhitten commented on #1969
addressed in https://github.com/microsoft/BotFramework-Emulator/pull/1989

[2019-11-18 22:15] #1969 closed

[2019-11-19 23:19] anusharavindrar commented on #1986
@q00u so what basically happens in the background is that the user's Azure email should be saved in the server.json file located in the emulator application data folder. Can you try the following steps and get back to me with your findings?

-  Open the server.json file and make a copy of the JSON contents. The path to my server.json file in my system is as shown below:
![jsonemulator](https://use

[2019-11-20 05:51] ShikhaMishra11 commented on #1912
We will validate and update here.

[2019-11-20 10:13] khiemnvd commented on #1630
Hi @tonyanziano ,
Sorry for opening the issue. I think this issue come from behind proxy. How can I config by pass proxy in Bot Framework Emulator?

I'm using version 4.6.0

[2019-11-20 21:27] tonyanziano commented on #1889
Can this scenario be re-evaluated using the newest nightly version `4.6.0-x`?

I'm trying to reproduce this issue on the latest version, using Mac 4.13 and can't reproduce most of these Voiceover / keyboard focus synchronization issues.

The only issue that I am still seeing is with the "Browse button" in the Open Bot dialog, but other than that, I'm experiencing none of these issues.

Examine the

[2019-11-20 22:02] tonyanziano commented on #1630
Hi @khiemnvd ,

Try setting the `HTTPS_PROXY` environment variable with the address of your proxy, and then try using the Emulator to connect to your bot. (I would recommend restarting the Emulator after setting the variable)

Ex: `set HTTPS_PROXY=http://[proxy-address][:port]`

[2019-11-20 23:09] corinagum commented on #1889
I am not able to reproduce this issue either. :)

[2019-11-21 18:34] tonyanziano commented on #1905
I can't reproduce this behavior on the most recent Emulator build:

![checkboxes](https://user-images.githubusercontent.com/3452012/69365835-fae9e580-0c49-11ea-8a9e-38428e9426fa.gif)

Please reevaluate this scenario on the newest nightly release:

https://github.com/microsoft/botframework-emulator-nightlies/releases

[2019-11-21 18:43] q00u commented on #1986
The JSON is changing, but it's still not working.

The "users" entry is PACKED. Is this every time I signed in? An endless array of uuids and ids and "name": "User".

After I logged in (again) and exited, I confimred that "azure" had my login email address and "persistLogin": true, but even then, the next time I opened the emulator, I wasn't logged in. _Even though the info was still in the server

[2019-11-21 22:40] tonyanziano commented on #1890
Is it recommended to completely hide disabled controls from the screen reader? Or is it better to have them be accessible by the screen reader, but not functional when pressed.

The latter case seems to make more sense to me because, wouldn't you want the non-sighted user to know about all the inputs on the screen? If a disabled buttons becomes enabled after filling out a form, how would the user

[2019-11-22 01:35] tonyanziano commented on #1889
Nevermind my earlier comment. I tried using VoiceOver navigation (Ctrl + option + arrow) and was able to reproduce the issue.

[2019-11-22 19:39] Stevenic commented on #1931
Closing due to inactivity

[2019-11-22 21:52] corinagum opened #2008 "Investigate other ways to fix focus trap on MacOS"
Original PR: https://github.com/microsoft/BotFramework-Emulator/pull/2001

**Is your feature request related to a problem? Please describe.**
Due to time constraints, the team has not yet investigated alternative ways to ensure that focus trap works for all OSes. To be clear, the above PR fixes the problem of broken focus trap, but it would be great if we can find a fix that doesn't depend on the

[2019-11-23 09:35] ShikhaMishra11 commented on #1915
Verified the issue and it is fixed in latest build.
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (version: 4.6.0-92058)

[2019-11-23 09:35] #1915 closed

[2019-11-23 10:46] ShikhaMishra11 commented on #1907
Verified the issue and it is fixed in latest build.
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (version: 4.6.0-92058)

OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-92058-linux-x86_64

[2019-11-23 10:46] #1907 closed

[2019-11-23 10:46] ShikhaMishra11 commented on #1912
Verified the issue and it is fixed in latest build.
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (version: 4.6.0-92058)

OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-92058-linux-x86_64

[2019-11-23 10:46] #1912 closed

[2019-11-23 10:47] ShikhaMishra11 commented on #1906
Verified the issue and it is fixed in latest build.
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (version: 4.6.0-92058)

OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-92058-linux-x86_64

[2019-11-23 10:47] #1906 closed

[2019-11-23 10:47] ShikhaMishra11 commented on #1904
Verified the issue and it is fixed in latest build.
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (version: 4.6.0-92058)

OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-92058-linux-x86_64

[2019-11-23 10:47] #1904 closed

[2019-11-23 11:34] ShikhaMishra11 commented on #1905
@tonyanziano The issue still exist in latest build. You can repro this, in voice over mode (control+option+left/right key).

Please find the latest attachment.
[Checkboxes are announced multiple times.zip](https://github.com/microsoft/BotFramework-Emulator/files/3882387/Checkboxes.are.announced.multiple.times.zip)

Test Environment:
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (v

[2019-11-23 11:45] ShikhaMishra11 commented on #1889
@tonyanziano The issue still exist in latest build. Yes you can repro this, in voice over mode (control+option+left/right key).

Please find the latest attachment.
[Focus not synchronized 23Nov.zip](https://github.com/microsoft/BotFramework-Emulator/files/3882402/Focus.not.synchronized.23Nov.zip)

Test Environment:
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (version: 4.6.0-9205

[2019-11-23 11:54] ShikhaMishra11 commented on #1890
@tonyanziano As i verified in the latest build of BotFramework Emulator, now the focus didn't lands on the disabled control. I guess it is fixed with #1910

**Test Environment:**
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (version: 4.6.0-92058)

[2019-11-25 04:33] corinagum commented on #1898
@awalia13, could we have this issue re-evaluated in the nightly? Based off the latest behavior, I think the issue might be fixed. Here is a simple example showing similar behavior of the dialog:
 https://codepen.io/Fignewton5/pen/GRRLXEB

The dialog is read out by the narrator, but I think that's what we expect.

[2019-11-25 13:55] ShikhaMishra11 commented on #1898
Verified in latest build, issue is still reproing.
[Uploading Extra information.zip…]

[2019-11-25 18:04] corinagum commented on #1898
@ShikhaMishra11 do you have that download link?

[2019-11-25 18:36] anusharavindrar commented on #1986
@q00u the "users" entry is always filled with an array of uuids, ids and name every time you sign in. Also, when you sign out of Azure and close the emulator, the updated server.json should have the Azure field as
 "azure": {
    "signedInUser": "",
    "persistLogin": true
  }
When you sign out of Azure and close the emulator, does the server.json get updated to the same as above ?
@tonyanziano w

[2019-11-25 18:47] tonyanziano commented on #1986
Hi @q00u ,

Currently, the `users` entry does get filled up with GUIDs that aren't really necessary, and we have plans to fix that soon.

I'm not sure why the login is not persisting for you in this case when your info is clearly being saved to the `server.json` file.

I'll have to take a closer look at this issue, however, in this current release schedule we have prioritized fixing Mac OS accessi

[2019-11-25 18:57] tonyanziano commented on #1890
Closing due to above comment.

[2019-11-25 18:57] #1890 closed

[2019-11-25 19:13] q00u commented on #1986
@anusharavindrar Yup, signed out and closed emulator, and indeed that's what the "azure" section looks like. (Also tried logging back in after manually logging out, but it still doesn't persist)

@tonyanziano No worries. It's not like it doesn't function when I'm not logged in.

[2019-11-25 19:29] #1987 closed

[2019-11-26 07:01] ShikhaMishra11 commented on #1898
Yes we have downloaded link, we took from https://github.com/microsoft/botframework-emulator-nightlies/releases/tag/v4.6.0-88623

[2019-11-26 16:44] martinoss opened #2011 "Emulator not working on corporate PC starting with version 4.4.0"
## Version
4.6.0

## Describe the bug
On our corporate machines (behind proxy), my team is locked on using version 4.3.3.
Using this version, we are able to connect to our local bot without an issue. With newer versions, messages from the bot are not displayed in the emulator albeit the log is displaying activity. Additionally we see the warning "Taking longer than usual to connect".

## To Reprod

[2019-11-26 17:19] corinagum commented on #1898
@ShikhaMishra11 I'm hoping to get the Extra information.zip as soon as possible.

[2019-11-26 18:22] tonyanziano commented on #1966
Hi @danpamfil ,

Sorry for the very delayed response. Your screenshot of the console doesn't show any errors pertaining to the JSON inspector. So it doesn't appear to me that the passing of the activity JSON to the inspector is the issue, it might instead be something in the JSON extension itself.

Does this happen on every message / bot you try? Or is it just the echo bot template?

[2019-11-27 07:55] ShikhaMishra11 commented on #1898
uploaded the extra information.zip folder see at the top.

[2019-11-27 12:33] ShikhaMishra11 commented on #1905
Verified and fixed .

[2019-11-27 12:33] #1905 closed

[2019-11-27 12:33] ShikhaMishra11 commented on #1913
Verified and Fixed

[2019-11-27 12:33] #1913 closed

[2019-11-27 18:31] cwhitten commented on #2011
Hi @martinoss - we're going to investigate this and report back as to what is happening. This is definitely a bug and we will address it in our first release of the upcoming calendar year 2020.

[2019-11-27 20:40] tonyanziano commented on #1898
Hi @ShikhaMishra11 @awalia13 ,

I've tested this on the [lately nightly version](), and I do not experience the behavior shown in the extra information.zip attached to the original comment.

The behavior that I experience on my Mac (v10.14.6), is that the dialog opens, announces all navigable items within the dialog, the word "dialog," and then the focused item.

**Example of latest nightly:**

![

[2019-11-28 12:03] herb8work commented on #1931
What?! Inactivity counts as a fix?

[2019-11-28 13:10] martinoss commented on #2011
Hi @cwhitten, thank you for the good news!

[2019-11-28 15:50] ShikhaMishra11 commented on #1911
Fixed, Verified on MAC build 10.15 Beta(19A573a)

[2019-11-28 15:50] #1911 closed

[2019-11-28 15:51] ShikhaMishra11 commented on #1908
Fixed, Verified on MAC build 10.15 Beta(19A573a

[2019-11-28 15:51] #1908 closed

[2019-11-28 15:51] ShikhaMishra11 commented on #1881
Fixed, Verified on MAC build 10.15 Beta(19A573a)

[2019-11-28 15:51] #1881 closed

[2019-12-02 16:35] cwhitten commented on #1898
Closing as working as intended

[2019-12-02 16:35] #1898 closed

[2019-12-02 18:47] tonyanziano commented on #1931
Reopening to track. As this issue still hasn't been fixed.

[2019-12-04 00:42] Kaiqb commented on #1112
Updated.

[2019-12-04 00:42] #1112 closed

[2019-12-04 09:20] xieofxie commented on #598
So do we have any plan on this? It seems that none of the channels support e2e tests currently now..

[2019-12-05 07:14] ShikhaMishra11 commented on #1909
As we have checked and verified, the issue gets fixed in the latest version of BOT. So, we are closing the issue.

Regression Environment:
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (Version 4.6.0-93410)

[2019-12-05 07:14] #1909 closed

[2019-12-05 07:14] ShikhaMishra11 commented on #1889
As we have checked and verified, the issue gets fixed in the latest version of BOT. So, we are closing the issue.

Regression Environment:
OS: MacOs Version 10.15
Application: Bot Framework V4 Emulator (Version 4.6.0-93410)

[2019-12-05 07:14] #1889 closed

[2019-12-06 19:20] gabog commented on #1966
Closing due to inactivity.

[2019-12-06 19:20] #1966 closed

[2019-12-06 22:34] tonyanziano commented on #1951
This seems to be fixed in the latest nightly and is ready to be verified.

[2019-12-07 00:01] tonyanziano commented on #1953
This has been fixed already and should be verified in the latest version.

**Video:**
[1953-fix.zip](https://github.com/microsoft/BotFramework-Emulator/files/3934452/1953-fix.zip)

[2019-12-08 03:16] tonyanziano commented on #1954
This has been fixed and is ready to be verified in the latest nightly version:

![image](https://user-images.githubusercontent.com/3452012/70383645-1d585000-1926-11ea-9e9e-2a0f32899ce2.png)

[2019-12-08 03:41] tonyanziano commented on #1957
This has been fixed and is ready to be verified in the latest nightly version.

[2019-12-08 03:43] tonyanziano commented on #1960
This has been fixed and is ready to be verified in the latest nightly version:

![image](https://user-images.githubusercontent.com/3452012/70383840-dcfad100-1929-11ea-82a7-7338c7d66f21.png)

[2019-12-08 03:45] tonyanziano commented on #1961
This has been fixed and is ready to be verified in the latest nightly version.

[2019-12-08 03:55] tonyanziano commented on #1978
@corinagum @compulim This would have to be fixed at the Web Chat level and is not a Linux-specific issue.

The problem is that the "New messages" button on Web Chat to scroll down to the bottom is not easily accessible via keyboard. By the time you use tab to navigate to where it would be in the DOM, you are already at the bottom of the messages panel, which causes the button to disappear.

The on

[2019-12-08 04:03] tonyanziano commented on #1962
@corinagum @compulim This will have to be fixed in Web Chat.

The restart button chevron color has been fixed in the Emulator. The color for the chevron is now `#4A4A4A` as seen in the code here:

[light.css](https://github.com/microsoft/BotFramework-Emulator/blob/master/packages/app/client/src/ui/styles/themes/light.css#L228)
[neutral.css](https://github.com/microsoft/BotFramework-Emulator/blob/m

[2019-12-09 08:40] ShikhaMishra11 commented on #1951
We have checked in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0.94518

[2019-12-09 08:40] #1951 closed

[2019-12-09 08:46] ShikhaMishra11 commented on #1953
We have checked in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0.94518

[2019-12-09 08:46] #1953 closed

[2019-12-09 08:49] ShikhaMishra11 commented on #1954
Thanks @tonyanziano We have also verified in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0.94518

[2019-12-09 08:49] #1954 closed

[2019-12-09 08:51] ShikhaMishra11 commented on #1957
We have checked in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0.94518

[2019-12-09 08:51] #1957 closed

[2019-12-09 08:57] ShikhaMishra11 commented on #1960
We have checked in the latest nightly, the issue is fixed in "Live Chat Dialog" but now we don't have "Presentation Mode" button. I guess this is the design of the application. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0.94518

[2019-12-09 08:57] #1960 closed

[2019-12-09 09:01] ShikhaMishra11 commented on #1961
We have checked in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0.94518

[2019-12-09 09:01] #1961 closed

[2019-12-09 17:43] corinagum commented on #1978
@tonyanziano agreed. I'm a little sad that I overlooked this. I'm going to transfer this over to Web Chat for tracking. Thanks for the heads up.

[2019-12-09 17:47] corinagum commented on #1962
Is this using an older version of the Emulator? The Web Chat colors are not up to date. The icons in the latest code are `#767676`, and pass color contrast requirements:
![image](https://user-images.githubusercontent.com/14900841/70459347-d8890200-1a68-11ea-86fa-7271cbdbbe15.png)

[2019-12-09 19:04] corinagum commented on #1978
@ShikhaMishra11, @awalia13, what role should the transcript be changed to do allow for up/down arrow navigation?

[2019-12-09 19:09] tonyanziano commented on #1962
Let me double check, and see if we are providing some incorrect style options or something on the Emulator side.

When I checked the colors were not meeting the 4.5:1 requirement.

[2019-12-10 06:39] ShikhaMishra11 commented on #1952
We have checked in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-94878

[2019-12-10 06:39] #1952 closed

[2019-12-10 06:42] ShikhaMishra11 commented on #1955
We have checked in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-94878

[2019-12-10 06:42] #1955 closed

[2019-12-10 06:47] ShikhaMishra11 commented on #1956
We have checked in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-94878

[2019-12-10 06:47] #1956 closed

[2019-12-10 07:31] ShikhaMishra11 commented on #1976
We have checked in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-94878

[2019-12-10 07:31] #1976 closed

[2019-12-10 08:33] ShikhaMishra11 commented on #1965
We have checked in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-94878

[2019-12-10 08:33] #1965 closed

[2019-12-10 08:34] ShikhaMishra11 commented on #1964
We have checked in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-94878

[2019-12-10 08:34] #1964 closed

[2019-12-10 08:42] ShikhaMishra11 commented on #1962
We have checked in the latest nightly, the issue is fixed now. So, we are closing the bug.

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-94878

[2019-12-10 08:42] #1962 closed

[2019-12-10 08:49] ShikhaMishra11 commented on #1963
We have checked in the latest nightly, the issue is still not fixed. Please look into the screenshot below:

Test Environment:
OS: Ubuntu 18.04.3 LTS
Application: BotFramework-Emulator-4.6.0-94878
Attachment:
![Regress_10-12-19](https://user-images.githubusercontent.com/55279608/70513685-19ac0f80-1b58-11ea-9b47-f20a981c951d.png)

[2019-12-10 09:22] awalia13 commented on #1979
@tonyanziano we have verified the issue and observed still we are not able to access the header items through tab key and also through short cut key 'ALT +F'.

[2019-12-10 09:36] awalia13 commented on #1978
@tonyanziano Though the role is correct in code which is list item ideally element should be accessible through up\down arrow key but we are not able to access the element through up/down arrow , they are only accessible through tab key. Due to the use of tab we are not be able to use the functionality of "New Messages" button.
It is beneficial if the user reaches the first chat elements with Tab

[2019-12-10 17:31] corinagum commented on #1978
@awalia13 so if the role is correct, what behavior needs to be corrected here? My plan is to add an access key that will return focus to the send box, with an aria-live region that will announce the presence of the button and shortcut when it shows up.
I'm also seeing the transcript as navigable via arrows when in scan mode. Is it true that the arrows need to be enabled for non-scan mode as well?

[2019-12-10 22:02] roythompsonuno commented on #1892
I'm having the same issue; if I can pick this up and try and answer the questions that were previously left unanswered:

QnAMaker returns a response as expected despite the *"Unable to find a QnA Maker service with Knowledge Base ID [ID]. Please add a QnA Maker service to your bot."* message.

![Inkedemulator_LI](https://user-images.githubusercontent.com/31256158/70571822-29c9ec00-1b64-11ea-8ef4-4

[2019-12-10 22:04] roythompsonuno commented on #1892
@CoHealer
@v-kydela
@stevengum

(Sorry, not sure if this post is still watched by anyone or not)

[2019-12-10 22:08] CoHealer commented on #1892
Apologies @roythompsonuno , this fell off radar after closing amidst an SDK version release here. I'll reopen & @v-kydela will assist you when he is back online this week.

[2019-12-10 22:40] tonyanziano commented on #1963
I have just tested this on the latest nightly, and I see the correct colors that pass the color contrast ratio:

![image](https://user-images.githubusercontent.com/3452012/70567252-6e488e00-1b4a-11ea-8e9a-dcf57ab8f8f7.png)

Are you sure you are on version v4.6.0-94878?

[2019-12-11 05:46] ShikhaMishra11 commented on #1963
@tonyanziano Yes we checked on the latest build. As per color code i.e. #888 on #F4F4F4, the CCA is passes the 3:1 ratio. So, we are good to close the issue.

[2019-12-11 05:46] #1963 closed

[2019-12-11 10:22] ShikhaMishra11 commented on #1978
@corinagum We took the SME opinion on this issue. According to him, "The focus should go to each item of the list via up/down arrow keys. This is the expectation in order to avoid the navigation flaws".
As well as i agree with you to implement the shortcut key to access the "New Message" button.

[2019-12-11 18:04] corinagum commented on #1978
Thank you! Just one more clarification: should up/down arrows work in non-scan mode? I am confused on this point.

[2019-12-11 18:27] tonyanziano commented on #1979
This has been fixed and is ready to be verified again @awalia13

[2019-12-11 21:03] awalia13 commented on #1978
@corinagum  - It should work in both modes Scan/Non-Scan mode.

[2019-12-12 07:34] ShikhaMishra11 commented on #1979
@tonyanziano As checked in latest nightly build "BotFramework-Emulator-4.6.0-95378-linux", the header's are accessible by tab keys.

So, we are closing the issue.

[2019-12-12 07:34] #1979 closed

[2019-12-12 18:24] v-kydela commented on #1892
@roythompsonuno - We do prefer that closed issues remain closed, so the thing to do in these situations is open a new issue and link to the closed one. I will try to answer your question anyway.

My colleague linked you to this closed issue: https://github.com/microsoft/BotFramework-Emulator/issues/1586

My suspicion is that the error message is caused by the QnA Maker service not being present in

[2019-12-12 18:24] #1892 closed

[2019-12-14 18:28] arman-g opened #2024 "Update is not updating the application"
The application does not update when clicked the Restart button.

## Version
Emulator v4.6

[2019-12-16 17:49] anusharavindrar commented on #2024
@arman-g could you elaborate more on what you are trying to do and the steps to reproduce(possibly with screenshots) ?

[2019-12-16 18:26] arman-g commented on #2024
@anusharavindrar the application is not updating when clicked "Restart" button. No error message is shown, the button simple does nothing. Have you guys tested this part before the release?

![emulator](https://user-images.githubusercontent.com/22778273/70932393-827b0800-1fee-11ea-83af-895985804ee0.PNG)

[2019-12-16 18:44] anusharavindrar commented on #2024
@arman-g I just checked for the same on my Windows work station and I am able to successfully update to v4.7.0 by clicking on the Restart option on the notifications tab. Could you mention the OS as well as the current emulator version you are using? Also, after closing and reopening the Emulator, does the issue still persist?

[2019-12-16 18:50] cwhitten commented on #2024
 On Mac (Catalina) I was also able to update without issue.

[2019-12-16 19:03] arman-g commented on #2024
@anusharavindrar I am using windows 10 Enterprise on my work station and the Windows 10 Home addition on my personal desktop.
The current Emulator version is 4.6.0

[2019-12-16 19:10] anusharavindrar commented on #2024
@arman-g can you try to re-download the v4.6.0 from the Github release [page](https://github.com/microsoft/BotFramework-Emulator/releases/tag/v4.6.0) and then see if you are able to update to v4.7.0 after clicking on Restart from the notifications tab ?

[2019-12-16 19:20] arman-g commented on #2024
@anusharavindrar do you mean reinstall v4.6.0 again?

[2019-12-16 19:25] anusharavindrar commented on #2024
@arman-g yup. Can you try to download the v4.6.0 from the release pages on **one of your systems** and see if you are able to update to v4.7.0.

[2019-12-16 20:29] arman-g commented on #2024
@anusharavindrar Here are my tests.

1. I have emulator v4.6.0.
2. Downloaded v4.6.0 .exe from GitHub page you provided.
3. Reinstalled it without uninstalling it from my system (reinstalled it without any error)
4. The problem still persisted.

5. Uninstalled v4.6.0 from my system completely.
6. Installed v4.6.0 form previously downloaded exe.
7. I was able to update the application with "Restart

[2019-12-16 20:34] anusharavindrar commented on #2024
@arman-g I am guessing there were issues with the previously installed version and it was not updated and hence you were encountering this issue. Is there any other issue you want help with?

[2019-12-16 20:51] arman-g commented on #2024
@anusharavindrar no I am good now, thanks!

[2019-12-16 20:53] #2024 closed

[2019-12-17 17:56] a-b-r-o-w-n opened #2026 "[mac] when json inspector has focus, zoom hot keys only effect json inspector"
## Version
4.7

## To Reproduce
Steps to reproduce the behavior:
1. Focus on json in the json inspector pane
2. Zoom using hot keys (`cmd++` & `cmd+-`)
3. Notice only json view is affected
4. Now, focus outside of the json inspector and repeat zoom
5. Notice all text / panes are affected by zoom.

## Expected behavior
This may be expected, but it seems odd to me. I would expect that all panes are

[2019-12-17 18:35] tonyanziano commented on #2026
Thanks for the report.

I just tried to repro on Windows, and the zoom hotkeys do nothing when the JSON inspector is focused, but focus both the app and inspector view when zooming while focusing something outside of the inspector.

[2019-12-24 18:13] turbozapekanka opened #2027 "OnMembersRemoved event is not supported"
How do I simulate user leaving conversation?

[2019-12-25 18:12] venkytt opened #2028 "Can't run the emulator"
Hello

After "npm install" , this is what happens: Please help!

Thanks in advance!

[code]

[2019-12-26 20:47] v-kydela commented on #2027
Hi @turbozapekanka

To answer your question, you can send activities to your bot in an Emulator conversation using the [Direct Line API](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-api-reference).

## Step 1: In Emulator

Make a note of the first two addresses that appear in the log panel, and pick one of them to use as the host for your Direct Li

[2019-12-27 17:38] anusharavindrar commented on #2028
@venkytt can you elaborate more on what you are trying to and add the steps to reproduce the issue?

[2019-12-30 17:48] cwhitten commented on #2028
@venkytt it looks like you are trying to run the local, development build of the Emulator, is this intended? You can download the executable from the [releases](https://github.com/microsoft/BotFramework-Emulator/releases/latest) page and install and run the application if you're only looking to use the tool.

[2019-12-30 17:50] #2028 closed

[2019-12-30 18:00] EricDahlvang commented on #1324
Closing this, since Payments have been deprecated.

[2019-12-30 18:00] #1324 closed

[2020-01-02 13:58] turbozapekanka commented on #2027
Yes this answers my question, thanks!

[2020-01-02 16:41] #2027 closed

[2020-01-02 17:57] mdrichardson opened #2031 "Connecting to bot opens Azure Gov webpage"
## Screenshots

![snippet-recording](https://user-images.githubusercontent.com/40401643/71683095-6abdb680-2d46-11ea-8fbc-d43d232bf96c.gif)

## Version

4.7.0

## Describe the bug

Connecting to bot opens Azure Gov webpage if you press enter/return instead of clicking Connect

## Steps to reproduce

1. Click Open Bot
2. Enter endpoint
3. Press enter or return instead of clicking connect
4. Watch th

[2020-01-06 18:11] tonyanziano commented on #2031
I've noticed this myself as well, and I believe it is caused by the link somehow getting focus when pressing enter.

Thanks for reporting this.

[2020-01-06 19:30] DesignPolice commented on #1259
@tonyanziano Happy New Year.. Chris tagged me on this, does that mean it is off backlog. hehe - I have some bandwidth

[2020-01-06 19:32] tonyanziano commented on #1259
@DesignPolice Happy New Year to you! I have yet to take a look at this because I still need to button up what I was working on before I left for the holidays. I'll get back to you.

[2020-01-06 19:33] DesignPolice commented on #1259
ok cool, I will be in the office tomorrow... if that helps

[2020-01-07 18:49] tonyanziano opened #2033 "[Tracking] Remove all legacy payment code"
Currently the project contains leftover legacy payment code from v3 that was never implemented, nor planned to be implemented in the future.

Payments have recently been deprecated.

See:
https://github.com/microsoft/botbuilder-dotnet/pull/3054
https://github.com/microsoft/botframework-sdk/pull/5683

[2020-01-08 17:44] cwhitten commented on #2011
@martinoss can you see if the issues remains on the latest release of the Emulator? https://github.com/microsoft/BotFramework-Emulator/releases/tag/v4.7.0

[2020-01-08 19:12] tonyanziano commented on #1874
This will be possible in #2034

[2020-01-08 19:15] tonyanziano commented on #1789
@scheyal can you provide some more information around how you arrived at this scenario?

I see that all the failed sends happen after your bot spits out what looks like an exception: `"Value cannot be null. Parameter name: o`

Is it possible that your bot stopped running after it hit the exception, and all the failed sends are because your bot is returning 500s?

[2020-01-08 22:21] tonyanziano commented on #1984
This should be fixed in #2034

[2020-01-08 22:24] cwhitten commented on #1789
@scheyal we're going to close this for now. We think something may be wrong with your bot that is causing this.

[2020-01-08 22:24] #1789 closed

[2020-01-08 22:28] cwhitten commented on #1788
Note to fixer: If the conversation is generated via a .bot file continue to render this error in the message pane. If the conversation is generated via url connection, do not render this error in the message pane.

[2020-01-08 22:33] #1623 closed

[2020-01-08 22:40] tonyanziano commented on #1637
Check if this is fixed by #2034

[2020-01-08 22:46] cwhitten opened #2035 "Additional telemetry events"
Take what was discussed in the Emulator Telemetry Overview meeting from several months ago, and apply suggestions and improvements to current telemetry infrastructure.

[2020-01-08 22:47] cwhitten opened #2036 "Hide Services pane by default"
<img width="1407" alt="Screen Shot 2020-01-08 at 2 46 56 PM" src="https://user-images.githubusercontent.com/1156704/72022612-be883e00-3225-11ea-951e-0a8304764758.png">

[enhancement]

[2020-01-08 22:50] cwhitten opened #2037 "Suggest appid/password/endpoint combinations when connecting via url"
When a user connects to a bot via url that requires an app id and password, we want to reduce the friction or reconnecting to this bot by storing these credentials securely using system api's and suggesting a list of recently used appid/password combination for the user to select and pre-fill the connection details.

[enhancement]

[2020-01-08 22:58] tonyanziano opened #2038 "[Enhancement] Move state store code to /app/shared"
Currently, the action and reducer code, is duplicated in both `/packages/app/client` and `/packages/app/main`.

The number of files here could be halved by moving all this shared code into `/packages/app/shared/state` where both the main and client code bases could import it from.

The only thing left on either side would be the store initialization code and that side's sagas.

[2020-01-08 23:06] cwhitten opened #2039 "Restart conversation from a point in the transcript timeline"
Currently when a user restarts a conversation, the user starts "from scratch" every time. This can be useful sometimes, but when a user is actively debugging and developing a bot, they don't care to run-through the conversation from the beginning.

We would like to add a feature in the Emulator to restart a conversation from a point in time in the conversation's transcript, so the user could skip

[2020-01-08 23:09] cwhitten opened #2040 "Modify WebChat implementation to support connecting to a Direct Line Speech bot remotely"
WebChat supporting DirectLine Speech requires an update to the way we configure the control in the Emulator. When the user connects to a bot we need to add a field to denote if it is a DL-Speech bot and if so, the WebChat needs to be instantiated with some additional user-driven parameters. See https://github.com/microsoft/BotFramework-WebChat/blob/master/DIRECT_LINE_SPEECH.md for more detail, and

[2020-01-09 00:26] arturl opened #2041 "[Hackathon] Medium-size HTTP Request takes more than 30 minutes to process, hangs Emulator"
## Version
4.5.2

## Describe the bug
I use an HTTP request to request FBI crime data ([link](https://api.usa.gov/crime/fbi/sapi/api/participation/national?data_year=2016&api_key=0NViFVXkk60trtLvLkWPhRKqc8kBtxjnjzeVwYDr)). The request returns ~35K of JSON data which hangs the emulator.

## To Reproduce
Steps to reproduce the behavior:
1. Create an HTTP Request with the following url:
`https://api.

[2020-01-09 00:56] tonyanziano commented on #2041
You say you are seeing "Connecting..." in the Web Chat panel, correct? So does this mean that the bot is immediately firing this request and trying to send it to the user as soon as the conversation starts?

[2020-01-09 16:31] mdrichardson commented on #2037
Might be nice to have them pop up here, too, since .bot files are no longer used:

![image](https://user-images.githubusercontent.com/40401643/72085550-5fc0d400-32ba-11ea-95fc-a17ae701f8cf.png)

[2020-01-09 19:26] tonyanziano commented on #416
Closing this in favor of tracking over at #1700

[2020-01-09 19:26] #416 closed

[2020-01-09 19:28] tonyanziano commented on #990
Closed in favor of tracking at #1611

[2020-01-09 19:28] #990 closed

[2020-01-10 02:21] cwhitten commented on #2037
Great suggestion @mdrichardson !

[2020-01-10 17:46] tonyanziano opened #2042 "[Tracking] Enable Web Socket Integration w/ Web Chat"
This issue represents the work needed to send activities from the channel (Emulator) to Web Chat over a Web Socket connection instead of endless REST polling from DLJS.

[2020-01-14 05:29] xieofxie opened #2043 "restart with custom userId, conversationId"
### Use this [query](https://github.com/Microsoft/botframework-emulator/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

Can't restore state for a previous user/conversation.

**Describe the solution you'd like**

In restart, provide a new menu 'Restart with custo

[2020-01-14 05:30] xieofxie commented on #1700
Do we have a timeline for this 'provides a place to send an arbitrary activity payload to the bot'?
It is quite useful, thanks~

[2020-01-14 14:35] martinoss commented on #2011
@cwhitten I just tested it with v4.7.0 and it's now working 🎉 Thank you for the excellent service 👍

[2020-01-14 14:35] #2011 closed

[2020-01-14 16:59] tonyanziano commented on #1700
@xieofxie it is scheduled for our current release schedule (March release), but it has a lower priority so it may get bumped depending on the progress of other scheduled tasks for this release.

[2020-01-14 17:00] darrenj opened #2044 "Clone Endpoint Configuration"
**Is your feature request related to a problem? Please describe.**
When I add a new endpoint for my Bot (e.g. localhost:3978/api/messages) it's really frustrating to then have to copy/paste the AppId and Secret into a new endpoint configuration for an endpoint in Azure which has all the same details apart from the endpoint URI.

**Describe the solution you'd like**
- Right click an existing Endpoi

[2020-01-14 19:16] Andrea-Orimoto opened #2045 "Emulator 4.6.0 fails to update to 4.7.0"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.6.0

## Describe the bug
When hitting the restart button in the Emulator upgrade notification for 4.7.0, I get an error dialog stating that there is no

[2020-01-14 20:27] tonyanziano commented on #2045
@Andrea-Orimoto when you close the Emulator and restart it after this error happens, does the installer kick in and start installing the update? Or are you still on the old version?

[2020-01-14 23:45] cwhitten commented on #2044
@darrenj how often do you do this copy/paste?

[2020-01-15 07:13] ShikhaMishra11 opened #2046 "[Usable-Split Edit button]: There is no announcement after activating 'Split edit button'."
**Actual Result:**
There is no announcement if user select 'split edit button' and also, no other option to go back to previous view mode.

**Expected Result:**
For better user experience, presentation view should be available so that user can share back to previous mode and also there should be proper information should be available so that user is able to know.

**Repro Steps:**
1.Open the Bot F

[2020-01-15 13:16] cbtham opened #2047 "Unable to update bot on 32bit Windows 10"
## Version
4.4.2 > 4.7.0
*Specifically on Surface Pro X which supports 32bit

## Describe the bug
No such file or directory when emulator performs installation of newer update over 4.4.2

## To Reproduce
Steps to reproduce the behavior:
1. Install 4.4.2 on Surface Pro X or 32 bit windows 10
2. Post installation, check update & attempt to update
3. This error popped up-
![image](https://user-images

[2020-01-15 13:19] cbtham commented on #2047
If I were to install 4.7.0 directly, this error shows:-

![image](https://user-images.githubusercontent.com/5702935/72436974-a774bd80-37dc-11ea-9e40-736461c6038b.png)

[2020-01-15 17:35] mdrichardson commented on #2047
@cbtham I've come across something similar before. Can you attempt the following steps:

1. Uninstall any current version of Emulator using "Add or Remove Programs"
2. In File Explorer, go to `%AppData%` and delete the `@bfemulator` folder.
3. Download and install [v4.7.0](https://github.com/microsoft/BotFramework-Emulator/releases/download/v4.7.0/BotFramework-Emulator-4.7.0-windows-setup.exe) of

[2020-01-15 17:48] tonyanziano commented on #2047
@cbtham This is most likely due to the fact that -- several releases ago -- we stopped releasing a 32-bit Windows installer in favor of only a 64-bit installer.

I'd recommend doing a clean re-installation like @mdrichardson suggested.

[2020-01-15 17:49] mdrichardson commented on #2047
@tonyanziano I wasn't aware of that and could see this coming up again. Do you happen to know when the releases were 64-bit-only? Is it currently both?

[2020-01-15 17:52] tonyanziano commented on #2047
@mdrichardson Let me see if I can find exactly when this happened.

[2020-01-15 18:01] tonyanziano commented on #2047
@mdrichardson I can't seem to track it down because it only required a change in our build system instead of a source code change, but I think it was some time around v4.3 or v4.4. (v4.4 is when we stopped releasing 32-bit linux artifacts).

I haven't tried installing the Emulator on a 32-bit machine, but judging from our build process it should be a 64-bit installer.

There's also an option to bu

[2020-01-15 18:02] mdrichardson commented on #2047
@tonyanziano Are 32-bit customers just SOL with anything beyond v4.3-ish, then?

[2020-01-15 18:06] tonyanziano commented on #2047
@mdrichardson Assuming the new installer doesn't work on 32-bit machines, yes. However, I haven't tried and can't confirm.

[2020-01-15 18:25] mdrichardson commented on #2047
@cbtham If you're unable to get it installed and don't want to use an older version (< v4.3), your other option would be running [Web Chat](https://github.com/Microsoft/BotFramework-WebChat) locally.

[2020-01-16 07:00] ShikhaMishra11 opened #2049 "[Usable- Bot App]: ' NVDA is announcing disable on required edit field."
**Actual Result:**
When focus reach to mandatory edit filed, NVDA reports invalid even the edit field is blank which is confusing for screen reader

**Expected Result:**
'Invalid' announcement for required/mandatory field should not be announced by NVDA.

**Repro Steps:**
1.Turn on NVDA
2. Switch on the Bot framework emulator
3. Activate 'Create new bot-configuration' button and select it.
4. Navi

[2020-01-16 09:49] ShikhaMishra11 opened #2050 "[Object Information- Open Bot dialog]: Suggestion list available announcement is not provided on edit field."
Actual Result
No information is given by VO regarding to the suggestions available for "enter URL edit box".

Expected Result
When focus moves on the "enter URL edit box", Vo should inform that suggestions are available for the same.

Repro Steps
1.Turn on Voice Over
2. Launch Bot Framework evaluator V4
3.Navigate to the Open bot
4.Select the Open bot control button
5. Navigate to 'Bot URL' edit b

[2020-01-16 10:12] ShikhaMishra11 opened #2051 "[Screen Reader- New Bot Config]: Voice over is giving incorrect information when navigate using tab key on edit field of 'New bot configuration dialogue'."
Actual Result
When user navigate to 'Bot endpoint url' using tab key voice over is giving incorrect information such as 'Text unselected' which does not make sense.

Expected Result
For better user experience, incorrect information should not be announced.

Repro Steps
1.Turn on Voice Over
2.Launch Bot framework app.
3. Navigate to 'New Bot configuration button' and activate it.
4. Navigate to Bot

[2020-01-16 10:27] ShikhaMishra11 opened #2052 "[MAS4.1.2] Name is not defined for close button."
Actual Result:
User will unable to understand the purpose of the button.

Expected Result:
Name should be defined for the "Close" (x) button available under '
My Bots' section.

Test Environment
Platform: Mac 10.15.3 Beta (19D49f)
App: Bot Framework Emulator V4
App version: Version 4.7.0-99577 (4.7.0-99577.99577)
Tool: Voice Over

Repro Steps:
1.Open the Bot Framework V4 Emulator.
2. Welcome tab s

[2020-01-16 10:49] ShikhaMishra11 opened #2053 "[MAS4.2.12][Screen reader - Save trancript] No confirmation is provided when the transcript is saved."
Actual Result:
Voice over does not announce the confirmation after activating the save transcript control.

Expected Result:
Proper   confirmation should be given by VO when the transcript has been saved.

My Bots' section.
Test Environment
Platform: Mac 10.15.3 Beta (19D49f)
App: Bot Framework Emulator V4
App version: Version 4.7.0-99577 (4.7.0-99577.99577)
Tool: Voice Over

Repro Steps:
1.Open t

[2020-01-16 10:57] cbtham commented on #2047
![image](https://user-images.githubusercontent.com/5702935/72519248-f2044180-3891-11ea-8665-f6d5e1cda9c6.png)

I followed your step to clean install it. This happened after the installer extracted and installed everything. I'm not sure this is related to just the surface pro X or generally 32bit windows

[2020-01-16 11:05] ShikhaMishra11 opened #2054 "[Usable] Hidden dialogue is appearing after saving the "save tanscript""
Actual Result:
Hidden dialogue is appearing after saving the "save transcript"

Expected Result:
Unnecessary dialogue should not be appear, which can be confusing to the screen reader dependent user.

Test Environment
Platform: Mac 10.15.3 Beta (19D49f)
App: Bot Framework Emulator V4
App version: Version 4.7.0-99577 (4.7.0-99577.99577)
Tool: Voice Over

Repro Steps:
1.Open the Bot Framework V4 Emu

[2020-01-16 11:48] ShikhaMishra11 opened #2055 "[MAS 3.3.2] [Labels & heading-Endpoint] Label is not asociated with the (+) Add button"
Actual Result:
User will unable to understand the purpose of the button.

Expected Result:
Label should be defined for the (+) Add button available under the bot explorer. it should announce the associated label as "Endpoint add(+) button".

Test Environment
Platform: Mac 10.15.3 Beta (19D49f)
App: Bot Framework Emulator V4
App version: Version 4.7.0-99577 (4.7.0-99577.99577)
Tool: Voice Over

Rep

[2020-01-17 00:20] mdrichardson commented on #2047
@cbtham If you're unable to get it installed and don't want to use an older version (< v4.3), your other option would be running [Web Chat](https://github.com/Microsoft/BotFramework-WebChat) locally.

I'm going to close this issue as unfortunately, those are the only solutions at this point.

[2020-01-17 00:21] #2047 closed

[2020-01-17 13:15] stephanbisser opened #2056 "Bot Inspector Mode missing"
## Version
4.7.0

## Describe the bug
The Bot Inspector Mode is described in my emulator under Help, but I have no option under View to enable the Bot Inspector Mode:

![image](https://user-images.githubusercontent.com/29750798/72614913-be79f380-3933-11ea-9661-b79a35104362.png)

How can I enable that mode as I want to debug Teams using the emulator...

[bug]

[2020-01-17 17:42] mdrichardson commented on #2056
@stephanbisser

There's a couple of things you could/might be talking about, so I'll cover both.

### JSON Inspector

The [JSON Inspector](https://github.com/microsoft/BotFramework-Emulator/wiki/Inspectors) is a panel within Emulator that allows you to view Activity JSON as well as LUIS and QnA Maker data.

You don't need to enable it. You just need to click on what you want to inspect after conne

[2020-01-17 18:22] stephanbisser commented on #2056
@mdrichardson the second option is what I might be looking for. But I actually want to use the emulator to inspect the bot which is served through Teams and I see this in my emulator under help:

![image](https://user-images.githubusercontent.com/29750798/72636105-a5d30300-395e-11ea-9e4e-bf53315dacfe.png)

is the 2nd option you described the same as this?

[2020-01-17 18:23] mdrichardson commented on #2056
@stephanbisser Yep, that's the second option!

[2020-01-17 18:25] stephanbisser commented on #2056
Great thanks for the information, issue can be closed!

[2020-01-17 18:38] #2056 closed

[2020-01-21 18:47] scheyal opened #2057 "Add a what's-new page with updated clients"
Add a what's new features to Emulator in order to publish latest communications during milestone release updates.

Need:
* ensure content generation side is ready
* wire up tech to check and produce a whatsnew page on updates

[enhancement]

[2020-01-22 18:32] tonyanziano commented on #2057
Great idea! This would be really cool.

[2020-01-23 00:36] tonyanziano commented on #1405
@vseanclark we have just merged in a PR (#2034) that switches communication between the client (Web Chat) and the Emulator to Web Sockets instead of REST polling via GET.

It may be worth checking out to see if it resolves your issues.

It will be available in the newest nightly at around 10:30 PM PST tonight.

[2020-01-23 00:37] #2042 closed

[2020-01-23 18:15] #2036 closed

[2020-01-24 16:50] #2033 closed

[2020-01-24 22:43] tonyanziano commented on #1984
Confirmed this is fixed in #2034

[2020-01-24 22:43] #1984 closed

[2020-01-27 11:49] darrenj commented on #2044
Whenever you create/deploy a new Bot. Once for dev and again for azure

[2020-01-27 11:51] darrenj opened #2062 "Transcript rendering very slow"
## Version
4.7.0

## Describe the bug
When opening a Transcript file (like the attached) it takes around 60 seconds to render the cards. No loading feedback is given so it can be natural to assume it's not working and reset the emulator / raise an issue.

## To Reproduce
Steps to reproduce the behavior:
1. Open attached transcript

## Expected behavior
Optimise transcript loading or provide a "loa

[2020-01-27 17:54] tonyanziano commented on #1874
Fixed in #2034

[2020-01-27 17:54] #1874 closed

[2020-01-27 17:56] tonyanziano commented on #2062
I believe this is the same bug as #1623 & #1637.

[2020-01-27 18:01] tonyanziano commented on #1931
This is in progress. I've sent @DesignPolice the requirements for the installer graphics, and he is working on them.

Once the graphics are done it will be a very easy change to implement.

[2020-01-27 21:28] #2045 closed

[2020-01-27 21:28] cwhitten commented on #2045
Closing due to inactivity

[2020-01-28 10:19] Rajendrakumarnune opened #2064 "Not able to connect to bot with vpn connection"
Hi All,

Getting the below error while connect to bot with VPN

The bot's Microsoft App ID or Microsoft App Password is incorrect.

[2020-01-28 15:33] infact commented on #1837
getting stuck with same situation, no errors, no logs

User said, hello. Sent at: January 28, 09:30
hello
hello

Sent at: January 28, 09:30A minute ago
Connectivity status: Connected
Suggested Actions container: is empty

Type your message

[09:28:23]Emulator listening on http://[::]:65356
[09:28:23]ngrok configured but not running
[09:28:34]
[09:28:34]POST401directline.conversationUpdate
[09:28:3

[2020-01-28 18:10] tonyanziano commented on #1837
@infact does your local bot use an Microsoft App ID & PW?

[2020-01-28 19:56] anusharavindrar commented on #2064
@Rajendrakumarnune can you please add the steps to reproduce the issue? How are you connecting the bot to the Emulator? Have you entered your app credentials correctly? Does it connect to the bot as expected when not connected to a VPN?

[2020-01-29 15:19] Rajendrakumarnune commented on #2064
Yes I have entered correctly and bot is connecting with out vpn

[2020-01-29 15:20] Rajendrakumarnune commented on #2064
I am getting issue with VPN only

[2020-01-29 18:24] #1875 closed

[2020-01-29 18:56] srinaath commented on #1686
Tested this on webchat and emulator. This ticket can be safely closed as it satisfies the three conditions

When the property has a value, it should be used
When the property value is null, Speak should use the Text value
When the property is an empty string, the property value can be ignored.

[2020-01-29 18:56] #1686 closed

[2020-01-29 18:57] srinaath commented on #1973
Feature completed as a part of this https://github.com/microsoft/BotFramework-Emulator/pull/2061

[2020-01-29 18:57] srinaath commented on #1882
Feature completed as a part of this https://github.com/microsoft/BotFramework-Emulator/pull/2061

[2020-01-29 21:05] anusharavindrar commented on #2064
@Rajendrakumarnune what version of the Emulator are you testing on? Can you attach a screenshot of the error you are getting? Are you able to access the Azure portal and the resources while connected to a VPN? Also, can you make use of [Fiddler](https://www.telerik.com/fiddler) and attach the Fiddler trace from the moment you try to connect the bot to the Emulator up until you get the error?

[2020-01-30 13:06] Rajendrakumarnune commented on #2064
I am attaching the bot emulator version and I am not able fiddler response because git hub not accepting tha .saz format.

I am working behind Corporate company and I am using bot emulator and bot application is c#.

I am thinking is there any proxy issue if it is how to set proxy for the bot emulator.
if it is not proxy issue please provide the solution for this.

![image](https://user-images.git

[2020-01-30 13:48] Rajendrakumarnune commented on #2064
Yes,I am able to login to azure portal while connected to VPN.

[2020-01-30 18:13] srinaath opened #2071 "Remove styling for download icon"
## Version
Stable master

## Describe the bug
Currently, we add styling specific to download icon inside the parent DownloadAttachment. https://github.com/microsoft/BotFramework-WebChat/pull/2868, this PR will be consolidating Upload and Download attachment as a single FileAttachment at which point when Emulator upgrades to WebChat 4.8 the styling change made in https://github.com/microsoft/BotFra

[2020-01-30 18:45] anusharavindrar commented on #2064
@Rajendrakumarnune my follow-up question would have been the same - if you are on a corporate network or behind a proxy? It is difficult to narrow down on the issue without looking into the network trace.  Can you try to upload the Fiddler trace within a .zip file and share or email me the .saz file(email id is on my Github profile)?

[2020-01-30 20:57] #2038 closed

[2020-01-31 11:05] Rajendrakumarnune commented on #2064
Please find the attached fiddler file
[bottraffic.zip](https://github.com/microsoft/BotFramework-Emulator/files/4138976/bottraffic.zip)

[2020-01-31 11:10] Rajendrakumarnune commented on #2064
Please find the error below

![image](https://user-images.githubusercontent.com/8529163/73534902-54d80a00-4448-11ea-8f42-47824a330c79.png)

[2020-01-31 18:56] tonyanziano commented on #2062
See if this is fixed with #2034

[2020-01-31 19:29] tonyanziano commented on #2062
Please try this with the newest nightly. It looks to me like it has been fixed.

Reopen if the issue persists.

[2020-01-31 19:29] #2062 closed

[2020-01-31 21:11] #2031 closed

[2020-01-31 21:24] #2035 closed

[2020-01-31 23:58] #1788 closed

[2020-02-03 07:19] SriRakesh commented on #1837
@ygizhitsa Hey try again by disabling the proxy... i got the same issue when i was using proxy, Now it's working for me

[2020-02-03 17:31] Rajendrakumarnune commented on #2064
any update on this?

[2020-02-03 17:39] Rajendrakumarnune commented on #2064
I have raised for the ticket for this issue for this my network team is saying we are not getting any hits form your address so please configure externally for this bot emulator so that traffic will goes through the proxy.
I have used environmental variable to set the proxy but it didn't work.
so how to set proxy for the bot emulator.
Please help me on this.

[2020-02-03 18:00] anusharavindrar commented on #2064
@Rajendrakumarnune thanks for the fiddler trace. I will check the trace and update the thread with my findings. You can set the HTTPS_PROXY environment variable with the address of your proxy and restart the Emulator after setting the variable, and then try using the Emulator to connect to your bot.

Ex: `set HTTPS_PROXY=http://[proxy-address][:port]`

[2020-02-03 18:09] tonyanziano commented on #2064
I took a look at the Fiddler trace and it looks like the body of the 400 response is:

`{"error":{"code":"ServiceError","message":"response.text is not a function"}}`

I believe this is coming from the following line in the code:

https://github.com/microsoft/BotFramework-Emulator/blob/master/packages/app/main/src/server/routes/directLine/handlers/postActivity.ts#L69

So it would seem the request

[2020-02-03 18:36] Rajendrakumarnune commented on #2064
I have tried with environment variable but it didn't work.
Please help me in other way.

[2020-02-03 19:15] Rajendrakumarnune commented on #2064
I haven't tried any custom build.

[2020-02-03 19:17] tonyanziano commented on #2064
@Rajendrakumarnune I will make a custom build for you to try once I make the changes to the Emulator code that should help surface the error.

[2020-02-03 19:21] anusharavindrar commented on #2064
@Rajendrakumarnune how are you configuring the environment variables `HTTP_PROXY, HTTPS_PROXY, NO_PROXY` ?

[2020-02-03 19:54] Rajendrakumarnune commented on #2064
I have followed below steps

1. From start search, type env
2. Click on Environment Variable under Advanced tab.
3. Under "User Variable , click new and fill the following info and click OK –
• Variable_name : http_proxy | variable_value : http://[proxy]:[port]
• Variable_name : https_proxy | variable_value : http://[proxy]:[port]
I have not configured any NO_PROXY .

When I add environment variab

[2020-02-03 19:55] Rajendrakumarnune commented on #2064
Please provide custom build.

[2020-02-03 23:48] #1973 closed

[2020-02-03 23:48] #1882 closed

[2020-02-03 23:48] #1929 closed

[2020-02-04 06:27] xieofxie opened #2075 "resend previous message with one click"
### Use this [query](https://github.com/Microsoft/botframework-emulator/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm always frustrated when resending previous mess

[2020-02-04 23:53] tonyanziano commented on #2075
Hi @xieofxie ,

Just for clarification, the feature that you are asking for is a new context menu item to resend the selected activity back to the bot?

So for example, if the user sent messages A, B, and C to the Bot, he or she would be able to right click on message B, and resend it to the bot so that the conversation transcript would now read:

A, B, C, and D?

===

Also, what sort of scenario(

[2020-02-05 02:16] xieofxie commented on #2075
@tonyanziano You are right. It is actually 'Copy text' + paste in message box and enter.

When I debugging a bot, I often need to stop, fix the bot and rerun certain logic.

[2020-02-05 12:57] Rajendrakumarnune commented on #2064
Any update on this.

[2020-02-05 18:24] tonyanziano commented on #2075
Thanks for the feedback! @xieofxie

[2020-02-05 18:26] tonyanziano commented on #2064
Hi @Rajendrakumarnune ,

Why don't you send me an email at **toanzian@microsoft.com** and I will send you a .zip containing the custom Mac build for you to try.

I believe the file is too large to upload to GitHub.

[2020-02-06 15:42] Rajendrakumarnune commented on #2064
I have send mail to you.

[2020-02-07 08:45] Rajendrakumarnune commented on #2064
I am getting the below message in log file.

{
    "message": "\"The bot's Microsoft App ID or Microsoft App Password is incorrect.\""
}

[2020-02-07 10:35] Rajendrakumarnune commented on #2064
when I remove APP ID and Password I am able to connect.

[2020-02-07 18:16] tonyanziano commented on #2064
@Rajendrakumarnune is your bot local?

If it is, are you sure your bot code is configured to accept an App ID & Password?

Usually that logic would look like this:

![image](https://user-images.githubusercontent.com/3452012/74054424-e8529300-4992-11ea-9a54-e5bf2f6d8949.png)

[2020-02-08 13:53] kastwey opened #2076 "Serious accessibility problem in live chat tab"
Hi,

I'm blind, and I'm using a screen reader.
After downloading the latest version (I updated today), the list of messages are not visible for JAWS screen reader.
The error, I think, is because you put aria-label="" in the span containing the message:
<div class="webchat__row message"><span aria-label=" " class="css-1i0rgxs">Bot  said, What else can I do for you?.
So the span content is not shown

[2020-02-08 15:14] Rajendrakumarnune commented on #2064
Hi,

My bot is running locally ,when I configure APP ID and Password from Emulator and application it is not working and when I remove it from the both it is working.

[2020-02-09 05:24] EricDahlvang commented on #2076
Hi @kastwey or Juanjo,

I've worked with JAWS, nearly 20 years ago. It is good to hear the application is still prominent and useful.

Thank you for raising this issue and recommendations.  The team will address it asap.

[2020-02-09 13:05] kastwey commented on #2076
Hi!

Thanks so much, really!

All the best,

Juanjo.

2020-02-09 6:24 GMT+01:00, Eric Dahlvang <notifications@github.com>:

[2020-02-10 19:24] clearab commented on #2076
@cwhitten Can you take a look at this and prioritize the bug fix?

[2020-02-10 19:29] DesignPolice commented on #1931
Thanks @tonyanziano

A few loading graphics to try out. See how they look.

![BF_EM1_164X314](https://user-images.githubusercontent.com/45223620/74182766-82ffdb80-4bf8-11ea-9a13-37419133895c.png)
![BF_EM2_150X57](https://user-images.githubusercontent.com/45223620/74182769-84310880-4bf8-11ea-8d4c-fb1c277a3a79.png)

[2020-02-10 23:41] tonyanziano commented on #1986
This has been bumped out of the current release's planning. I will revisit this issue following the current release.

[2020-02-11 03:32] cwhitten commented on #2076
@kastwey thank you for the issue and I’m sorry to hear you’re having screenreader issues using the Emulator.

We recently completed WCAG 2.1 compliance criteria, but the audit was done using NVDA and not JAWS. This is due to the underlying browser and web technologies that power the application. Are you able to use NVDA instead?

[2020-02-11 03:52] #1259 closed

[2020-02-11 03:52] cwhitten commented on #1931
addressed in https://github.com/microsoft/BotFramework-Emulator/pull/2077

[2020-02-11 03:52] #1931 closed

[2020-02-11 09:31] kastwey commented on #2076
Hi!

Yes, NVDA does read messages from the logs, but when new messages
arrive it doesn't read them automatically.

I think what with JAWS,  the conflict is due the empty aria-label
inside the message container. NVDA may overlook it, but JAWS doesn't.

Thanks!

Best regards,

Juanjo.

2020-02-11 4:33 GMT+01:00, Chris Whitten <notifications@github.com>:

[2020-02-12 16:55] anusharavindrar commented on #2064
@Rajendrakumarnune, reiterating @tonyanziano's question, is your bot code configured to consume the app credentials through the environment variables?

[2020-02-12 23:49] dmvtech opened #2078 "Custom/configured user ID is lost after restarting conversation"
## Version
4.7.0

## Describe the bug
When you set a custom user ID in the Emulator settings, it will work initially (after an emulator start). But as soon as you restart the _conversation_, it will be set to a new ID (GUID).

## To Reproduce
Steps to reproduce the behavior:
1. Set a custom ID in the Emulator settings
2. Talk to bot (ideally something that echo's the user ID)
3. Restart conversati

[2020-02-13 07:17] tonyanziano commented on #2078
This is by design.

The "Restart Conversation" button has two options:

- restart conversation with new user ID (this is the default) -- will replace whatever your previous ID was with a fresh GUID
- restart conversation with same user ID -- this will preserve your previous ID and carry it into the new conversation

You can access the second option through the dropdown:

![image](https://user-imag

[2020-02-13 07:17] #2078 closed

[2020-02-13 09:12] mdesalvo opened #2080 "Add ability to create and send a custom event to the bot"
**Is your feature request related to a problem? Please describe.**
We have channels (e.g.: a voice channel) which start the conversation with the bot through a custom activity of type event. Actually we cannot simulate a custom event with the emulator, because it only offers the capability to send predefined system events (e.g.: conversationUpdate, typing, ping).

**Describe the solution you'd lik

[2020-02-13 17:52] tonyanziano commented on #2080
Hi @mdesalvo ,

This work item is already being tracked by #1700 .

It was scheduled for this upcoming release (around March) but was bumped into the next release.

Thanks for the feedback!

[2020-02-13 17:52] #2080 closed

[2020-02-17 21:43] turbozapekanka opened #2082 "locale setting is not being passed to the bot"
I changed locale setting to "es-ES" in the Emulator settings and the UI changed, but the locale in the message activity is still "en-US":

![image](https://user-images.githubusercontent.com/20775323/74688158-38ec9c00-519c-11ea-9af0-7ada89da65c4.png)

[2020-02-18 17:00] tonyanziano commented on #2082
This might be related to #415

[2020-02-18 17:15] turbozapekanka commented on #2082
Yes this is related and I first discovered this when I noticed welcome message was not translated. I was testing my bot (based on Virtual Assistant) with WebChat and noticed that welcome message is sent in English regardless of the language I specify in WebChat.renderWebChat(). After the first message it switches to Spanish correctly.
Would like to have this fixed or if this is by design, then ple

[2020-02-18 17:25] mdrichardson commented on #2082
@turbozapekanka What version of Emulator are you using? I'm not able to replicate this in a non-VA bot.

![image](https://user-images.githubusercontent.com/40401643/74761255-8c102e80-5230-11ea-95e2-2c04bb792f8a.png)
![image](https://user-images.githubusercontent.com/40401643/74761283-9b8f7780-5230-11ea-87da-b35e251a2552.png)

[2020-02-18 17:43] turbozapekanka commented on #2082
4.7.0

[2020-02-18 17:46] mdrichardson commented on #2082
@turbozapekanka If you fully close out of Emulator and re-open it, does the problem persist? If so, I'm starting to think it may be specific to that VA bot. I'll spin one up and test it.

[2020-02-18 17:46] mdrichardson commented on #2082
@turbozapekanka If you fully close out of Emulator and re-open it, does the problem persist? If so, I'm starting to think it may be specific to that VA bot. I'll spin one up and test it.

[2020-02-18 20:18] turbozapekanka commented on #2082
It works after I restarted the Emulator!

[2020-02-18 22:22] tonyanziano commented on #2082
Glad to hear that worked @turbozapekanka .

We should still investigate and fix this if it requires a restart for the locale change to take effect; that is not by design.

[2020-02-18 22:36] mdrichardson commented on #2082
@tonyanziano For me, I didn't need to restart for it to take effect. I only recommended it because I've had other odd/sporadic, and unrelated, issues with Emulator that were fixed with a restart.

[2020-02-18 22:38] tonyanziano commented on #2082
@mdrichardson Ah gotcha. Ok well I'll take a look anyways to see if there's anything fishy going on.

[2020-02-18 23:05] turbozapekanka commented on #2082
@mdrichardson I also noticed your screenshot looks a bit different, I don't have this conversationUpdate for example:
![image](https://user-images.githubusercontent.com/20775323/74785824-dfa26c80-5270-11ea-949e-ff260c00beee.png)

[2020-02-18 23:07] mdrichardson commented on #2082
@turbozapekanka I saw that, too. I think sometimes that can happen depending on the timing between starting the conversation and the bot being ready?

[2020-02-19 00:30] corinagum commented on #1978
@awalia13 I believe there are two problems that are being addressed in this issue.
1. Up/down arrows in AT mode should navigate up and down the transcript
1. New Messages button is not reachable via keyboard

Right now, **my question is only regarding:**

To summarize the issue with problem 1 above, currently in Web Chat AT focus does not navigate from the send box (bottom input) to inside the tra

[2020-02-19 13:03] Rajendrakumarnune commented on #2064
No I just configured in Emulator and application

[2020-02-19 18:06] tonyanziano commented on #2064
@Rajendrakumarnune this is by design.

If you have not configured your bot to consume the App ID & Password through environment variables or some other method, and you try to enter them through the Emulator, then you will not be able to connect to your bot.

In order to connect to your bot, you need to be in one of the two following scenarios:

1. Your bot code is configured to consume the App ID

[2020-02-19 18:06] #2064 closed

[2020-02-19 19:06] Rajendrakumarnune commented on #2064
I have configured app id and password from the configuration file and it is working with out VPN but it is not working with VPN.

[2020-02-19 22:10] tonyanziano opened #2083 "Clean up TypeScript Build Config"
Currently, the TypeScript compiler, `tsc`, is only called in 5 packages of the Emulator, yet there is a `tsconfig.json` file in every package.

There is also a discrepancy between the name of the build folder that each package outputs to:

`sdk/client`: `/built/`

`sdk/shared`: `/build/`

This could be simplified by removing unnecessary `tsconfig.json` files, moving global settings to the root `ts

[2020-02-19 23:28] tonyanziano commented on #2082
I took a look and could not repro the issue or find anything suspicious in the code that assigns the locale to outgoing activities.

For now I I think it's safe to close this issue, with the workaround being restarting the Emulator as @mdrichardson mentioned.

If there are more reports of settings not saving properly then we can take a deeper dive into the logic behind persisting the app settings.

[2020-02-19 23:28] #2082 closed

[2020-02-20 06:11] ashish315 commented on #1978
@corinagum As per previous comments. The bug is fixed for the online bot emulator but our issue are still repro for "Bot Emulator Framework" application.

The chats should be accessible by up/down arrow in all mode (Keyboard and Screen reader). For reference you can have a look on "MS Teams or Skype".
For the second issue i.e. 'New Message', it sounds good to have a shortcut key to reach them but

[2020-02-20 18:02] tonyanziano commented on #2064
@Rajendrakumarnune you mentioned in [an earlier comment](https://github.com/microsoft/BotFramework-Emulator/issues/2064#issuecomment-583745449) that your bot is running locally.

So just to clarify:

1. Your bot is running locally
2. Your bot code is configured to run with an App ID & Password
3. When **not connected to a VPN** you can connect to your bot both with and without credentials.
4. When

[2020-02-20 18:46] #2040 closed

[2020-02-21 18:13] tonyanziano opened #2084 "Should expose current bot URL somewhere in the UI"
**Is your feature request related to a problem? Please describe.**

When connecting to a bot via URL -- not .bot file -- there is no UI indication of what URL the bot is running on. This can be an issue when launching a connection to a bot via URL through a deep link (such as testing your bot via Composer) and wanting to know the URL for debugging purposes.

**Describe the solution you'd like**

T

[2020-02-24 14:41] archmangler commented on #107
I must I'm finding extreme difficulty in producing reliable solutions with Microsoft's bot framework. Really poor quality from a documentation, code quality, overall integration and simplicity point of view.

[2020-02-24 15:03] archmangler opened #2085 "Dependency on a 3rd Party tool which Requires signup!! Bot EMulator -> Ngrok"
Please explain why we need ngrok to make the debug consol for bot framework work?

Without this third party tool, and without signup to it, the Azure bot local debug console and tools are useless because we get this error:

[code]

Is there a way around this?

[2020-02-24 17:22] mdrichardson commented on #2085
From [the Wiki](https://github.com/microsoft/BotFramework-Emulator/wiki/Tunneling-%28ngrok%29):

So, your bot/DirectLine doesn't know where to send messages without tunneling software like ngrok. You can use any tunneling software, but ngrok is the most widely-used. Although you need to create an account to download it, you can sign up for the free version and everything will work just fine.

Alte

[2020-02-24 18:16] corinagum commented on #1978
Thank you for the help.

After looking into this problem more closely, I recall that each activity being clickable is by design. Since every activity can be accessed in the log panel, it is necessary for the user to be able to iterate through all of them. This means that after the fix, the user will still be tabbing from the activity they search all the way to the sendbox. This behavior is differe

[2020-02-24 18:48] cwhitten commented on #2076
Hi @kastwey. Unfortunately, we don't officially support JAWS and ask our users to use NVDA with the Bot Framework Emulator.

Regarding the new messages not being read immediately, can you create a new issue? We'll triage and address it as soon as we can.

[2020-02-26 16:00] mdrichardson commented on #2085
@archmangler I'm going to close this as I believe your issue has been fully addressed. Feel free to re-open if you disagree.

[2020-02-26 16:00] #2085 closed

[2020-02-26 20:27] xtianus79 opened #2086 "Emulator update does not restart conversation which requires a close and re-open of the app."
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Version 4.7.0-107479 (4.7.0-107479.107479)

## Describe the bug
restart conversation doesn't seem to have any affect on the emulator.  Thus needing to cl

[2020-02-26 20:30] tonyanziano commented on #2086
@xtianus79 could you please press (`Ctrl + Shift + I` for Windows, or `Cmd + Shift + I` for Mac) in order to open the developer tools window, and try clicking the Restart Conversation button?

Once you do, please send a screenshot of the console tab with any error messages.

I have tried reproducing this on version 4.7.0-107479 and the button works as expected for me.

[2020-02-27 15:22] xtianus79 commented on #2086
[here is image](https://imgur.com/a5fvtmP) @tonyanziano this is the screenshot.  It works sometimes but after it breaks it won't refresh anymore.

[2020-02-27 17:55] tonyanziano commented on #2086
@xtianus79 thanks for the screenshot, that's very helpful.

I think I may know where this error is originating from. I'll take a look.

[2020-02-27 18:58] tonyanziano commented on #2086
I have found the issue that is causing the error you are seeing. [The error is resulting from this line here](https://github.com/microsoft/BotFramework-Emulator/blob/master/packages/app/client/src/state/utils/throwErrorFromResponse.ts#L53), because we are calling `text()` outside of the context of `response` which is wrong.

However, once I fixed that, I noticed that the code is still not surfacin

[2020-02-27 22:52] tonyanziano commented on #2086
@xtianus79 There is a PR out #2087, that will show a more detailed error in the console so we can debug why restarting a conversation is sometimes failing for you.

[2020-02-28 18:30] tonyanziano commented on #2086
Hi @xtianus79 ,

Please update to [the newest nightly version, 4.7.0-109326](https://github.com/microsoft/botframework-emulator-nightlies/releases/tag/v4.7.0-109326), and try to reproduce this issue again.

When you run into the issue, open the dev tools console window, and you should now see a detailed error message about what went wrong. Feel free to post that error here and we can help you debu

[2020-02-28 18:49] xtianus79 commented on #2086
@tonyanziano yes that is working!!! thank you sir

[2020-03-03 01:16] #2071 closed

[2020-03-04 19:45] xtianus79 commented on #2086
@tonyanziano the emulator still seems to have memory issues.  Refresh now works sometimes and the need to open and close the emulator to reuse it.

[2020-03-04 21:53] tonyanziano commented on #2086
@xtianus79 can you please open the dev tools and take a screenshot of the console tab with any errors when you encounter this issue again?

[2020-03-05 19:18] #2039 closed

[2020-03-05 21:51] tonyanziano commented on #2052
Ready to be reviewed in the latest nightly.

[2020-03-05 23:17] corinagum commented on #2076
closing due to inactivity

[2020-03-06 15:20] andy952 commented on #172
Has this ever been implemented? If not is there a workaround for V4?

[2020-03-06 17:40] cwhitten opened #2093 "4.8 Release checklist"
The following need to be signed-off on before the Emulator can publish a new stable build.

### NOTE: Make sure to do a clean install before attempting to go through the checklist: Clear out `@bfemulator` folder in app data (`%APPDATA%` on Windows, `~/Library/Application Support` on Mac`~/.config` on Linux)

## Platform: Windows

### .bot files
- [x] create a new .bot file with keys encrypted
- [x

[2020-03-06 19:48] tonyanziano commented on #172
@andy952 This has not been implemented, and unfortunately there is no workaround available at the moment.

[2020-03-07 16:37] cwhitten commented on #2075
addressed with https://github.com/microsoft/BotFramework-Emulator/issues/2039

[2020-03-07 16:37] #2075 closed

[2020-03-10 18:52] brianrandell opened #2096 "Emulator 4.6 fails to update to 4.7"
After downloading the update via the emulator, the bell icon lights up offering dismiss or restart. Restart does not work.

Closing manually does not cause an update to run.

Multiple tries ends in error dialogs like the attached screen shot.

![image](https://user-images.githubusercontent.com/1954458/76348421-67eebd00-62c5-11ea-9664-7e757b02ab64.png)

![image](https://user-images.githubuserconten

[2020-03-11 05:03] jbgh2 commented on #1706
Any movement on this issue?

[2020-03-11 06:33] Rajendrakumarnune commented on #2064
Yes correct,Bot is not working only with VPN

[2020-03-11 15:50] tonyanziano commented on #1706
Hi @jbgh2 ,

We have not made any progress on implementing this feature. However, we will soon be holding our planning discussion to decide what to work on for the next release, so stay tuned.

[2020-03-11 15:58] tonyanziano commented on #2096
Hi @brianrandell ,

This is a known issue (#1667).

Unfortunately when we have tried to fix this we have not been able to reproduce the issue which makes it very hard to debug. When you say you tried to close manually, did you try closing the Emulator immediately after the update has been downloaded and without pressing Dismiss / Restart?

It might also be worth trying to check for an update manua

[2020-03-11 16:27] brianrandell commented on #2096
@tonyanziano thanks. I tried multiple "different" approaches. I can try again. I never got image two with the "update available" dialog. I'll report back later today. Thanks!

[2020-03-11 19:38] benbrown opened #2097 "Calls to the createConversation return wrong payload type, invalid payload data"
## Version
4.7.0-111757

## Describe the bug
When calling the createConversation API, such as [here in the core Bot Framework Adapter](https://github.com/microsoft/botbuilder-js/blob/master/libraries/botbuilder/src/botFrameworkAdapter.ts#L356), the Emulator responds with an incorrect payload.

Whereas the code expects the payload to include the new conversation id in the `id` field, emulator retur

[2020-03-11 19:40] benbrown commented on #2097
Related to https://github.com/howdyai/botkit/issues/1834

[2020-03-11 20:23] tonyanziano commented on #2097
The payload shape can easily be changed, however, making it so that the Emulator will show the correct UI when sending messages with the supplied conversation ID is not.

The Emulator controls the flow of creating a conversation most of the time -- this case being an exception -- and so there is some heavy lifting done client-side that sets up the redux store to properly display the UI for the new

[2020-03-11 23:41] igor17400 commented on #960
Hi there, I'm facing a similar issue in Mac Bot Framework Emulator version 4.7. I have configured for the chatbot to send messages in "pt-br", but in the emulator keeps reading the messages as locale: "en-us".

Is this a Mac version problem?

[2020-03-12 11:00] Rajendrakumarnune opened #2099 "How to remove open confirm url in adaptive openurl action"
I don't want to show confirmation message after clicking Open url action button like below

![image](https://user-images.githubusercontent.com/8529163/76514951-c14e1c00-647e-11ea-8bbc-af8a41416f2e.png)

[2020-03-12 16:34] tonyanziano commented on #2099
Hi @Rajendrakumarnune ,

This only happens in the Emulator due to security concerns. This is by design and you will not see this when chatting with your bot unless you implement the confirmation message on the client yourself.

[2020-03-12 16:34] #2099 closed

[2020-03-12 16:50] tonyanziano commented on #960
@igor17400 can you please take a screenshot of your Emulator settings page and also post the activity payload in which you see an incorrect value for the locale?

The Emulator should correctly pass along the locale you have defined in the Emulator settings page:

![image](https://user-images.githubusercontent.com/3452012/76545269-b5defe80-6446-11ea-9265-bd878325b878.png)

![image](https://user-ima

[2020-03-13 05:09] ashish315 commented on #2052
@tonyanziano As we have checked the issue has been resolved. So, we are good to close the issue.

[2020-03-13 08:36] ShikhaMishra11 commented on #1978
As per above comment I am closing the bug.

[2020-03-13 08:36] #1978 closed

[2020-03-13 08:40] #2052 closed

[2020-03-13 09:55] hinojosachapel opened #2106 "Version 4.8 issues error "[onTurnError]: Error: missing activity.from.id""
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.8.

## Describe the bug
I was happily using version 4.7. Everything was fine. Then the "Update available" notification appeared and I proceeded with it

[2020-03-13 15:56] tonyanziano commented on #2106
Hi @hinojosachapel ,

Thanks for reporting this issue. I'm sorry to hear that you're having trouble with the latest release.

Is there a certain scenario with your bot that causes this error to appear? Or are you just trying to send a message to your bot when you open it?

Is this happening at the stage of the conversation when it is first opened and the conversation update activity is sent, or is

[2020-03-16 03:53] brianrandell commented on #2096
TL;DR;
I was able to get it to update tonight!

**Details**

Started Emulator.
Checked Help | About
	4.6.0

Bell lights up while I type this message.
Click the Bell.

![image](https://user-images.githubusercontent.com/1954458/76721906-d33df200-66fe-11ea-8a6a-4965f584ca1f.png)

Click **Restart** and nothing happens.
Click **Restart** again and nothing happens.
Click **Dismiss** and message goes awa

[2020-03-16 03:54] brianrandell commented on #2096
Well, I didn't really mean to close it. Had keyboard issue. But at this point it works. Let me know if I can help any more on this.

[2020-03-16 15:41] tonyanziano commented on #2096
@brianrandell Glad you got it working, and thanks a lot for the detailed step-by-step report!

That error dialog makes me think it might have something to do with some process in the installer not being elevated to the correct privileges on your machine. I wonder if trying to do this while running the Emulator as admin would have helped.

[2020-03-16 15:55] brianrandell commented on #2096
Yeah, interesting. I was logged in as my MSA which is a local admin but I have UAC on with Windows 10. No UAC dialogs were presented.

[2020-03-16 17:47] tonyanziano commented on #2106
I have found the bug and am working on a fix.

[2020-03-16 18:27] tonyanziano commented on #2106
@hinojosachapel I have made a PR that will fix the bug, and we aim to release a new patch (v4.8.1) of the Emulator later today or tomorrow that will include this fix.

[2020-03-16 22:12] TemoeBOUISSOU opened #2109 "req.conversation.postActivityToUser is not a function"
### [Github issues](https://github.com/Microsoft/botframework-emulator/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
4.8.0

## Describe the bug
I want to save then resume a conversation by applying **SendConversationHistoryAsync** method with a new **Transcript** object

[2020-03-16 23:43] xieofxie opened #2110 "Better display for BotState in Emulator"
### Use this [query](https://github.com/Microsoft/botbuilder-dotnet/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**

It is hard to tell whether some value is list or dictionary like here `turn.recognized.intents` is dictionary and AddToDo is key:

![image](https:/

[2020-03-17 16:09] tonyanziano commented on #2106
@hinojosachapel please update to the latest nightly version -- **4.8.0-113681** -- and try talking to a bot to verify that the issue has been fixed.

Please re-open the issue if not.

[2020-03-17 16:09] #2106 closed

[2020-03-17 18:35] dmvtech commented on #2109
Hi @TemoeBOUISSOU

I'm trying to understand the use case. Maybe understanding that will help figure out if this is the best route or not.

To be clear; you're not just wanting to inspect conversations using the emulator. Correct?

There is inspection middleware. Which _might_ help in doing what you need.
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-debug-inspection-middleware?vie

[2020-03-17 20:10] hinojosachapel commented on #2106
@tonyanziano Thanks a lot. I can confirm that the issue has been fixed. Good work! Regards.

[2020-03-17 20:28] cwhitten commented on #2097
R9 commitment:

We'll fix this. For:

This will be a larger undertaking and we will scope & prioritize.

[2020-03-17 20:33] cwhitten commented on #2109
Hello @TemoeBOUISSOU, we [recently introduced the ability](https://github.com/microsoft/BotFramework-Emulator/pull/2089) to replay all activities up to a certain point in a conversation when restarting from the Emulator. Would this cover your scenario?

<img width="665" alt="Screen Shot 2020-03-17 at 1 32 38 PM" src="https://user-images.githubusercontent.com/1156704/76898912-d4346800-6853-11ea-906

[2020-03-17 20:35] cwhitten commented on #1986
@q00u we've recently release a new update to the Emulator, can you update your version and try again?

[2020-03-17 20:35] cwhitten commented on #2086
closing due to inactivity.

[2020-03-17 20:35] #2086 closed

[2020-03-17 21:27] TemoeBOUISSOU commented on #2109
Thank you for your answers ! Just to explain a little bit more, i want to build my own structure to store the conversations data (in database) in order to replay it to the user on the fly. The objective might be explained more with that schema.

![ConvTree](https://user-images.githubusercontent.com/37652994/76902534-4a2ed400-6840-11ea-8f8f-f5d7e989a7e2.jpg)

Since the bug report, i took the time t

[2020-03-18 16:53] tonyanziano opened #2112 "Improve UX / Semantics of Ngrok Options in App Settings"
The following options in the application settings for Ngrok behave in a way that isn't very clear to the user upon reading the descriptions:

![image](https://user-images.githubusercontent.com/3452012/76985396-63e22100-68fd-11ea-90ea-4183235aa947.png)

- "Run ngrok when the Emulator starts up" will always use Ngrok regardless of whether the "Bypass" option is enabled or disabled.
  - This is not v

[2020-03-18 19:28] #2093 closed

[2020-03-18 19:28] srinaath commented on #2093
R8 is officially released today

[2020-03-19 12:48] SiarheiKuchukBelitsoft opened #2116 "Add possibility to see bot output (cards, etc) as it is will be in real chat (Teams, Skype)"
Hello

Upon development of Bot I'm using Bot Emulator a lot! It's very useful tool to create business logic bug free apps.

But markdown and card formatting that is bright and shining in a Bot Emulator is quite different from what I see in Teams and Skype. May i ask you to incorporate viewing chat messages in Bot Emulator as it will be in real Teams, Skype with combobox or something.

So I won't n

[2020-03-19 14:23] SiarheiKuchukBelitsoft opened #2117 "Allow to do Teams environment emulation and self-hosted bot using the Bot Emulator"
Hello

Upon development of a Bot for Teams i need to check it. But checking through build is not a good option. Therefore I'd like to have bot and light version of teams inside Bot Emulator so i can like login and do some testing

[2020-03-19 16:12] tonyanziano commented on #2116
Hi @SiarheiKuchukBelitsoft ,

Thanks for the feature request, but we have no current plans of emulating all the different channels as it would be an enormous effort both in implementation and maintenance.

Many of the channels support and add new features that aren't supported in other channels, and so we would have to implement all these different features in the Emulator. Additionally, we would

[2020-03-19 16:14] #2116 closed

[2020-03-19 16:17] tonyanziano commented on #2117
Hi @SiarheiKuchukBelitsoft ,

We have no plans to emulate other channel behavior (such as Teams, Skype, etc.) inside the Emulator. Please see my comment in #2116

The Emulator does have the ability to listen in on traffic to your bot through the Teams channel and display the traffic within the Emulator UI as it is now. In order to try that out, please check out the in-app Bot Inspector documentati

[2020-03-19 16:17] #2117 closed

[2020-03-19 17:56] cwhitten commented on #2109
@TemoeBOUISSOU interesting. it seems you have a development build of Emulator with the behavior you're looking for. Can you open a pull request against this project with the changes so we can take a look?

[2020-03-19 18:12] dmvtech commented on #2117
@SiarheiKuchukBelitsoft You can also use [NGROK ](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/)to debug locally when using the Teams channel (in case you were not aware). You can also use Service Bus in place of NGROK. Let me know if want directions on how to do that.

[2020-03-23 16:48] #2109 closed

[2020-03-25 15:36] cwhitten opened #2119 "Loading .transcript from disk does not render the conversation in the chat control"
Opening a transcript from File -> Open Transcripts works as intended.

<img width="1403" alt="Screen Shot 2020-03-25 at 8 36 31 AM" src="https://user-images.githubusercontent.com/1156704/77554791-bf6b5c00-6e73-11ea-86e2-3261e27b8e19.png">

[2020-03-25 16:42] tonyanziano commented on #2119
This seems to be due to an error thrown inside of Web Chat:

![image](https://user-images.githubusercontent.com/3452012/77561882-8d122c80-6e7c-11ea-9ed0-b1336dcce9d1.png)

I believe the offending call to be the [`useDateFormatter()` hook](https://github.com/microsoft/BotFramework-WebChat/blob/6474886e632f17be5e4dd9eeac97f9d21cd6e5af/packages/component/src/Middleware/ActivityStatus/RelativeTime.js#

[2020-03-25 18:43] tomlm commented on #2119
[SandwichOrder.zip](https://github.com/microsoft/BotFramework-Emulator/files/4382866/SandwichOrder.zip)

Here's a transcript that doesn't load.

[2020-03-25 21:46] compulim commented on #2119
Looking at it now.

[2020-03-26 00:23] compulim commented on #2119
Related to https://github.com/microsoft/BotFramework-WebChat/issues/3039.

If the transcript showing any dates beyond yesterday, it will blow up. 🤯

[2020-03-26 18:36] congysu commented on #2096
thanks @brianrandell for reporting the issue.   we'll close this issue for now, and feel free to reopen it if needed.

[2020-03-26 18:36] #2096 closed

[2020-03-27 09:33] jithinputhiyattu opened #2120 "“Bot Framework Emulator” can’t be opened because Apple cannot check it for malicious software."
## Version
4.8.1

## Description

“Bot Framework Emulator” can’t be opened because Apple cannot check it for malicious software.
macOs (10.15.3) is showing this error dialog while opening the Emulator

## Screenshots
<img width="420" alt="Screenshot 2020-03-27 at 2 47 37 PM" src="https://user-images.githubusercontent.com/8542922/77741207-86311880-703a-11ea-871b-b3a41f0eedc9.png">

## Useful Link

[2020-03-27 17:27] tonyanziano commented on #2120
Hi @jithinputhiyattu ,

Thanks for the report!

It seems like since Mac OSX Catalina (10.15.x), applications must now be notarized by Apple as well in order to be completely whitelisted by Apple and not show this dialog. [(Source)](https://stackoverflow.com/a/58458252)

We are currently working on adding this notarization step into our release pipeline so that Mac Users no longer see this system d

[2020-03-27 20:37] v-kydela opened #2121 ""Live Chat" tabs are no longer specific to an endpoint"
## Version
Latest: 4.8.1

## Describe the bug
When I open a bot file with multiple endpoints, the bot conversation tab just says "Live Chat" and gives no indication of what endpoint the conversation is associated with. Also, clicking an endpoint will now always open a new tab instead of focusing on an existing tab if a tab for that endpoint is already open.

## To Reproduce
Steps to reproduce the

[2020-03-27 20:55] tonyanziano commented on #2121
This is something on our radar and we are tracking it at #2084 .

Closing this issue in favor of the aforementioned one.

[2020-03-27 22:52] v-kydela commented on #2121
@tonyanziano - That issue looks like it's just about displaying the endpoint in the UI of the tab. That's good, but are you also tracking the problem of the endpoint opening duplicate tabs?

[2020-03-27 23:26] tonyanziano commented on #2121
@v-kydela That issue is not tracking the behavior you are describing.

However, I'm not sure that's exactly a bug or incorrect behavior.

Most of the bots and samples I use are configured to run on the same url / port, `localhost:3978`. Let's say I was talking to an echo bot on  `localhost:3978`, and then stopped that bot and started running my To-Do bot at the same endpoint and connected to that.

[2020-03-28 00:04] v-kydela commented on #2121
@tonyanziano - I was under the impression that there is no endpoints list when you connect to a bot via URL.

Anyway, the reason I think this is a bug is because it's new behavior. The discussion in this issue made it seem like the old behavior of having one tab for one endpoint was desirable: https://github.com/microsoft/BotFramework-Emulator/issues/1611

[2020-03-30 16:00] tonyanziano commented on #2121
That is correct. There is no endpoints list when you connect to a bot via URL. The list only shows when you have a .bot file open in the Emulator.

This however, is not new behavior in the scenario of opening a livechat via URL. The old code that used the `focusExistingChatIfAvailable` flag -- which is referred to in the discussion you linked -- was only ever called in the code path for opening en

[2020-03-30 17:18] v-kydela commented on #2121
@tonyanziano - I'm sorry, I'm still not understanding what you mean. How could this possibly be the behavior for the standalone URL scenario if the standalone URL scenario doesn't have an endpoints list? The behavior I'm describing is the behavior of the endpoints list.

Anyway I'll reopen this since I have your permission, thank you

[2020-03-30 17:21] tonyanziano commented on #2121
Ah, that's my bad. I completely misread your issue.

Then ignoring what I said about the open via URL scenario, we are in agreement.

[2020-03-30 23:39] #1611 closed

[2020-03-30 23:40] cwhitten commented on #2121
Note to implementer, reference https://github.com/microsoft/BotFramework-Emulator/issues/1611 and test scenario for regressions

[2020-03-31 00:33] srinaath commented on #1611
This ticket has been fixed here
https://github.com/microsoft/BotFramework-Emulator/blob/master/packages/app/main/src/commands/botCommands.ts#L225

Irrespective of having multiple endpoints having the same URL they are tracked with a unique ID generated inside Emulator.

[2020-04-01 19:33] cwhitten opened #2122 "Default Locale setting to en-US in settings page"
This will help guard against some missing language default/fallback mechanisms in the Adaptive runtime

[2020-04-01 20:31] tonyanziano commented on #2122
Hmmm, odd. This [should already default to `en-US`](https://github.com/microsoft/BotFramework-Emulator/blob/master/packages/app/shared/src/types/serverSettingsTypes.ts#L127).

[2020-04-02 03:19] cwhitten commented on #2122
Odd, you may be right @tonyanziano. I reinstalled and the code you link matches the behavior I saw on a clean install. @vishwacsena is it possible you changed this value?

[2020-04-03 03:05] baghaeifar opened #2123 "request to http://localhost:3978/api/messages failed, reason: connect ECONNREFUSED 127.0.0.1:3978"

[2020-04-03 16:13] tonyanziano commented on #2123
@baghaeifar this usually indicates that your bot is not running.

Please make sure you start your bot before trying to connect to it via the emulator.

Also, it is very hard to diagnose an issue without more information. Please provide more information about your scenario (steps taken to reproduce your issue, what type of bot you are using, etc.) and screenshots if possible.

[2020-04-06 10:07] vannela opened #2124 "A fullstop or dot (.) is getting added at the end of speech input in emulator"
How to remove the the unwanted full-stop or dot (.) being added to speech input in emulator or web-chat hosted on azure.
![Dot Issue In Emulator](https://user-images.githubusercontent.com/7089482/78547321-8ab8b680-781c-11ea-9d37-598a2399b5fa.PNG)

[2020-04-06 17:32] tonyanziano commented on #2124
Hi @vannela ,

This is caused by the Text Normalization feature of the Cognitive Services speech service. [This is configurable through Web Chat](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/SPEECH.md#text-normalization-options) when embedding the control yourself within your own UI.

However, Web Chat embedding in Azure and in the Emulator do not expose a way for the user to

[2020-04-06 18:26] cleemullins commented on #2120
This has been added to our R9 milestone, planned to ship in mid May.

[2020-04-07 07:19] xieofxie opened #2125 "add context menu in 'Type your message'"
### Use this [query](https://github.com/Microsoft/botframework-emulator/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Aenhancement) to search for the most popular feature requests.

**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I can't right-click and paste in 'Type your message'

**Describe the solution you'd like**
add context menu in 'Type

[2020-04-07 12:24] gourav1995 commented on #2120
Is this issue resolved already ?

[2020-04-07 14:07] darrenj opened #2126 "Added Websocket/Named-Pipe connectivity testing support"
# Customer Scenario

[BridgeBot](https://github.com/DDEfromOR/BridgeBot) is a technique used where developers have a bot they believe to be working with traditional HTTP connections, but then encounter issues after deploying it into an App Service with DL ASE enabled.

They then use BridgeBot acting as a intermediary between the Emulator and their Bot, all running locally, to confirm if the issue

[2020-04-07 15:56] tonyanziano commented on #2120
Hi @gourav1995 ,

No, this issue has not been resolved yet.

[2020-04-07 21:42] sivabalan11 commented on #224
I m having this issue currently. I m running the bot emulator locally but the emulator is looking for ngrok to be activated, how do I stop it from happening ?
![image](https://user-images.githubusercontent.com/21130830/78722295-c91ea600-78ee-11ea-80fe-76213c528b0f.png)

[2020-04-08 12:02] vannela commented on #2124
Thanks for the update, and Yes, this issue can be closed and create a feature request to add UI to the Emulator to expose this option.

[2020-04-08 16:02] #2124 closed

[2020-04-08 16:05] tonyanziano opened #2127 "Allow customization of Web Chat speech text normalization"
**Is your feature request related to a problem? Please describe.**

The Emulator does not expose the option to configure Web Chat's [speech text normalization](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/SPEECH.md#text-normalization-options), which can result in undesirable results when testing bots.

**Describe the solution you'd like**

Expose this option somewhere in the

[2020-04-08 22:24] #2122 closed

[2020-04-09 09:58] khiemnvd commented on #1837
I have same the issue and resolved by setting Enviroment Variable "NO_PROXY=localhost,127.0.0.1"

[2020-04-09 15:13] DesignPolice commented on #2037
morning @cwhitten @tonyanziano - this is on my R9 list from Kamran, do we need to address this - I don't remember this at all, not that I can remember all of the assignments.

I will work it in if so. Thanks
m

[2020-04-09 16:16] tonyanziano commented on #2037
Hey @DesignPolice ,

This is not in scope for R9.

[2020-04-09 16:25] cwhitten commented on #2037
I'll remove the R9 label for now.